<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li class="active">
    Contact ResearchSpace
  </li>
</ol>

<div class="rs-page container-fluid">
  <div class="rs-page__top"></div>
      <bs-row>
        <bs-col sm=8 sm-offset=1>
          <h3>Contact ResearchSpace</h3>
          <p>Please visit the <a href="http://www.researchspace.org/home/consultancy">researchspace.org</a> site for more information and contact details.</p>
          <p>If you have feedback or suggestions please email: <a href="mailto:researchspace@britishmuseum.org">researchspace@britishmuseum.org</a></p>
        </bs-col>
      </bs-row>
</div>


