<rs-annotation
                [[#if formCreateMode]]
                   annotation-target='[[this]]'
                [[else]]
                   annotation-to-edit='[[this]]'
                [[/if]]
                 metadata='<> a <http://www.researchspace.org/ontology/Annotation> .'
                 navigate-to-new='false'
                 drop-template-config='[{
  "type": "http://www.metaphacts.com/ontologies/platform#Set",
  "label": "table of set items",
  "template": "Set: <semantic-link uri=\"{{uri}}\"></semantic-link>
  <semantic-table query=&apos;
  select ?obj where {
    <{{uri}}> a <http://www.metaphacts.com/ontologies/platform#Set> ;
              <http://www.w3.org/ns/ldp#contains> ?item .
    ?item <http://www.metaphacts.com/ontologies/platform#setItem> ?obj .
  }&apos;
  layout=&apos;{
    \"tupleTemplate\": \"
      <mp-resource-card
        iri=\\\"&amp;#x7B;&amp;#x7B;obj.value&amp;#x7D;&amp;#x7D;\\\"
        no-image-uri=\\\"//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/200px-No_image_available.svg.png\\\"
      />
    \",
    \"options\": {\"showFilter\": false, \"resultsPerPage\": 100}
  }&apos;>
  </semantic-table>"
},{
  "type": "any",
  "label": "thumbnail",
  "template": "
    <mp-resource-card
      iri=\"{{uri}}\"
      noImageUri=\"//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/200px-No_image_available.svg.png\"
    />
  "
},{
  "type": "any",
  "label": "table of predicate-object",
  "template": "<semantic-table query=\"select * where {
  <{{uri}}> ?p ?o .
  }\"></semantic-table>"
}]'
  rdfa-relation-query-config='{
  "placeholder": "Search for Predicate",
  "query": "
    PREFIX owl: <http://www.w3.org/2002/07/owl#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX bds: <http://www.bigdata.com/rdf/search#>
    SELECT ?iri ?label WHERE {
      ?iri a owl:ObjectProperty ;
           rdfs:label ?label .
      FILTER(regex(str(?iri), \"http://purl.org/spar/cito/\"))
      SERVICE bds:search {
        ?label bds:search \"*?token*\" ;
               bds:relevance ?score .
      }
    }
    ORDER BY DESC(?score)
  ",
  "defaultQuery": "
    PREFIX owl: <http://www.w3.org/2002/07/owl#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    SELECT ?iri ?label WHERE {
      ?iri a owl:ObjectProperty ;
           rdfs:label ?label .
      FILTER(regex(str(?iri), \"http://purl.org/spar/cito/\"))
    }
    ORDER BY ?label
  ",
  "defaultValue": "http://purl.org/spar/cito/cites",
  "defaultValueLabel": "cites",
  "uriBindingName": "iri",
  "templates": {"suggestion": "<p title=\"{{label.value}}\" data-rdfa-about=\"{{iri.value}}\">{{label.value}}</p>"}
}'
  object-selector-config='{
  "typeSelector": {
    "placeholder": "types",
    "options": [
      {"value": "http://xmlns.com/foaf/0.1/Organization", "label": "Organization"},
      {"value": "http://xmlns.com/foaf/0.1/Project", "label": "Project"}
    ]
  },
  "resourceSelector": {
    "defaultQuery": "
      SELECT DISTINCT ?iri ?label WHERE {
        FILTER(regex(?label,\"?token\",\"i\"))
        FILTER(?type=?t)
        VALUES(?iri ?label ?t){
          (<http://www.metaphacts.com> \"metaphacts\" <http://xmlns.com/foaf/0.1/Organization>)
          (<http://www.researchspace.org> \"Researchspace\" <http://xmlns.com/foaf/0.1/Project>)
        }
      }",
    "query": "
      SELECT DISTINCT ?iri ?label WHERE {
        FILTER(regex(?label,\"?token\",\"i\"))
        FILTER(?type=?t)
        VALUES(?iri ?label ?t){
          (<http://www.metaphacts.com> \"metaphacts\" <http://xmlns.com/foaf/0.1/Organization>)
          (<http://www.researchspace.org> \"Researchspace\" <http://xmlns.com/foaf/0.1/Project>)
        }
      }",
    "tupleTemplate": "<p title=\"{{label.value}}\" data-rdfa-about=\"{{value.value}}\">{{label.value}}</p>",
    "uriBindingName": "value",
    "typeBindingName": "type",
    "minimumInput": 0
  }
}'></rs-annotation>
