  filters='[{
              "placeholder": "Filter by type...",
              "queryPattern": "{?item rdf:type ?__value__}",
              "suggestionsQuery": "SELECT ?value ?label WHERE { ?value a <http://www.researchspace.org/ontology/FundamentalCategory>; rdfs:label ?label. }"
            }]'
  item-config='{
    "<http://www.metaphacts.com/ontologies/platform#Set>": {
      "isSet": true
    },
    "<http://www.metaphacts.com/ontologies/platform#SetItem>": {
      "isSet": false,
      "listTemplate": "{{> rsp:SetListView}}",
      "gridTemplate": "{{> rsp:SetGridView [[#if check]]check=[[check]][[/if]]}}"
    }
  }'