<bs-tab-container id="vertical-tab-container" class="vertical-tabs" default-active-key="images">
  <div>
    <bs-nav class="nav-stacked vertical-tabs__nav" bs-style="tabs">
      <bs-nav-item event-key="images">
        Images
      </bs-nav-item>
      <bs-nav-item event-key="pages">
        Pages
      </bs-nav-item>
      <bs-nav-item event-key="assertions">
        Assertions
      </bs-nav-item>
      <bs-nav-item event-key="wikidata">
        Wikidata
      </bs-nav-item>
    </bs-nav>
    <bs-tab-content class='vertical-tabs__content'>
      <bs-tab-pane event-key="images">
        [[>rsp:RelatedImages]]
      </bs-tab-pane>

      <bs-tab-pane event-key="pages">
        [[>rsp:RelatedPages]]
      </bs-tab-pane>

      <bs-tab-pane event-key="assertions">
        [[>rsp:RelatedAssertions]]
      </bs-tab-pane>

      <bs-tab-pane event-key="wikidata">
        <div class="wikidata">
          [[> @partial-block]]
        </div>
      </bs-tab-pane>
    </bs-tab-content>
  </div>
</bs-tab-container>
