<div class="rs-page__header-elements">
  <div style="margin-left:20px">
    <div class="draggable-title">
      <mp-draggable iri='[[this]]'>
                  <span>
                    <div class="gripper"></div>
                    <span>
                      <semantic-query data-query="[[>rsp:TrimmedTitleQuery]]"
                                      data-template='<h2>{{#each bindings}}{{trimmedLabel.value}} {{/each}}</h2>'>
                      </semantic-query>
                    </span>
                  </span>
      </mp-draggable>
    </div>
    <div class="sub-title">
      <h2 style="margin:0"><span class="icon-fc--header-title fa fa-sitemap" style="margin-right:6px;"></span><small>[[type]]</small></h2>
    </div>
  </div>
</div><!--header-elements-->
