<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Assets</li>
</ol>


<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-cog fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>Assets</h2>
    </div>
  </div>
  <div class='page__body'>    
       <div class="text-center panel panel-default" style="margin-top: 20px; margin-left:20px;float:left;font-size:12px;width:200px;">
          <div class="panel-body"><span class="fa fa-sitemap fa-5x">&nbsp;</span></div>
          <div class="panel-footer" style="position: relative">
              <semantic-link title="Ontologies" uri="http://www.metaphacts.com/resource/assets/Ontologies">
                    Ontologies
              </semantic-link>
          </div>
      </div>
      
      <div class="text-center panel panel-default" style="margin-top: 20px; margin-left:20px;float:left;font-size:12px;width:200px;">
          <div class="panel-body"><span class="fa fa-object-group fa-5x">&nbsp;</span></div>
          <div class="panel-footer" style="position: relative">
              <semantic-link title="Diagrams" uri="http://www.metaphacts.com/resource/assets/OntodiaDiagrams">
                    Diagrams
              </semantic-link>
          </div>
      </div>
  </div>
</div>