<div class="rs-page__annotations">
  <div class="container-fluid">

    <bs-row class="style--main">
      <bs-col sm=8>
        <rs-collapsible toggle-collapsible-template='
        <div>
          <i className="fa fa-pencil"></i>
        <strong>
          <a>Create new annotation...</a>
        </strong>
        </div>'
                        class="create-new-annotation">
          [[> rsp:UDP create=true annotation=true]]
        </rs-collapsible>
        <semantic-context repository='assets'>
          <semantic-table config='{
          "options": {"showFilter": false},
          "query": "select * where {
            ?annotation a <http://www.researchspace.org/ontology/Annotation> ;
               <http://www.ics.forth.gr/isl/CRMdig/L43_annotates> ?? ;
               rdfs:label ?label ;
               <http://www.w3.org/ns/prov#generatedAtTime> ?time ;
               <http://www.w3.org/ns/prov#wasAttributedTo> ?user;
               BIND (STRAFTER(STR(?user), \"user/\") AS ?userName) .
          }",
          "columnConfiguration": [{
            "variableName": "annotation",
            "displayName": "Annotation",
            "cellTemplate": "<mp-draggable iri=\"{{page.value}}\"><span>
              <semantic-link uri=\"{{annotation.value}}\">{{label.value}}</semantic-link>
            </span></mp-draggable>"
          },{
            "variableName": "user",
            "displayName": "Author",
            "cellTemplate":"{{userName.value}}"
          },{
            "variableName": "time",
            "displayName": "Modified",
            "cellTemplate":"{{dateTimeFormat time.value \"LLL\"}}"
          }]
        }'></semantic-table>
        </semantic-context>
      </bs-col>
    </bs-row>

  </div>
</div><!--annotations-->


