<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li>
    <semantic-query query='SELECT ?record { ?? rso:targetsRecord ?record . } LIMIT 1' template='{{> template}}'>
      <template id='template'>
        <semantic-context repository='default'>
          <semantic-link uri='{{bindings.0.record.value}}'></semantic-link>
        </semantic-context>
      </template>
    </semantic-query>
  </li>
  <li>
    <semantic-query query='SELECT ?record ?field { ?? rso:targetsRecord ?record ; rso:targetsField ?field . } LIMIT 1' template='{{> template}}'>
      <template id='template'>
        <semantic-context repository='default'>
          <semantic-link
            uri="http://www.researchspace.org/resource/Field"
            urlqueryparam-field='{{bindings.0.field.value}}'
            urlqueryparam-subject='{{bindings.0.record.value}}'
          >
            Field: <semantic-context repository='assets'><mp-label iri='{{bindings.0.field.value}}'></mp-label></semantic-context>
          </semantic-link>
        </semantic-context>
      </template>
    </semantic-query>
  </li>
  <li class='active'>
    Assertion:
    <semantic-context repository='assets'>
      <mp-label iri='[[this]]'></mp-label>
    </semantic-context>
  </li>
</ol>

<div class='page page--assertion'>
  [[#>rsp:ClipboardSidebar]]
    <div class='page__header'>
      [[>rsp:AssertionHeader]]
    </div>
    <div class="page__body--borderless">
      <!--
                <mp-overlay-dialog title="Graph" type='lightbox'>
                  <mp-overlay-dialog-trigger>
                    <button class='btn btn-xs btn-default'>
                      Graph View
                    </button>
                  </mp-overlay-dialog-trigger>
                  <mp-overlay-dialog-content>
                    <mp-page-loader iri="http://www.researchspace.org/resource/ArgumentsLightbox"></mp-page-loader>
                  </mp-overlay-dialog-content>
                </mp-overlay-dialog>
-->
          <rs-argument assertion-iri='[[this]]'
                       value-template='[[> rsp:FieldValueVisualization]]'
                       form-template='[[> rsp:AssertionFormTemplate]]'
          ></rs-argument>
    </div>
  [[/rsp:ClipboardSidebar]]
</div>
