<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li>Search: [[label]]</li>
</ol>

<div class="rs-page page">
  [[#>rsp:ClipboardSidebar]]

  [[#*inline "query"]]
  <semantic-query
    query='SELECT ?searchStructure { ?? Platform:searchState ?searchStructure }'
    template='{{> template}}'
  >
    <template id='template'>
      <semantic-context repository='default'>
        <semantic-link
          uri="http://www.researchspace.org/resource/Search"
          urlqueryparam-semantic-search="{{bindings.0.searchStructure.value}}"
        >Open Saved Search</semantic-link>
      </semantic-context>
    </template>
  </semantic-query>
  [[/inline]]

  <div class="page__header page__header--no-image">
    [[> rsp:Header thumbnail=false subLabel='Search Query']]
  </div>
  <div class="page__body--borderless">
    [[!-- [[>rsp:VisibilityCheck]] --]]
    [[#>rsp:VisibilityCheck]]
      [[#*inline "content"]]
        [[> query]]
      [[/inline]]
      [[#*inline "ownerContent"]]
        [[> query]]
      [[/inline]]
    [[/rsp:VisibilityCheck]]
  </div>
  [[/rsp:ClipboardSidebar]]
</div>
