<footer class="footer">
    <div class="footer__pixel-groove"></div>
    <div data-flex-layout="row top-stretch" class="footer__outer-flex-row">
        <div data-flex-self="size-x2">
            <div data-flex-layout="row top-left">
                <div class="footer__sponsor-logos">
                  <div class="footer__sponsor-logo--bm">
                    <a href="http://www.britishmuseum.org/">
                        <img src="/images/BM_Stacked_OA_wht.svg">
                    </a>
                  </div>
                  <div class="footer__sponsor-logo--mellon">
                    <a href="https://mellon.org/">
                        <img src="/images/mellon-logo-small.svg">
                    </a>
                  </div>
                </div>
                <div data-flex-layout="columns justify-left" class="footer__sponsor-text">
                    <p class="text-muted">
                      <span class="style--secondary-font"> © Trustees of the <a class="text-muted" target="_blank" href="http://www.britishmuseum.org/">British Museum</a></span>
                    </p>
                    <p class="text-muted">
                        <span class="style--secondary-font"> ResearchSpace is funded by the <a class="text-muted" href="https://mellon.org/">Andrew W. Mellon Foundation</a></span>
                    </p>
                    <p class="text-muted">
                        <span class="style--secondary-font"> Platform powered by <a class="text-muted" target="_blank" href="http://metaphacts.com/">Metaphacts</a></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="footer__links-col">
            <p class="text-muted"><a class="text-muted" href="/resource/About">About ResearchSpace</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/Roadmap">Roadmap</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/Contact">Contact / Feedback</a></p>
        </div>

        <div class="footer__links-col">
            <p class="text-muted"><a class="text-muted" href="/resource/Termsofuse">Terms of Use</a></p>
            <p class="text-muted"><a class="text-muted" href="http://www.cidoc-crm.org">CIDOC CRM</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/Acknowledgements">Acknowledgements</a></p>
        </div>
    </div>
</footer>
