<bs-navbar data-fluid="true" class="metaphacts-header-navbar" data-role="navigation">
    <bs-navbar-header>
        <div class="navbar-brand-section pull-left">
            <bs-navbar-brand>
                <a href="/">
                    <div class="researchspace-logo"></div>
                </a>
            </bs-navbar-brand>
            <div class="researchspace-logo--beta">beta</div>
        </div>
        <bs-navbar-toggle/>
    </bs-navbar-header>

    <bs-navbar-collapse>
        <bs-nav data-pull-right="true">
            <bs-nav-dropdown title="Example Records" id="bg-nested-dropdown">
                <li><semantic-link uri="http://collection.britishmuseum.org/id/object/JCF8939">Album of 9 Fan Paintings</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/object/YCA62958">The Rosetta Stone</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/object/GAA1132">Portland Vase Disc</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/object/GAA79795">Sherd of Burnished Pottery</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/object/YCA69289">Wooden Naos Door</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/object/MCC6933">Gold Pocket Watch</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/object/COC231583">Coronation Medal</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/object/PDB7385">Crater of Vesuvius</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/object/WCO84417">Copper Alloy Plaque</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/person-institution/122654">Charles Darwin</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/person-institution/154415">Ada Lovelace</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/person-institution/146156">Marie Curie</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/person-institution/81728">Frank Lloyd Wright</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/person-institution/18089">Peggy Bacon</semantic-link></li>
                <li><semantic-link uri="http://collection.britishmuseum.org/id/person-institution/51725">Patience Lovell Wright</semantic-link></li>
            </bs-nav-dropdown>
            <mp-anonymous-hidden style="float:left;">
              <bs-nav-item data-href="/sparql">Sparql</bs-nav-item>
            </mp-anonymous-hidden>
            <mp-anonymous-hidden alt='<bs-nav-item title="login" href="/login">Login</bs-nav-item>'>
                <bs-nav-dropdown id='main-header-dropdown' title='Account'>
                  <bs-menu-item title='userPrincipal'>
                    <semantic-query query='SELECT ?__useruri__ ?userName { BIND(REPLACE(SUBSTR(STR(?__useruri__), 41), "%40", "@") as ?userName) }' template='\{{> template}}'>
                      <template id='template'>
                        <mp-resource-link-container uri='\{{bindings.0.__useruri__.value}}'>
                          <div>\{{bindings.0.userName.value}}</div>
                       </mp-resource-link-container>
                      </template>
                    </semantic-query>
                  </bs-menu-item>
                  <bs-menu-item divider=true></bs-menu-item>
                  <mp-resource-link-container uri='http://www.researchspace.org/resource/MyPages'>
                    <bs-menu-item title='my pages'>My Pages</bs-menu-item>
                  </mp-resource-link-container>
                  <bs-menu-item divider=true></bs-menu-item>
                  <mp-resource-link-container uri='http://www.researchspace.org/resource/MyDiagrams'>
                    <bs-menu-item title='my pages'>My Diagrams</bs-menu-item>
                  </mp-resource-link-container>
                  <bs-menu-item divider=true></bs-menu-item>
                  <mp-resource-link-container uri='http://www.researchspace.org/resource/MyImages'>
                    <bs-menu-item title='my pages'>My Images</bs-menu-item>
                  </mp-resource-link-container>
                  <bs-menu-item divider=true></bs-menu-item>
                  <mp-resource-link-container uri='http://www.researchspace.org/ClipboardManager'>
                    <bs-menu-item title='clipboard manager'>Clipboard Manager</bs-menu-item>
                  </mp-resource-link-container>
                  <bs-menu-item divider=true></bs-menu-item>
                  <bs-menu-item title='logout' href="/login">Logout</bs-menu-item>
                </bs-nav-dropdown>
            </mp-anonymous-hidden>
            <mp-anonymous-hidden style="float:left;">
              <bs-nav-item data-href="/resource/?uri=http://www.metaphacts.com/resource/admin/" title="System Settings"><i class="fa fa-cog"></i></bs-nav-item>
            </mp-anonymous-hidden>
        </bs-nav>
    </bs-navbar-collapse>
</bs-navbar>

