#application {
  background-color: #ebebeb;
}

.hercules-logo {
  width: 160px;
  height: 30px;
  background: url("/images/logo_160px.png") center center no-repeat;
  background-size: 160px;
}

.hercules-logo-grey {
  width: 160px;
  height: 30px;
  background: url("/images/logo_160px_grey.png") center center no-repeat;
  background-size: 160px;
}

.gradient-background {
  background: linear-gradient(to right, rgb(124, 146, 213), rgb(216, 40, 128));
}