.metaphacts-header-navbar {
  background-color: white;
  color: #696969;
}

.navbar-nav a {
  color: #696969 !important;
}

.navbar-nav .open > a {
  background-color: #ebebeb !important;
}

.navbar-nav a:hover {
  background-color: #ebebeb !important;
}

.navbar-nav a:focus {
  background-color: #ebebeb !important;
}
.navbar-nav a:visited {
  background-color: #ebebeb !important;
}

#bg-nested-dropdown li {
  color: #696969;
}
