.hercules-logo {
    width: 160px;
    height: 30px;
    background: url("/images/logo_160px.png") center center no-repeat;
    background-size: 160px;
}

.hercules-logo-grey {
    width: 160px;
    height: 30px;
    background: url("/images/logo_160px_grey.png") center center no-repeat;
    background-size: 160px;
}

.dropdown-menu>li>a {
    color: #696969 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #ebebeb;
}

.navbar .dropdown-menu>li>a:hover,
.navbar .dropdown-menu>li>a:focus {
    color: #696969 !important;
    background-color: #ebebeb !important;
}

.start-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
}

.start-page-title {
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}

.start-page-title>h1 {
    color: #696969;
    font-size: 2.5em !important;
    font-weight: 500;
    width: 90vw;
    text-align: center;
}

.start-page-search-icon {
    position: absolute;
    right: 15px;
    top: 20%;
    pointer-events: none;
}

.start-page-search-icon i {
    font-size: 200%;
    color: white;
    opacity: 0.9;
}

.start-page-search-bar {
    margin: auto;
    position: relative;
    border-radius: 120px;
    width: 50vw;
    display: flex;
}

.start-page-search-bar .form-group {
    margin: 0;
}

.start-page-search-bar input {
    font-family: "Montserrat Alternates", sans-serif;
    padding: 0px 30px;
    box-shadow: none;
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    color: white !important;
    border-radius: 120px;
    width: 50vw;
    height: 55px;
    background: transparent;
    font-size: 1.32em;
    font-weight: 400;
    letter-spacing: -0.015em;
}

.start-page-search-bar input::placeholder {
    color: white;
    opacity: 0.6;
}

.start-page-search-res {
    padding-top: 30px;
    width: 60vw;
}

.show-autofill-new {
    background: linear-gradient(to right, rgb(124, 146, 213), rgb(216, 40, 128)) !important;
    background-image: none !important;
    color: #000000 !important;
}

.gradient-background {
    background: linear-gradient(to right, rgb(124, 146, 213), rgb(216, 40, 128)) !important;
}

.start-page-search-bar input:-webkit-autofill,
.start-page-search-bar input:-webkit-autofill:hover,
.start-page-search-bar input:-webkit-autofill:focus,
.start-page-search-bar input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.panel-footer {
    background-color: #fcfcfc;
    border-top: 1px solid #fcfcfc;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #ebebeb;
}

.modal .close {
    color: #696969 !important;
}

.form-control:focus {
    border-color: #696969 !important;
}

.Select-control:focus {
    border-color: #696969 !important;
}

.popover {
    color: #696969 !important;
}