body {
    height: 100% !important;
    padding-bottom: 0 !important;
}

.btn-login {
    color: white;
    margin: auto;
    border-radius: 120px;
    border-width: 0px !important;
}

input:focus {
    outline: none !important;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active {
    color: #ebebeb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.powered-by img {
    width: 150px;
}

.text-muted {
    color: black;
}