*.class
*.log

# sbt specific
.history
target/
project/plugins/project/

# eclipse
.classpath
.project
.settings
.checkstyle
bin/

# idea
.idea/

#build specific
node_modules/
project/webpack/node_modules
project/webpack/assets
project/webpack/dll
project/webpack/.happypack
project/webpack/.component.json
project/webpack/.cache-loader
project/webpack/tests_out/
project/webpack/*.log.*
metaphactory/web/src/main/styling/runtime_theme.scss
metaphactory/web/src/main/styling/runtime_globals.scss
#emacs
.#*
\#*

#idea
.idea/
*.iml
*.iws

# runtime
/metaphactory/data
/metaphactory/repositories
/runtime
/metaphactory/logs
/metaphactory/apps

# Mac
.DS_Store
