@import '~basic-styles.scss';

.imageSearchWithSlider {
  width: 100%;
  
  .imageSearchContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .inputDropzoneContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
  }

  .imageDropzone {
    width: 120px;
    height: 38px;
    border: 2px dashed $gray-light;
    border-radius: 4px;
    padding: 10px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    &:hover {
      border-color: $brand-primary;
    }
    
    /* Style for when file is dragged over the dropzone */
    &:global(.drag-accept) {
      border-color: $brand-primary;
      border-style: solid;
      background-color: rgba($brand-primary, 0.05);
      box-shadow: 0 0 10px rgba($brand-primary, 0.3);
      transform: scale(1.03);
    }
  }

  .dropzoneContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .rsIcon {
      font-size: 24px;
      margin-bottom: 5px;
      color: $gray;
    }
    
    .dropzoneText {
      font-size: 12px;
      color: $gray;
    }
  }

  .searchButton {
    margin-left: 0;
    background-color: $brand-primary;
    color: white;
    border: none;
    
    &:hover {
      background-color: darken($brand-primary, 10%);
    }
  }

  .imagePreviewContainer {
    display: flex;
    align-items: center;
    border: 1px solid $gray-light;
    border-radius: 4px;
    width: 100%;
  }

  .imagePreview {
    max-height: 37px;
    max-width: 200px;
    object-fit: contain;
  }

  .clearImageBtn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    
    &:hover {
      background-color: #e8e8e8;
    }
  }

  .sliderField {
    width: 100%;
    margin: 15px 0px 15px 0px;
    display: flex;
    align-items: center;
    padding-right: 4px;
    
    .sliderLabel {
      margin-right: 15px;
      font-weight: bold;
    }
    
    .sliderFieldSliderContainer {
      flex: 1;
    }
  }
}
