@import '~basic-styles.scss';

.imageSearchWithSlider {
  display: flex;
  flex-direction: row;
  width: 100%;
  
  .domainSelector { 
    width: 120px;
    margin-right: 10px;
    
    :global(.dropdown) {
      width: 100%;
    }

    :global(.dropdown-toggle) {
      width: 100%;
      
      &:hover, &:focus {
        //background-color: #e8e8e8;
      }
    }

    :global(.btn .caret) {
      margin-left: auto;
    }
    
    :global(.dropdown-menu) {
      width: 100%;
    }
  }
  
  .imageSearchContainer {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 10px;
  }

  .inputDropzoneContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
  }

  .imageDropzone {
    width: 150px;
    height: 38px;
    border: 2px dashed $gray-light;
    border-radius: 4px;
    padding: 10px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    &:hover {
      border-color: $brand-primary;
      background-color: darken(#70E7C5, 20%);
    }
    
    /* Style for when file is dragged over the dropzone */
    &:global(.drag-accept) {
      border-color: $brand-primary;
      border-style: solid;
      background-color: rgba($brand-primary, 0.05);
      box-shadow: 0 0 10px rgba($brand-primary, 0.3);
      transform: scale(1.03);
    }
  }

  .dropzoneContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .rsIcon {
      font-size: 24px;
      margin-bottom: 5px;
      color: $gray;
    }
  }

  .searchButton {
    color: black;
    background-color: #70E7C5;
    border-radius: 50%;
    width: 1.5em;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    
    &:hover {
      background-color: darken(#70E7C5, 20%);
    }
  }

  .imagePreviewContainer {
    display: flex;
    align-items: center;
    border: 1px solid $gray-light;
    border-radius: 4px;
    width: 100%;
  }

  .imagePreview {
    max-height: 37px;
    max-width: 200px;
    object-fit: contain;
  }

  .clearImageBtn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    
    &:hover {
      background-color: #e8e8e8;
    }
  }

  .sliderField {
    display: flex;
    flex: 1;
    margin: 10px 0 0 10px;
    padding-right: 4px;
    align-items: start;
    
    .sliderLabel {
      margin-right: 15px;
      font-weight: bold;
    }
    
    .sliderFieldSliderContainer {
      flex: 1;
    }
  }
}
