/* Webfont: Lato-Bold */
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('./fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
  url('./fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
  url('./fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
  url('./fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
  url('./fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
  url('./fonts/Lato-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('./fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
