<semantic-form [[> rsp:FormDefaults]] 
                persistence='{"type": "sparql","targetInsertGraphIri":"{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}"}'
                new-subject-template='{{#if scheme}}{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{else}}/series/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'
                fields='[[fieldDefinitions
                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                            inScheme="http://www.researchspace.org/pattern/system/entity/is_listed_in"
                            entity_formRecord="http://www.researchspace.org/pattern/system/entity/formRecord"

                            has_type="http://www.researchspace.org/pattern/system/entity/has_type"
                            
                            series_image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                            series_image="http://www.researchspace.org/pattern/system/entity/images"
                            series_document="http://www.researchspace.org/pattern/system/entity/documents"

                            series_title="http://www.researchspace.org/pattern/system/series/series_title"
                            series_primary_id="http://www.researchspace.org/pattern/system/entity/preferred_identifier"
                            series_id="http://www.researchspace.org/pattern/system/entity/identifier"
                            
                            series_description="http://www.researchspace.org/pattern/system/entity/description"
                            
                            series_type="http://www.researchspace.org/pattern/system/physical_object/type"
                            series_format="http://www.researchspace.org/pattern/system/physical_object/format"
                            series_dimension="http://www.researchspace.org/pattern/system/thing/dimension"

                            series_media="http://www.researchspace.org/pattern/system/physical_object/media"

                            series_collection="http://www.researchspace.org/pattern/system/physical_thing/part_of_collection"
                            series_parts="http://www.researchspace.org/pattern/system/physical_thing/composed_of"

                            series_current_location="http://www.researchspace.org/pattern/system/physical_object/current_location"
                            series_former_location="http://www.researchspace.org/pattern/system/physical_thing/location"

                            series_right="http://www.researchspace.org/pattern/system/physical_thing/right"
                            series_current_owner="http://www.researchspace.org/pattern/system/physical_thing/current_owner"
                            series_former_owner="http://www.researchspace.org/pattern/system/physical_thing/former_owner"
                            series_current_keeper="http://www.researchspace.org/pattern/system/physical_thing/current_keeper"
                            series_former_keeper="http://www.researchspace.org/pattern/system/physical_thing/former_keeper"
                            
                        ]]'
            >

    <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
        <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E19_Physical_Object'></semantic-form-hidden-input>
        <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/series'></semantic-form-hidden-input>
        {{#if scheme}}
            <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"></semantic-form-hidden-input>  
        {{/if}}

        <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs">
            <rs-tab event-key="detail" title="Details">
                <div class="form-2column-container">
                    <div>
                        <semantic-form-text-input for="series_title" label="Series title/name" placeholder="Enter series title"></semantic-form-text-input>
                        <div class="inline-composite-container">
                            <semantic-form-composite-input  for="series_primary_id"
                                                            label="Series identifier (preferred) 1111111"
                                                            new-subject-template="/series_id" 
                                                            fields='[[fieldDefinitions
                                                                    classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                                                    has_type="http://www.researchspace.org/pattern/system/entity/has_type"
                                                                    
                                                                    identifier_value="http://www.researchspace.org/pattern/system/identifier/value"
                                                                    identifier_series_id_type="http://www.researchspace.org/pattern/system/identifier/thing_id_type"
                                                                ]]'
                                                            >
                                        
                                <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/cidoc-crm/E42_Identifier"></semantic-form-hidden-input>
                                <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/system/vocab/appellation/series_primary_id'></semantic-form-hidden-input>
                                    
                                <div class="form-inline-inputs" style="row-gap:5px;">
                                    <div>
                                        <semantic-form-text-input for="identifier_value" render-header=false placeholder="Enter identifier"></semantic-form-text-input>
                                    </div>
                                    <div style="flex: 1;">
                                        <semantic-form-select-input for='identifier_series_id_type' 
                                                                    label="Identifier type" 
                                                                    render-header=false
                                                                    placeholder="Select identifier type" 
                                                                    nested-form-template='{{{{raw}}}}{{> "http://www.researchspace.org/resource/system/forms/Type" nested=true editable=true mode="new"
                                                                                                                    scheme="http://www.researchspace.org/resource/vocab/thing_identifier"
                                                                                                                    entityType="identifier" }}
                                                                                            {{{{/raw}}}}'> 
                                        </semantic-form-select-input>
                                    </div>
                                </div>
                            </semantic-form-composite-input>
                        </div>

                        <div class="inline-composite-container">
                            <semantic-form-composite-input  for="series_id"
                                                            label="Other series identifier"
                                                            new-subject-template="/series_id/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                                            fields='[[fieldDefinitions
                                                                    classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                                                    has_type="http://www.researchspace.org/pattern/system/entity/has_type"
                                                                    
                                                                    identifier_value="http://www.researchspace.org/pattern/system/identifier/value"
                                                                    identifier_series_id_type="http://www.researchspace.org/pattern/system/identifier/thing_id_type"
                                                                ]]'
                                                            >
                                        
                                <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/cidoc-crm/E42_Identifier"></semantic-form-hidden-input>
                                <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/system/vocab/appellation/series_id'></semantic-form-hidden-input>
                                    
                                <div class="form-inline-inputs" style="row-gap:5px;">
                                    <div>
                                        <semantic-form-text-input for="identifier_value" render-header=false placeholder="Enter identifier"></semantic-form-text-input>
                                    </div>
                                    <div style="flex: 1;">
                                        <semantic-form-select-input for='identifier_series_id_type' 
                                                                    label="Identifier type" 
                                                                    render-header=false
                                                                    placeholder="Select identifier type" 
                                                                    nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                                    scheme="http://www.researchspace.org/resource/vocab/thing_identifier"
                                                                                                                    entityType="identifier" }}
                                                                                            {{{{/raw}}}}'> 
                                        </semantic-form-select-input>
                                    </div>
                                </div>
                            </semantic-form-composite-input>
                        </div>

                        {{#if wikidataResourceDescription}}
                            <div class="focused-input-container">
                                <semantic-form-text-input for="series_description" label="Description" placeholder="Enter description/comment" multiline='true' default-value="{{wikidataResourceDescription}}"> </semantic-form-text-input>
                            </div>
                        {{else}}
                            <semantic-form-text-input for="series_description" label="Series description" placeholder="Enter description/comment" multiline='true'> </semantic-form-text-input>
                        {{/if}}

                    </div>

                    <div class="form-media-column">
                        <div class="dragAndDrop-input-container">
                            <semantic-form-drag-and-drop-input for='series_image_main_representation' label="Main image" 
                                                                placeholder-item-template="<div class='placeholder-item'>
                                                                                            <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                            <div>Drag main image or click to upload</div>
                                                                                        </div>"
                                                                nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
                            </semantic-form-drag-and-drop-input>
                        </div>
            
                        <div class="dragAndDrop-input-container">
                            <semantic-form-drag-and-drop-input  for='series_image' label="More images" 
                                                                placeholder-item-template="<div class='placeholder-item'>
                                                                                            <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                            <div>Drag images or click to upload</div>
                                                                                        </div>"
                                                                nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
                            </semantic-form-drag-and-drop-input>
                        </div>

                        <div class="dragAndDrop-input-container">
                            <semantic-form-drag-and-drop-input  for='series_document' label="Documents" 
                                                                    placeholder-item-template="<div class='placeholder-item'>
                                                                                                <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                                <div>Drag document or click to upload</div>
                                                                                                </div>"
                                                                nested-form-template='{{{{raw}}}}{{> forms:Document nested=true editable=true mode="new" docType="http://www.researchspace.org/resource/vocab/document_type/exhibition_report" }}{{{{/raw}}}}'
                                                                                                >
                            </semantic-form-drag-and-drop-input>
                        </div>
                    </div>
                    
                </div>
            </rs-tab>

            <rs-tab event-key="type" title="Type/Dimensions">

                <semantic-form-tree-picker-input    for="series_type" 
                                                    label="Series type" 
                                                    placeholder="Select series type" 
                                                    close-dropdown-on-selection='false'
                                                    tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/series_type>", 
                                                                    "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/series_type>",
                                                                    "relationPattern": "?item crm:P127_has_broader_term ?parent",
                                                                    "labelPattern": "?item skos:prefLabel ?label"
                                                                   }'

                                                    scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                "view": "vocabulary-content",
                                                                                "scheme": "http://www.researchspace.org/resource/vocab/series_type",
                                                                                "tooltip": "Open list of series types"
                                                                                }'
                                                    
                                                    nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                    scheme="http://www.researchspace.org/resource/vocab/series_type"
                                                                                                    entityType="series type" }}{{{{/raw}}}}'

                                                    query-item-label='SELECT ?label WHERE {
                                                                        ?item skos:prefLabel ?label .
                                                    }'>
                                            
                </semantic-form-tree-picker-input>

                <semantic-form-tree-picker-input    for="series_format" 
                                                    label="Series format" 
                                                    placeholder="Select series format" 
                                                    close-dropdown-on-selection='false'
                                                    tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/series_format>", 
                                                                    "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/series_format>",
                                                                    "relationPattern": "?item crm:P127_has_broader_term ?parent",
                                                                    "labelPattern": "?item skos:prefLabel ?label"
                                                                   }'

                                                    scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                "view": "vocabulary-content",
                                                                                "scheme": "http://www.researchspace.org/resource/vocab/series_format",
                                                                                "tooltip": "Open list of series format"
                                                                                }'
                                                    
                                                    nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                    scheme="http://www.researchspace.org/resource/vocab/series_format"
                                                                                                    entityType="series format" }}{{{{/raw}}}}'

                                                    query-item-label='SELECT ?label WHERE {
                                                                        ?item skos:prefLabel ?label .
                                                    }'>
                </semantic-form-tree-picker-input>

                <div class="inline-composite-container">
                    <semantic-form-composite-input for="series_dimension" 
                                                    label="Dimensions"  
                                                    placeholder="Enter series dimensions" 
                                                    new-subject-template="/dimension/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"  
                                                    fields='[[fieldDefinitions
                                                                classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                                
                                                                dimension_type="http://www.researchspace.org/pattern/system/dimension/type"
                                                                dimension_value="http://www.researchspace.org/pattern/system/dimension/value"
                                                                dimension_unit="http://www.researchspace.org/pattern/system/dimension/unit"
                                                                dimension_description="http://www.researchspace.org/pattern/system/entity/description"
                                                            ]]'>

                    <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E54_Dimension'></semantic-form-hidden-input>

                    <div class="form-inline-inputs" style="row-gap:5px;">
                        <div style="flex: 1;">
                            <semantic-form-select-input for='dimension_type' 
                                                        render-header="false"
                                                        placeholder="Select dimension type" 
                                                        nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                            scheme="http://www.researchspace.org/resource/vocab/dimension_type"
                                                                                            entityType="dimension type" }}{{{{/raw}}}}'> 
                            </semantic-form-select-input>
                        </div>
                        <div style="flex: 1;">
                            <semantic-form-text-input for="dimension_value" label="Value" placeholder="Enter measured value" render-header="false"></semantic-form-text-input>
                        </div>
                        <div style="flex: 1;">
                            <semantic-form-select-input for='dimension_unit' 
                                                        render-header="false"
                                                        placeholder="Select dimension unit" 
                                                        nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                            scheme="http://www.researchspace.org/resource/vocab/dimension_unit"
                                                                                            entityType="dimension unit" }}{{{{/raw}}}}'> 
                            </semantic-form-select-input>
                        </div>
                        <div style="flex: 1;">
                            <semantic-form-text-input for='dimension_description' render-header="false" placeholder="Enter description/comment"></semantic-form-text-input>
                        </div>
                    </div>
                    </semantic-form-composite-input>
                </div>
            </rs-tab>

            <rs-tab event-key="collection" title="Collection">

                <semantic-form-select-input for='series_collection' 
                                            label="Part of collection" 
                                            placeholder="Select collection" 
                                            nested-form-template='{{{{raw}}}}{{> forms:Collection nested=true editable=true mode="new" }}{{{{/raw}}}}'> 
                </semantic-form-select-input>

            </rs-tab>

            <rs-tab event-key="material" title="Materials">

            </rs-tab>

            <rs-tab event-key="visualItem" title="Visual items">

            </rs-tab>

            <rs-tab event-key="parts" title="Parts/Features">

            </rs-tab>

            <rs-tab event-key="location" title="Location">

                <semantic-form-composite-input for="series_current_location"
                                                new-subject-template="/place/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"  
                                                label="Current location"
                                                render-header='true'
                                                fields='[[fieldDefinitions
                                                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                            has_type="http://www.researchspace.org/pattern/system/entity/has_type"

                                                            location_falls_within_place="http://www.researchspace.org/pattern/system/place/falls_within_placeMin1Max1"
                                                            museum_location_identifier="http://www.researchspace.org/pattern/system/place/museum_location_identifier"
                                                            storage_location_identifier="http://www.researchspace.org/pattern/system/place/storage_location_identifier"
                                                    ]]'> 

                    <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E53_Place'> </semantic-form-hidden-input>
                    <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/series_current_location'> </semantic-form-hidden-input>
                    
                    <div class="form-inline-inputs first-input" style="row-gap:5px;">
                        <div style="flex: 1;">
                            <semantic-form-select-input for='location_falls_within_place' 
                                                        label="Place / Organisation" 
                                                        placeholder="Select location" 
                                                        nested-form-template='{{{{raw}}}}{{> forms:Place nested=true editable=true mode="new" }}{{{{/raw}}}}'> 
                            </semantic-form-select-input>     
                        </div>

                        <div style="flex: 1;">
                            <semantic-form-text-input for="museum_location_identifier" label="Gallery/room/display details" placeholder="Enter gallery/room/display details"> </semantic-form-text-input>
                        </div>
                        
                        <div style="flex: 1;">
                            <semantic-form-text-input for="storage_location_identifier" label="Storage details" placeholder="Enter storage details"> </semantic-form-text-input>
                        </div>
                        
                    </div>
                </semantic-form-composite-input>

                <semantic-form-composite-input for="series_former_location"
                                                new-subject-template="/place/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"  
                                                label="Former location"
                                                render-header='true'
                                                fields='[[fieldDefinitions
                                                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                            has_type="http://www.researchspace.org/pattern/system/entity/has_type"

                                                            location_falls_within_place="http://www.researchspace.org/pattern/system/place/falls_within_placeMin1Max1"
                                                            museum_location_identifier="http://www.researchspace.org/pattern/system/place/museum_location_identifier"
                                                            storage_location_identifier="http://www.researchspace.org/pattern/system/place/storage_location_identifier"
                                                    ]]'> 

                    <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E53_Place'> </semantic-form-hidden-input>
                    <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/series_former_location'> </semantic-form-hidden-input>
                    
                    <div class="form-inline-inputs first-input" style="row-gap:5px;">
                        <div style="flex: 1;">
                            <semantic-form-select-input for='location_falls_within_place' 
                                                        label="Place / Organisation" 
                                                        placeholder="Select location" 
                                                        nested-form-template='{{{{raw}}}}{{> forms:Place nested=true editable=true mode="new" }}{{{{/raw}}}}'> 
                            </semantic-form-select-input>    
                        </div>

                        <div style="flex: 1;">
                            <semantic-form-text-input for="museum_location_identifier" label="Gallery/room/display details" placeholder="Enter gallery/room/display details"> </semantic-form-text-input>
                        </div>
                        
                        <div style="flex: 1;">
                            <semantic-form-text-input for="storage_location_identifier" label="Storage details" placeholder="Enter storage details"> </semantic-form-text-input>
                        </div>
                        
                    </div>
                </semantic-form-composite-input>
            </rs-tab>

            <rs-tab event-key="ownership" title="Ownership/Custody">
                <semantic-form-text-input for="series_right" label="Legal rights" placeholder="Enter legal rights"></semantic-form-text-input>

                <div class="form-section-flexContainer">
                    <div style="flex: 1;">
                        <h5 class="customFormHeader">Ownership</h5>
                        <div class="form-section">
                            <div class="form-section-first-input">
                                <semantic-form-select-input for='series_current_owner' 
                                                        label="Current owner" 
                                                        placeholder="Select actor" 
                                                        nested-form-template='{{{{raw}}}}{{> forms:Actor nested=true editable=true mode="new" }}{{{{/raw}}}}'> 
                                </semantic-form-select-input>
                            </div>
                            <semantic-form-select-input for='series_former_owner' 
                                                    label="Former owner" 
                                                    placeholder="Select actor" 
                                                    nested-form-template='{{{{raw}}}}{{> forms:Actor nested=true editable=true mode="new" }}{{{{/raw}}}}'> 
                            </semantic-form-select-input>
                        </div>
                    </div>

                    <div style="flex: 1;">
                        <h5 class="customFormHeader">Custody</h5>
                        <div class="form-section">
                            <div class="form-section-first-input">
                                <semantic-form-select-input for='series_current_keeper' 
                                                        label="Current keeper" 
                                                        placeholder="Select actor" 
                                                        nested-form-template='{{{{raw}}}}{{> forms:Actor nested=true editable=true mode="new" }}{{{{/raw}}}}'> 
                                </semantic-form-select-input>
                            </div>    

                            <semantic-form-select-input for='series_former_keeper' 
                                                    label="Former keeper" 
                                                    placeholder="Select actor" 
                                                    nested-form-template='{{{{raw}}}}{{> forms:Actor nested=true editable=true mode="new" }}{{{{/raw}}}}'> 
                            </semantic-form-select-input>
                        </div>
                    </div>
                </div>

            </rs-tab>

            <rs-tab event-key="event" title="Events">

            </rs-tab>

            <rs-tab event-key="reference" title="Bibliographic references">

            </rs-tab>

            [[> rsp:FormMetadataTab]]
        </rs-tabs>

    </div>

    <semantic-form-errors></semantic-form-errors>  
    [[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}series{{/if}}']] 

</semantic-form>