<div style='height: 100%; width: 100%;'>
    <semantic-map   query='SELECT DISTINCT ?wkt WHERE { 
                            <{{resource}}> crm:P168_place_is_defined_by ?wkt .
                          } LIMIT 1'
                            
                    tuple-template='<div style="display:flex; flex-direction:column; gap:5px;">
                                        <b style="color:#525156;">{{placeName}}</b>
                                        {{#if osmURI}}
                                            <div>
                                                <a style="color:#396EFE;"
                                                    target="_blank" 
                                                    href="{{osmURI}}"
                                                    title="{{osmURI}}">
                                                    Open in wikidata
                                                </a>
                                            </div>
                                        {{/if}}
                                    </div>'>
    </semantic-map>
  </div>