<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link iri='http://www.researchspace.org/resource/ProjectDashboard'>
      Project Dashboard
    </semantic-link>
  </li>
  <li class="active">Project - Semantic Narratives</li>
</ol>

<div class="page rs-project-narrative">
  <div class='page__body--borderless page__body--borderless-pd'>
  [[#> rsp:adminPageHeader title="Project - Semantic Narratives" materialIcon="description" action=true]]
  [[#if (hasPermission "forms:ldp:*")]]
    <semantic-link-container 
                                uri="http://www.researchspace.org/resource/ThinkingFrames"
                                urlqueryparam-view='semantic-narrative'
                                urlqueryparam-previous-page='[[this]]'
                                urlqueryparam-previous-page-title='Project - Semantic Narratives'
                                >

      <button class="btn btn-default pull-right">
        <rs-icon icon-type="round" icon-name="add_box"></rs-icon>
        <div>Create Semantic Narrative</div>
      </button>
    </semantic-link-container>
    [[/if]]
    <div class='clearfix'></div>
     
  [[/rsp:adminPageHeader]]
  
  <div class="container-fluid">
        <bs-row class="row-center">
           <bs-col xs=12 sm=11 md=10 lg=9 class="rs-col-xl-8">
  
          		<semantic-context repository='assets'>
                
                <semantic-table config='{

                "query": "SELECT * WHERE {
                          ?page a rs:Semantic_Narrative ;
                             rdfs:label ?label ;
                             <http://www.w3.org/ns/prov#generatedAtTime> ?modified .

                           [[#if (hasPermission "forms:ldp:*")]]
                              ?page <http://www.w3.org/ns/prov#wasAttributedTo> ?user .
                           [[else]]
                              ?page <http://www.w3.org/ns/prov#wasAttributedTo> ?user .
                              FILTER(?user = <http://www.researchspace.org/resource/system/anonymousUser> )

                           [[/if]]
                          } ORDER BY DESC(?modified)",
                          
                "columnConfiguration": [{
                                          "variableName": "page",
                                          "displayName": "Semantic Narrative - title",
                                          "cellTemplate": "{{> view}}"
                                        },
                                        
                                         {"variableName": "user", 
                                          "displayName": "Author", 
                                          "cellTemplate": "<div><rs-icon icon-type=\"round\" icon-name=\"account_box\" style=\"margin-right: 10px\"></rs-icon>
                                          <semantic-link class=\"rs-dashboard--a\" uri=\"{{user.value}}\" target=\"_blank\"></semantic-link></div>" 
                                        },
                                        
                                        {
                                          "variableName": "modified",
                                          "displayName": "Last Update",
                                          "cellTemplate":"{{dateTimeFormat modified.value \"LLL\"}}"
                                        },
                                        
                                        {"displayName":"Actions", "cellTemplate": 
                                        "<div style=\"display:flex;\">
                                            <mp-ldp-duplicate-resource-action iri=\"{{page.value}}\">
                                              <rs-icon icon-type=\"round\" icon-name=\"file_copy\" style=\"cursor:pointer; padding-right:12px;\" title=\"Duplicate\"></rs-icon>
                                            </mp-ldp-duplicate-resource-action>
                                        
                                            <mp-anonymous-hidden>
                                              <mp-ldp-remove-from-container-action data-iri=\"{{page.value}}\" data-container=\"http://www.researchspace.org/ontology/UserDefinedPage\">
                                                <rs-icon icon-type=\"round\" icon-name=\"delete\" style=\"cursor:pointer;\" title=\"Delete\"></rs-icon>
                                              </mp-ldp-remove-from-container-action>
                                            </mp-anonymous-hidden>
                                          </div>"} 
                                     ]}'>
                  
                  <template id='view'>
                    <div style="display: flex; align-items: center;">
                      <rs-icon icon-type="round" icon-name="drag_indicator" style="margin-right: 12px;"></rs-icon>
                      <semantic-link iri='{{page.value}}' 
                                      class='a-draggable'
                                      urlqueryparam-previous-page='[[this]]'
                                      urlqueryparam-previous-page-title='Project - Semantic Narratives'
                                      >
                        <div style="display: flex; align-items: center;">
                          <span>{{label.value}}</span>
                        </div>
                      </semantic-link>

                    </div>
                    
                  </template>
               </semantic-table>
            </semantic-context>
             </bs-col>   
        </bs-row> <!--  close row -->
    </div>
  </div>
</div>
