<style>
  .resource-editDetails-container .collection-terms-area .LazyTree--alignmentTreeContainer .LazyTree--decoratedNodeBody {
    max-width: calc(100% - 48px);
  }
</style>

<div class="resource-editDetails-container">

    <mp-splitpane min-size=140 default-size=400 default-open='true' class="frame-split-pane">
      <div data-flex-layout="column top-stretch">
        <mp-splitpane-toggle-on>
          <button class="btn-toggle-on">
            <div class="btn-toggle-on-content">
              <h4 style="width: 120px; text-align: left; margin-top: 7px;">
                <mp-text-truncate truncate="..">
                  Authority and entity configuration
                </mp-text-truncate>
              </h4>
              <span class="material-icons-round">chevron_right</span>
            </div>
          </button>
        </mp-splitpane-toggle-on>
        <mp-splitpane-toggle-off>
          <div class="split-pane__leftsidebar-header">
            <button data-flex-layout='row center-left' class="btn-toggle-off">
              <h4 style="min-width: 120px; width: 100%; text-align: left;">
                Authority and entity configuration
              </h4>
              <span class="material-icons-round">chevron_left</span>
            </button>
          </div>
        </mp-splitpane-toggle-off>
        <mp-splitpane-sidebar-open style="flex: 1;">
          <div class="split-pane__sidebar-open">
            <div class="collection-terms-area">
             
                  <mp-event-trigger id='authority-config-form-new-trigger' type='Component.TemplateUpdate' data='{"mode": "new" }' targets='["authority-config-term-forms"]'>
                    <button class="btn btn-default btn-textAndIcon" style="margin-bottom: 10px; justify-content: center;">
                      <i class="material-icons-round btn-icon-left">add_box</i>
                      <span>New type</span>
                    </button>
                  </mp-event-trigger>
           
              <mp-event-target-template-render id='authority-config-mytree'  template='{{> treeTemplate}}'>
                <template id='treeTemplate'>
                  <semantic-lazy-tree id='authority-config-scheme-tree' 
                                      info-template='{{> template}}'  
                                      input-placeholder='Select type' 
                                      type='simple'  
                                      focused='{{iri}}' 
                                      page-size='10000'
                                      config='{"scheme": "http://www.researchspace.org/resource/system/vocab/authority_manager_config_types", 
                                              {{#if labelSparqlPattern}}
                                              "labelPattern": "{{labelSparqlPattern}}",
                                              {{/if}}
                                              {{#if orderByPattern}}
                                              "orderByPattern": "{{orderByPattern}}",
                                              {{/if}}
                                              "schemePattern": " ?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> ?__scheme__. {{#if rdfType}} ?item a/rdfs:subClassOf* <{{rdfType}}> .{{/if}} {{#if P2_has_type}} ?item crm:P2_has_type <{{P2_has_type}}> .{{/if}} {{#if restrictionPattern}}{{restrictionPattern}}{{/if}}"
                                              }'>
                    <template id='template'>
                      <span class="tree-item-actions-container">
                          <mp-event-trigger id='authority-config-form-edit-trigger--{{iri}}' type='Component.TemplateUpdate'
                                            data='{"iri":"{{iri}}", "label": "{{label}}", "mode": "edit" }' targets='["authority-config-term-forms"]'>
                            <span class='tree-item-action'>
                              <i class="material-icons-round" title="Edit configuration">edit</i>
                            </span>
                          </mp-event-trigger>
                          <mp-event-proxy id='authority-config-focus-tree-element' on-event-source='authority-config-form-edit-trigger--{{iri}}' proxy-event-type='LazyTree.Focus' proxy-targets='["authority-config-scheme-tree"]' data='{"iri":"{{iri}}"}'></mp-event-proxy>
                      </span>
                    </template>
                  </semantic-lazy-tree> 
                </template>
              </mp-event-target-template-render>
            </div>
          </div>
        </mp-splitpane-sidebar-open>
      </div>

        <div class="page__grid-container">
  
          <div class="page__content-container resource-editDetails-form-container">
            <mp-event-target-template-render id='authority-config-term-forms' template='{{> template}}'>
              <template id='template'>
                {{#switch mode}}
  
                  {{#case "new" break=true}}
                      <h2 class="resource-editDetails-form-title">Create new type</h2>
                  {{/case}}
  
                  {{#case "edit" break=true}}
                    <h2 class="resource-editDetails-form-title"><mp-label iri='{{iri}}'></mp-label></h2>
                  {{/case}}
                
                  {{#case "deleted" break=true}}
                    <h2 class="resource-editDetails-form-title">Deleted: {{label}}</h2>
                  {{/case}}
                {{/switch}}
      
                {{#if (not (eq mode "deleted"))}}
                <mp-event-proxy id='authority-config-tree-refresh-on-created' 
                                on-event-source='authority-config-vocab-form' 
                                on-event-types='["Form.ResourceCreated", "Form.ResourceUpdated"]'
                                proxy-event-type='Component.TemplateUpdate' 
                                proxy-targets='["authority-config-mytree", "authority-config-term-forms"]'
                                additional-data='{"mode": "edit"}'
                                ></mp-event-proxy>
      
                <mp-event-proxy id='authority-config-tree-refresh-on-delete' 
                                on-event-source='authority-config-vocab-form' 
                                on-event-types='["Form.ResourceRemoved"]'
                                proxy-event-type='Component.TemplateUpdate' 
                                proxy-targets='["authority-config-mytree", "authority-config-term-forms"]'
                                additional-data='{"mode": "deleted", "label": "{{label}}"}'
                                ></mp-event-proxy>
  
                <inline-template template-iri='[[resolvePrefix "rsp:AuthorityConfigForm"]]' 
                                options='{
                                          "scheme": "http://www.researchspace.org/resource/system/vocab/authority_manager_config_types", 
                                          {{#ifCond mode "!==" "new"}}"node": "{{iri}}",{{/ifCond}}
                                          {{#if broader}}"broader": "{{broader}}",{{/if}}
                                          {{#if data.additional_data}}"additional-data":{{{stringify data.additional_data}}},{{/if}}
                                          "editable": true,
                                          "mode": "{{mode}}",
                                          "viewId": "authority-config",
                                          "broaderPropertyIRI": {{#if broaderProperty}}"{{broaderProperty}}"{{else}}null{{/if}}
                                }'>
                </inline-template>
                
                {{else}}
                  <div></div>
                {{/if}}
              </template>
            </mp-event-target-template-render>
          </div>
        </div>

    </mp-splitpane>

</div>
<!-- <inline-template template-iri='[[resolvePrefix "rsp:SimpleCollectionBrowser"]]'
                  options='{
                            "collection": "http://www.researchspace.org/resource/system/vocab/authority_manager_config_types",
                            "membershipProperty": "http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in",
                            "itemLabel": "Authority and entity type",
                            "resourceForm": "[[resolvePrefix "rsp:AuthorityConfigForm"]]",
                            "frameId": "authority-config",
                            "editable": true
                          }'
></inline-template> -->
