<ontodia-entity-metadata
    entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E29_Design_or_Procedure"
    fields='[]'
    enable-ontodia-context-fields='true'  
    type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
    label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
    entity-type-iri='http://www.cidoc-crm.org/extensions/crmgeo/SP4_Spatial_Coordinate_Reference_System'
    fields='[]'
    enable-ontodia-context-fields='true'  
    type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
    label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
    entity-type-iri='http://www.cidoc-crm.org/extensions/crmgeo/SP11_Temporal_Reference_System'
    fields='[]'
    enable-ontodia-context-fields='true'  
    type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
    label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://iflastandards.info/ns/lrm/lrmoo/F36_Script_Conversion"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmtex/TX3_Writing_System"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmtex/TX10_Style"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
    entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E32_Authority_Document"
    fields='[]' 
    enable-ontodia-context-fields='true' 
    type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
    label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
    image-iri=''
></ontodia-entity-metadata>
  
<ontodia-entity-metadata
    entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E31_Document"
    fields='["http://www.researchspace.org/pattern/system/document/file_identifier"]'
    enable-ontodia-context-fields='true'  
    type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
    label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
    image-iri=''
    file-identifier="http://www.researchspace.org/pattern/system/document/file_identifier"
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E90_Symbolic_Object"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmtex/TX11_Grapheme_Occurrence"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmtex/TX12_Grapheme_Sequence"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://iflastandards.info/ns/lrm/lrmoo/F3_Manifestation"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E36_Visual_Item"
  fields='[]'
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E33_Linguistic_Object"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E34_Inscription"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E37_Mark"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
></ontodia-entity-metadata>

<ontodia-entity-metadata 
  entity-type-iri='http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span'
  fields='["http://www.cidoc-crm.org/cidoc-crm/P79_beginning_is_qualified_by",
  "http://www.cidoc-crm.org/cidoc-crm/P80_end_is_qualified_by",
  "http://www.cidoc-crm.org/cidoc-crm/P81_ongoing_throughout",
  "http://www.cidoc-crm.org/cidoc-crm/P81a_end_of_the_begin",
  "http://www.cidoc-crm.org/cidoc-crm/P81b_begin_of_the_end",
  "http://www.cidoc-crm.org/cidoc-crm/P82_at_some_time_within",
  "http://www.cidoc-crm.org/cidoc-crm/P82a_begin_of_the_begin",
  "http://www.cidoc-crm.org/cidoc-crm/P82b_end_of_the_end"]'  
  enable-ontodia-context-fields='true'  
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/timespan/time_primitive_appellationMin1'      
>
</ontodia-entity-metadata> 

<ontodia-entity-metadata 
  entity-type-iri='http://www.cidoc-crm.org/extensions/crmgeo/SP10_DeclarativeTime-Span'
  fields='["http://www.cidoc-crm.org/cidoc-crm/P79_beginning_is_qualified_by",
  "http://www.cidoc-crm.org/cidoc-crm/P80_end_is_qualified_by",
  "http://www.cidoc-crm.org/cidoc-crm/P81_ongoing_throughout",
  "http://www.cidoc-crm.org/cidoc-crm/P81a_end_of_the_begin",
  "http://www.cidoc-crm.org/cidoc-crm/P81b_begin_of_the_end",
  "http://www.cidoc-crm.org/cidoc-crm/P82_at_some_time_within",
  "http://www.cidoc-crm.org/cidoc-crm/P82a_begin_of_the_begin",
  "http://www.cidoc-crm.org/cidoc-crm/P82b_end_of_the_end"]'  
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/timespan/time_primitive_appellationMin1'      
>
</ontodia-entity-metadata> 

<ontodia-entity-metadata 
  entity-type-iri='http://www.cidoc-crm.org/extensions/crmgeo/SP13_Phenomenal_Time-Span'
  fields='["http://www.cidoc-crm.org/cidoc-crm/P79_beginning_is_qualified_by",
  "http://www.cidoc-crm.org/cidoc-crm/P80_end_is_qualified_by",
  "http://www.cidoc-crm.org/cidoc-crm/P81_ongoing_throughout",
  "http://www.cidoc-crm.org/cidoc-crm/P81a_end_of_the_begin",
  "http://www.cidoc-crm.org/cidoc-crm/P81b_begin_of_the_end",
  "http://www.cidoc-crm.org/cidoc-crm/P82_at_some_time_within",
  "http://www.cidoc-crm.org/cidoc-crm/P82a_begin_of_the_begin",
  "http://www.cidoc-crm.org/cidoc-crm/P82b_end_of_the_end"]'  
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/timespan/time_primitive_appellationMin1'      
>
</ontodia-entity-metadata> 

  <ontodia-entity-metadata
    entity-type-iri="http://iflastandards.info/ns/fr/frbr/frbroo/F22_Self-Contained_Expression"
    fields='[]' 
    type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
    label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
  ></ontodia-entity-metadata>

  <ontodia-entity-metadata
    entity-type-iri="http://iflastandards.info/ns/fr/frbr/frbroo/F26_Recording"
    fields='[]' 
    type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
    label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
  ></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E55_Type"
  fields='[]'
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E99_Product_Type"
  fields='[]'
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/influence/EO1_Situation_Type"
  fields='[]' 
  enable-ontodia-context-fields='true'    
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmsci/S9_Property_Type"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.w3.org/2004/02/skos/core#Concept"
  fields='[]'
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>  

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E56_Language"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E57_Material"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E58_Measurement_Unit"
  fields='[]'
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E98_Currency"
  fields='[]'
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmtex/TX8_Grapheme"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/skos_prefLabel'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.researchspace.org/resource/system/vocab/resource_type/knowledge_map"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.cidoc-crm.org/cidoc-crm/P2_has_type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
>
</ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.researchspace.org/resource/system/vocab/resource_type/semantic_narrative"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.cidoc-crm.org/cidoc-crm/P2_has_type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
>
</ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://iflastandards.info/ns/lrm/lrmoo/F2_Expression"
  fields='["http://www.researchspace.org/pattern/system/recording/file_identifier","http://www.researchspace.org/pattern/system/recording/file_url"]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
  file-identifier='http://www.researchspace.org/pattern/system/recording/file_identifier'
  file-url='http://www.researchspace.org/pattern/system/recording/file_url'
>   
</ontodia-entity-metadata>
  
<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmdig/D35_Area"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
  image-iri=''
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmdig/D1_Digital_Object"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmdig/D9_Data_Object"
  fields='[
  "http://www.cidoc-crm.org/cidoc-crm/P90_has_value",
  "http://www.cidoc-crm.org/cidoc-crm/P90a_has_lower_value_limit",
  "http://www.cidoc-crm.org/cidoc-crm/P90b_has_upper_value_limit"]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'  
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/extensions/crmdig/D14_Software"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.researchspace.org/ontology/EX_File"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
  image-iri=''
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.researchspace.org/ontology/EX_Digital_Image"
  fields='["http://www.researchspace.org/pattern/system/image/file_identifier"]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/entity/primary_appellation'
  fileidentifier='http://www.researchspace.org/pattern/system/image/file_identifier'
  image-iri=''
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.researchspace.org/ontology/EX_Digital_Image_Region"
  fields='[]'
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
  image-iri=''
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E41_Appellation"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E35_Title"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.cidoc-crm.org/cidoc-crm/E42_Identifier"
  fields='[]'  
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.opengis.net/ont/geosparql#gmlLiteral"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
></ontodia-entity-metadata>

<ontodia-entity-metadata
  entity-type-iri="http://www.opengis.net/ont/geosparql#wktLiteral"
  fields='[]' 
  enable-ontodia-context-fields='true'
  type-iri='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
  label-iri='http://www.researchspace.org/pattern/system/symbolic_object/has_symbolic_contentMin1Max1'
></ontodia-entity-metadata>