[[!--  items must be subclasses of http://www.cidoc-crm.org/cidoc-crm/E26_Physical_Feature --]]
[ 
  {
    "label": "Human-made feature",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/HumanMadeFeature\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Physical feature",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/PhysicalFeature\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Site",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Site\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  }
]