<div style='display: flex; align-items: center; justify-content: space-between;'>

  <div style='overflow: hidden;'>
    <span style='display: flex;'>
      <mp-label 	 iri='{{iri.value}}' highlight='{{highlight}}'
                highlight-props='{"style": {"color": "#dc8a4b"}}'
                style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'
      ></mp-label>
    </span>
  </div>

  <div class='set-management__item-actions' style='margin-left: auto;'>

    <bs-dropdown  pull-right=true 
                  class="dropdown-no-caret"
                  id='set-actions-{{iri.value}}'>

    <bs-dropdown-toggle class="button-clipboard-folder-actions no-active-bg">
      <rs-icon icon-type="round" icon-name="more_vert"></rs-icon>
    </bs-dropdown-toggle>
     
    <bs-dropdown-menu>
      [[#if (hasPermission "forms:ldp:*")]]
        <mp-set-management-action-rename-set>
          <bs-menu-item event-key='rename'>
            <rs-icon icon-type="rounded" icon-name="drive_file_rename_outline" class="icon-left" symbol="true"></rs-icon>
              Rename set
            </bs-menu-item>
        </mp-set-management-action-rename-set>
        <hr>
        <mp-set-management-action-remove-set show-confirmation="false" remove-from-view="true">
          <bs-menu-item event-key='remove'>
            <rs-icon icon-type="rounded" icon-name="disabled_by_default" class="icon-left" symbol="true"></rs-icon>
            <span id="all">Remove from clipboard</span>
          </bs-menu-item>
        </mp-set-management-action-remove-set>
        
        <hr>
      [[/if]]

        <mp-copy-to-clipboard text='{{iri.value}}' message='IRI has been copied'>
          <bs-menu-item>
            <rs-icon icon-type="rounded" icon-name="content_copy" class="icon-left" symbol="true"></rs-icon>
            <span>Copy IRI</span>
          </bs-menu-item>
        </mp-copy-to-clipboard>

        <hr>

        <semantic-link-container  uri='http://www.researchspace.org/resource/ThinkingFrames'
                                  urlqueryparam-view="resource-editor"
                                  urlqueryparam-resource-iri='{{iri.value}}'>
          <bs-menu-item>
            <rs-icon icon-type="rounded" icon-name="edit_note" class="icon-left" symbol="true"></rs-icon>
            <span>Edit</span>
          </bs-menu-item>
        </semantic-link-container>

        <semantic-link-container  uri='http://www.researchspace.org/resource/ThinkingFrames'
                                  urlqueryparam-view="resource-editor"
                                  urlqueryparam-resource-iri='{{iri.value}}'
                                  urlqueryparam-open-as-drag-and-drop='true'>
          <bs-menu-item>
            <rs-icon icon-type='rounded' icon-name='read_more' symbol='true' class="icon-left"></rs-icon>
            <span>Edit in draggable tab</span>
          </bs-menu-item>
        </semantic-link-container>
        <hr>
        
        <semantic-link-container uri='http://www.researchspace.org/resource/ThinkingFrames' 
                                      urlqueryparam-view='knowledge-map' 
                                      urlqueryparam-resource='{{iri.value}}'>
            <bs-menu-item class='set-action__km-navigate' event-key=km>
              <rs-icon icon-type="rounded" icon-name="hub" class="icon-left" symbol="true"></rs-icon>Open in Knowledge map</bs-menu-item>
        </semantic-link-container>
[[!--
        [[#if (hasPermission "forms:ldp:*")]]
          <hr>
          <mp-set-management-action-remove-set>
            <bs-menu-item event-key='remove'>
              <rs-icon icon-type="rounded" icon-name="delete" class="icon-left" symbol="true"></rs-icon>
              Delete
            </bs-menu-item>
          </mp-set-management-action-remove-set>
        [[/if]] --]]
      </bs-dropdown-menu>
      
    </bs-dropdown>
    
  </div>
</div>
