<style>
 
   /*  we need to set this sizes because otherwise ontodia can't properly make initial layout
    if node-templates is defined. This is a bug in ontodia. */

  .ontodia-overlayed-element  {
    min-height: 60px;
    min-width: 155px;
  }

  .ontodia-overlayed-element > div {
    min-height: 60px;
    min-width: 155px;
  }

  .ontodia-overlayed-element .resource-card {
    min-height: 60px;
    min-width: 155px;
  }

  .component-page-toolbar.btn-toolbar {
    display: none;
  }
  
</style>

<mp-event-proxy id='update-setSearch-and-homepage-on-set-modification'
                on-event-types='["Components.SetManagement.SetAdded",
                                  "Components.SetManagement.SetRenamed",
                                  "Components.SetManagement.SetRemoved"]'
                proxy-event-type='Component.TemplateUpdate' 
                proxy-targets='["http://www.researchspace.org/resource/system/resource_configurations_container/data/Set-resourceSearch-frame"]'>
</mp-event-proxy>

<div class='page_100vh thinking-frames-page'>
  <rs-dashboard
    home-page-iri="http://www.researchspace.org/resource/Start"

    [[#if (urlParam "view")]]
      initial-view='{"view": "[[urlParam "view"]]", 
                    "resource": "[[urlParam "resource"]]" 
                    [[#if (urlParam "entityTypeConfig")]] , 
                      "data": {"entityTypeConfig": "[[urlParam "entityTypeConfig"]]"} 
                    [[/if]]}'
    [[/if]] 
    [[#if view]]
      initial-view='{"view": "[[view]]", "resource": "[[resource]]"}'
    [[/if]] 

    views='[

    {
    	"id": "resource-search",
      "label": "Resource search",
      "iconName": "search",
      "template": "{{> resourceSearch}}"
    },

    {
    	"id": "all-resources-search",
      "label": "All resources search",
      "iconName": "search",
      "template": "{{> allResourcesSearch}}"
    },

    {
    	"id": "simple-search",
      "label": "Search",
      "iconName": "search",
      "checkQuery": "ASK { ?value a rs:Semantic_Search . }",
      "template": "{{> simpleSearch}}",
      "resourceNotRequired": true,
      "type": "hidden"
    },

    {
    	"id": "resource",
      "label": "Entity record",
      "description": "Drag and drop an entity here to display the entity record",
      "dropAreaDescription": "Drag and drop any entity here to display the entity record",
      "iconName": "insert_drive_file",
      "template": "{{> resourceTemplate}}",
      "type": "view"
    },

    {
    	"id": "resource-editor",
      "label": "Resource editor",
      "description": "Creare and author an entity through custom forms",
      "iconName": "edit_note",
      "template": "{{> resourceEditor}}",
      "resourceNotRequired": true,
      "type": "hidden"
    },

    {
    	"id": "iiif",
      "label": "Image viewer",
      "description": "Drag and drop an entity here to view and compare related high-resolution images",
      "dropAreaDescription": "Drag and drop any entity here to view and compare related high-resolution images",
      "iconName": "image",
      "template": "{{> iiifTemplate}}",
      "frameVariable": "miradorVariable",
      "type": "view"
    },

    {
    	"id": "map",
      "label": "Map",
      "description": "Drag and drop a place here to explore related geographic information",
      "dropAreaDescription": "Drag and drop here any entity of type PLACE (with associated geographic coordinates) to explore related geographic information",
      "iconClass": "rs-icon rs-icon-map_location_grouped",
      "checkQuery": "ASK { 
        ?value a crm:E53_Place . 
        ?value <http://www.cidoc-crm.org/cidoc-crm/P168_place_is_defined_by> ?coordinates .
        ?coordinates <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <http://www.researchspace.org/resource/system/vocab/resource_type/osm_geographic_coordinates> . }",
      "template": "{{> mapTemplate}}",
      "type": "view"
    },

    {
    	"id": "vocabulary",
      "label": "Vocabularies / Authorities",
      "description": "Create, view and edit vocabulary / authority list of terms",
      "template": "{{> vocabulary}}",
      "resourceNotRequired": true,
      "type": "hidden"
    }, 

    {
    	"id": "system-vocabulary",
      "label": "System vocabularies / authorities",
      "description": "Create, view and edit system vocabulary / authority list of terms",
      "template": "{{> systemVocabulary}}",
      "resourceNotRequired": true,
      "type": "hidden"
    }, 

    {
    	"id": "vocabulary-content",
      "label": "Vocabulary / Authority content",
      "iconClass": "iconmoon iconmoon-books",
      "template": "{{> vocabularyContent}}",
       "type": "hidden"
    },

    {
    	"id": "resource-configuration",
      "label": "Resource configuration",
      "template": "{{> resourceConfiguration}}",
      "iconName": "settings",
      "resourceNotRequired": true,
      "type": "hidden"
    },

    {
    	"id": "knowledge-map",
      "label": "Knowledge map",
      "description": "Express research thinking and processes as networks of relations",
      "iconName": "account_tree",
      "template": "{{> knowledgeMapTemplate}}",
      "itemBodyTemplate": "{{> itemBodyTemplate}}",
      "resourceNotRequired": true,
      "frameVariable": "ontodiaVariable",
      "type": "authoring"
    },

    {
    	"id": "semantic-narrative",
      "label": "Semantic narrative",
      "description": "Compose and share your research through an evolving narrative",
      "iconName": "description",
      "template": "{{> semanticNarrative}}",
      "itemBodyTemplate": "{{> itemBodyTemplate}}",
      "resourceNotRequired": true,
      "frameVariable": "narrativeVariable",
      "checkQuery": "ASK { ?value crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/semantic_narrative> . }",
      "type": "authoring"
    },

    {
    	"id": "semantic-narrative-resources",
      "label": "Semantic narrative resources",
      "description": "Resources in the semantic narrative",
      "iconName": "description",
      "template": "{{> semanticNarrativeResources}}",
      "checkQuery": "ASK { ?value crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/semantic_narrative> . }",
      "type": "view"
    },

    {
    	"id": "single-set-management",
      "label": "Set management",
      "description": "Manage the resources in a set",
      "iconName": "gallery_thumbnail",
      "template": "{{> SingleSetManagement}}",
      "checkQuery": "ASK { ?value crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/set> . }",
      "type": "view"
    },

    {
    	"id": "sets-management",
      "label": "Sets management",
      "description": "Manage sets",
      "iconName": "topic",
      "template": "{{> SetsManagement}}",
      "type": "view"
    },

    {
    	"id": "system-activity",
      "label": "System activities",
      "template": "{{> systemActivityTemplate}}",
      "resourceNotRequired": true,
      "type": "view"
    },

    {
    	"id": "image-annotation",
      "label": "Image annotations",
      "description": "Drag and drop a resource here to view and annotate its images",
      "dropAreaDescription": "Drag and drop a resource here to view and annotate its images",
      "iconName": "photo_size_select_large",
      "template": "{{> imageAnnotation}}",
    [[!--  "checkQuery": "
        PREFIX ontodia: <http://ontodia.org/schema/v1#>
        PREFIX ldp: <http://www.w3.org/ns/ldp#>
        ASK {
          {
            ?value a ontodia:Diagram .
            ?value ontodia:layoutData/ontodia:hasElement/ontodia:resource ?resource .
            { ?value crm:P138i_has_representation|rs:PX_has_main_representation ?image .} UNION { ?value a rs:EX_Digital_Image . }
          } UNION {
            ?value a Platform:Set .
            ?value ldp:contains / Platform:setItem ?resource .
            { ?value crm:P138i_has_representation|rs:PX_has_main_representation ?image .} UNION { ?value a rs:EX_Digital_Image . }
          } UNION {
            ?value crm:P138i_has_representation|rs:PX_has_main_representation ?image .
          } UNION {
            ?value a rs:EX_Digital_Image .
          }
      }", --]]
      "unique": false,
      "type": "authoring"
    } 

    [[!--  {
    	"id": "object-image-observation",
      "label": "Object observation",
      "description": "Drag and drop an object here to combine image annotations with form authoring",
      "dropAreaDescription": "Drag and drop any entity of type MAN-MADE OBJECT here to combine image annotations with data authoring through forms",
      "iconName": "photo_size_select_large",
      "template": "{{> objectImageObservation}}",
      "checkQuery": "
        PREFIX ontodia: <http://ontodia.org/schema/v1#>
        PREFIX ldp: <http://www.w3.org/ns/ldp#>

        ASK {
          {
            ?value a ontodia:Diagram .
            ?value ontodia:layoutData/ontodia:hasElement/ontodia:resource ?o .
            ?o a/rdfs:subClassOf* crm:E18_Physical_Thing .
            ?o crm:P138i_has_representation|rs:PX_has_main_representation ?image .
          } UNION {
            ?value a Platform:Set .
            ?value ldp:contains / Platform:setItem ?o .
            ?o a/rdfs:subClassOf* crm:E18_Physical_Thing .
            ?o crm:P138i_has_representation|rs:PX_has_main_representation ?image . 
          } UNION {
            ?value a/rdfs:subClassOf* crm:E18_Physical_Thing .
            ?value crm:P138i_has_representation|rs:PX_has_main_representation ?image .
          }
      }",
      "unique": true,
      "type": "authoring"
    }

   {
    	"id": "feature-similarity-km",
      "label": "Exploring and comparing (visual) features",
      "template": "{{> featureSimilarityKm }}",
      "itemBodyTemplate": "{{> itemBodyTemplate}}",
      "frameVariable": "ontodiaVariable",
      "type": "authoring"
    }, 

    {
    	"id": "system-narrative",
      "label": "Semantic narratives",
      "template": "{{> systemNarrativesTemplate}}",
      "resourceNotRequired": true,
      "type": "view"
    },
    
    {
    	"id": "system-knowledge-maps",
      "label": "Knowledge maps",
      "template": "{{> systemKnowledgeMapsTemplate}}",
      "resourceNotRequired": true,
      "type": "view"
    },
    
    {
    	"id": "system-assets",
      "label": "Assets",
      "template": "{{> systemDigitalAssetsTemplate}}",
      "resourceNotRequired": true,
      "type": "view"
    }, 

    {
    	"id": "map-resource-search",
      "label": "Objects referred by place",
      "template": "{{> mapResourceSearch}}",
      "type": "view"
    }

 --]]


    ]'

    [[#if (hasPermission "forms:ldp:*")]]
    linked-views='[{
        "id": "image-graph-authoring",
        "label": "Image graph authoring",
        "description": "Drag and drop an entity here to combine image annotations with knowledge map authoring",
        "dropAreaDescription": "Drag and drop an entity here to combine image annotations with data authoring through the knowledge map system",
        "iconName": "wallpaper",
        "viewIds": ["knowledge-map", "iiif"],
        "resourceNotRequired": true,
        "type": "authoring"
      }
    ]'
    [[/if]]

    left-panels='[{"label": "Finder", "template": "{{> finder}}", "class": "search"}]'
    right-panels='[{"label": "Clipboard", "template": "{{> clipboard}}", "class": "clipboard"}]'
    >

    <template id='clipboard'>
      [[> rsp:Clipboard id="clipboard" defaultViewMode="grid"]]
    </template>

    <template id='finder'>[[> rsp:Finder]]</template>

    <template id='resourceSearch'>
      <div class='page__grid-container search-page-container'>
         [[> rsp:ResourceSearchContent config='{{data.iri}}']] 
    	</div>  
    </template>

    <template id='allResourcesSearch'>
      [[> rsp:allResourcesSearchContent]] 
    </template>

    <template id='simpleSearch'>
      <div class='page__grid-container search-page-container'>
        <mp-page-loader urlqueryparam-frame=true iri='http://www.researchspace.org/resource/SearchContent'>
        </mp-page-loader>
    	</div>
    </template>

    [[!-- <template id='details'>
        <mp-event-target-template-render fixed-key='details-view' reparentable='true' id='details-view' template='{{> template}}'>
            <template id='template'>
                {{#if iri}}
                <div class="details-container">
                  <mp-event-target-refresh id='details-fields-view'>
                    <mp-page-loader iri='{{iri}}' context='{{iri}}' urlqueryparam-frame="true" urlqueryparam-details="true"></mp-page-loader>
                  </mp-event-target-refresh>
                </div>
                {{else}}
                <div class="details-container">No details available</div>
                {{/if}}
            </template>
        </mp-event-target-template-render>
    </template> --]]

    <template id='resourceTemplate'>
      <div style='flex: 1 1 0px; overflow: auto;'>
        <mp-page-loader urlqueryparam-frame=true iri='{{iri}}' context='{{iri}}'>
        </mp-page-loader>
    	</div>
    </template>

    <template id='resourceConfiguration'>
      [[> rsp:ResourceConfiguration]]
    </template>

    <template id='resourceEditor'>
      [[> rsp:ResourceEditor]]
    </template>

    <template id='vocabulary'>
      [[> rsp:Vocabulary]]
    </template>

    <template id='systemVocabulary'>
      [[> rsp:SystemVocabulary]]
    </template>

    <template id='vocabularyContent'>
      [[> rsp:VocabularyContent iri=iri]]
    </template>

[[!--     <template id='systemNarrativesTemplate'>
      [[> rsp:SystemNarrativesFrame]]
    </template> --]]

[[!--    <template id='systemKnowledgeMapsTemplate'>
      [[> rsp:SystemKnowledgeMapsFrame]]
    </template> --]]

[[!--  <template id='systemDigitalAssetsTemplate'>
      [[> rsp:SystemAssetsFrame]]
    </template> --]]

    <template id='systemActivityTemplate'>
      <div class='page__grid-container search-page-container'>
         <div id="template-content">
          [[> rsp:SystemActivityFrame]]
        </div>
      </div>
    </template>

    <template id='knowledgeMapTemplate'>
      [[> rsp:KnowledgeMapTemplate]]
    </template>

    <template id='imageAnnotation'>
      [[> rsp:ImageAnnotation]]
    </template>

    <template id='semanticNarrative'>
      [[> rsp:SemanticNarrativeTemplate]]
    </template>

    <template id='semanticNarrativeResources'>
      <div class='page__grid-container search-page-container'>
        <div id="template-content">
          [[> rsp:SemanticNarrativeResources]] 
        </div> 
      </div>
    </template>

    <template id='SingleSetManagement'>
      [[> rsp:SingleSetManagement iri=iri]]
    </template>

    <template id='SetsManagement'>
      [[> rsp:SetsManagement]]
    </template>

    <template id='mapTemplate'>
      
      <style>
        .ol-popup-content {
          max-height: 100% !important;
        }
      </style>
      
      <div style='flex: 1 1 0px; overflow: auto;'>
        <semantic-map tuple-template='{{>popover}}'
                      query='SELECT DISTINCT ?wkt ?place ?color WHERE {
                              {
                              <{{iri}}> crm:P168_place_is_defined_by ?osm_geoCoordinates .
                                ?osm_geoCoordinates crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/osm_geographic_coordinates> .
                                ?osm_geoCoordinates crm:P190_has_symbolic_content ?wkt .
                                BIND(<{{iri}}> AS ?place) .
                                BIND(0 as ?order)
                              } UNION {
                                ?place crm:P89_falls_within* <{{iri}}> .
                                ?place crm:P168_place_is_defined_by ?osm_geoCoordinates .
                                ?osm_geoCoordinates crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/osm_geographic_coordinates> .
                                ?osm_geoCoordinates crm:P190_has_symbolic_content ?wkt .
                                BIND(1 as ?order)
                              } UNION {
                                <{{iri}}> crm:P161i_is_spatial_projection_of/crm:P10i_contains/crm:P53i_is_former_or_current_location_of ?place .
                                ?place crm:P168_place_is_defined_by ?osm_geoCoordinates .
                                ?osm_geoCoordinates crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/osm_geographic_coordinates> .
                                ?osm_geoCoordinates crm:P190_has_symbolic_content ?wkt .
                                BIND(true AS ?isBuilding)
                                BIND(2 as ?order)
                              }
                              BIND(IF(?isBuilding, "rgba(244, 224, 77, 0.7)", "rgba(56, 178, 194, 0.44)") AS ?color)
                            } ORDER BY ASC(?order)'>

            <template id='popover'>
              <style>
                .place-row {
                  display: flex; 
                  align-items: center;
                  gap: 5px;
                  flex-wrap: wrap;
                  overflow: hidden;
                }
              </style>

              <div style="min-width:250px; font-size: 13.5px; overflow: hidden;">
                <div class="place-row">
                  <div>Place:</div>
                  <semantic-link-container  uri='http://www.researchspace.org/resource/ThinkingFrames'
                                            urlqueryparam-view="resource-editor"
                                            urlqueryparam-resource-iri='{{place.value}}'>
                    <div><mp-label iri='{{place.value}}' style="text-decoration: underline; cursor: pointer; color:#396EFE;"></mp-label></div>
                  </semantic-link-container>
                </div>
              </div>
            </template>
        </semantic-map>
    	</div>
    </template>

    <template id='iiifTemplate'>
      [[> rsp:ThinkingFramesIIIFTemplate]]
    </template>

    <template id='objectImageObservation'>
      [[> rsp:ThinkingFramesObjectThroughImageObservation]]
    </template>

    <template id='featureSimilarityKm'>
      [[> rsp:ThinkingFramesFeatureSimilarityKm]]
    </template>

    <template id='itemBodyTemplate'>
      <ontodia-contents id='{{dashboardId}}-ontodia' template='{{> template}}'>
        <div>
          <button name='submit' className='btn btn-default btn-xs'>
            Create Set
          </button>&nbsp;
          <mp-popover>
            <mp-popover-trigger placement="right" trigger='["click","hover","focus"]' root-close='false'>
              <small><rs-icon icon-type="round" icon-name="help"></rs-icon></small>
            </mp-popover-trigger>
            <mp-popover-content>Only persisted data will be saved to a set</mp-popover-content>
          </mp-popover>
        </div>
        <template id='template'>
          {{#ifCond persisted "==" true}}
            <span class='set-management__set-item' style='padding: 10px'>
              {{#bind iri=iri.value}}
                {{> rsp:ResourceCard  iri=iri
                                      viewId="setItem"
                }}
              {{/bind}}
            </span>
            {{else}}
            <span class='set-management__set-item' style='opacity: 0.4; padding: 10px'>
              {{#bind iri=iri.value}}
                {{> rsp:ResourceCard  iri=iri
                                      viewId="setItem"
                }}
              {{/bind}}          
            </span>
          {{/ifCond}}
        </template>
      </ontodia-contents>
    </template>



 [[!--   <template id='mapResourceSearch'>
      [[> rsp:MapResourceSearch]]
    </template> --]]
    
  </rs-dashboard>
</div>
