<ul>
  <ol><semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
               > 
        TF
    </semantic-link></ol>
  <ol>

  <ol><semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='simple-search'> 
        Search
    </semantic-link>
  </ol>
  <ol>
    <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='authority'> 
              Authorities
          </semantic-link>
    
  </ol>
</ul>
