<semantic-form [[> rsp:FormDefaults]] 
                persistence='{"type": "sparql","targetInsertGraphIri":"{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}"}'
                new-subject-template='{{#if scheme}}{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{else}}/actor/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'
                fields='[[fieldDefinitions
                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                            inScheme="http://www.researchspace.org/pattern/system/entity/is_listed_in"
                            entity_formRecord="http://www.researchspace.org/pattern/system/entity/formRecord"
                            
                            entity_image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                            entity_image="http://www.researchspace.org/pattern/system/entity/images"
                            entity_document="http://www.researchspace.org/pattern/system/entity/documents"
                            entity_video="http://www.researchspace.org/pattern/system/entity/subject_of_video"
                            entity_audio="http://www.researchspace.org/pattern/system/entity/subject_of_audio"
                            entity_3d_model="http://www.researchspace.org/pattern/system/entity/subject_of_3Dmodel"
                            entity_has_representation="http://www.researchspace.org/pattern/system/entity/has_representation"
                            entity_represents_range="http://www.researchspace.org/pattern/system/entity/represents_range"
                            entity_web_URL="http://www.researchspace.org/pattern/system/entity/web_URL_embed"

                            entity_primary_appellation="http://www.researchspace.org/pattern/system/entity/primary_appellation"
                            actor_alsoKnownAs="http://www.researchspace.org/pattern/system/actor/alsoKnownAs"
                            
                            entity_preferred_id="http://www.researchspace.org/pattern/system/entity/preferred_identifier"
                            entity_id="http://www.researchspace.org/pattern/system/entity/identifier"
                            entity_description="http://www.researchspace.org/pattern/system/entity/description"
                            actor_nationality="http://www.researchspace.org/pattern/system/actor/nationality"
                            actor_contact_point="http://www.researchspace.org/pattern/system/actor/contact_point"
                            actor_residence="http://www.researchspace.org/pattern/system/actor/has_current_or_former_residence"

                            actor_is_current_or_former_member_of="http://www.researchspace.org/pattern/system/actor/is_current_or_former_member_of"
                            actor_is_member_range="http://www.researchspace.org/pattern/system/actor/PC107_has_current_or_former_member_range"
                            
                            actor_carried_out_by_range="http://www.researchspace.org/pattern/system/actor/PC14_carried_out_by_range"
                            actor_participated_in_event="http://www.researchspace.org/pattern/system/actor/PC11_participated_in_event"
                            actor_acquired_title_through="http://www.researchspace.org/pattern/system/actor/acquired_title_through"
                            actor_surrendered_title_through="http://www.researchspace.org/pattern/system/actor/surrendered_title_through"
                            actor_received_custody_through="http://www.researchspace.org/pattern/system/actor/received_custody_through"
                            actor_surrendered_custody_through="http://www.researchspace.org/pattern/system/actor/surrendered_custody_through"
                            actor_joined_by="http://www.researchspace.org/pattern/system/actor/joined_by"
                            actor_left_by="http://www.researchspace.org/pattern/system/actor/leaving_group"
                            persistent_item_present_at="http://www.researchspace.org/pattern/system/persistent_item/present_at"
                            persistent_item_brought_into_existence_by="http://www.researchspace.org/pattern/system/persistent_item/brought_into_existence_by"
                            persistent_item_taken_out_of_existence_by="http://www.researchspace.org/pattern/system/persistent_item/taken_out_of_existence_by"
                            entity_influenced_activity="http://www.researchspace.org/pattern/system/entity/influenced_activity"
                            entity_motivated_activity="http://www.researchspace.org/pattern/system/entity/motivated_activity"
                            entity_attributed_by_attribute_assignment="http://www.researchspace.org/pattern/system/entity/attributed_by_attribute_assignment"
                            entity_assigned_by_attribute_assignment="http://www.researchspace.org/pattern/system/entity/assigned_by_attribute_assignment"
                            entity_measurement="http://www.researchspace.org/pattern/system/entity/measurement"

                            actor_former_or_current_owner_of="http://www.researchspace.org/pattern/system/actor/former_or_current_owner_of"
                            actor_current_owner_of="http://www.researchspace.org/pattern/system/actor/current_owner_of"
                            actor_possesses_right="http://www.researchspace.org/pattern/system/actor/possesses_right"
                            actor_has_right_on="http://www.researchspace.org/pattern/system/actor/has_right_on"
                            actor_former_or_current_keeper_of="http://www.researchspace.org/pattern/system/actor/former_or_current_keeper_of"
                            actor_current_keeper_of="http://www.researchspace.org/pattern/system/actor/current_keeper_of"

                            actor_former_or_current_curator_of="http://www.researchspace.org/pattern/system/actor/former_or_current_curator_of"
                            entity_depicts_range="http://www.researchspace.org/pattern/system/entity/depicts_range"
                            entity_subject_of="http://www.researchspace.org/pattern/system/entity/subject_of_propositional_object"
                            entity_refers_to_range="http://www.researchspace.org/pattern/system/entity/refers_to_range"
                        ]]'
>

  <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
    <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E39_Actor'></semantic-form-hidden-input>
    
    {{#if scheme}}
        <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"></semantic-form-hidden-input>  
    {{/if}}

    <mp-splitpane id='{{viewId}}-entity-resource-sidebar' min-size=63 default-size=370 snap-threshold=200 default-open=true always-render=true primary='second' class="entity-resource-sidebar">
      <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs">
        <rs-tab event-key="detail" title="Details">
          <div>
            {{#if apiResourceName}}
              <div class="focused-input-container">
                <semantic-form-text-input for="entity_primary_appellation" label="Full name" placeholder="Enter actor full name / known as" default-value="{{apiResourceName}}" force-defaults=true> </semantic-form-text-input>
              </div>
            {{else}}
                <semantic-form-text-input for="entity_primary_appellation" label="Full name" placeholder="Enter actor full name / known as"> </semantic-form-text-input>
            {{/if}}

            {{#if apiResourceURI}}
              <div style="padding-top: 20px;">
                <span>Imported from: </span>
                <a class="text-link-action" target="_blank" href="{{apiResourceURI}}" title="{{apiResourceURI}}">{{apiResourceURI}}</a>
              </div>
            {{else}}
              {{#if node}}
                <semantic-query query='SELECT ?resource ?sourceURI WHERE {
                                        BIND(<{{node}}> AS ?resource)

                                        ?resource crm:P129i_is_subject_of ?entityFormRecord .
                                        ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                        ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordCreation .
                                        ?entityFormRecordCreation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_creation> .

                                        ?entityFormRecordCreation crm:P134_continued ?importFromExternalSource .
                                        ?importFromExternalSource crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/import_from_external_source> .
                                        ?importFromExternalSource crmdig:L14_transferred ?sourceURI .
                                        ?sourceURI crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/digital_object_type/web_link> .
                                    }'
                            template='{{> template}}'
                >
                    
                    <template id='template'>
                        <div>
                            <div style="padding-top: 20px;">
                                <span>Imported from: </span>
                                <a class="text-link-action" target="_blank" href="{{bindings.0.sourceURI.value}}" title="{{bindings.0.sourceURI.value}}">{{bindings.0.sourceURI.value}}</a>
                            </div>
                        </div>
                    </template>
                </semantic-query>
              {{/if}}
            {{/if}}
            
            <semantic-form-text-input for="actor_alsoKnownAs" label="Also known as" placeholder="Enter actor additional name / also known as"> </semantic-form-text-input>
            
            {{#if apiResourceDescription}}
              <div class="focused-input-container">
                <semantic-form-text-input for="entity_description" label="Description" placeholder="Enter description/comment" multiline='true' default-value="{{apiResourceDescription}}"> </semantic-form-text-input>
              </div>
            {{else}}
                <semantic-form-text-input for="entity_description" label="Description" placeholder="Enter description/comment" multiline='true'> </semantic-form-text-input>
            {{/if}}

            <semantic-form-tree-picker-input    for="actor_nationality" 
                                                label="Nationality"
                                                placeholder="Select nationality"
                                                tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/nationality>", 
                                                                "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/nationality>",
                                                                "relationPattern": "?item crm:P107i_is_current_or_former_member_of ?parent",
                                                                "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                  ?appellation a crm:E41_Appellation . 
                                                                                  ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                                  ?appellation crm:P190_has_symbolic_content ?label ." }'

                                                nested-form-template='{{{{raw}}}}{{> forms:Group nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/nationality"
                                                                                        entityType="nationality" }}{{{{/raw}}}}'
                                                                                        
                                                scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                            "view": "authority-list",
                                                                            "scheme": "http://www.researchspace.org/resource/vocab/nationality",
                                                                            "tooltip": "Open list of nationalities"
                                                                            }'

                                                query-item-label='SELECT ?label WHERE {
                                                                    ?item crm:P1_is_identified_by ?appellation . 
                                                                    ?appellation a crm:E41_Appellation . 
                                                                    ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                    ?appellation crm:P190_has_symbolic_content ?label .
                                                                }'
            ></semantic-form-tree-picker-input> 

            <div class="inline-composite-container">
              <semantic-form-composite-input  for="actor_contact_point" 
                                              label="Contact detail"
                                              new-subject-template="/contact_point/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                              fields='[[fieldDefinitions
                                                          classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                          
                                                          appellation_type="http://www.researchspace.org/pattern/system/appellation/type"
                                                          contact_point_type="http://www.researchspace.org/pattern/system/contact_point/type"
                                                          contact_point_text="http://www.researchspace.org/pattern/system/contact_point/text"
                                                  ]]'>
    
                  <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E41_Appellation'> </semantic-form-hidden-input>
                  <semantic-form-hidden-input for="appellation_type" default-value='http://www.researchspace.org/resource/system/vocab/appellation/contact_point'> </semantic-form-hidden-input>
                  
                  <div class="form-inline-inputs">
                      <div style="flex: 1;">
                        <semantic-form-select-input for='contact_point_type' 
                                                    label="Contact point" 
                                                    render-header="false"
                                                    placeholder="Select contact type" 
                                                    nested-form-templates='[ 
                                                      {
                                                        "label": "Contact type",
                                                        "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Type\" nested=true editable=true mode=\"new\" 
                                                                                        scheme=\"http://www.researchspace.org/resource/vocab/contact_point_type\"
                                                                                        entityType=\"contact type\" }}
                                                                        {{{{/raw}}}}"
                                                      }
                                                    ]'> 
                        </semantic-form-select-input>  
                      </div>
                      <div style="flex: 1;">
                        <semantic-form-text-input for='contact_point_text' render-header=false placeholder="Enter contact detail"></semantic-form-text-input>
                      </div>
                  </div>
                  
              </semantic-form-composite-input>
            </div>

            <semantic-form-autocomplete-input for='actor_residence' 
                                              label="Residence" 
                                              placeholder="Select current or former residence" 
                                              nested-form-templates='[[> Platform:NestedFormTemplates_places]]'>  
            </semantic-form-autocomplete-input> 

            <semantic-form-autocomplete-input   for="entity_preferred_id" 
                                                label="Preferred identifier"
                                                placeholder="Select preferred identifier" 
                                                nested-form-templates='[ 
                                                    {
                                                        "label": "Identifier",
                                                        "nestedForm":   "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Identifier\" nested=true editable=true mode=\"new\" }}
                                                                        {{{{/raw}}}}"
                                                    }
                                                ]'>
            </semantic-form-autocomplete-input>

            <semantic-form-autocomplete-input   for="entity_id" 
                                                label="Other identifier"
                                                placeholder="Select other identifier" 
                                                nested-form-templates='[[> Platform:NestedFormTemplates_appellations]]'>
            </semantic-form-autocomplete-input>

          </div>
        </rs-tab>

        <rs-tab event-key="actor" title="Actors">

          {{#if scheme}}
            <semantic-form-tree-picker-input  for="actor_is_current_or_former_member_of" 
                                              label="Is member of" 
                                              placeholder="Select group of which the actor is current or former member of" 
                                              close-dropdown-on-selection='false'
                                              default-values='[{{#if broader}}"{{broader}}"{{/if}}]' 
                                              tree-patterns='{"scheme": "{{scheme}}",
                                                                          "schemePattern": "?item crm:P71i_is_listed_in <{{scheme}}> .",
                                                                          "relationPattern": "?item crm:P107i_is_current_or_former_member_of ?parent",
                                                                          "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                          ?appellation a crm:E41_Appellation . 
                                                                                          ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                                          ?appellation crm:P190_has_symbolic_content ?label ." }'

                                              query-item-label='SELECT ?label WHERE {
                                                                  ?item crm:P1_is_identified_by ?appellation .
                                                                  ?appellation a crm:E41_Appellation .
                                                                  ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                                                  ?appellation crm:P190_has_symbolic_content ?label .
                                                              }'
            ></semantic-form-tree-picker-input>
          {{else}}
            <div class="inline-composite-container">
              <semantic-form-composite-input for="actor_is_member_range"
                                                label="Is member of" 
                                                new-subject-template="/PC107_has_current_or_former_member/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                                  fields='[[fieldDefinitions
                                                              classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"

                                                              has_member_group_domain="http://www.researchspace.org/pattern/system/has_member/group_domain"
                                                              has_member_kind_of_member="http://www.researchspace.org/pattern/system/has_member/kind_of_member"
                                                          ]]'>

                          <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC107_has_current_or_former_member'> </semantic-form-hidden-input>

                          <div class="form-inline-inputs">
                            <div style="flex: 1;">
                              <semantic-form-autocomplete-input for='has_member_group_domain' 
                                                                render-header="false"
                                                                placeholder="Select group of which the actor is or has been a member of"
                                                                nested-form-templates='[ 
                                                                  {
                                                                    "label": "Group",
                                                                    "nestedForm": "{{{{raw}}}}
                                                                                      {{> \"http://www.researchspace.org/resource/system/forms/Group\" nested=true editable=true mode=\"new\"}}
                                                                                  {{{{/raw}}}}"
                                                                  }
                                                                ]'> 
                              </semantic-form-autocomplete-input>
                            </div>
                            <div style="flex: 1;">
                              <semantic-form-tree-picker-input  for="has_member_kind_of_member" 
                                                                label="kind of member" 
                                                                render-header="false"
                                                                placeholder="Select kind of member"
                                                                close-dropdown-on-selection='true'
                                                                tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                                "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                                "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                                scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                            "view": "authority-list",
                                                                                            "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                                            "tooltip": "Open list of roles"
                                                                                          }'
                                                                
                                                                nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                      scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                                      entityType="role" }}{{{{/raw}}}}'

                                                                query-item-label='SELECT ?label WHERE {
                                                                                    ?item skos:prefLabel ?label .
                                                                                }'>
                              </semantic-form-tree-picker-input>
                            </div>
                          </div>
              </semantic-form-composite-input>
            </div>
          {{/if}}
        </rs-tab>

        <rs-tab event-key="event" title="Events">
      
          <div class="inline-composite-container">
            <semantic-form-composite-input  for="actor_carried_out_by_range" 
                                            label="Carried out / performed"
                                            new-subject-template="/PC14_carried_out_by/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                            fields='[[fieldDefinitions
                                                      classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                                
                                                      carried_out_by_activity_domain="http://www.researchspace.org/pattern/system/carried_out_by/activity_domain"
                                                      role="http://www.researchspace.org/pattern/system/carried_out_by/role"
                                                    ]]'>

            <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC14_carried_out_by'> </semantic-form-hidden-input>

            <div class="form-inline-inputs">
              <div style="flex: 1;">
                <semantic-form-autocomplete-input for='carried_out_by_activity_domain' 
                                                  render-header="false"
                                                  placeholder="Select activity carried out by the actor" 
                                                  nested-form-templates='[[> Platform:NestedFormTemplates_activities]]'>
                </semantic-form-autocomplete-input>
              </div>
              <div style="flex: 1;">
                <semantic-form-tree-picker-input  for="role" 
                                                  render-header="false"
                                                  placeholder="Select role"
                                                  close-dropdown-on-selection='true'
                                                  tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                  "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                  "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                  scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                              "view": "authority-list",
                                                                              "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                              "tooltip": "Open list of roles"
                                                                            }'
                                                  
                                                  nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                        entityType="role" }}{{{{/raw}}}}'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                                  }'>
                  </semantic-form-tree-picker-input>
              </div>
            </div>
            </semantic-form-composite-input>
          </div>

          <div class="inline-composite-container">
            <semantic-form-composite-input  for="actor_participated_in_event" 
                                            label="Participated in"
                                            new-subject-template="/PC11_had_participant/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                            fields='[[fieldDefinitions
                                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                        
                                                        participant_event="http://www.researchspace.org/pattern/system/participant/event"
                                                        participant_role="http://www.researchspace.org/pattern/system/participant/role"
                                                    ]]'>

            <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC11_had_participant'> </semantic-form-hidden-input>

            <div class="form-inline-inputs">
              <div style="flex: 1;">
                <semantic-form-autocomplete-input for='participant_event' 
                                                  render-header="false"
                                                  placeholder="Select event in which the actor participated" 
                                                  nested-form-templates='[[> Platform:NestedFormTemplates_events]]'>
                </semantic-form-autocomplete-input>
              </div>
              <div style="flex: 1;">
                <semantic-form-tree-picker-input  for="participant_role" 
                                                  render-header="false"
                                                  placeholder="Select role"
                                                  close-dropdown-on-selection='true'
                                                  tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                  "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                  "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                  scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                              "view": "authority-list",
                                                                              "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                              "tooltip": "Open list of roles"
                                                                            }'
                                                  
                                                  nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                        entityType="role" }}{{{{/raw}}}}'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                  }'>
                </semantic-form-tree-picker-input>
              </div>
            </div>
            </semantic-form-composite-input>
          </div>

          <semantic-form-autocomplete-input for="actor_acquired_title_through"
                                            label="Acquired title through"
                                            placeholder="Select acquisition that assigned legal ownership of an item/object to the actor" 
                                            nested-form-templates='[ 
                                              {
                                                "label": "Acquisition",
                                                "nestedForm": "{{{{raw}}}}
                                                                  {{> \"http://www.researchspace.org/resource/system/forms/Acquisition\" nested=true editable=true mode=\"new\"}}
                                                              {{{{/raw}}}}"
                                              }
                                            ]'>
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input for="actor_surrendered_title_through"
                                            label="Surrendered title through"
                                            placeholder="Select acquisition that resulted in surrendering legal ownership of an item/object by the actor" 
                                            nested-form-templates='[ 
                                              {
                                                "label": "Acquisition",
                                                "nestedForm": "{{{{raw}}}}
                                                                  {{> \"http://www.researchspace.org/resource/system/forms/Acquisition\" nested=true editable=true mode=\"new\"}}
                                                              {{{{/raw}}}}"
                                              }
                                            ]'>
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input for="actor_received_custody_through"
                                            label="Received custody through"
                                            placeholder="Select transfer that resulted in receiving custody of an item/object by the actor" 
                                            nested-form-templates='[ 
                                              {
                                                "label": "Transfer of custody",
                                                "nestedForm": "{{{{raw}}}}
                                                                  {{> \"http://www.researchspace.org/resource/system/forms/TransferOfCustody\" nested=true editable=true mode=\"new\"}}
                                                              {{{{/raw}}}}"
                                              }
                                            ]'>
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input for="actor_surrendered_custody_through"
                                            label="Surrendered custody through"
                                            placeholder="Select transfer that resulted in surrendering custody of an item/object by the actor" 
                                            nested-form-templates='[ 
                                              {
                                                "label": "Transfer of custody",
                                                "nestedForm": "{{{{raw}}}}
                                                                  {{> \"http://www.researchspace.org/resource/system/forms/TransferOfCustody\" nested=true editable=true mode=\"new\"}}
                                                              {{{{/raw}}}}"
                                              }
                                            ]'>
          </semantic-form-autocomplete-input>
          
          <semantic-form-autocomplete-input for="actor_joined_by"
                                            label="Joining / becoming member of"
                                            placeholder="Select joining event that resulted in the actor to became member of a group" 
                                            nested-form-templates='[ 
                                              {
                                                "label": "Joining",
                                                "nestedForm": "{{{{raw}}}}
                                                                  {{> \"http://www.researchspace.org/resource/system/forms/Joining\" nested=true editable=true mode=\"new\"}}
                                                              {{{{/raw}}}}"
                                              }
                                            ]'>
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input for="actor_left_by"
                                            label="Leaving / left a group"
                                            placeholder="Select leaving event in which the actor left a group" 
                                            nested-form-templates='[ 
                                              {
                                                "label": "Leaving",
                                                "nestedForm": "{{{{raw}}}}
                                                                  {{> \"http://www.researchspace.org/resource/system/forms/Leaving\" nested=true editable=true mode=\"new\"}}
                                                              {{{{/raw}}}}"
                                              }
                                            ]'>
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input   for='persistent_item_present_at' 
                                              label="Present at" 
                                              placeholder="Select event in which the actor had an active or passive presence" 
                                              nested-form-templates='[[> Platform:NestedFormTemplates_events]]'>  
          </semantic-form-autocomplete-input> 

          <semantic-form-autocomplete-input   for='persistent_item_brought_into_existence_by' 
                                              label="Brought into existence by" 
                                              placeholder="Select event that brought the actor into existence" 
                                              nested-form-templates='[[> Platform:NestedFormTemplates_beginningOfExistences]]'>  
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input   for='persistent_item_taken_out_of_existence_by' 
                                              label="Taken out of existence by" 
                                              placeholder="Select event that took the actor out of existence" 
                                              nested-form-templates='[[> Platform:NestedFormTemplates_endOfExistences]]'>  
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input   for='entity_influenced_activity' 
                                              label="Influenced"
                                              placeholder="Select activity influenced by the actor" 
                                              nested-form-templates='[[> Platform:NestedFormTemplates_activities]]'>  
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input   for='entity_motivated_activity' 
                                              label="Motivated"
                                              placeholder="Select activity motivated by the actor" 
                                              nested-form-templates='[[> Platform:NestedFormTemplates_activities]]'>  
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input   for='entity_attributed_by_attribute_assignment' 
                                              label="Attributed by"
                                              placeholder="Select what assigned attribute to the actor" 
                                              nested-form-templates='[ 
                                                  {
                                                      "label": "Attribute assignment",
                                                      "nestedForm": "{{{{raw}}}}
                                                                      {{> \"http://www.researchspace.org/resource/system/forms/AttributeAssignment\" nested=true editable=true mode=\"new\"}}
                                                                  {{{{/raw}}}}"
                                                  }
                                              ]'>  
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input   for='entity_assigned_by_attribute_assignment' 
                                              label="Assigned by"
                                              placeholder="Select what assigned the actor" 
                                              nested-form-templates='[ 
                                                  {
                                                      "label": "Attribute assignment",
                                                      "nestedForm": "{{{{raw}}}}
                                                                      {{> \"http://www.researchspace.org/resource/system/forms/AttributeAssignment\" nested=true editable=true mode=\"new\"}}
                                                                  {{{{/raw}}}}"
                                                  }
                                              ]'>  
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input   for='entity_measurement' 
                                              label="Measured by"
                                              placeholder="Select measurement" 
                                              nested-form-templates='[ 
                                                  {
                                                      "label": "Measurement",
                                                      "nestedForm": "{{{{raw}}}}
                                                                      {{> \"http://www.researchspace.org/resource/system/forms/Measurement\" nested=true editable=true mode=\"new\"}}
                                                                  {{{{/raw}}}}"
                                                  }
                                              ]'>  
          </semantic-form-autocomplete-input>
        </rs-tab>

        <rs-tab event-key="thing" title="Things">

          <semantic-form-autocomplete-input   for="actor_former_or_current_curator_of"
                                              label="Curator of collection" 
                                              placeholder="Select collection of which the actor assumed or have assumed overall curatorial responsibility" 
                                              nested-form-templates='[ 
                                                  {
                                                      "label": "Collection",
                                                      "nestedForm": "{{{{raw}}}}
                                                                      {{> \"http://www.researchspace.org/resource/system/forms/Collection\" nested=true editable=true mode=\"new\"}}
                                                                  {{{{/raw}}}}"
                                                  }
                                              ]'> 
          </semantic-form-autocomplete-input>

          <div class="inline-composite-container">
            <semantic-form-composite-input  for="entity_depicts_range" 
                                            label="Depicted by" 
                                            new-subject-template="/PC62_depicts/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                            fields='[[fieldDefinitions
                                                      classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                                
                                                      depicts_thing_domain="http://www.researchspace.org/pattern/system/depicts/domain"
                                                      mode_of_depiction="http://www.researchspace.org/pattern/system/depicts/mode_of_depiction"
                                                    ]]'>

            <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC62_depicts'> </semantic-form-hidden-input>

            <div class="form-inline-inputs">
              <div style="flex: 1;">
                <semantic-form-autocomplete-input for='depicts_thing_domain' 
                                                  render-header="false"
                                                  placeholder="Select what depicts the actor"
                                                  nested-form-templates='[[> Platform:NestedFormTemplates_physicalManMadeThings]]'>
                </semantic-form-autocomplete-input>
              </div>
              <div style="flex: 1;">
                <semantic-form-tree-picker-input  for="mode_of_depiction" 
                                                  render-header="false"
                                                  placeholder="Select mode of depiction"
                                                  close-dropdown-on-selection='true'
                                                  tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/mode_of_depiction>", 
                                                                  "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/mode_of_depiction>",
                                                                  "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                  scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                              "view": "authority-list",
                                                                              "scheme": "http://www.researchspace.org/resource/vocab/mode_of_depiction",
                                                                              "tooltip": "Open list of mode of depictions"
                                                                            }'
                                                  
                                                  nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/mode_of_depiction"
                                                                                        entityType="mode of depiction" }}{{{{/raw}}}}'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                                  }'>
                  </semantic-form-tree-picker-input>
              </div>
            </div>
            </semantic-form-composite-input>
        </div>

          <semantic-form-autocomplete-input   for='entity_subject_of' 
                                              label="Subject of"
                                              placeholder="Select what is about the actor" 
                                              nested-form-templates='[[> Platform:NestedFormTemplates_propositionalObjects]]'> 
          </semantic-form-autocomplete-input>

          <div class="inline-composite-container">
            <semantic-form-composite-input  for="entity_refers_to_range" 
                                            label="Referred to by"
                                            new-subject-template="/PC67_refers_to/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                            fields='[[fieldDefinitions
                                                      classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                                
                                                      refers_to_propObj_domain="http://www.researchspace.org/pattern/system/refers_to/domain"
                                                      type_of_reference="http://www.researchspace.org/pattern/system/refers_to/type_of_reference"
                                                    ]]'>

            <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC67_refers_to'> </semantic-form-hidden-input>

            <div class="form-inline-inputs">
              <div style="flex: 1;">
                <semantic-form-autocomplete-input for='refers_to_propObj_domain' 
                                                  render-header="false"
                                                  placeholder="Select what refers to the actor" 
                                                  nested-form-templates='[[> Platform:NestedFormTemplates_propositionalObjects]]'>
                </semantic-form-autocomplete-input>
              </div>
              <div style="flex: 1;">
                <semantic-form-tree-picker-input  for="type_of_reference" 
                                                  render-header="false"
                                                  placeholder="Select type of reference"
                                                  close-dropdown-on-selection='true'
                                                  tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/type_of_reference>", 
                                                                  "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/type_of_reference>",
                                                                  "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                  scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                              "view": "authority-list",
                                                                              "scheme": "http://www.researchspace.org/resource/vocab/type_of_reference",
                                                                              "tooltip": "Open list of type of references"
                                                                            }'
                                                  
                                                  nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/type_of_reference"
                                                                                        entityType="type of reference" }}{{{{/raw}}}}'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                                  }'>
                  </semantic-form-tree-picker-input>
              </div>
            </div>
            </semantic-form-composite-input>
        </div>

        </rs-tab>

        <rs-tab event-key="ownership" title="Ownership/Custody/Rights">

          <div class="form-section-flexContainer">
            <div style="flex: 1;">
                <h5 class="customFormHeader" style="margin: 0;">Ownership</h5>
                <div class="form-section">
                    <div class="form-section-first-input">
                      <semantic-form-autocomplete-input   for="actor_current_owner_of"
                                                          label="Current owner of" 
                                                          placeholder="Select thing/object of which the actor is legal owner" 
                                                          nested-form-templates='[[> Platform:NestedFormTemplates_physicalThings]]'> 
                      </semantic-form-autocomplete-input> 
                    </div>
                    <semantic-form-autocomplete-input   for="actor_former_or_current_owner_of"
                                                        label="Former or current owner of" 
                                                        placeholder="Select thing/object of which the actor is or had been the legal owner" 
                                                        nested-form-templates='[[> Platform:NestedFormTemplates_physicalThings]]'> 
                    </semantic-form-autocomplete-input> 
                </div>
            </div>

            <div style="flex: 1;">
                <h5 class="customFormHeader" style="margin: 0;">Custody</h5>
                <div class="form-section">
                    <div class="form-section-first-input">
                      <semantic-form-autocomplete-input   for="actor_current_keeper_of"
                                                          label="Current keeper of" 
                                                          placeholder="Select thing/object of which the actor has custody" 
                                                          nested-form-templates='[[> Platform:NestedFormTemplates_physicalThings]]'> 
                      </semantic-form-autocomplete-input> 
                    </div>    
                    <semantic-form-autocomplete-input   for="actor_former_or_current_keeper_of"
                                                        label="Former or current keeper of" 
                                                        placeholder="Select thing/object of which the actor has or has had custody" 
                                                        nested-form-templates='[[> Platform:NestedFormTemplates_physicalThings]]'> 
                    </semantic-form-autocomplete-input> 
                </div>
            </div>
          </div>

          <semantic-form-autocomplete-input   for="actor_possesses_right"
                                              label="Possesses right" 
                                              placeholder="Select right over which the actor holds or has held a legal claim" 
                                              nested-form-templates='[ 
                                                  {
                                                      "label": "Right",
                                                      "nestedForm": "{{{{raw}}}}
                                                                      {{> \"http://www.researchspace.org/resource/system/forms/Right\" nested=true editable=true mode=\"new\"}}
                                                                  {{{{/raw}}}}"
                                                  }
                                              ]'> 
          </semantic-form-autocomplete-input> 

          <semantic-form-autocomplete-input   for="actor_has_right_on"
                                              label="Has right on" 
                                              placeholder="Select object of which the actor has right on" 
                                              nested-form-templates='[[> Platform:NestedFormTemplates_legalObjects]]'> 
          </semantic-form-autocomplete-input> 

        </rs-tab>

        [[> rsp:FormMetadataTab]]

      </rs-tabs>

      [[> rsp:FormAssetSidebar]]
    </mp-splitpane>
   
  </div>

  <semantic-form-errors></semantic-form-errors>  
  [[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}actor{{/if}}']] 
</semantic-form>
