<mp-splitpane dock=true nav-height=[[#if navHeight]][[navHeight]][[else]]92[[/if]] min-size=42 default-size=360 default-open='false'>
  <div data-flex-layout='column top-stretch' style="background: #e9ecef96;" class="clipboard">
    <mp-splitpane-toggle-on>
      <button style="border: none; outline: none; width: 100%; position:absolute; top:40%; left: -53px; " 
      class="rs-button rs-drawer-transparent rs-h2">Clipboard</button>
    </mp-splitpane-toggle-on>
    <mp-splitpane-toggle-off>
      <div class="split-pane__leftsidebar-header">
        <button data-flex-layout='layout="row center-left' style="border: none; width: 100%; background-color: #E9ECEF; padding: 24px 24px 16px 24px;">
          <div class="split-pane__leftsidebar-title"><h1 style="margin:0px;">Clipboard</h1></div>
          <div class="fa fa-angle-left" style="font-size: 20px; margin-left: auto; color: #1D0A6E;" aria-hidden="true"></div>
        </button>
      </div>
    </mp-splitpane-toggle-off>
    <mp-splitpane-sidebar-open style='display: flex; flex-direction: column; flex: auto;'>
      [[> rsp:Clipboard id="clipboard" defaultViewMode="grid"]]
    </mp-splitpane-sidebar-open>
  </div>

  [[> @partial-block ]]
</mp-splitpane>
