{{#if node}}
  <semantic-query query='SELECT ?resourceConfiguration ?useAsVocabularyType ?displayInFinder ?navigationMenuItem WHERE { 
                          BIND(<{{node}}> as ?resourceConfiguration)
                          OPTIONAL {
                            ?resourceConfiguration <http://www.researchspace.org/pattern/system/resource_configuration/resource_use_as_vocabulary_type> ?useAsVocabularyType .
                          }
                          OPTIONAL {
                            ?resourceConfiguration <http://www.researchspace.org/pattern/system/resource_configuration/resource_in_finder> ?displayInFinder.
                          }
                          OPTIONAL { ?navigationMenuItem crm:P67_refers_to ?resourceConfiguration ;
                                      a <http://www.researchspace.org/resource/system/FinderNavigationItem> 
                                    }
                        }'>
    <template id='template'>
      {{> rsp:ResourceConfigFormPartial use_as_vocabulary_type=bindings.0.useAsVocabularyType.value 
                                        display_in_finder=bindings.0.displayInFinder.value 
                                        navigation_menu_item=bindings.0.navigationMenuItem.value 
      }}
    </template>
  </semantic-query>
{{else}}
  {{> rsp:ResourceConfigFormPartial}}
{{/if}}

