   set-items-query='PREFIX ldp: <http://www.w3.org/ns/ldp#>
      PREFIX prov: <http://www.w3.org/ns/prov#>
      PREFIX platform: <http://www.researchspace.org/resource/system/>
      PREFIX bds: <http://www.bigdata.com/rdf/search#>
      PREFIX ontodia: <http://ontodia.org/schema/v1#>
      SELECT ?item ?itemHolder ?parent ?kind WHERE {
        {
          FILTER(!(?__isSearch__)) .
          {{
            ?__rootSet__ ldp:contains ?itemHolder .
            BIND(?__rootSet__ as ?parent) .
            OPTIONAL { ?itemHolder platform:setItem ?setItem }
            BIND(COALESCE(?setItem, ?itemHolder) AS ?item) .
          } UNION {
            ?uncategorizedSet a platform:Set ;
                              prov:wasAttributedTo ?__useruri__ ;
                              rdfs:label "Uncategorized" .
            ?uncategorizedSet ldp:contains ?itemHolder .
            ?itemHolder platform:setItem ?item .
            platform:ontodiaDiagramContainer ldp:contains ?item .
            BIND(platform:ontodiaDiagramContainer as ?parent) .
          } UNION {
            ?__rootSet__ ontodia:layoutData/ontodia:hasElement ?itemHolder .
            ?itemHolder ontodia:resource ?item .
            BIND(?__rootSet__ as ?parent) .
          }}
        } UNION {
          FILTER(?__isSearch__) .
          {{
              ?__rootSet__ ldp:contains ?__setToSearch__ .
              ?__setToSearch__ ldp:contains ?itemHolder.
              BIND(?__setToSearch__ as ?parent) .
              ?itemHolder platform:setItem ?item .
              FILTER(?__filterPatterns__)
           } UNION {
              ?uncategorizedSet a platform:Set ;
                              prov:wasAttributedTo ?__useruri__ ;
                              rdfs:label "Uncategorized" .
              ?uncategorizedSet ldp:contains/platform:setItem ?__setToSearch__ .
              ?__setToSearch__ ontodia:layoutData/ontodia:hasElement ?itemHolder .
              ?itemHolder ontodia:resource ?item .
              BIND(?__setToSearch__ as ?parent) .
              FILTER(?__filterPatterns__)
          }}
        }

        OPTIONAL {
          ?itemHolder platform:setItemIndex ?i .
        }
        OPTIONAL {
          ?itemHolder prov:generatedAtTime ?modificationDate .
        }
        BIND(COALESCE(?i, 0) AS ?index) .
        OPTIONAL {
          ?item a ?type .
          FILTER(?type IN (platform:Set, ontodia:Diagram))
        }
        OPTIONAL {
          ?itemHolder a ?itemHolderType .
          FILTER(?itemHolderType IN (ontodia:Element))
        }
        BIND(COALESCE(?type, ?itemHolderType, platform:SetItem) AS ?kind) .
      } ORDER BY ?index DESC(?modificationDate)'
    set-count-query='PREFIX ldp: <http://www.w3.org/ns/ldp#>
      PREFIX platform: <http://www.researchspace.org/resource/system/>
      PREFIX ontodia: <http://ontodia.org/schema/v1#>
      SELECT ?set (COUNT(?item) as ?count) WHERE {
          {
            ?__rootSet__ ldp:contains ?set .
            OPTIONAL { ?set ldp:contains ?item }
          } UNION {
            platform:ontodiaDiagramContainer ldp:contains ?set .
            OPTIONAL { ?set ontodia:layoutData/ontodia:hasElement ?item }
          }
      } GROUP BY ?set'
		item-config='{
      "<http://www.researchspace.org/resource/system/Set>": {
        "isSet": true,
        "listTemplate": "{{> rsp:SetView}}",
        "gridTemplate": "{{> rsp:SetView}}"
      },
      "<http://ontodia.org/schema/v1#Diagram>": {
        "isSet": true,
        "listTemplate": "{{> rsp:ClipboardKnowledgeMapView}}",
        "gridTemplate": "{{> rsp:ClipboardKnowledgeMapView}}"
      },
      "<http://ontodia.org/schema/v1#Element>": {
        "isSet": false,
        "listTemplate": "{{> rsp:SetListView}}",
        "gridTemplate": "{{> rsp:SetGridView}}"
      },
      "<http://www.researchspace.org/resource/system/SetItem>": {
        "isSet": false,
        "listTemplate": "{{> rsp:SetListView isSetItem=true}}",
        "gridTemplate": "{{> rsp:SetGridView isSetItem=true [[#if check]]check=[[check]][[/if]]}}"
      }
    }'
  filters='[{
              "placeholder": "Filter by type...",
              "queryPattern": "{?item rdf:type/rdfs:subClassOf* ?__value__}",
              "suggestionsQuery": "
                PREFIX Platform: <http://www.researchspace.org/resource/system/>
                PREFIX ldp: <http://www.w3.org/ns/ldp#>
                PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
                PREFIX ontodia: <http://ontodia.org/schema/v1#>
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX prov: <http://www.w3.org/ns/prov#>

                SELECT DISTINCT ?value ?label WHERE {
                  {
                    ?set a Platform:Set ;
                       prov:wasAttributedTo ?__useruri__ ;
                       ldp:contains/Platform:setItem/rdf:type ?class .
                  } UNION {
                    ?km a ontodia:Diagram ;
                      prov:wasAttributedTo ?__useruri__ ;
                      ontodia:layoutData/ontodia:hasElement/ontodia:resource/rdf:type ?class .
                  }
                  
                  ?class rdfs:subClassOf* ?value .

                  OPTIONAL {
                    ?value rdfs:label ?engLabel .
                    FILTER(LANG(?engLabel) = \"en\")
                  }
                  OPTIONAL {
                    ?value rdfs:label ?noLangLabel .
                    FILTER(LANG(?noLangLabel) = \"\")
                  }
                  BIND(COALESCE(?engLabel, ?noLangLabel, REPLACE(STR(?value), \"^.*/(.*)$\", \"$1\")) AS ?label) .
                  FILTER REGEX(STR(?label), COALESCE(?__token__, \".*\"), \"i\")
                } ORDER BY ?label
              "
  }]'