<div style='height: 100%; width: 100%;'>
    <semantic-map   query='SELECT DISTINCT ?wkt WHERE { 
                            <{{resource}}> crm:P168_place_is_defined_by ?osm_geoCoordinates .
                            ?osm_geoCoordinates a crm:E94_Space_Primitive .
                            ?osm_geoCoordinates crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/osm_geographic_coordinates> .
                            ?osm_geoCoordinates crm:P190_has_symbolic_content ?wkt .
                          } LIMIT 1'
                            
                    tuple-template='<b style="color:#525156; padding-bottom:5px;">{{placeName}}</b>
                                    <div>
                                        <a style="color:#396EFE;"
                                            target="_blank" 
                                            href="{{osmURI}}"
                                            title="{{osmURI}}">
                                            Open in wikidata
                                        </a>
                                    </div>'
                    >
    </semantic-map>
  </div>