<div class="modal-documentation-container">
  <h1>Help for observations</h1> 

  <a href="https://www.researchspace.org/docs/Late%20Hokusai%20Video%20Tutorials%20Documentation%20.pdf" target="_blank" class="modal-documentation-pdf">
    <div class="iconmoon iconmoon-file-pdf"></div>
    <span>Documentation for Video Tutorials</span>
  </a>
  
  <h2>Video tutorials</h2>
    
  <h3>1. Create set demo</h3>
  <iframe src="https://www.youtube.com/embed/l-GEP-s7d38" 
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  
  <h3>2. Create image regions, annotations, and features</h3> 
  <iframe src="https://www.youtube.com/embed/HniMfy4zrfg" 
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  
  <h3>3. Create a new authority term in the vocabulary manager</h3>
  <iframe src="https://www.youtube.com/embed/iMT0VlVmisc" 
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  
  <h3>4. Relate and compare two objects by common features</h3>
  <iframe src="https://www.youtube.com/embed/85Ft2TtGRfU" 
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <hr>

  <h2>Example: how to make an object observation</h2>
  <div style="padding-bottom: 10px;">Video session with Tim Clark for the Late Hokusai ResearchSpace Project</div>
  <iframe src="https://www.youtube.com/embed/1lt4Be-j53s" 
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div> 