<semantic-table query='SELECT * WHERE { <http://example.org/bob#me> ?predicate ?object }'></semantic-table>


<semantic-table 
      query='SELECT ?uri ?label ?thumbnail WHERE { ?uri rdfs:label ?label; <http://schema.org/thumbnail> ?thumbnail }' 
      tuple-template='{{> tupleTemplate}}'
>
  <template id='tupleTemplate'>
    <div style="height: 250px; width: 250px; margin: 10px;" class="panel panel-default">         
      <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis;">
        <a title="{{label.value}}" href="/resource/?uri={{uri.value}}">{{label.value}}</a>
      </div>
      <div class="panel-body">
        <img 
           class="img-responsive img-thumbnail"
           style="max-height:130px;display:block;margin-left:auto;margin-right:auto;"
           src="{{thumbnail.value}}"
          />
      </div>
    </div>      
  </template>
</semantic-table>