{{#bind viewId=narrativeVariable}}

  [[!-- Update narrative on narrative saved/updated --]]
  <mp-event-proxy id='{{viewId}}-refresh-narrative-on-narrative-created-or-updated'
                  on-event-types='["Narrative.Created", "Narrative.Updated", "Narrative.Refreshed"]'
                  on-event-source='{{viewId}}-semantic-narrative'     
                  proxy-event-type='Component.TemplateUpdate' 
                  proxy-targets='["{{viewId}}-semantic-narrative-render-area"]'
  ></mp-event-proxy>

  <mp-event-target-template-render id='{{viewId}}-semantic-narrative-render-area' template='{{> template}}'>
    <template id='template'>
      {{#if iri}}  
        <semantic-query query='SELECT * WHERE {
                                BIND("{{viewId}}" as ?viewId) . 
                                BIND(<{{iri}}> as ?iri) .
                                ?iri crm:P190_has_symbolic_content ?label
                              }'
                        template='{{> template}}'>
                        
          <template id="template">
            <mp-event-proxy id='{{bindings.0.viewId.value}}-refresh-narrative-on-resourceForm-deleted'
                            on-event-source='{{bindings.0.iri.value}}-resource-form' 
                            on-event-types='["Form.ResourceRemoved"]'      
                            proxy-event-type='Component.TemplateUpdate' 
                            additional-data='{"resourceDeleted": true, 
                                              "iri": "{{bindings.0.iri.value}}",
                                              "label": "{{bindings.0.label.value}}"
                                            }'
                            proxy-targets='["{{bindings.0.viewId.value}}-semantic-narrative-render-area"]'
            ></mp-event-proxy> 

            <mp-event-proxy id='{{bindings.0.viewId.value}}-refresh-resources-in-narrative-on-narrative-updated'
                            on-event-type='Narrative.Updated'
                            on-event-source='{{bindings.0.viewId.value}}-semantic-narrative'     
                            proxy-event-type='Component.TemplateUpdate' 
                            proxy-targets='["{{bindings.0.iri.value}}-resources-in-narrative-frame"]'
            ></mp-event-proxy>
          </template>
        </semantic-query>
      {{/if}}

      {{#if resourceDeleted}}
        <div class='success-documentation-section success-documentation-section-withIcon' style="margin: 25px 30px;">
          <div class="success-documentation-section-icon-container">
            <rs-icon icon-type="rounded" icon-name="done" symbol="true"></rs-icon>
          </div>

          <div style="flex: 1;"> 
            <div class="success-documentation-section-title">Success!</div>
            <div class="success-documentation-section-content">
              <span>
                {{#if label}}{{label}}{{else}}<mp-label iri='{{iri}}'></mp-label>{{/if}} has been deleted.
              </span>
            </div>
          </div>
        </div>
      {{else}}
        <rs-text-editor [[#if (hasPermission "forms:ldp:*")]]
                          readonly='false'
                        [[else]]
                          readonly='true'
                        [[/if]]
                        id="{{viewId}}-semantic-narrative"
                        document-iri='{{iri}}'
                        resource-templates='[
                                              {
                                                "id": "image",
                                                "type": "http://www.researchspace.org/ontology/EX_Digital_Image",
                                                "label": "Annotated image",
                                                "template": "{{> image}}",
                                                "resizable": true,
                                                "defaults": {
                                                  "height": "600px",
                                                  "width": "100%"
                                                }
                                              },
                                              {
                                                "id": "full-size-image",
                                                "type": "http://www.researchspace.org/ontology/EX_Digital_Image",
                                                "label": "Full image",
                                                "template": "{{> fullImage}}",
                                                "resizable": true,
                                                "defaults": {
                                                  "height": "300px",
                                                  "width": "100%"
                                                }
                                              },
                                              {
                                                "id": "knowledge-map",
                                                "type": "http://ontodia.org/schema/v1#Diagram",
                                                "label": "Knowledge map",
                                                "template": "{{> knowledgeMap diagram=iri.value}}",
                                                "resizable": true,
                                                "defaults": {
                                                  "height": "600px",
                                                  "width": "100%"
                                                }
                                              },
                                              {
                                                "id": "set-grid",
                                                "type": "http://www.researchspace.org/resource/system/Set",
                                                "label": "Set grid",
                                                "template": "{{> setGrid}}",
                                                "resizable": true,
                                                "defaults": {
                                                  "height": "300px",
                                                  "width": "100%"
                                                }
                                              },
                                              {
                                                "id": "set-list",
                                                "type": "http://www.researchspace.org/resource/system/Set",
                                                "label": "Set list",
                                                "template": "{{> setList}}",
                                                "resizable": true,
                                                "defaults": {
                                                  "height": "300px",
                                                  "width": "100%"
                                                }
                                              },
                                              {
                                                "id": "persisted-component",
                                                "type": "http://www.researchspace.org/ontologies/persist/PersistedComponent",
                                                "label": "View",
                                                "template": "{{> PersistedComponentView}}",
                                                "resizable": false
                                              },
                                              {
                                                "id": "card",
                                                "type": "any",
                                                "label": "Card",
                                                "template": "{{> itemCard}}",
                                                "resizable": true,
                                                "defaults": {
                                                  "height": "190px",
                                                  "width": "155px"
                                                }
                                              },
                                              {
                                                "id": "map",
                                                "type": "http://www.cidoc-crm.org/cidoc-crm/E53_Place",
                                                "label": "Map",
                                                "template": "{{> map}}",
                                                "resizable": true,
                                                "defaults": {
                                                  "height": "500px",
                                                  "width": "100%"
                                                }
                                              }
                                                                  
                        ]'
        >
          <template id='PersistedComponentView'>
            <div>
              <mp-persisted-component iri='{{iri.value}}'></mp-persisted-component>
            </div>
          </template>

          <template id='itemCard'>
            {{> rsp:ResourceCard  iri=iri.value
                                  viewId="narrative"
                                  autosize=true
                                  narrativeCard=true
            }}
          </template>

          <template id='image'>
            [[!-- We generating random id for all mirador instances, because otherwise openseadragon can't be initialized --]]
            <rs-iiif-mirador id='mirador-{{uuid}}'
                              [[> rsp:IIIFConfig]]
                              image-or-region='{{iri.value}}'
                              annotation-view-tooltip-template='
                                {{{{raw}}}}                                
                                  <div class="all-annotations" id="annotation-viewer-{{windowId}}">{{#each annotations}}<div class="annotation-display annotation-tooltip" data-anno-id="{{id}}"><div class="button-container">
                                    {{#if id}}
                                      <mp-template-item>
                                        <mp-draggable iri="{{id}}">
                                          <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                                                    urlqueryparam-view="resource-editor"
                                                                    urlqueryparam-resource-iri="{{id}}">
                                            <div style="width: 100%;text-decoration: underline;font-weight: 600;cursor: pointer;color: #525156;">{{{annoText}}}</div>
                                          </semantic-link-container>
                                        </mp-draggable>
                                      </mp-template-item>
                                    {{/if}}</div></div>{{/each}}</div>
                                {{{{/raw}}}}
                              '>
            </rs-iiif-mirador>
          </template>

          <template id='fullImage'>
            <rs-iiif-image-thumbnail
              [[> rsp:IIIFConfig]]
                image-or-region='{{iri.value}}'
                format='auto'
            >
            </rs-iiif-image-thumbnail>
          </template>

          <template id='knowledgeMap'>
            <div>
              <style>
                .Toolbar--buttonsContainer .dropdown.btn-group button.btn-action,
                .Toolbar--buttonsContainer .dropdown.btn-group button#save-diagram-button-split {
                  display: none;
                }

                .ontodia {
                  border: 1px solid #E0E0E4;
                }
              </style>
              {{> rsp:KnowledgeMapOntodiaConfig standalone=true readonly=true iri=iri.value }}
            </div>
          </template>

          <template id='setGrid'>
            <div>
              <mp-draggable iri='{{iri.value}}'>
                <semantic-link-container  uri='http://www.researchspace.org/resource/ThinkingFrames'
                                          urlqueryparam-view="resource-editor"
                                          urlqueryparam-resource-iri='{{iri.value}}'>
                  <div style="margin-bottom: 10px;">Set: <mp-label iri='{{iri.value}}' class="text-link-action"></mp-label></div>
                </semantic-link-container>
              </mp-draggable>

              <semantic-table number-of-displayed-rows=1000
                              query='SELECT ?iri WHERE {
                                      <{{iri.value}}> a <http://www.researchspace.org/resource/system/Set> ;
                                      <http://www.w3.org/ns/ldp#contains> ?item .
                                      ?item <http://www.researchspace.org/resource/system/setItem> ?iri .
                                      OPTIONAL {
                                        ?item <http://www.researchspace.org/resource/system/setItemIndex> ?index .
                                        ?item prov:generatedAtTime ?modificationDate .
                                      }
                                    } ORDER BY ?index DESC(?modificationDate)'
                              tuple-template='{{> item}}'
                              options='{"showFilter":false}'
              >
                  <template id="item">
                    {{> rsp:ResourceCard  iri=iri.value
                                          viewId="narrative"
                                          narrativeCard=true
                    }}
                  </template>
              </semantic-table>
            </div>
          </template>

          <template id='setList'>
            <div>
              <mp-draggable iri='{{iri.value}}'>
                <semantic-link-container  uri='http://www.researchspace.org/resource/ThinkingFrames'
                                          urlqueryparam-view="resource-editor"
                                          urlqueryparam-resource-iri='{{iri.value}}'>
                  <div style="margin-bottom: 10px;">Set: <mp-label iri='{{iri.value}}' class="text-link-action"></mp-label></div>
                </semantic-link-container>
              </mp-draggable>

              <semantic-table class-name="narrative-set-list-table"
                              number-of-displayed-rows=1000
                              query='SELECT ?iri WHERE {
                                      <{{iri.value}}> a <http://www.researchspace.org/resource/system/Set> ;
                                      <http://www.w3.org/ns/ldp#contains> ?item .
                                      ?item <http://www.researchspace.org/resource/system/setItem> ?iri .
                                      OPTIONAL {
                                        ?item <http://www.researchspace.org/resource/system/setItemIndex> ?index .
                                        ?item prov:generatedAtTime ?modificationDate .
                                      }
                                    } ORDER BY ?index DESC(?modificationDate)'
                              tuple-template='{{> item}}'
                              options='{"showFilter":false}'
              >
                  <template id="item">
                    {{> rsp:ResourceCard  iri=iri.value
                                          viewId="narrative-list-view"
                                          clipboardList=true
                                          hideMediaSection=true
                                          height=42
                    }}
                  </template>
              </semantic-table>
            </div>
          </template>

          <template id='map'>
            <semantic-map tuple-template='{{> popover}}'
                          query='SELECT DISTINCT ?wkt ?place ?color WHERE {
                                  {
                                  <{{iri.value}}> crm:P168_place_is_defined_by ?wkt .
                                    BIND(<{{iri.value}}> AS ?place) .
                                    BIND(0 as ?order)
                                  } UNION {
                                    ?place crm:P89_falls_within* <{{iri.value}}> .
                                    ?place crm:P168_place_is_defined_by ?wkt .
                                    BIND(1 as ?order)
                                  } UNION {
                                    <{{iri.value}}> crm:P161i_is_spatial_projection_of/crm:P10i_contains/crm:P53i_is_former_or_current_location_of ?place .
                                    ?place crm:P168_place_is_defined_by ?wkt .
                                    BIND(true AS ?isBuilding)
                                    BIND(2 as ?order)
                                  }
                                  BIND(IF(?isBuilding, "rgba(244, 224, 77, 0.7)", "rgba(56, 178, 194, 0.44)") AS ?color)
                                } ORDER BY ASC(?order)'
                          no-result-template='{{> noResults}}'>

                <template id='popover'>
                  <style>
                    .place-row {
                      display: flex; 
                      align-items: center;
                      gap: 5px;
                      flex-wrap: wrap;
                      overflow: hidden;
                    }
                  </style>

                  <div style="min-width:250px; font-size: 13.5px; overflow: hidden;">
                    <div class="place-row">
                      <div>Place:</div>
                      <mp-draggable iri='{{place.value}}'>
                        <semantic-link-container  uri='http://www.researchspace.org/resource/ThinkingFrames'
                                                  urlqueryparam-view="resource-editor"
                                                  urlqueryparam-resource-iri='{{place.value}}'>
                          <div><mp-label iri='{{place.value}}' style="text-decoration: underline; cursor: pointer; color:#396EFE; font-weight: 600;"></mp-label></div>
                        </semantic-link-container>
                      </mp-draggable>
                    </div>
                  </div>
                </template>

                <template id='noResults'>
                  <div>No geographic coordinates available for the resource</div>
                </template>
            </semantic-map>
          </template>

          <template id="semantic-narrative-dropdown">
              {{> rsp:ResourceDropdownActions iri=iri
                                              viewId=viewId
                                              resourceLabel="Semantic narrative"
                                              resourceFormIRI="http://www.researchspace.org/resource/system/forms/SemanticNarrative"
                                              hidePreview=true
              }}
          </template>
          
        </rs-text-editor>
      {{/if}}
    </template>
  </mp-event-target-template-render>

{{/bind}}