<rs-tab event-key="asset" title="Resources" tab-class-name="tab-right">
    <bs-tab-container   id="{{viewId}}-formResourceAsset-tabs" 
                        class="bs-left-vertical-tabs form-tabs-subtabs form-asset-tabs" 
                        default-active-key="{{viewId}}-resourceForm-images">
        <div>
            <bs-nav bs-style="tabs" stacked="true" class="form-tabs-subtabs-triggers-container" 
                    style="min-width: 170px; margin: 0;padding: 0 15px;">
                <bs-nav-item event-key="{{viewId}}-resourceForm-images" class='form-tabs-subtabs-trigger'>
                    Images
                </bs-nav-item>
                <bs-nav-item event-key="{{viewId}}-resourceForm-docs" class='form-tabs-subtabs-trigger'>
                    Documents
                </bs-nav-item>
                <bs-nav-item event-key="{{viewId}}-resourceForm-representations" class='form-tabs-subtabs-trigger'>
                    Representations
                </bs-nav-item>
            </bs-nav>
                
            <bs-tab-content animation="true">

                <bs-tab-pane event-key="{{viewId}}-resourceForm-images" class="form-tabs-subtabs-content">
                    <bs-tab-container id="{{viewId}}-form-image-tabs" default-active-key="thumbnailView" class="form-assetView-tabs">
                        <div>
                            <div class="form-tabs-subtabs-content--title">
                                <h4 style="padding-bottom: 2px;">Images</h4>

                                <div>
                                    {{#if node}}
                                        <div class="form-tabs-subtabs-content--title-actions">
                                            <button class="btn btn-icon" title="preview">
                                                <rs-icon icon-type="round" icon-name="fullscreen"></rs-icon>
                                            </button>
                                            <button class="btn btn-icon" title="download">
                                                <rs-icon icon-type="round" icon-name="download"></rs-icon>
                                            </button>
            
                                            <mp-event-trigger id='{{viewId}}-image-annotation-add-frame-trigger' 
                                                                type='Dashboard.AddFrame' 
                                                                data='{"resourceIri": "{{node}}", 
                                                                        "viewId": "objectImageObservation", 
                                                                        "objectIri": "{{node}}",
                                                                        "frameId": "{{viewId}}"}' 
                                                                targets='["thinking-frames"]'>
                                                <button class="btn btn-icon" title="View/Annotations">
                                                    <rs-icon icon-type="round" icon-name="photo_size_select_large"></rs-icon>
                                                </button>
                                            </mp-event-trigger>
                                        </div>
                                    {{/if}}
                                
                                    <bs-nav bs-style="icon-tabs">
                                        <bs-nav-item event-key="thumbnailView" title="thumbnail view">
                                            <rs-icon icon-type="round" icon-name="view_module"></rs-icon>
                                        </bs-nav-item>
                                        <bs-nav-item event-key="listView" title="list view">
                                            <rs-icon icon-type="round" icon-name="view_list"></rs-icon>
                                        </bs-nav-item>
                                    </bs-nav>
                                </div>
                            </div>
                            <bs-tab-content>
                                <bs-tab-pane event-key="thumbnailView">
                                    <div style="padding: 0 20px 20px;">
                                        <div class="dragAndDrop-input-container">
                                            <semantic-form-drag-and-drop-input for='entity_image_main_representation' label="Main image" 
                                                                                placeholder-item-template="<div class='placeholder-item'>
                                                                                                                <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                                                <div>Drag main image from 
                                                                                                                    <semantic-link iri='http://www.researchspace.org/resource/ThinkingFrames' 
                                                                                                                    class='text-link-action' urlqueryparam-view='system-assets'>Image Library</semantic-link>
                                                                                                                    or click to upload</div>
                                                                                                            </div>"
                                                                                nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
                                            </semantic-form-drag-and-drop-input>
                                        </div>
                                        <div class="dragAndDrop-input-container">
                                            <semantic-form-drag-and-drop-input  for='entity_image' label="More images"
                                                                                placeholder-item-template="<div class='placeholder-item'>
                                                                                                                <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                                                <div>Drag images from 
                                                                                                                    <semantic-link iri='http://www.researchspace.org/resource/ThinkingFrames' 
                                                                                                                    class='text-link-action' urlqueryparam-view='system-assets'>Image Library</semantic-link>
                                                                                                                    or click to upload</div>
                                                                                                            </div>"
                                                                                nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
                                            </semantic-form-drag-and-drop-input>
                                        </div>
                                    </div>
                                </bs-tab-pane>
    
                                <bs-tab-pane event-key="listView">
                                    <div style="padding: 0 20px 20px;">
                                    
                                        <semantic-form-select-input for='entity_image_main_representation' 
                                                                    label="Main image"
                                                                    placeholder="Select image" 
                                                                    nested-form-templates='[ 
                                                                        {
                                                                            "label": "Image",
                                                                            "nestedForm": "{{{{raw}}}}
                                                                                            {{> \"http://www.researchspace.org/resource/system/forms/Image\" nested=true editable=true mode=\"new\"}}
                                                                                        {{{{/raw}}}}"
                                                                        }
                                                                    ]'> 
                                        </semantic-form-select-input>
                                  
                                        <semantic-form-select-input for='entity_image' 
                                                                    label="More images"
                                                                    placeholder="Select image" 
                                                                    nested-form-templates='[ 
                                                                        {
                                                                            "label": "Image",
                                                                            "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Image\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
                                                                        }
                                                                    
                                                                    ]'> 
                                        </semantic-form-select-input>
                                    </div>
                                </bs-tab-pane>
                            </bs-tab-content>
                            
                        </div>
                    </bs-tab-container>
                </bs-tab-pane>

                <bs-tab-pane event-key="{{viewId}}-resourceForm-docs" class="form-tabs-subtabs-content">
                    <bs-tab-container id="{{viewId}}-form-document-tabs" default-active-key="thumbnailView" class="form-assetView-tabs">
                        <div>
                            <div class="form-tabs-subtabs-content--title">
                                <h4 style="padding-bottom: 2px;">Documents</h4>
                                <div>
                                    {{#if node}}
                                        <div class="form-tabs-subtabs-content--title-actions">
                                            <button class="btn btn-icon" title="preview">
                                                <rs-icon icon-type="round" icon-name="fullscreen"></rs-icon>
                                            </button>
                                            <button class="btn btn-icon" title="download">
                                                <rs-icon icon-type="round" icon-name="download"></rs-icon>
                                            </button>
                
                                            <mp-event-trigger id='{{viewId}}-document-annotation-add-frame-trigger' 
                                                                    type='Dashboard.AddFrame' 
                                                                    data='{"resourceIri": "{{node}}", 
                                                                            "viewId": "objectImageObservation", 
                                                                            "objectIri": "{{node}}",
                                                                            "frameId": "{{viewId}}"}' 
                                                                    targets='["thinking-frames"]'>
                                                <button class="btn btn-icon" title="View/Annotations">
                                                    <rs-icon icon-type="round" icon-name="photo_size_select_large"></rs-icon>
                                                </button>
                                            </mp-event-trigger>
                                        </div>
                                    {{/if}}
                            
                                    <bs-nav bs-style="icon-tabs">
                                        <bs-nav-item event-key="thumbnailView" title="thumbnail view">
                                            <rs-icon icon-type="round" icon-name="view_module"></rs-icon>
                                        </bs-nav-item>
                                        <bs-nav-item event-key="listView" title="list view">
                                            <rs-icon icon-type="round" icon-name="view_list"></rs-icon>
                                        </bs-nav-item>
                                    </bs-nav>
                                </div>
                            </div>
                
                            <bs-tab-content>
                                <bs-tab-pane event-key="thumbnailView">
                                    <div style="padding:20px;">
                                        <div class="dragAndDrop-input-container">
                                            <semantic-form-drag-and-drop-input  for='entity_document' label="Documents" render-header=false
                                                                                placeholder-item-template="<div class='placeholder-item'>
                                                                                                                <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                                                <div>Drag document from 
                                                                                                                    <semantic-link iri='http://www.researchspace.org/resource/ThinkingFrames' 
                                                                                                                    class='text-link-action' urlqueryparam-view='system-assets'>Document Library</semantic-link>
                                                                                                                    or click to upload</div>
                                                                                                            </div>"
                                                                                nested-form-template='{{{{raw}}}}{{> forms:Document nested=true editable=true mode="new"}}{{{{/raw}}}}'
                                                                                                            >
                                            </semantic-form-drag-and-drop-input>
                                        </div>
                                    </div>
                                </bs-tab-pane>
    
                                <bs-tab-pane event-key="listView">
                                    <div style="padding:20px;">
                                        <semantic-form-select-input for='entity_document' 
                                                                    label="Documents"
                                                                    render-header="false"
                                                                    placeholder="Select document" 
                                                                    nested-form-templates='[ 
                                                                        {
                                                                            "label": "Document",
                                                                            "nestedForm": "{{{{raw}}}}
                                                                                            {{> \"http://www.researchspace.org/resource/system/forms/Document\" nested=true editable=true mode=\"new\"}}
                                                                                        {{{{/raw}}}}"
                                                                        }
                                                                    ]'> 
                                        </semantic-form-select-input>
                                    </div>
                                </bs-tab-pane>
                            </bs-tab-content>
                            
                        </div>
                    </bs-tab-container>
                </bs-tab-pane>

                <bs-tab-pane event-key="{{viewId}}-resourceForm-representations" class="form-tabs-subtabs-content">
                    <bs-tab-container id="{{viewId}}-form-document-tabs" default-active-key="thumbnailView" class="form-assetView-tabs">
                        <div>
                            <div class="form-tabs-subtabs-content--title">
                                <h4 style="padding-bottom: 2px;">Representations</h4>
                                <div>
                                    {{#if node}}
                                        <div class="form-tabs-subtabs-content--title-actions">
                                            <button class="btn btn-icon" title="preview">
                                                <rs-icon icon-type="round" icon-name="fullscreen"></rs-icon>
                                            </button>
                                            <button class="btn btn-icon" title="download">
                                                <rs-icon icon-type="round" icon-name="download"></rs-icon>
                                            </button>
                
                                            <mp-event-trigger id='{{viewId}}-representation-annotation-add-frame-trigger' 
                                                                    type='Dashboard.AddFrame' 
                                                                    data='{"resourceIri": "{{node}}", 
                                                                            "viewId": "objectImageObservation", 
                                                                            "objectIri": "{{node}}",
                                                                            "frameId": "{{viewId}}"}' 
                                                                    targets='["thinking-frames"]'>
                                                <button class="btn btn-icon" title="View/Annotations">
                                                    <rs-icon icon-type="round" icon-name="photo_size_select_large"></rs-icon>
                                                </button>
                                            </mp-event-trigger>
                                        </div>
                                    {{/if}}
                            
                                    <bs-nav bs-style="icon-tabs">
                                        <bs-nav-item event-key="thumbnailView" title="thumbnail view">
                                            <rs-icon icon-type="round" icon-name="view_module"></rs-icon>
                                        </bs-nav-item>
                                        <bs-nav-item event-key="listView" title="list view">
                                            <rs-icon icon-type="round" icon-name="view_list"></rs-icon>
                                        </bs-nav-item>
                                    </bs-nav>
                                </div>
                            </div>
                
                            <bs-tab-content>
                                <bs-tab-pane event-key="thumbnailView">
                                    <div style="padding:20px;">
                                        <div class="dragAndDrop-input-container">
                                            <semantic-form-drag-and-drop-input  for='entity_has_representation' label="Representations" render-header=false
                                                                                placeholder-item-template="<div class='placeholder-item'>
                                                                                                                <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                                                <div>Drag representation</div>
                                                                                                            </div>"
                                                                                                            >
                                            </semantic-form-drag-and-drop-input>
                                        </div>
                                    </div>
                                </bs-tab-pane>
    
                                <bs-tab-pane event-key="listView">
                                    <div style="padding:20px;">
                                        <semantic-form-select-input for='entity_has_representation' 
                                                                    label="Representation"
                                                                    render-header=false
                                                                    placeholder="Select representation" 
                                                                    nested-form-templates='[[> Platform:NestedFormTemplates_visualItems]]'>  
                                        </semantic-form-select-input>
                                    </div>
                                </bs-tab-pane>
                            </bs-tab-content>
                            
                        </div>
                    </bs-tab-container>

                </bs-tab-pane>

            </bs-tab-content>
        </div>
    </bs-tab-container>
</rs-tab>