[[> rsp:FormEntityRecord]]

{{#ifCond mode "!==" "new"}}
    {{#if node}}
        <bs-tab event-key="metadata" title="Metadata" tab-class-name="tab-right">
            <semantic-query query='SELECT ?entity ?entityFormRecordCreation ?actor ?creationDateValue ?importFromExternalSource ?sourceURI WHERE {
                                    BIND(<{{node}}> AS ?entity)

                                    ?entity crm:P129i_is_subject_of ?entityFormRecord .
                                    ?entityFormRecord a crmdig:D1_Digital_Object .
                                    ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                    ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordCreation .
                                    ?entityFormRecordCreation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_creation> .

                                    ?entityFormRecordCreation crm:P14_carried_out_by ?actor .
                                    ?entityFormRecordCreation crm:P4_has_time-span ?creationDate .
                                    ?creationDate crm:P82_at_some_time_within ?creationDateValue .

                                    OPTIONAL {
                                        ?entityFormRecordCreation crm:P134_continued ?importFromExternalSource .
                                        ?importFromExternalSource a crmdig:D12_Data_Transfer_Event .
                                        ?importFromExternalSource crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/import_from_external_source> .
                                        ?importFromExternalSource crmdig:L14_transferred ?sourceURI .
                                        ?sourceURI a crmdig:D1_Digital_Object .
                                        ?sourceURI crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/digital_object_type/web_link> .
                                    }

                                } limit 1'
                                        template='{{> template}}'
                            >
                                
                            <template id='template'>
                                <div class="semantic-form-input-title">Record metadata</div>
                                <div class="table-expanded">
                                    <table class="table metadata-table">
                                        <tbody>
                                            <tr>
                                                <td class="table-title"><b>created</b></td>
                                                <td class="table-description">
                                                    {{dateTimeFormat bindings.0.creationDateValue.value "DD/MM/YYYY, h:mm a"}}
                                                </td>
                                            </tr>
                                            <tr class="standard-row">
                                                <td class="table-title"><b>created by</b></td>
                                                <td class="table-description">
                                                    <rs-icon icon-type="round" icon-name="account_box" class="table-icon"></rs-icon>
                                                    {{bindings.0.actor.value}}
                                                </td>
                                            </tr>
                                            {{#if bindings.0.importFromExternalSource.value}}
                                                <tr class="standard-row">
                                                    <td class="table-title"><b>imported from</b></td>
                                                    <td class="table-description">
                                                        <a class="text-link-action" target="_blank" href="{{bindings.0.sourceURI.value}}" title="{{bindings.0.sourceURI.value}}">{{bindings.0.sourceURI.value}}</a>
                                                    </td>
                                                </tr>
                                            {{/if}}
                                        </tbody>   
                                    </table>
                                </div>
                            </template>
            </semantic-query>
        </bs-tab>
    {{/if}}
{{/ifCond}}