[ 
  [[!--  items must be subclasses of E26_Physical_Feature --]]
  {
    "label": "Physical feature",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/PhysicalFeature\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Physical man-made feature",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/PhysicalManMadeFeature\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Site",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Site\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  }
]