<semantic-form [[> rsp:FormDefaults]] 
                persistence='{"type": "sparql","targetInsertGraphIri":"{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}"}'
                new-subject-template='{{#if scheme}}{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{else}}/event/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'

                fields='[[fieldDefinitions
                          classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                          inScheme="http://www.researchspace.org/pattern/system/entity/is_listed_in"
                          entity_formRecord="http://www.researchspace.org/pattern/system/entity/formRecord"

                          event_document="http://www.researchspace.org/pattern/system/entity/documents"
                          image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                          more_image="http://www.researchspace.org/pattern/system/entity/images"

                          event_title="http://www.researchspace.org/pattern/system/event/event_title"
                          event_description="http://www.researchspace.org/pattern/system/entity/description"
                          event_date="http://www.researchspace.org/pattern/system/temporal_entity/composite_timespan"
                          event_place="http://www.researchspace.org/pattern/system/period/took_place_at"

                          event_had_participant="http://www.researchspace.org/pattern/system/event/had_participant"

                          event_consist_of_event="http://www.researchspace.org/pattern/system/period/consist_of_period"
                          event_forms_part_of_event="http://www.researchspace.org/pattern/system/period/forms_part_of_period"

                ]]'>

  <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
    <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E5_Event'> </semantic-form-hidden-input>
    {{#if scheme}}
      <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"></semantic-form-hidden-input>  
    {{/if}}

    <bs-tabs id="form-tabs"> 
      <bs-tab event-key="detail" title="Details">
        {{#if (not node)}}
          <mp-event-target-template-render id='{{viewId}}-documentation-newEvent' template='{{> template}}'>
            <template id='template'>
              {{#if hideMessage}}
              {{else}}
                <div style="padding-top: 15px;">
                  <div class="documentation-section documentation-section-withIcon">
                    <div class="documentation-section-icon-container">
                      <i class="fa fa-info"></i>
                    </div>

                    <div style="flex: 1;"> 
                      <div class="documentation-section-title">CREATE NEW EVENT</div>
                      <div class="documentation-section-content">
                        Create and save the new event.
                      </div>
                    </div>
                    <mp-event-trigger id='{{viewId}}-documentation-newEvent-trigger'
                                      type='Component.TemplateUpdate'
                                      data='{ "hideMessage": "true" }'
                                      targets='["{{viewId}}-documentation-newEvent"]'
                                >
                      <button class="btn btn-documentation">
                        <rs-icon icon-type="round" icon-name="close"></rs-icon>
                      </button>
                    </mp-event-trigger>
                  </div> 
                </div>

              {{/if}}
            </template>
          </mp-event-target-template-render>
        {{/if}}
        <div class="form-2column-container">
          <div>
            <semantic-form-text-input for="event_title" label="Event title" placeholder="Enter event title"></semantic-form-text-input>

            <semantic-form-text-input for="event_description" multiline="true" label="Event description" placeholder="Enter event description"></semantic-form-text-input>

            <semantic-form-composite-input  for="event_date" 
                                            render-header="false"
                                            new-subject-template="/E52_Time-Span/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                            fields='[[fieldDefinitions
                                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                        timespan_date="http://www.researchspace.org/pattern/system/timespan/at_some_time_within"
                                                        timespan_start_date="http://www.researchspace.org/pattern/system/timespan/begin_of_the_begin"
                                                        timespan_end_date="http://www.researchspace.org/pattern/system/timespan/end_of_the_end"
                                                        timespan_text_value="http://www.researchspace.org/pattern/system/timespan/time_appellation"
                                                ]]'>   

                <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span'></semantic-form-hidden-input>

                <div style="display: flex; align-items:flex-end; column-gap:15px; flex-wrap: wrap;">
                    <div style="flex: 1;">
                        <semantic-form-datetime-input for="timespan_date" label="Date (date value)"  placeholder="Enter event date (date value)"></semantic-form-datetime-input>
                    </div>
                    <div style="flex: 1;">
                        <semantic-form-datetime-input for="timespan_start_date" label="Start date"  placeholder="Enter event start date"></semantic-form-datetime-input>
                    </div>
                    <div style="flex: 1;">
                        <semantic-form-datetime-input for="timespan_end_date" label="End date"  placeholder="Enter event end date"></semantic-form-datetime-input>
                    </div>
                    <div style="flex: 1;">
                        <semantic-form-text-input for='timespan_text_value' label="Date (text value)"  placeholder="Enter event date (text value)"></semantic-form-text-input>
                    </div>
                </div>
            </semantic-form-composite-input>

            <semantic-form-tree-picker-input for="event_place" 
                                              label="Event place" 
                                              placeholder="Select place" 
                                              close-dropdown-on-selection='false'
                                              tree-patterns='{"scheme": "crm:E53_Place",
                                                              "schemePattern": "?item a crm:E53_Place",
                                                              "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                ?appellation a crm:E44_Place_Appellation . 
                                                                                ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/identifier/place_name> .
                                                                                ?appellation crm:P190_has_symbolic_content ?label ." }'
                                              
                                              nested-form-template='{{> forms:Place nested=true editable=true mode=new }}'

                                              query-item-label='SELECT ?label WHERE {
                                                                    ?item crm:P1_is_identified_by ?appellation . 
                                                                    ?appellation a crm:E44_Place_Appellation . 
                                                                    ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/identifier/place_name> .
                                                                    ?appellation crm:P190_has_symbolic_content ?label .
                                                                }'
                                            
            ></semantic-form-tree-picker-input>

          </div>

          <div class="form-media-column">

            <div class="dragAndDrop-input-container">
              <semantic-form-drag-and-drop-input  for='event_document' 
                                                  label="Documents" 
                                                  placeholder-item-template="<div class='placeholder-item'>
                                                                                  <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                  <div>Drag document or click to upload</div>
                                                                                </div>"
                                                  nested-form-template='{{{{raw}}}}{{> forms:Document nested=true editable=true mode="new" 
                                                                                        docType="http://www.researchspace.org/resource/vocab/document_type/report" }}{{{{/raw}}}}'
                                                                                >
                  </semantic-form-drag-and-drop-input>

            </div>

            <div class="dragAndDrop-input-container">
              <semantic-form-drag-and-drop-input for='image_main_representation' label="Main image" 
                                                  placeholder-item-template="<div class='placeholder-item'>
                                                                              <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                              <div>Drag main image or click to upload</div>
                                                                            </div>"
                                                  nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
              </semantic-form-drag-and-drop-input>
            </div>

            <div class="dragAndDrop-input-container">
              <semantic-form-drag-and-drop-input  for='more_image' label="More images" 
                                                  placeholder-item-template="<div class='placeholder-item'>
                                                                              <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                              <div>Drag images or click to upload</div>
                                                                            </div>"
                                                  nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
              </semantic-form-drag-and-drop-input>
            </div>

          </div>
      </bs-tab>

      {{#if hideParticipantTab}}
      {{else}}
        <bs-tab event-key="participant" title="Participants">
          <div class="inline-form-switch">
            <semantic-form-switch for="event_had_participant" 
                                  switch-on-field="participant_has_range_type" 
                                  label="Participant">

              <semantic-form-switch-case label="Person">
                <semantic-form-composite-input  for="event_had_participant" 
                                                label="Participants in the event" 
                                                new-subject-template="/PC11_had_participant/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                                fields='[[fieldDefinitions
                                                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                            
                                                            participant_has_domain_type="http://www.researchspace.org/pattern/system/participant/has_domain_type"
                                                            participant_has_range_type="http://www.researchspace.org/pattern/system/participant/has_range_type"
                                                            participant_actor="http://www.researchspace.org/pattern/system/participant/actor"
                                                            participant_role="http://www.researchspace.org/pattern/system/participant/role"
                                                        ]]'>

                      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC11_had_participant'> </semantic-form-hidden-input>
                      <semantic-form-hidden-input for="participant_has_domain_type" 
                                                  default-value='http://www.researchspace.org/resource/PC11_had_participant/has_domain_type/event'> 
                      </semantic-form-hidden-input>
                      <semantic-form-hidden-input for="participant_has_range_type" 
                                                  default-value='http://www.researchspace.org/resource/PC11_had_participant/has_range_type/person'> 
                      </semantic-form-hidden-input>

                      <div style="display: flex; align-items:flex-start; column-gap:15px; flex-wrap: wrap;">
                        <div style="flex: 1;">
                          <semantic-form-tree-picker-input  for="participant_actor" 
                                                            label="Person"
                                                            render-header="false"
                                                            placeholder="Select person"
                                                            close-dropdown-on-selection='true'
                                                            tree-patterns='{"scheme": "crm:E21_Person",
                                                                            "schemePattern": "?item a crm:E21_Person",
                                                                            "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                            ?appellation a crm:E41_Appellation . 
                                                                                            ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/identifier/person_appellation> . 
                                                                                            ?appellation crm:P190_has_symbolic_content ?label ." }'

                                                            nested-form-template='{{> forms:Person nested=true editable=true mode=new }}'
                                                            
                                                            query-item-label='SELECT ?label WHERE {
                                                                                ?item crm:P1_is_identified_by ?appellation .
                                                                                ?appellation a crm:E41_Appellation .
                                                                                ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/identifier/person_appellation> .
                                                                                ?appellation crm:P190_has_symbolic_content ?label .
                                                                            }'>
                          </semantic-form-tree-picker-input>
                        </div>
                        <div style="flex: 1;">
                          <semantic-form-tree-picker-input  for="participant_role" 
                                                            label="Role" 
                                                            render-header="false"
                                                            placeholder="Select role"
                                                            close-dropdown-on-selection='true'
                                                            tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                            "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                            "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                            scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                        "view": "vocabulary-content",
                                                                                        "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                                        "tooltip": "Open list of roles"
                                                                                      }'
                                                            
                                                            nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                  scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                                  entityType="role" }}{{{{/raw}}}}'

                                                            query-item-label='SELECT ?label WHERE {
                                                                                ?item skos:prefLabel ?label .
                                                            }'>
                          </semantic-form-tree-picker-input>
                        </div>
                      </div>
                </semantic-form-composite-input>
              </semantic-form-switch-case>

              <semantic-form-switch-case label="Group">
                <semantic-form-composite-input  for="event_had_participant" 
                                                label="Participants in the event" 
                                                new-subject-template="/PC11_had_participant/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                                fields='[[fieldDefinitions
                                                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                            
                                                            participant_has_domain_type="http://www.researchspace.org/pattern/system/participant/has_domain_type"
                                                            participant_has_range_type="http://www.researchspace.org/pattern/system/participant/has_range_type"
                                                            participant_actor="http://www.researchspace.org/pattern/system/participant/actor"
                                                            participant_role="http://www.researchspace.org/pattern/system/participant/role"
                                                        ]]'>

                      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC11_had_participant'> </semantic-form-hidden-input>
                      <semantic-form-hidden-input for="participant_has_domain_type" 
                                                  default-value='http://www.researchspace.org/resource/PC11_had_participant/has_domain_type/event'> 
                      </semantic-form-hidden-input>
                      <semantic-form-hidden-input for="participant_has_range_type" 
                                                  default-value='http://www.researchspace.org/resource/PC11_had_participant/has_range_type/group'> 
                      </semantic-form-hidden-input>

                      <div style="display: flex; align-items:flex-start; column-gap:15px; flex-wrap: wrap;">
                        <div style="flex: 1;">
                          <semantic-form-tree-picker-input  for="participant_actor" 
                                                            label="Group"
                                                            render-header="false"
                                                            placeholder="Select group"
                                                            close-dropdown-on-selection='true'
                                                            tree-patterns='{"scheme": "crm:E74_Group",
                                                                            "schemePattern": "?item a crm:E74_Group",
                                                                            "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                            ?appellation a crm:E41_Appellation . 
                                                                                            ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/identifier/group_appellation> . 
                                                                                            ?appellation crm:P190_has_symbolic_content ?label ." }'

                                                            nested-form-template='{{> forms:Group nested=true editable=true mode=new }}'
                                                            
                                                            query-item-label='SELECT ?label WHERE {
                                                                                ?item crm:P1_is_identified_by ?appellation .
                                                                                ?appellation a crm:E41_Appellation .
                                                                                ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/identifier/group_appellation> .
                                                                                ?appellation crm:P190_has_symbolic_content ?label .
                                                                            }'>
                          </semantic-form-tree-picker-input>
                        </div>
                        <div style="flex: 1;">
                          <semantic-form-tree-picker-input  for="participant_role" 
                                                            label="Role" 
                                                            render-header="false"
                                                            placeholder="Select role"
                                                            close-dropdown-on-selection='true'
                                                            tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                            "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                            "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                            scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                        "view": "vocabulary-content",
                                                                                        "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                                        "tooltip": "Open list of roles"
                                                                                      }'
                                                            
                                                            nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                  scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                                  entityType="role" }}{{{{/raw}}}}'

                                                            query-item-label='SELECT ?label WHERE {
                                                                                ?item skos:prefLabel ?label .
                                                            }'>
                          </semantic-form-tree-picker-input>
                        </div>
                      </div>
                </semantic-form-composite-input>
              </semantic-form-switch-case>

              <semantic-form-switch-case label="Other actor">
                <semantic-form-composite-input  for="event_had_participant" 
                                                label="Participants in the event" 
                                                new-subject-template="/PC11_had_participant/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                                fields='[[fieldDefinitions
                                                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                            
                                                            participant_has_domain_type="http://www.researchspace.org/pattern/system/participant/has_domain_type"
                                                            participant_has_range_type="http://www.researchspace.org/pattern/system/participant/has_range_type"
                                                            participant_actor="http://www.researchspace.org/pattern/system/participant/actor"
                                                            participant_role="http://www.researchspace.org/pattern/system/participant/role"
                                                        ]]'>

                      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC11_had_participant'> </semantic-form-hidden-input>
                      <semantic-form-hidden-input for="participant_has_domain_type" 
                                                  default-value='http://www.researchspace.org/resource/PC11_had_participant/has_domain_type/event'> 
                      </semantic-form-hidden-input>
                      <semantic-form-hidden-input for="participant_has_range_type" 
                                                  default-value='http://www.researchspace.org/resource/PC11_had_participant/has_range_type/actor'> </semantic-form-hidden-input>

                      <div style="display: flex; align-items:flex-start; column-gap:15px; flex-wrap: wrap;">
                        <div style="flex: 1;">
                          <semantic-form-tree-picker-input  for="participant_actor" 
                                                            label="Actor"
                                                            render-header="false"
                                                            placeholder="Select actor"
                                                            close-dropdown-on-selection='true'
                                                            tree-patterns='{"scheme": "crm:E39_Actor",
                                                                            "schemePattern": "?item a crm:E39_Actor",
                                                                            "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                            ?appellation a crm:E41_Appellation . 
                                                                                            ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/identifier/actor_appellation> . 
                                                                                            ?appellation crm:P190_has_symbolic_content ?label ." }'

                                                            nested-form-template='{{> forms:Actor nested=true editable=true mode=new }}'
                                                            
                                                            query-item-label='SELECT ?label WHERE {
                                                                                ?item crm:P1_is_identified_by ?appellation .
                                                                                ?appellation a crm:E41_Appellation .
                                                                                ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/identifier/actor_appellation> .
                                                                                ?appellation crm:P190_has_symbolic_content ?label .
                                                                            }'>
                          </semantic-form-tree-picker-input>
                        </div>
                        <div style="flex: 1;">
                          <semantic-form-tree-picker-input  for="participant_role" 
                                                            label="Role" 
                                                            render-header="false"
                                                            placeholder="Select role"
                                                            close-dropdown-on-selection='true'
                                                            tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                            "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                            "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                            scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                        "view": "vocabulary-content",
                                                                                        "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                                        "tooltip": "Open list of roles"
                                                                                      }'
                                                            
                                                            nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                  scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                                  entityType="role" }}{{{{/raw}}}}'

                                                            query-item-label='SELECT ?label WHERE {
                                                                                ?item skos:prefLabel ?label .
                                                            }'>
                          </semantic-form-tree-picker-input>
                        </div>
                      </div>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
              
            </semantic-form-switch>
          </div>
        </bs-tab>
      {{/if}}

      <bs-tab event-key="event" title="Related events/activities">

      </bs-tab>

      [[> rsp:FormMetadataTab]]
    </bs-tabs>
  </div>

  <semantic-form-errors></semantic-form-errors> 
    
  [[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}event{{/if}}']]

</semantic-form>