<semantic-form [[> rsp:FormDefaults]] 
                persistence='{"type": "sparql","targetInsertGraphIri":"{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}"}'
                new-subject-template='{{#if scheme}}{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{else}}/event/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'

                fields='[[fieldDefinitions
                          classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                          inScheme="http://www.researchspace.org/pattern/system/entity/is_listed_in"
                          entity_formRecord="http://www.researchspace.org/pattern/system/entity/formRecord"

                          event_document="http://www.researchspace.org/pattern/system/entity/documents"
                          image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                          more_image="http://www.researchspace.org/pattern/system/entity/images"

                          event_title="http://www.researchspace.org/pattern/system/event/event_title"
                          event_description="http://www.researchspace.org/pattern/system/entity/description"
                          event_date="http://www.researchspace.org/pattern/system/temporal_entity/composite_timespan"
                          event_place="http://www.researchspace.org/pattern/system/period/took_place_at_place"

                          event_had_participant="http://www.researchspace.org/pattern/system/event/had_participant"

                          event_consist_of_event="http://www.researchspace.org/pattern/system/period/consist_of_period"
                          event_forms_part_of_event="http://www.researchspace.org/pattern/system/period/forms_part_of_period"

                ]]'>

  <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
    <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E5_Event'> </semantic-form-hidden-input>
    {{#if scheme}}
      <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"></semantic-form-hidden-input>  
    {{/if}}

    <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs"> 
      <rs-tab event-key="detail" title="Details">
        {{#if (not node)}}
          <mp-event-target-template-render id='{{viewId}}-documentation-newEvent' template='{{> template}}'>
            <template id='template'>
              {{#if hideMessage}}
              {{else}}
                <div style="padding-top: 15px;">
                  <div class="documentation-section documentation-section-withIcon">
                    <div class="documentation-section-icon-container">
                      <i class="fa fa-info"></i>
                    </div>

                    <div style="flex: 1;"> 
                      <div class="documentation-section-title">CREATE NEW EVENT</div>
                      <div class="documentation-section-content">
                        Create and save the new event.
                      </div>
                    </div>
                    <mp-event-trigger id='{{viewId}}-documentation-newEvent-trigger'
                                      type='Component.TemplateUpdate'
                                      data='{ "hideMessage": "true" }'
                                      targets='["{{viewId}}-documentation-newEvent"]'
                                >
                      <button class="btn btn-documentation">
                        <rs-icon icon-type="round" icon-name="close"></rs-icon>
                      </button>
                    </mp-event-trigger>
                  </div> 
                </div>

              {{/if}}
            </template>
          </mp-event-target-template-render>
        {{/if}}
        <div class="form-2column-container">
          <div>
            <semantic-form-text-input for="event_title" label="Event title" placeholder="Enter event title"></semantic-form-text-input>

            <semantic-form-text-input for="event_description" multiline="true" label="Event description" placeholder="Enter event description"></semantic-form-text-input>

            <semantic-form-composite-input  for="event_date" 
                                            render-header="false"
                                            new-subject-template="/E52_Time-Span/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                            fields='[[fieldDefinitions
                                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                        timespan_date="http://www.researchspace.org/pattern/system/timespan/at_some_time_within"
                                                        timespan_start_date="http://www.researchspace.org/pattern/system/timespan/begin_of_the_begin"
                                                        timespan_end_date="http://www.researchspace.org/pattern/system/timespan/end_of_the_end"
                                                        timespan_text_value="http://www.researchspace.org/pattern/system/timespan/time_appellation"
                                                ]]'>   

                <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span'></semantic-form-hidden-input>

                <div class="form-inline-inputs" style="align-items:flex-end;">
                    <div style="flex: 1;">
                        <semantic-form-datetime-input for="timespan_date" label="Date (date value)"  placeholder="Enter event date (date value)"></semantic-form-datetime-input>
                    </div>
                    <div style="flex: 1;">
                        <semantic-form-datetime-input for="timespan_start_date" label="Start date"  placeholder="Enter event start date"></semantic-form-datetime-input>
                    </div>
                    <div style="flex: 1;">
                        <semantic-form-datetime-input for="timespan_end_date" label="End date"  placeholder="Enter event end date"></semantic-form-datetime-input>
                    </div>
                    <div style="flex: 1;">
                        <semantic-form-text-input for='timespan_text_value' label="Date (text value)"  placeholder="Enter event date (text value)"></semantic-form-text-input>
                    </div>
                </div>
            </semantic-form-composite-input>

            <semantic-form-select-input for='event_place' 
                                        label="Event place" 
                                        placeholder="Select place"
                                        nested-form-template='{{{{raw}}}}{{> forms:Place nested=true editable=true mode="new" }}{{{{/raw}}}}'> 
            </semantic-form-select-input>

          </div>

          <div class="form-media-column">

            <div class="dragAndDrop-input-container">
              <semantic-form-drag-and-drop-input  for='event_document' 
                                                  label="Documents" 
                                                  placeholder-item-template="<div class='placeholder-item'>
                                                                                  <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                  <div>Drag document or click to upload</div>
                                                                                </div>"
                                                  nested-form-template='{{{{raw}}}}{{> forms:Document nested=true editable=true mode="new" 
                                                                                        docType="http://www.researchspace.org/resource/vocab/document_type/report" }}{{{{/raw}}}}'
                                                                                >
                  </semantic-form-drag-and-drop-input>

            </div>

            <div class="dragAndDrop-input-container">
              <semantic-form-drag-and-drop-input for='image_main_representation' label="Main image" 
                                                  placeholder-item-template="<div class='placeholder-item'>
                                                                              <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                              <div>Drag main image or click to upload</div>
                                                                            </div>"
                                                  nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
              </semantic-form-drag-and-drop-input>
            </div>

            <div class="dragAndDrop-input-container">
              <semantic-form-drag-and-drop-input  for='more_image' label="More images" 
                                                  placeholder-item-template="<div class='placeholder-item'>
                                                                              <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                              <div>Drag images or click to upload</div>
                                                                            </div>"
                                                  nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
              </semantic-form-drag-and-drop-input>
            </div>

          </div>
      </rs-tab>

      {{#if hideParticipantTab}}
      {{else}}
        <rs-tab event-key="participant" title="Participants">
          [[> Platform:formSwitchParticipantActor for_kp='event_had_participant'
                                                  subjectLabel='Participant'
                                                  had_participant_has_domain_type_value='http://www.researchspace.org/resource/PC11_had_participant/has_domain_type/event'
          ]]
        </rs-tab>
      {{/if}}

      <rs-tab event-key="event" title="Related events/activities">

      </rs-tab>

      [[> rsp:FormMetadataTab]]
    </rs-tabs>
  </div>

  <semantic-form-errors></semantic-form-errors> 
    
  [[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}event{{/if}}']]

</semantic-form>