<semantic-form [[> rsp:FormDefaults]] 
                [[!-- persistence='{"type": "ldp", "containerIri":"{{node}}"}' --]]
                persistence='{"type":"sparql","targetInsertGraphIri":"{{node}}/extended_context"}'
                fields='[[fieldDefinitions
                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                            entity_resource_type="http://www.researchspace.org/pattern/system/entity/resource_type"

                            entity_image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                            entity_image="http://www.researchspace.org/pattern/system/entity/images"
                            
                            entity_description="http://www.researchspace.org/pattern/system/entity/description"
                            entity_preferred_id="http://www.researchspace.org/pattern/system/entity/preferred_identifier"
                            entity_id="http://www.researchspace.org/pattern/system/entity/identifier"
                  
                           
                            
                          ]]'
              >
              
    <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
        <semantic-form-hidden-input for="classtype" default-value="http://www.ics.forth.gr/isl/CRMdig//D1_Digital_Object'> </semantic-form-hidden-input>
        <semantic-form-hidden-input for="entity_resource_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/semantic_chart'> </semantic-form-hidden-input>

        <mp-splitpane id='{{viewId}}-entity-resource-sidebar' min-size=63 default-size=370 snap-threshold=200 default-open=true always-render=true primary='second' class="entity-resource-sidebar">
            <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs">
              <rs-tab event-key="detail" title="Details">
                <div>   
                  <semantic-form-text-input for="entity_description" multiline=true label="Description" placeholder="Enter description/comment"></semantic-form-text-input>                  
                </div>
              </rs-tab>
       
            {{#if node}}
                <rs-tab event-key="metadata" title="Metadata">
                    <semantic-query  query='SELECT ?narrative ?modifiedByUser ?modifiedAtTime WHERE {
                                                BIND(<{{node}}> AS ?narrative)
                
                                                ?narrative <http://www.w3.org/ns/prov#generatedAtTime> ?modifiedAtTime .
                
                                                [[#if (hasPermission "forms:ldp:*")]]
                                                    ?narrative <http://www.w3.org/ns/prov#wasAttributedTo> ?modifiedByUser .
                                                [[else]]
                                                    ?narrative <http://www.w3.org/ns/prov#wasAttributedTo> ?modifiedByUser .
                                                    FILTER(?modifiedByUser = <http://www.researchspace.org/resource/system/anonymousUser> )
                                                [[/if]]
                                            }'
                                            template='{{> template}}'
                                    >
                                        
                        <template id='template'>
                            <div class="semantic-form-input-title">Metadata</div>
                            <div class="table-expanded">
                                <table class="table metadata-table">
                                    <tbody>
                                        <tr class="standard-row">
                                            <td class="table-title"><b>modified</b></td>
                                            <td class="table-description">
                                                {{dateTimeFormat bindings.0.modifiedAtTime.value "DD/MM/YYYY, h:mm a"}}
                                            </td>
                                        </tr>
                                        <tr class="standard-row">
                                            <td class="table-title"><b>modified by</b></td>
                                            <td class="table-description">
                                                <rs-icon icon-type="round" icon-name="account_box" class="table-icon"></rs-icon>
                                                {{bindings.0.modifiedByUser.value}}
                                            </td>
                                        </tr>
                                    </tbody>   
                                </table>
                            </div>
                        </template>
                    </semantic-query>
                </rs-tab>
            {{/if}}
      
            </rs-tabs>
      
            [[> rsp:FormAssetSidebar imagesOnly=true]]
        </mp-splitpane>

    </div>
  
    <semantic-form-errors></semantic-form-errors>

    [[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}chart{{/if}}']]

</semantic-form>

