<mp-event-proxy id='refresh-image-list' on-event-source='image-editor' on-event-type='IIIFViewer.Updated'
                proxy-event-type='Component.TemplateUpdate' proxy-targets='["image-with-regions"]'
></mp-event-proxy>

<mp-event-proxy id='reset-form-on-image-update' on-event-source='image-editor' on-event-type='IIIFViewer.Updated'
                proxy-event-type='Component.TemplateUpdate' proxy-targets='["region-form"]'
></mp-event-proxy>

<mp-event-proxy id='add-new-manifest' on-event-source='set-action__km-add-frame' on-event-type='Dashboard.AddFrame'
                proxy-event-type='IIIFViewer.AddImagesForObject' proxy-targets='["image-editor"]'
></mp-event-proxy>

<div class="frame-imageAnnotationWorkspace__container">
      <div class="frame-imageAnnotationWorkspace__viewer">
        {{> @partial-block }}
      </div>

      <div class="frame-imageAnnotationWorkspace__observationArea_bg"></div>

      <div class="frame-imageAnnotationWorkspace__observationArea_container">

          <mp-event-target-template-render id='image-with-regions' template='{{> template}}'>
            <template id='template'>
              <two-side-panel id='objects-panel'>
                <template id='front'>
                  <div class="frame-imageAnnotationWorkspace__observationArea_content">
                      <div class="rs-title-row">
                        <h1 class="rs-main-title">Observations</h1>
                        <mp-overlay-dialog title="Object Observations" type="modal" class="modal-xlSize">
                          <mp-overlay-dialog-trigger>
                            <i class="iconmoon iconmoon-info"></i>
                          </mp-overlay-dialog-trigger>
                          <mp-overlay-dialog-content>
                          <div>documentation</div>
                          </mp-overlay-dialog-content>
                        </mp-overlay-dialog>
                      </div>
                      <div class="frame-imageAnnotationWorkspace__observationArea_items">
                        {{#each objects}}
                          <div class="frame-imageAnnotationWorkspace__observationArea_resourceTitleRow">
                            <h1 class="text-truncate">Observed on <strong><semantic-link iri='{{objectIri}}'></semantic-link></strong></h1>
                            <div style="display: flex; align-items: flex-start;">
                              <mp-event-trigger id='image-view-trigger' 
                                            type='IIIFViewer.AddImagesForObject' 
                                            targets='["image-editor"]'
                                            data='{ "objectIri": "{{objectIri}}" }'>
                                <button class="btn btn-primary btn-icon">
                                  <i class="rs-icon rs-icon-image" title="View resource images"></i>
                                </button>
                              </mp-event-trigger>
                              <mp-event-trigger id='form-event-trigger' 
                                                type='TwoSidePanel.ShowBack' 
                                                targets='["objects-panel"]'
                                                data='{"backVariables": { "objectIri": "{{objectIri}}"} }'>
                                <button class="btn btn-primary">new feature</button>
                              </mp-event-trigger>
                            </div>
                          </div>
                            
                          <semantic-query
                              query='
                                SELECT DISTINCT ?region ?regionLabel ?objectIri ?image {
                                  <{{objectIri}}> crm:P138i_has_representation|rso:PX_has_main_representation ?image .
                                  ?region crmdig:L49_is_primary_area_of ?image .

                                  FILTER NOT EXISTS {
                                    ?feature crm:P138i_has_representation ?region .
                                  }
                                  ?region rso:displayLabel ?regionLabel .
                                  BIND(<{{objectIri}}> as ?objectIri) .
                                }
                              '
                              template='{{> regionsWithoutFeature}}'
                          >
                            <template id='regionsWithoutFeature'>
                              <div class="frame-imageAnnotationWorkspace__items page-whiteSection-container">
                                <h2>Image Regions</h2>
                                <div class="frame-imageAnnotationWorkspace__item_container">
                                {{#each bindings}}
                                  <div class="frame-imageAnnotationWorkspace__item">
                                    <semantic-link iri='{{region.value}}' class="text-truncate region-label"></semantic-link>
                                    <div style="display: flex; align-items: center;">
                                      <mp-event-trigger id='form-event-trigger' 
                                                        type='TwoSidePanel.ShowBack' 
                                                        targets='["objects-panel"]'
                                                        data='{"backVariables": { "region": "{{region.value}}", "regionLabel": "{{regionLabel.value}}", "objectIri": "{{objectIri.value}}"} }'>
                                        <button class="btn-grey">Create associated feature</button>
                                      </mp-event-trigger>
                                      <button class="btn-grey btn-icon delete"><i class="iconmoon iconmoon-bin" title="Delete image"></i></button>
                                      <mp-event-trigger id='focus-event-trigger' type='IIIFViewer.ZoomToRegion' targets='["image-editor"]'
                                                        data='{"imageIri": "{{image.value}}","regionIri": "{{region.value}}"}'>
                                        <button class="btn-grey btn-icon"><i class="rs-icon rs-icon-image" title="Focus on image"></i></button>
                                      </mp-event-trigger>
                                    </div>
                                  </div>
                                {{/each}}
                                </div>
                              </div>
                            </template>
                          </semantic-query>

                          <semantic-query
                              query='
                                SELECT DISTINCT ?feature (SAMPLE(?featureType) AS ?featureType) (SAMPLE(?i) AS ?image) (SAMPLE(?r) AS ?region) (IF(COUNT(?r) > 1, true, false) AS ?moreThanOneRegion) {
                                   ?feature crm:P56i_is_found_on <{{objectIri}}> .
                                  
                                   OPTIONAL {
                                     ?feature crm:P65_shows_visual_item/rdf:type crm:E37_Mark .
                                     BIND ("Mark" as ?isMark) .
                                   }
                                   OPTIONAL {
                                     ?feature crm:P65_shows_visual_item/rdf:type crm:E34_Inscription .
                                     BIND ("Inscription" as ?isInscription) .
                                   }
                                   OPTIONAL {
                                     ?feature crm:P128_carries/crm:P129_is_about ?about .
                                     BIND ("Subject" as ?isSubject) .
                                   }
                                   OPTIONAL {
                                     ?feature crm:P128_carries/crm:P67_refers_to ?reference .
                                     BIND ("Reference" as ?isReference) .
                                   }
                                   BIND(COALESCE(?isMark, ?isInscription, ?isSubject, ?isReference) AS ?featureType)
                                  
                                   OPTIONAL {
                                     ?feature crm:P138i_has_representation ?r .
                                     ?r crmdig:L49_is_primary_area_of ?i .
                                   }
                                } GROUP BY ?feature
                              '
                              template='{{> features}}'
                          >
                            <template id='features'>
                              <div class="frame-imageAnnotationWorkspace__items page-whiteSection-container">
                                <h2>Features</h2>
                                <div class="frame-imageAnnotationWorkspace__item_container">
                                {{#each bindings}}
                                  <div class="frame-imageAnnotationWorkspace__item">
                                    <semantic-link iri='{{feature.value}}' class="text-truncate feature-label"></semantic-link> 
                                    <div style="display: flex; align-items: center;">
                                      <mp-event-trigger id='form-event-trigger'
                                                        type='TwoSidePanel.ShowBack' targets='["objects-panel"]'
                                                        data='{"backVariables": { "feature": "{{feature.value}}", "featureType": "{{featureType.value}}", "objectIri": "{{objectIri.value}}"} }'>
                                        <button class="btn-grey">Edit</button>
                                      </mp-event-trigger>
                                      <mp-event-trigger id='details-view-trigger'
                                                        type='Component.TemplateUpdate'
                                                        data='{"iri": "{{feature.value}}"}' targets='["details-view", "open-details-sidebar"]'
                                      >
                                        <button class="btn-grey btn-icon">
                                          <i class="rs-icon rs-icon-sidebar_right" title="Explore Feature details"></i>
                                        </button>
                                      </mp-event-trigger>
                                        {{#if region}}
                                          <mp-event-trigger id='focus-event-trigger' type='IIIFViewer.ZoomToRegion' targets='["image-editor"]'
                                                            data='{"imageIri": "{{image.value}}","regionIri": "{{region.value}}"}'>
                                              <button class="btn-grey btn-icon"><i class="rs-icon rs-icon-image" title="Focus on Feature"></i></button>
                                          </mp-event-trigger>
                                        {{else}}
                                        <div style="position: relative;">
                                          <button disabled class="btn-grey btn-icon">
                                            <i class="rs-icon rs-icon-image" title="The feature has no image associated"></i>
                                          </button>
                                          <i class="fa fa-exclamation-circle" title="The feature has no image associated"></i>
                                        </div>
                                        {{/if}}
                                    </div>
                                  </div>
                                {{/each}}
                                </div>
                              </div>
                            </template>
                          </semantic-query>
                        {{/each}}
                      </div>
                  </div>
                </template>
                
                <template id='back'>
                  <div class="frame-imageAnnotationWorkspace__formArea_container">
                    <mp-event-trigger id='form-panel-back' 
                                      type='TwoSidePanel.ShowFront' 
                                      targets='["objects-panel"]'
                    >
                      <div class="back-container">
                        <i class="iconmoon iconmoon-arrow-left2"></i>
                      </div>
                    </mp-event-trigger>

                    <div class="frame-imageAnnotationWorkspace__form-titleRow">
                      <h1 class="text-truncate">Observation on <strong><semantic-link iri='{{iri}}'></semantic-link></strong></h1>
                      <button class="btn btn-primary btn-icon"><i class="rs-icon rs-icon-image" title="Focus on resource images"></i></button>
                    </div>
                                        
                    {{#if feature}}                    
                      <div class="frame-imageAnnotationWorkspace__form-container page-whiteSection-container frame-imageAnnotationWorkspace__form-edit">
                        <h2>Editing feature: &nbsp;<strong><semantic-link iri='{{feature}}'></semantic-link></strong></h2>
                        <div class="frame-imageAnnotationWorkspace__form-edit-featureType">
                          <span class="semantic-form-input-decorator__label" style="margin-right: 10px;">Kind:</span>
                          <span class='btn-grey btn-selected'>{{featureType}}</span>
                        </div>
                        {{> rsp:ImageAnnotationForm edit=true}}
                      </div>
                    {{else}}
                      {{#if region}}
                        <div class="frame-imageAnnotationWorkspace__form-container page-whiteSection-container">
                          <h2>Creating new Feature represented by the region: &nbsp;<strong><semantic-link iri='{{region}}'></semantic-link></strong></h2>
                          
                          <mp-event-target-template-render id='feature-form-area' template='{{> form}}'>
                            <template id='form'>
                              [[!-- see the same area copy/pasted bellow --]]
                              <div class="feature-form-type-selection-container">
                                <p>What kind of feature do you want to create?</p>
                                <div class="feature-form-type-selection">
                                  <mp-event-trigger id='create-mark' type='Component.TemplateUpdate' data='{"featureType": "Mark"}' targets='["feature-form-area"]'>
                                    <button class='btn-grey {{#ifCond featureType "==" "Mark"}}btn-selected{{/ifCond}}'>Mark</button>
                                  </mp-event-trigger>
                                  <mp-event-trigger id='create-inscription' type='Component.TemplateUpdate' data='{"featureType": "Inscription"}' targets='["feature-form-area"]'>
                                    <button class='btn-grey {{#ifCond featureType "==" "Inscription"}}btn-selected{{/ifCond}}'>Inscription</button>
                                  </mp-event-trigger> 
                                  <mp-event-trigger id='create-subject' type='Component.TemplateUpdate' data='{"featureType": "Subject"}' targets='["feature-form-area"]'>
                                    <button class='btn-grey {{#ifCond featureType "==" "Subject"}}btn-selected{{/ifCond}}'>Subject</button>
                                  </mp-event-trigger> 
                                  <mp-event-trigger id='create-reference' type='Component.TemplateUpdate' data='{"featureType": "Reference"}' targets='["feature-form-area"]'>
                                    <button class='btn-grey {{#ifCond featureType "==" "Reference"}}btn-selected{{/ifCond}}'>Reference</button>
                                  </mp-event-trigger>  
                                </div> 
                              </div>
                              {{#if featureType}}
                                {{> rsp:ImageAnnotationForm createFromRegion=true}}
                              {{/if}}
                            </template>
                          </mp-event-target-template-render>
                        </div>
                      {{else}}
                        {{#if objectIri}}
                          <div class="frame-imageAnnotationWorkspace__form-container page-whiteSection-container">
                            <h2>Creating new Feature for: &nbsp;<strong><semantic-link iri='{{objectIri}}'></semantic-link></strong></h2>
                            <mp-event-target-template-render id='feature-form-area' template='{{> form}}'>
                              <template id='form'>
                                [[!-- see the same area copy/pasted above --]]
                                <div class="feature-form-type-selection-container">
                                  <p>What kind of feature do you want to create?</p>
                                  <div class="feature-form-type-selection">
                                    <mp-event-trigger id='create-mark' type='Component.TemplateUpdate' data='{"featureType": "Mark"}' targets='["feature-form-area"]'>
                                      <button class='btn-grey {{#ifCond featureType "==" "Mark"}}btn-selected{{/ifCond}}'>Mark</button>
                                    </mp-event-trigger>
                                    <mp-event-trigger id='create-inscription' type='Component.TemplateUpdate' data='{"featureType": "Inscription"}' targets='["feature-form-area"]'>
                                      <button class='btn-grey {{#ifCond featureType "==" "Inscription"}}btn-selected{{/ifCond}}'>Inscription</button>
                                    </mp-event-trigger> 
                                    <mp-event-trigger id='create-subject' type='Component.TemplateUpdate' data='{"featureType": "Subject"}' targets='["feature-form-area"]'>
                                      <button class='btn-grey {{#ifCond featureType "==" "Subject"}}btn-selected{{/ifCond}}'>Subject</button>
                                    </mp-event-trigger> 
                                    <mp-event-trigger id='create-reference' type='Component.TemplateUpdate' data='{"featureType": "Reference"}' targets='["feature-form-area"]'>
                                      <button class='btn-grey {{#ifCond featureType "==" "Reference"}}btn-selected{{/ifCond}}'>Reference</button>
                                    </mp-event-trigger>  
                                  </div>                   
                                </div>
                                {{#if featureType}}
                                  {{> rsp:ImageAnnotationForm createWithoutRegion=true}}
                                {{/if}}
                              </template>
                            </mp-event-target-template-render>
                          </div>
                        {{/if}}
                      {{/if}}
                    {{/if}}

                    <mp-event-proxy id='refresh-the-form' on-event-source='feature-creation-form'
                                    proxy-event-type='Component.TemplateUpdate' proxy-targets='["save-state"]'
                                    data='{"saved": true}'
                                    ></mp-event-proxy>

                    <mp-event-target-template-render id='save-state' template='{{> template}}'>
                      <template id='template'>
                        {{#if saved}}
                        <div style='position: absolute; background-color: green;'>
                          The feature has been saved successfully!
                        </div>
                        {{/if}}
                      </template>
                    </mp-event-target-template-render>
                  </div>
                </template>
              </two-side-panel>
            </template>
          </mp-event-target-template-render>
         
      </div>

  </div>
