<semantic-form [[> rsp:FormDefaults]] 
                persistence='{"type": "sparql","targetInsertGraphIri":"{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}"}'
                new-subject-template='{{#if scheme}}{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{else}}/dimension/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'
                fields='[[fieldDefinitions
                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                            inScheme="http://www.researchspace.org/pattern/system/entity/is_listed_in"
                            entity_formRecord="http://www.researchspace.org/pattern/system/entity/formRecord"
                            
                            entity_image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                            entity_image="http://www.researchspace.org/pattern/system/entity/images"
                            entity_document="http://www.researchspace.org/pattern/system/entity/documents"
                            entity_video="http://www.researchspace.org/pattern/system/entity/subject_of_video"
                            entity_audio="http://www.researchspace.org/pattern/system/entity/subject_of_audio"
                            entity_3d_model="http://www.researchspace.org/pattern/system/entity/subject_of_3Dmodel"
                            entity_has_representation="http://www.researchspace.org/pattern/system/entity/has_representation"
                            entity_represents_range="http://www.researchspace.org/pattern/system/entity/represents_range"
                            entity_web_URL="http://www.researchspace.org/pattern/system/entity/web_URL_embed"

                            entity_primary_appellation="http://www.researchspace.org/pattern/system/entity/primary_appellation"
                            dimension_type="http://www.researchspace.org/pattern/system/dimension/type"
                            dimension_value="http://www.researchspace.org/pattern/system/dimension/value"
                            dimension_unit="http://www.researchspace.org/pattern/system/dimension/unit"
                            entity_description="http://www.researchspace.org/pattern/system/entity/description"

                            entity_preferred_id="http://www.researchspace.org/pattern/system/entity/preferred_identifier"
                            entity_id="http://www.researchspace.org/pattern/system/entity/identifier"

                            dimension_duration_of_timespan="http://www.researchspace.org/pattern/system/dimension/duration_of_timespan"
                            
                            dimension_observed_in="http://www.researchspace.org/pattern/system/dimension/observed_in"
                            entity_measurement="http://www.researchspace.org/pattern/system/entity/measurement"
                            entity_attributed_by_attribute_assignment="http://www.researchspace.org/pattern/system/entity/attributed_by_attribute_assignment"
                            entity_assigned_by_attribute_assignment="http://www.researchspace.org/pattern/system/entity/assigned_by_attribute_assignment"
                            entity_influenced_activity="http://www.researchspace.org/pattern/system/entity/influenced_activity"
                            entity_motivated_activity="http://www.researchspace.org/pattern/system/entity/motivated_activity"
                            
                            dimension_dimension_of_thing="http://www.researchspace.org/pattern/system/dimension/dimension_of_thing"
                            entity_depicts_range="http://www.researchspace.org/pattern/system/entity/depicts_range"
                            entity_subject_of="http://www.researchspace.org/pattern/system/entity/subject_of_propositional_object"
                            entity_refers_to_range="http://www.researchspace.org/pattern/system/entity/refers_to_range"

                        ]]'
            >

    <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
        <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E54_Dimension'></semantic-form-hidden-input>
        
        {{#if scheme}}
            <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"></semantic-form-hidden-input>  
        {{/if}}

        <mp-splitpane id='{{viewId}}-entity-resource-sidebar' min-size=63 default-size=370 snap-threshold=200 default-open=true always-render=true primary='second' class="entity-resource-sidebar">
            <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs">
                <rs-tab event-key="detail" title="Details">
                    <div>
                        <semantic-form-text-input for="entity_primary_appellation" label="Dimension name" placeholder="Enter dimension name"></semantic-form-text-input>
                    
                        <semantic-form-select-input for='dimension_type' 
                                                    label="Dimension type"
                                                    placeholder="Select dimension type" 
                                                    nested-form-templates='[ 
                                                        {
                                                        "label": "Dimension type",
                                                        "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Type\" nested=true editable=true mode=\"new\" 
                                                                                        scheme=\"http://www.researchspace.org/resource/vocab/dimension_type\"
                                                                                        entityType=\"dimension type\" }}
                                                                        {{{{/raw}}}}"
                                                        }
                                                    ]'> 
                        </semantic-form-select-input>
                
                        <semantic-form-text-input for="dimension_value" label="Dimension value" placeholder="Enter measured value"></semantic-form-text-input>
                    
                        <semantic-form-tree-picker-input    for='dimension_unit' 
                                                            label="Dimension unit"
                                                            placeholder="Select dimension unit" 
                                                            close-dropdown-on-selection='true'
                                                            tree-patterns='{"scheme": "http://www.researchspace.org/resource/vocab/dimension_unit",
                                                                            "schemePattern": "?item crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/dimension_unit> .",
                                                                            "relationPattern": "?item crm:P127_has_broader_term ?parent",
                                                                            "labelPattern": "?item skos:prefLabel ?label"
                                                                        }'

                                                            scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                        "view": "vocabulary-content",
                                                                        "scheme": "http://www.researchspace.org/resource/vocab/dimension_unit",
                                                                        "tooltip": "Open list of dimension units"
                                                                        }'
                                            
                                                            nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                scheme="http://www.researchspace.org/resource/vocab/dimension_unit"
                                                                                                entityType="dimension unit" }}{{{{/raw}}}}'
                                            >
                        </semantic-form-tree-picker-input>
                
                        <semantic-form-text-input for="entity_description" label="Description" placeholder="Enter description/comment" multiline='true'> </semantic-form-text-input>

                        <semantic-form-autocomplete-input   for="entity_preferred_id" 
                                                            label="Preferred identifier"
                                                            placeholder="Select preferred identifier" 
                                                            nested-form-templates='[ 
                                                                {
                                                                    "label": "Identifier",
                                                                    "nestedForm":   "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Identifier\" nested=true editable=true mode=\"new\" }}
                                                                                    {{{{/raw}}}}"
                                                                }
                                                            ]'>
                        </semantic-form-autocomplete-input>

                        <semantic-form-autocomplete-input   for="entity_id" 
                                                            label="Other identifier"
                                                            placeholder="Select other identifier" 
                                                            nested-form-templates='[[> Platform:NestedFormTemplates_appellations]]'>
                        </semantic-form-autocomplete-input>
                        
                    </div>
                </rs-tab>

                <rs-tab event-key="timespan" title="Timespan">
                    <semantic-form-autocomplete-input   for='dimension_duration_of_timespan' 
                                                        label="Duration of timespan"
                                                        placeholder="Select the timespan that this dimension is duration of" 
                                                        nested-form-templates='[ 
                                                            {
                                                                "label": "Timespan",
                                                                "nestedForm": "{{{{raw}}}}
                                                                                {{> \"http://www.researchspace.org/resource/system/forms/Timespan\" nested=true editable=true mode=\"new\"}}
                                                                            {{{{/raw}}}}"
                                                            }
                                                        ]'>  
                    </semantic-form-autocomplete-input>
                </rs-tab>

                <rs-tab event-key="event" title="Events">

                    <semantic-form-autocomplete-input   for='dimension_observed_in' 
                                                        label="Observed in measurement"
                                                        placeholder="Select measurement that observed the dimension" 
                                                        nested-form-templates='[ 
                                                            {
                                                                "label": "Measurement",
                                                                "nestedForm": "{{{{raw}}}}
                                                                                {{> \"http://www.researchspace.org/resource/system/forms/Measurement\" nested=true editable=true mode=\"new\"}}
                                                                            {{{{/raw}}}}"
                                                            }
                                                        ]'>  
                    </semantic-form-autocomplete-input>

                    <semantic-form-autocomplete-input for='entity_measurement' 
                                                    label="Measured by"
                                                    placeholder="Select measurement that measured the dimension" 
                                                    nested-form-templates='[ 
                                                        {
                                                            "label": "Measurement",
                                                            "nestedForm": "{{{{raw}}}}
                                                                            {{> \"http://www.researchspace.org/resource/system/forms/Measurement\" nested=true editable=true mode=\"new\"}}
                                                                        {{{{/raw}}}}"
                                                        }
                                                    ]'>  
                    </semantic-form-autocomplete-input>

                    <semantic-form-autocomplete-input   for='entity_attributed_by_attribute_assignment' 
                                                        label="Attributed by"
                                                        placeholder="Select what assigned attribute to the dimension" 
                                                        nested-form-templates='[ 
                                                            {
                                                                "label": "Attribute assignment",
                                                                "nestedForm": "{{{{raw}}}}
                                                                                {{> \"http://www.researchspace.org/resource/system/forms/AttributeAssignment\" nested=true editable=true mode=\"new\"}}
                                                                            {{{{/raw}}}}"
                                                            }
                                                        ]'>  
                    </semantic-form-autocomplete-input>

                    <semantic-form-autocomplete-input   for='entity_assigned_by_attribute_assignment' 
                                                        label="Assigned by"
                                                        placeholder="Select what assigned the dimension" 
                                                        nested-form-templates='[ 
                                                            {
                                                                "label": "Attribute assignment",
                                                                "nestedForm": "{{{{raw}}}}
                                                                                {{> \"http://www.researchspace.org/resource/system/forms/AttributeAssignment\" nested=true editable=true mode=\"new\"}}
                                                                            {{{{/raw}}}}"
                                                            }
                                                        ]'>  
                    </semantic-form-autocomplete-input>

                    <semantic-form-autocomplete-input   for='entity_influenced_activity' 
                                                        label="Influenced"
                                                        placeholder="Select activity influenced by the dimension" 
                                                        nested-form-templates='[[> Platform:NestedFormTemplates_activities]]'>  
                    </semantic-form-autocomplete-input>

                    <semantic-form-autocomplete-input   for='entity_motivated_activity' 
                                                        label="Motivated"
                                                        placeholder="Select activity motivated by the dimension" 
                                                        nested-form-templates='[[> Platform:NestedFormTemplates_activities]]'>  
                    </semantic-form-autocomplete-input>

                </rs-tab>

                <rs-tab event-key="thing" title="Things">

                    <semantic-form-autocomplete-input   for='dimension_dimension_of_thing' 
                                                        label="Dimension of"
                                                        placeholder="Select thing" 
                                                        nested-form-templates='[[> Platform:NestedFormTemplates_things]]'> 
                    </semantic-form-autocomplete-input>

                    <div class="inline-composite-container">
                        <semantic-form-composite-input  for="entity_depicts_range" 
                                                        label="Depicted by" 
                                                        new-subject-template="/PC62_depicts/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                                        fields='[[fieldDefinitions
                                                                classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                                            
                                                                depicts_thing_domain="http://www.researchspace.org/pattern/system/depicts/domain"
                                                                mode_of_depiction="http://www.researchspace.org/pattern/system/depicts/mode_of_depiction"
                                                                ]]'>
            
                        <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC62_depicts'> </semantic-form-hidden-input>
            
                        <div class="form-inline-inputs">
                        <div style="flex: 1;">
                            <semantic-form-autocomplete-input for='depicts_thing_domain' 
                                                            render-header="false"
                                                            placeholder="Select what depicts the dimension"
                                                            nested-form-templates='[[> Platform:NestedFormTemplates_physicalManMadeThings]]'>
                            </semantic-form-autocomplete-input>
                        </div>
                        <div style="flex: 1;">
                            <semantic-form-tree-picker-input  for="mode_of_depiction" 
                                                            render-header="false"
                                                            placeholder="Select mode of depiction"
                                                            close-dropdown-on-selection='true'
                                                            tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/mode_of_depiction>", 
                                                                            "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/mode_of_depiction>",
                                                                            "relationPattern": "?item crm:P127_has_broader_term ?parent"}'
            
                                                            scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                        "view": "vocabulary-content",
                                                                                        "scheme": "http://www.researchspace.org/resource/vocab/mode_of_depiction",
                                                                                        "tooltip": "Open list of mode of depictions"
                                                                                        }'
                                                            
                                                            nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                    scheme="http://www.researchspace.org/resource/vocab/mode_of_depiction"
                                                                                                    entityType="mode of depiction" }}{{{{/raw}}}}'
            
                                                            query-item-label='SELECT ?label WHERE {
                                                                                ?item skos:prefLabel ?label .
                                                                            }'>
                            </semantic-form-tree-picker-input>
                        </div>
                        </div>
                        </semantic-form-composite-input>
                    </div>

                    <semantic-form-autocomplete-input for='entity_subject_of' 
                                                label="Subject of"
                                                placeholder="Select what is about the dimension" 
                                                nested-form-templates='[[> Platform:NestedFormTemplates_propositionalObjects]]'> 
                    </semantic-form-autocomplete-input>

                    <div class="inline-composite-container">
                        <semantic-form-composite-input  for="entity_refers_to_range" 
                                                        label="Referred to by"
                                                        new-subject-template="/PC67_refers_to/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                                        fields='[[fieldDefinitions
                                                                classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                                            
                                                                refers_to_propObj_domain="http://www.researchspace.org/pattern/system/refers_to/domain"
                                                                type_of_reference="http://www.researchspace.org/pattern/system/refers_to/type_of_reference"
                                                                ]]'>
            
                        <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC67_refers_to'> </semantic-form-hidden-input>
            
                        <div class="form-inline-inputs">
                        <div style="flex: 1;">
                            <semantic-form-autocomplete-input for='refers_to_propObj_domain' 
                                                            render-header="false"
                                                            placeholder="Select what refers to the dimension" 
                                                            nested-form-templates='[[> Platform:NestedFormTemplates_propositionalObjects]]'>
                            </semantic-form-autocomplete-input>
                        </div>
                        <div style="flex: 1;">
                            <semantic-form-tree-picker-input  for="type_of_reference" 
                                                            render-header="false"
                                                            placeholder="Select type of reference"
                                                            close-dropdown-on-selection='true'
                                                            tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/type_of_reference>", 
                                                                            "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/type_of_reference>",
                                                                            "relationPattern": "?item crm:P127_has_broader_term ?parent"}'
            
                                                            scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                        "view": "vocabulary-content",
                                                                                        "scheme": "http://www.researchspace.org/resource/vocab/type_of_reference",
                                                                                        "tooltip": "Open list of type of references"
                                                                                        }'
                                                            
                                                            nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                    scheme="http://www.researchspace.org/resource/vocab/type_of_reference"
                                                                                                    entityType="type of reference" }}{{{{/raw}}}}'
            
                                                            query-item-label='SELECT ?label WHERE {
                                                                                ?item skos:prefLabel ?label .
                                                                            }'>
                            </semantic-form-tree-picker-input>
                        </div>
                        </div>
                        </semantic-form-composite-input>
                    </div>

                </rs-tab>

                [[> rsp:FormMetadataTab]]

            </rs-tabs>

            [[> rsp:FormAssetSidebar]]
        </mp-splitpane>

    </div>

    <semantic-form-errors></semantic-form-errors>  
    [[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}entity{{/if}}']] 

</semantic-form>

