  <semantic-query query='SELECT ?resourceConfig ?resourceOntologyClass ?resourceType ?resourceRestrictionPattern ?resourceLabelPattern WHERE {    
                            BIND(<[[config]]> as ?resourceConfig) .
                            ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass  .
                            
                            OPTIONAL {
                              ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_type> ?resourceType .
                            }
                            OPTIONAL {
                              ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_restriction_sparql_pattern> ?resourceRestrictionPattern .
                            }
                            OPTIONAL {
                              ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_label_sparql_pattern> ?resourceLabelPattern .
                            }
                          } LIMIT 1'>

    <template id='template'>

      <mp-page-loader iri="http://www.researchspace.org/resource/EntitySearchTemplateTest"
                      urlqueryparam-resourceOntologyClass="{{bindings.0.resourceOntologyClass.value}}"
                      urlqueryparam-resourceType='{{#if bindings.0.resourceType.value}}{{bindings.0.resourceType.value}}{{/if}}' 
                      urlqueryparam-resourceRestrictionPattern='{{#if bindings.0.resourceRestrictionPattern.value}}{{bindings.0.resourceRestrictionPattern.value}}{{/if}}'
                      urlqueryparam-resourceLabelPattern='{{#if bindings.0.resourceLabelPattern.value}}{{bindings.0.resourceLabelPattern.value}}{{/if}}'
      ></mp-page-loader>


   [[!--   <inline-template  template-iri='[[resolvePrefix "rsp:EntitySearchTemplate"]]' 
                        options='{
                                "viewId": "{{viewId}}",
                                "resourceOntologyClass": "{{bindings.0.resourceOntologyClass.value}}",
                                "resourceType": "{{bindings.0.resourceType.value}}",
                                "resourceRestrictionPattern": "{{bindings.0.resourceRestrictionPattern.value}}",
                                "resourceLabelPattern": "{{bindings.0.resourceLabelPattern.value}}"
                        }'>
      </inline-template> --]]
    </template>
  </semantic-query>
