[[> rsp:FormEntityRecord]]

{{#ifCond mode "!==" "new"}}
    {{#if node}}
        <bs-tab event-key="metadata" title="Metadata" tab-class-name="tab-right">
            <semantic-query query='SELECT DISTINCT ?actor ?actorFullName ?creationDateValue ?importFromExternalSource ?sourceURI WHERE {
                                    BIND(<{{node}}> AS ?entity)

                                    ?entity crm:P129i_is_subject_of ?entityFormRecord .
                                    ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                    ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordCreation .
                                    ?entityFormRecordCreation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_creation> .

                                    ?entityFormRecordCreation crm:P14_carried_out_by ?actor .

                                    OPTIONAL {
                                        ?actor crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                        ?actor crm:P1_is_identified_by ?actorName .
                                        ?actorName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                        ?actorName crm:P190_has_symbolic_content ?actorFullName .
                                    }

                                    ?entityFormRecordCreation crm:P4_has_time-span ?creationDate .
                                    ?creationDate crm:P82_at_some_time_within ?creationDateValue .

                                    OPTIONAL {
                                        ?entityFormRecordCreation crm:P134_continued ?importFromExternalSource .
                                        ?importFromExternalSource crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/import_from_external_source> .
                                        ?importFromExternalSource crmdig:L14_transferred ?sourceURI .
                                        ?sourceURI crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/digital_object_type/web_link> .
                                    }
                                }'
                                        
                            template='{{> template}}'>
                                
                            <template id='template'>
                                <div class="semantic-form-input-title">Record metadata</div>
                                <div class="table-expanded">
                                    <table class="table metadata-table">
                                        <tbody>
                                            <tr class="standard-row">
                                                <td class="table-title" style="width: 200px;"><b>Created</b></td>
                                                <td class="table-description">
                                                    {{dateTimeFormat bindings.0.creationDateValue.value "DD/MM/YYYY, h:mm a"}} by
                                                    {{#if bindings.0.actorFullName.value}}
                                                        <semantic-link-container    uri="http://www.researchspace.org/resource/ThinkingFrames"
                                                                                    urlqueryparam-view='resource-editor' 
                                                                                    urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                                                                    urlqueryparam-resource-iri="{{bindings.0.actor.value}}"
                                                                                    urlqueryparam-mode='edit'>
                                                            <div style="text-decoration: underline; cursor: pointer;">{{bindings.0.actorFullName.value}}</div>
                                                        </semantic-link-container>
                                                    {{else}}
                                                        <mp-label iri='{{bindings.0.actor.value}}'></mp-label>
                                                    {{/if}}
                                                </td>
                                            </tr>
                                            {{#if bindings.0.importFromExternalSource.value}}
                                                <tr class="standard-row">
                                                    <td class="table-title" style="width: 200px;"><b>Imported from</b></td>
                                                    <td class="table-description">
                                                        <a class="text-link-action" target="_blank" href="{{bindings.0.sourceURI.value}}" title="{{bindings.0.sourceURI.value}}">{{bindings.0.sourceURI.value}}</a>
                                                    </td>
                                                </tr>
                                            {{/if}}
                                        </tbody>   
                                    </table>
                                </div>
                            </template>
            </semantic-query>

            <semantic-query query='SELECT DISTINCT ?actor ?actorFullName (MAX(?modificationDateValue) AS ?lastModificationDate) WHERE {
                                    BIND(<{{node}}> AS ?entity)

                                    ?entity crm:P129i_is_subject_of ?entityFormRecord .
                                    ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                    ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordModification .
                                    ?entityFormRecordModification crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_modification> .

                                    ?entityFormRecordModification crm:P14_carried_out_by ?actor .

                                    OPTIONAL {
                                        ?actor crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                        ?actor crm:P1_is_identified_by ?actorName .
                                        ?actorName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                        ?actorName crm:P190_has_symbolic_content ?actorFullName .
                                    }

                                    ?entityFormRecordModification crm:P4_has_time-span ?modificationDate .
                                    ?modificationDate crm:P82_at_some_time_within ?modificationDateValue .
                                } GROUP BY ?actor ?actorFullName'
                                        
                            template='{{> template}}'>
                                
                    <template id='template'>
                        <div class="table-expanded">
                            <table class="table metadata-table">
                                <tbody>
                                    {{#each bindings}}
                                        <tr class="standard-row">
                                            <td class="table-title" style="width: 200px;"><b>Last modified</b></td>
                                            <td class="table-description">
                                                {{dateTimeFormat lastModificationDate.value "DD/MM/YYYY, h:mm a"}} by
                                                {{#if actorFullName}}
                                                    <semantic-link-container    uri="http://www.researchspace.org/resource/ThinkingFrames"
                                                                                urlqueryparam-view='resource-editor' 
                                                                                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                                                                urlqueryparam-resource-iri="{{actor.value}}"
                                                                                urlqueryparam-mode='edit'>
                                                        <div style="text-decoration: underline; cursor: pointer;">{{actorFullName.value}}</div>
                                                    </semantic-link-container>
                                                {{else}}
                                                    <mp-label iri='{{actor.value}}'></mp-label>
                                                {{/if}}
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>   
                            </table>
                        </div>
                    </template>
            </semantic-query>

            [[#if imageOverlay]]
                <semantic-query  query='SELECT DISTINCT ?modifiedByUser ?modifiedByUserFullName ?modifiedAtTime WHERE {
                                            BIND(<{{node}}> AS ?overlayImage)

                                            ?overlayImage a crmdig:D9_Data_Object .
                                            ?overlayImage crmdig:L60i_is_documented_by ?digitizationProcess .
                                            ?digitizationProcess a crmdig:D2_Digitization_Process .
            
                                            ?overlayImage <http://www.w3.org/ns/prov#generatedAtTime> ?modifiedAtTime .
            
                                            [[#if (hasPermission "forms:ldp:*")]]
                                                ?overlayImage <http://www.w3.org/ns/prov#wasAttributedTo> ?modifiedByUser .
                                            [[else]]
                                                ?overlayImage <http://www.w3.org/ns/prov#wasAttributedTo> ?modifiedByUser .
                                                FILTER(?modifiedByUser = <http://www.researchspace.org/resource/system/anonymousUser> )
                                            [[/if]]

                                            OPTIONAL {
                                                ?modifiedByUser crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                                ?modifiedByUser crm:P1_is_identified_by ?actorName .
                                                ?actorName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                                ?actorName crm:P190_has_symbolic_content ?modifiedByUserFullName .
                                            }
                                        }'
                                template='{{> template}}'>
                                            
                            <template id='template'>
                                <div>
                                    <div class="semantic-form-input-title">Image overlay metadata</div>
                                    <div class="table-expanded">
                                        <table class="table metadata-table">
                                            <tbody>
                                                <tr class="standard-row">
                                                    <td class="table-title" style="width: 200px;"><b>Created</b></td>
                                                    <td class="table-description">
                                                        {{dateTimeFormat bindings.0.modifiedAtTime.value "DD/MM/YYYY, h:mm a"}} by
                                                        {{#if bindings.0.modifiedByUserFullName.value}}
                                                            <semantic-link-container    uri="http://www.researchspace.org/resource/ThinkingFrames"
                                                                                        urlqueryparam-view='resource-editor' 
                                                                                        urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                                                                        urlqueryparam-resource-iri="{{bindings.0.modifiedByUser.value}}"
                                                                                        urlqueryparam-mode='edit'>
                                                                <div style="text-decoration: underline; cursor: pointer;">{{bindings.0.modifiedByUserFullName.value}}</div>
                                                            </semantic-link-container>
                                                        {{else}}
                                                            <mp-label iri='{{bindings.0.modifiedByUser.value}}'></mp-label>
                                                        {{/if}}
                                                    </td>
                                                </tr>
                                            </tbody>   
                                        </table>
                                    </div>
                                </div>
                            </template>
                </semantic-query>
            [[/if]]

            <semantic-if query='ASK {<{{node}}> crm:P129i_is_subject_of ?entityFormRecord .
                                        ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                        ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordModification .
                                        ?entityFormRecordModification crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_modification> . }'
                        then='{{> then}}'>
            
                <template id='then'>
                    <div class="table-expanded">
                        <table class="table metadata-table">
                            <tbody>
                                <tr class="standard-row">
                                    <td class="table-title" style="width: 200px;"><b>Modification history</b></td>
                                    <td class="table-description">
                                        <mp-overlay-dialog  id="{{viewId}}-modification-history"  
                                                            type="modal" 
                                                            class="modal-xlSize preview_modal"
                                                            title="All modifications">
                                        <mp-overlay-dialog-trigger>
                                            <div style="text-decoration: underline; cursor: pointer;">all modifications</div>
                                        </mp-overlay-dialog-trigger>
                                        <mp-overlay-dialog-content>
                                            <div>
                                                <semantic-table id='{{viewId}}-modification-table'
                                                                class-name="table-fixed-header table-expanded"
                                                                query='SELECT ?actor ?actorFullName ?modificationDateValue WHERE {
                                                                    BIND(<{{node}}> AS ?entity)
                                
                                                                    ?entity crm:P129i_is_subject_of ?entityFormRecord .
                                                                    ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                                                    ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordModification .
                                                                    ?entityFormRecordModification crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_modification> .
                                
                                                                    ?entityFormRecordModification crm:P14_carried_out_by ?actor .
                                
                                                                    OPTIONAL {
                                                                        ?actor crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                                                        ?actor crm:P1_is_identified_by ?actorName .
                                                                        ?actorName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                                                        ?actorName crm:P190_has_symbolic_content ?actorFullName .
                                                                    }
                                
                                                                    ?entityFormRecordModification crm:P4_has_time-span ?modificationDate .
                                                                    ?modificationDate crm:P82_at_some_time_within ?modificationDateValue .
                                                                } ORDER BY DESC(?modificationDateValue)'
                                                                
                                                                number-of-displayed-rows=20
                                                                options:='{"filterPlaceholderText":"Filter modifications"}'
                                                                no-result-template='{{> noResults}}'
                                                                column-configuration='[{"variableName": "modificationDateValue", "displayName": "Modification date", "cellTemplate": "{{> date}}" },
                                                                                        {"variableName": "actorFullName", "displayName": "Modified by", "cellTemplate": "{{> actor}}" }
                                                                                    ]'>
        
                                                        <template id='date'>
                                                            <div style="display: flex; gap: 5px; align-items: center;">
                                                                <rs-icon icon-type="rounded" icon-name="schedule" symbol="true"></rs-icon>
                                                                <div>{{dateTimeFormat modificationDateValue.value "DD/MM/YYYY, h:mm a"}}</div>
                                                            </div>
                                                        </template>
                                                        
                                                        <template id='actor'>
                                                            <div style="display: flex; gap: 5px; align-items: center;">
                                                                <rs-icon icon-type="rounded" icon-name="portrait" symbol="true"></rs-icon>
                                                                {{#if actorFullName.value}}
                                                                    <semantic-link-container    uri='http://www.researchspace.org/resource/ThinkingFrames'
                                                                                                urlqueryparam-view='resource-editor' 
                                                                                                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                                                                                urlqueryparam-resource-iri="{{actor.value}}"
                                                                                                urlqueryparam-mode='edit'>
                                                                        <div class="text-link">{{actorFullName.value}}</div>
                                                                    </semantic-link-container>
                                                                {{else}}
                                                                    <mp-label iri='{{actor.value}}'></mp-label>
                                                                {{/if}}
                                                            </div>
                                                        </template>
        
                                                        <template id="noResults">
                                                            <div style="padding: 12px 0">
                                                                No modification available
                                                            </div>
                                                        </template>
                                                </semantic-table>
                                            </div>
                                        </mp-overlay-dialog-content>
                                        </mp-overlay-dialog>
                                    </td>
                                </tr>
                            </tbody>   
                        </table>
                    </div>
                </template>
            </semantic-if>


            <semantic-query query='SELECT DISTINCT ?actor ?actorFullName WHERE {
                                    BIND(<{{node}}> AS ?entity)

                                    ?entity crm:P129i_is_subject_of ?entityFormRecord .
                                    ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                    ?entityFormRecord crmdig:L11i_was_output_of ?recordOutput .
                                    ?recordOutput crm:P2_has_type ?type .
                                    FILTER(?type IN (<http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_modification>, 
                                                        <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_creation>
                                                        ))
                                    ?recordOutput crm:P14_carried_out_by ?actor .

                                    OPTIONAL {
                                        ?actor crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                        ?actor crm:P1_is_identified_by ?actorName .
                                        ?actorName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                        ?actorName crm:P190_has_symbolic_content ?actorFullName .
                                    }
                                } ORDER BY ?actorFullName ?actor'
                            template='{{> template}}'>

                <template id='template'>
                    <div class="table-expanded">
                        <table class="table metadata-table">
                            <tbody>
                                <tr class="standard-row">
                                    <td class="table-title" style="width: 200px;"><b>Contributors</b></td>
                                    <td class="table-description">
                                        <mp-popover>
                                            <mp-popover-trigger placement="bottom" trigger='["click", "focus"]'> 
                                                <rs-icon icon-type="rounded" icon-name="people_alt" class="people-icon" symbol="true"></rs-icon>
                                            </mp-popover-trigger>
                                            <mp-popover-content>
                                                <div>
                                                    {{#each bindings}}
                                                        {{#if actorFullName.value}}
                                                            <semantic-link-container    uri='http://www.researchspace.org/resource/ThinkingFrames'
                                                                                        urlqueryparam-view='resource-editor' 
                                                                                        urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                                                                        urlqueryparam-resource-iri="{{actor.value}}"
                                                                                        urlqueryparam-mode='edit'>
                                                                <div class="text-link">{{actorFullName.value}}</div>
                                                            </semantic-link-container>
                                                        {{else}}
                                                            <mp-label iri='{{actor.value}}'></mp-label>
                                                        {{/if}}
                                                    {{/each}}
                                                </div>
                                            </mp-popover-content>
                                        </mp-popover>
                                    </td>
                                </tr>
                            </tbody>   
                        </table>
                    </div>
                </template>
            </semantic-query>
            
        </bs-tab>
    {{/if}}
{{/ifCond}}