[ 
  [[!--  items must be of subclasses of E53_Place --]]
  {
    "label": "Organisation",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Organisation\" nested=true editable=true mode=\"new\" apiResourceURI=false apiResourceName=false apiResourceLabel=false apiResourceDescription=false apiResourceWikidataId=false}}{{{{/raw}}}}"
  },
  {
    "label": "Place",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Place\" nested=true editable=true mode=\"new\" apiResourceURI=false apiResourceName=false apiResourceLabel=false apiResourceDescription=false apiResourceWikidataId=false}}{{{{/raw}}}}"
  },
  {
    "label": "Site",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Site\" nested=true editable=true mode=\"new\" apiResourceURI=false apiResourceName=false apiResourceLabel=false apiResourceDescription=false apiResourceWikidataId=false}}{{{{/raw}}}}"
  }
]