<div  class="resource-card"
      style="{{#if autosize}}{{else}}width:{{#if width}}{{width}}{{else}}160{{/if}}px; height:{{#if height}}{{height}}{{else}}200{{/if}}px; margin:{{#if cardMargin}}{{cardMargin}}{{else}}0{{/if}}px;{{/if}}">
      [[!-- when autosize is set we don't set any fixed height and width, used in semantic narratives where user can resize the card --]]

  <div class="resource-card__header-actions">
    [[#if (hasPermission "forms:ldp:*")]]
      {{#if selectionToggle}}
        <mp-selection-toggle selection="item-selection-aggregator" tag="{{iri}}"></mp-selection-toggle>
      {{/if}}
    [[/if]]
    <div class="resource-card__buttons-container">
      {{> rsp:ResourceDropdownActions viewId=viewId
                                      iri=iri
                                      resourceConfig=resourceConfig
                                      resourceLabel=resourceLabel
                                      cardButton=true
      }}
    </div>
  </div>

  <div class="resource-card__media-container">

    {{#switch resourceOntologyClass}}

      {{#case "http://www.researchspace.org/ontology/EX_Digital_Image_Region" break=true}}
        <rs-iiif-image-thumbnail height='480' width='640' style='height: 100%; width: 100%;'
                                image-or-region='{{iri}}'      
                                [[> rsp:IIIFConfig]]>
        </rs-iiif-image-thumbnail>
      {{/case}}

      {{#case "http://iflastandards.info/ns/fr/frbr/frbroo/F26_Recording" break=true}}
        <semantic-query query='SELECT DISTINCT ?video WHERE { 
                                <{{iri}}> crm:P129i_is_subject_of ?digital_object.
                                <{{iri}}> crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/recording_video> .
                                ?digital_object crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/digital_object_type/web_link> .
                                ?digital_object crm:P190_has_symbolic_content ?video .
                              } LIMIT 1'
                            
                        template='{{> template}}'
                        no-result-template='{{> noResults}}'>

              <template id='template'>
                      <div class="h100 w100">
                          <iframe src='{{bindings.0.video.value}}' 
                                  frameborder="0" 
                                  allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" 
                                  width="100%" height="100%"
                                  allowfullscreen>
                          </iframe>
                      </div>
              </template>

              <template id="noResults">
                [[> defaultCardIcon]]
              </template>
        </semantic-query>
      {{/case}}

      {{#default}}
        {{#if props.[http://www.researchspace.org/pattern/system/image_annotation/area_of_image]}}
          <rs-iiif-image-thumbnail  height='480' width='640' style='height: 100%; width: 100%;'
                                    image-or-region='{{props.[http://www.researchspace.org/pattern/system/image_annotation/area_of_image].values.0.value}}' 
                                    bbox='{{props.[http://www.researchspace.org/pattern/system/image_annotation/boundingBox].values.0.value}}'
                                    viewport='{{props.[http://www.researchspace.org/pattern/system/image_annotation/viewport].values.0.value}}'
                                    svg='{{props.[http://www.w3.org/1999/02/22-rdf-syntax-ns#value].values.0.value}}'
                                    [[> rsp:IIIFConfig]]>
          </rs-iiif-image-thumbnail>
        {{else}}
          <mp-resource-thumbnail iri='{{iri}}' class="resource-card__thumbnail">
            <mp-resource-thumbnail-fallback>
              [[> defaultCardIcon]]
            </mp-resource-thumbnail-fallback>
          </mp-resource-thumbnail>
        {{/if}}
      {{/default}}

    {{/switch}}
  </div>

  <div class="resource-card__footer">
    [[#if customFooter]]
      [[#block "customFooter"]][[/block]]
    [[else]]
      <div class="resource-card__footer-type color-secondary-light text-font-size__xsmall">
        {{#if resourceLabel}}
          {{resourceLabel}}
        {{else}}
 
          <semantic-query query='SELECT ?ontologyClassLabel WHERE {
                                    BIND(<{{iri}}> as ?resource)
                                    ?resource a ?ontologyClass .
                                    ?ontologyClass a owl:Class .
                                    ?ontologyClass rdfs:label ?ontologyClassLabel .
                                    FILTER(LANG(?ontologyClassLabel)="en")
                                  } LIMIT 1'
                          template='{{> template}}'>
      
              <template id='template'>
                {{bindings.0.ontologyClassLabel.value}}
              </template>
          </semantic-query>
        {{/if}}
      </div>

      <div class="resource-card__footer-title">
        {{#if (eq resourceConfig "http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map")}}
          <mp-event-trigger id='{{iri}}-open-km-title-trigger' 
                            type='Dashboard.AddFrame'
                            data='{"viewId":"knowledge-map", 
                                    "resourceIri": "{{iri}}"}' 
                            targets='["thinking-frames"]'>
            <div><mp-label iri='{{iri}}' class="text-link"></mp-label></div>
          </mp-event-trigger>
        {{else}}
          {{#if label}}
            [[!-- Label from KM props --]]
            <span class="text-link">{{label}}</span>
          {{else}}
            <semantic-link  uri='http://www.researchspace.org/resource/ThinkingFrames'
                            urlqueryparam-view='{{#if (eq resourceConfig "http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative")}}semantic-narrative{{else}}resource-editor{{/if}}'
                            urlqueryparam-resource='{{iri}}'>
              <mp-label iri='{{iri}}' class="text-link" highlight='{{highlight}}' highlight-props='{"style": {"color": "#dc8a4b"}}'></mp-label>
            </semantic-link>
          {{/if}}
        {{/if}}
      </div>
    [[/if]]
  </div> 

  [[!-- <div>{{resourceConfig}}</div>
  <div>{{resourceIcon}}</div>
  <div>{{resourceLabel}}</div>
  <div>{{iri}}</div> --]]

</div>

[[#*inline "defaultCardIcon"]]
  <div class="h100 w100 resource-card__icon-container">
    {{#if resourceIcon}}
      <rs-icon icon-type="rounded" icon-name="{{resourceIcon}}" symbol=true></rs-icon>
    {{else}}
      <rs-icon icon-type="rounded" icon-name="bubble_chart" symbol=true></rs-icon>
    {{/if}}
    {{#if resourceLabel}}
      <div>{{resourceLabel}}</div>
    {{/if}}
  </div>
[[/inline]]