<style>

  .mirador-main-menu-bar,
  .mirador-osd-annotation-controls  {
    display: none !important;
  }

  .mirador .researchspace-mirador.mirador-container .mirador-viewer {
    top: 0;
  }
      
</style>

<semantic-query query='SELECT ?image ?video ?map WHERE {
                        OPTIONAL {
                          {
                            <{{resource}}> a rs:EX_Digital_Image .
                            BIND(<{{resource}}> as ?image)
                          } UNION {
                            <{{resource}}> a rs:EX_Digital_Image_Region .
                            <{{resource}}> crmdig:L49_is_primary_area_of ?image .
                            ?image a rs:EX_Digital_Image .                
                          }
                          UNION {
                            <{{resource}}> (crm:P138i_has_representation|rs:PX_has_main_representation) ?image .
                            ?image a rs:EX_Digital_Image .
                          } 
                          UNION {
                            <{{resource}}> (crm:P138i_has_representation|rs:PX_has_main_representation) ?imageAnnotation .
                            ?imageAnnotation a rs:EX_Digital_Image_Region .
                            ?imageAnnotation crmdig:L49_is_primary_area_of ?image .
                            ?image a rs:EX_Digital_Image .
                          }
                        }
                        OPTIONAL {
                          {
                            <{{resource}}> a frbroo:F26_Recording .
                            <{{resource}}> crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/recording_video> .
                            <{{resource}}> crm:P129i_is_subject_of ?digital_object .
                            ?digital_object a crmdig:D1_Digital_Object .
                            ?digital_object crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/digital_object_type/web_link> .
                            ?digital_object crm:P190_has_symbolic_content ?video .
                          } UNION {
                            <{{resource}}> crm:P129i_is_subject_of ?videoURI . 
                            ?videoURI a frbroo:F26_Recording .
                            ?videoURI crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/recording_video> .
                            ?videoURI crm:P129i_is_subject_of ?digital_object .
                            ?digital_object a crmdig:D1_Digital_Object .
                            ?digital_object crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/digital_object_type/web_link> .
                            ?digital_object crm:P190_has_symbolic_content ?video .
                          }
                        }
                        OPTIONAL {
                          <{{resource}}> crm:P168_place_is_defined_by ?osm_geoCoordinates .
                          ?osm_geoCoordinates crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/osm_geographic_coordinates> .
                          ?osm_geoCoordinates crm:P190_has_symbolic_content ?map .
                        }
                      } LIMIT 1'
                
              template='{{> template}}'
              no-result-template='{{> noResults}}'>        

    <template id='template'>
      <bs-tab-container id="resource-preview-media-tabs"  
                        default-active-key="{{#if bindings.0.image.value}}image{{else}}{{#if bindings.0.video.value}}{{#if (not bindings.0.image.value)}}video{{/if}}{{/if}}{{#if bindings.0.map.value}}{{#if (not bindings.0.image.value)}}{{#if (not bindings.0.video.value)}}map{{/if}}{{/if}}{{/if}}{{/if}}" 
                        class="preview-media-tabs">
        <div>
          <bs-nav bs-style="tabs">
            {{#if bindings.0.image.value}}
              {{#if (or bindings.0.video.value bindings.0.map.value)}}
                <bs-nav-item event-key="image">Image</bs-nav-item>
              {{/if}}
            {{/if}}

            {{#if bindings.0.video.value}}
              {{#if (or bindings.0.image.value bindings.0.map.value)}}
                <bs-nav-item event-key="video">Video</bs-nav-item>
              {{/if}}
            {{/if}}

            {{#if bindings.0.map.value}}
              {{#if (or bindings.0.image.value bindings.0.video.value)}}
                <bs-nav-item event-key="map">Map</bs-nav-item>
              {{/if}}
            {{/if}}
          </bs-nav>
          <bs-tab-content animation="true" mount-on-enter="true">
            <bs-tab-pane event-key="image">
              {{#if bindings.0.image.value}}
                <div class="modal-image-container">
                  <div class="modal-iiif-container">


                {{#if (eq resourceConfig "http://www.researchspace.org/resource/system/resource_configurations_container/data/Image_annotation") }}

                  <rs-iiif-image-thumbnail  height='180' width='auto' style='max-height: 180px; height: 180px; width: 100%; border-radius: 1.5px; object-fit: contain;'
                                      image-or-region='{{resource}}'    
                                      [[> rsp:IIIFConfig]]>
                  </rs-iiif-image-thumbnail>
          
                {{else}}
                    <rs-iiif-viewer-panel id='mirador'
                                          iris='[ "{{resource}}" ]'
                                          query="SELECT DISTINCT ?image WHERE {
                                                  {
                                                    <{{resource}}> a rs:EX_Digital_Image .
                                                    BIND(<{{resource}}> as ?image)
                                                  } 
                                                  UNION {
                                                    <{{resource}}> a rs:EX_Digital_Image_Region .
                                                    <{{resource}}> crmdig:L49_is_primary_area_of ?image .
                                                    ?image a rs:EX_Digital_Image .                
                                                  }
                                                  UNION {
                                                    <{{resource}}> (crm:P138i_has_representation|rs:PX_has_main_representation) ?image .
                                                    ?image a rs:EX_Digital_Image .
                                                  } 
                                                  UNION {
                                                    <{{resource}}> (crm:P138i_has_representation|rs:PX_has_main_representation) ?imageAnnotation .
                                                    ?imageAnnotation a rs:EX_Digital_Image_Region .
                                                    ?imageAnnotation crmdig:L49_is_primary_area_of ?image .
                                                    ?image a rs:EX_Digital_Image .
                                                  }
                                                }"     
                                          [[> rsp:IIIFConfig]]>
                    </rs-iiif-viewer-panel>
                  {{/if}} 
                  </div>
                  [[> resourceDetails]]
                </div>
              {{/if}}
              </semantic-if>
            </bs-tab-pane>
      
            <bs-tab-pane event-key="video"> 
              {{#if bindings.0.video.value}}
                <semantic-query query='SELECT DISTINCT ?video WHERE { 
                                        {
                                          <{{resource}}> crm:P129i_is_subject_of ?videoURI . 
                                          ?videoURI a frbroo:F26_Recording .
                                          ?videoURI crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/recording_video> .
                                          ?videoURI crm:P129i_is_subject_of ?digital_object .
                                          ?digital_object a crmdig:D1_Digital_Object .
                                          ?digital_object crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/digital_object_type/web_link> .
                                          ?digital_object crm:P190_has_symbolic_content ?video .
                                        } UNION {
                                          <{{resource}}> crm:P129i_is_subject_of ?digital_object.
                                          ?digital_object rdf:type crmdig:D1_Digital_Object .
                                          ?digital_object crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/digital_object_type/web_link> .
                                          ?digital_object crm:P190_has_symbolic_content ?video .
                                        }
                                      }'
                                          
                              template='{{> template}}'>
            
                  <template id='template'>
                    {{#if bindings.1.video.value}}
                      <div class="modal-video-container">
                        <div class="modal-videos">
                          {{#each bindings}}
                            <div>
                              <iframe src='{{video.value}}' 
                                      frameborder="0" 
                                      allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" 
                                      width="358" height="230"
                                      allowfullscreen>
                              </iframe>
                            </div>
                          {{/each}}
                        </div>
                        [[> resourceDetails]]
                      </div>
                    {{else}}
                      <div class="modal-video-container modal-single-video-container">
                        <div class="modal-single-video">
                          <iframe src='{{bindings.0.video.value}}' 
                                  frameborder="0" 
                                  allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" 
                                  width="100%" height="100%"
                                  allowfullscreen>
                          </iframe>
                        </div>
                        [[> resourceDetails]]
                      </div>
                    {{/if}}
                  </template>
                </semantic-query>
              {{/if}}
            </bs-tab-pane>
      
            <bs-tab-pane event-key="map">
              {{#if bindings.0.map.value}}
                <div class="modal-map-container">
                  <div class="modal-map">
                    <semantic-map query='SELECT ?wkt WHERE { 
                                            <{{resource}}> crm:P168_place_is_defined_by ?osm_geoCoordinates .
                                            ?osm_geoCoordinates a crm:E94_Space_Primitive .
                                            ?osm_geoCoordinates crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/osm_geographic_coordinates> .
                                            ?osm_geoCoordinates crm:P190_has_symbolic_content ?wkt .
                                            } LIMIT 1'
                                    tuple-template='<b style="color:#525156; padding-bottom:5px;"><mp-label iri="{{resource}}"></mp-label></b>'>
                    </semantic-map>
                  </div>
                  [[> resourceDetails]]
                </div>
              {{/if}}
            </bs-tab-pane> 
      
          </bs-tab-content>
        </div>
      </bs-tab-container>
    </template>
    <template id='noResults'>
      <div class="preview-media-noResults">
        [[> resourceDetails]]
      </div>
    </template>
</semantic-query>

[[#*inline "resourceDetails"]]
  {{#if resourceDetailSection}}
    <div class="modal-resource-details">
      <div>
        <h3 style="margin-top: 0; margin-bottom: 5px; text-transform: capitalize;">
          <mp-label iri='{{resource}}'></mp-label>
        </h3>

        {{#if (eq resourceConfig "http://www.researchspace.org/resource/system/resource_configurations_container/data/User") }}
          <semantic-query query='SELECT DISTINCT ?systemUser  { 
                                  BIND(IRI(REPLACE(STR(?__useruri__), "%40", "_")) as ?systemUser)
                                }'
                          template='{{> template}}'>

            <template id='template'>
              {{#ifCond bindings.0.systemUser.value "===" resource}}
                <p class="color-action text-bold600">My profile</p>
              {{else}}
                <p class="color-secondary-light">{{resourceConfigLabel}}</p>
              {{/ifCond}}
            </template>
          </semantic-query>
        {{else if (eq resourceConfig "http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart")}}          
            <div>
              <mp-persisted-component iri='{{resource}}'></mp-persisted-component>
            </div>
        {{else if (eq resourceConfig "http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline")}}          
            <div>
              <mp-persisted-component iri='{{resource}}'></mp-persisted-component>
            </div>  
        {{else}}
          {{#if resourceConfigLabel}}
            <p class="color-secondary-light">{{resourceConfigLabel}}</p>
          {{else if resourceOntologyClass}}
            <p class="color-secondary-light">{{resourceOntologyClass}}</p>
          {{/if}}
        {{/if}}

        {{#if resourceDescription}}
          <p>{{resourceDescription}}</p>
        {{/if}}

        {{#if resourceConfig}}
          <mp-event-proxy id='{{resource}}-closeDialog-proxy'
                          on-event-source='{{resource}}-edit-btn-trigger'
                          on-event-type='Dashboard.AddFrame'
                          proxy-event-type='OverlayDialog.Close' 
                          proxy-targets='["{{modalId}}"]'
          ></mp-event-proxy>

          <mp-event-proxy id='{{resource}}-closeDialog-proxy'
                          on-event-source='{{resource}}-open-narrative-trigger'
                          on-event-type='Dashboard.AddFrame'
                          proxy-event-type='OverlayDialog.Close' 
                          proxy-targets='["{{modalId}}"]'
          ></mp-event-proxy>

          <mp-event-proxy id='{{resource}}-closeDialog-proxy'
                          on-event-source='{{resource}}-open-km-trigger'
                          on-event-type='Dashboard.AddFrame'
                          proxy-event-type='OverlayDialog.Close' 
                          proxy-targets='["{{modalId}}"]'
          ></mp-event-proxy>

          <div style="display: flex; align-items: center; gap: 10px;">
            
            {{#if (eq resourceConfig "http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative") }}
              <mp-event-trigger id='{{resource}}-open-narrative-trigger' 
                                type='Dashboard.AddFrame'
                                data='{ "viewId":"semantic-narrative", 
                                        "resourceIri":"{{resource}}"
                                      }' 
                                targets='["thinking-frames"]'>
                <button class="btn btn-primary btn-textAndIcon">
                  <span>Open narrative</span>
                  <rs-icon icon-type="round" icon-name="chevron_right"></rs-icon>
                </button>
              </mp-event-trigger>
            {{/if}}

            {{#if (eq resourceConfig "http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map") }}
              <mp-event-trigger id='{{resource}}-open-km-trigger' 
                                type='Dashboard.AddFrame'
                                data='{ "viewId":"knowledge-map", 
                                        "resourceIri":"{{resource}}"
                                      }' 
                                targets='["thinking-frames"]'>
                <button class="btn btn-primary btn-textAndIcon">
                  <span>Open knowledge map</span>
                  <rs-icon icon-type="round" icon-name="chevron_right"></rs-icon>
                </button>
              </mp-event-trigger>
            {{/if}}

            {{#if (eq resourceConfig "http://www.researchspace.org/resource/system/resource_configurations_container/data/User") }}
              <semantic-query query='SELECT DISTINCT ?systemUser  { 
                                      BIND(IRI(REPLACE(STR(?__useruri__), "%40", "_")) as ?systemUser)
                                    }'
                              template='{{> template}}'>

                <template id='template'>
                  <mp-event-trigger id='{{resource}}-edit-btn-trigger' 
                                    type='Dashboard.AddFrame'
                                    data='{ "viewId":"resource-editor", 
                                            "resourceIri":"{{resource}}",
                                            "entityTypeConfig": "{{resourceConfig}}", 
                                            "editable": true,
                                            "mode":"edit"}' 
                                    targets='["thinking-frames"]'>
                    <button class="btn btn-primary btn-textAndIcon">
                      <span>
                        {{#ifCond bindings.0.systemUser.value "===" resource}}Edit{{else}}View{{/ifCond}}
                      </span>
                      <rs-icon icon-type="round" icon-name="chevron_right"></rs-icon>
                    </button>
                  </mp-event-trigger>
                </template>
              </semantic-query>
            {{else}}
              <mp-event-trigger id='{{resource}}-edit-btn-trigger' 
                                type='Dashboard.AddFrame'
                                data='{ "viewId":"resource-editor", 
                                        "resourceIri":"{{resource}}",
                                        "entityTypeConfig": "{{resourceConfig}}", 
                                        "editable": true,
                                        "mode":"edit"}' 
                                targets='["thinking-frames"]'>
                <button class="btn btn-primary btn-textAndIcon">
                  <span>Edit</span>
                  <rs-icon icon-type="round" icon-name="chevron_right"></rs-icon>
                </button>
              </mp-event-trigger>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
[[/inline ]]
