<semantic-query query='SELECT ?resourceConfig ?searchAllPage ?viewId ?resourceLabel ?resourceOntologyClass ?resourceType ?resourceIcon ?resourceFormIRI ?resourceRestrictionPattern ?resourceLabelPattern ?resourceSearchKPCategory
                       WHERE {    
                            BIND(<[[config]]> as ?resourceConfig) .
                            [[#if selectedResource]]BIND(true as ?searchAllPage)[[else]]BIND("false" as ?searchAllPage)[[/if]] .
                            BIND("{{dashboardId}}" as ?viewId)

                            #?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceLabel .
                            #?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass  .
                            
                            #OPTIONAL {
                            #  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_type> ?resourceType .
                            #}

                            #OPTIONAL {
                            #  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                            #}

                            #OPTIONAL {
                            #  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_restriction_sparql_pattern> ?resourceRestrictionPattern .
                            #}

                            #OPTIONAL {
                            #  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_label_sparql_pattern> ?resourceLabelPattern .
                            #}

                            #OPTIONAL {
                            #  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_search_facet_kpCategory> ?resourceSearchKPCategory .
                            #}
                            #OPTIONAL {
                            #  ?resourceConfig  <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                            #}
                          }'>

    <template id='template'>
      
      <mp-event-proxy id='{{bindings.0.viewId.value}}-close-removal-dialog' 
                      on-event-types='["Form.ResourceRemoved"]'
                      proxy-event-type='OverlayDialog.Close' 
                      proxy-targets='["{{bindings.0.resourceConfig.value}}-delete-resource-dialog"]'
      ></mp-event-proxy>  

      <mp-event-proxy id='{{bindings.0.viewId.value}}-delete-searchPage-on-form-actions'
                      on-event-types='["Form.ResourceRemoved"]'      
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["{{bindings.0.resourceConfig.value}}-resourceSearch-frame"]'
                      additional-data='{"resourceDeleted": true }'>
      ></mp-event-proxy>

      <mp-event-proxy id='{{bindings.0.viewId.value}}-update-searchPage-on-form-actions'
                      on-event-types='["Form.ResourceUpdated"]'      
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["{{bindings.0.resourceConfig.value}}-resourceSearch-frame"]'>
      ></mp-event-proxy>

      <mp-event-proxy id='{{bindings.0.viewId.value}}-update-searchPage-on-ontodia-data-changed'
                      on-event-type='Ontodia.DiagramDataPersisted'
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["{{bindings.0.resourceConfig.value}}-resourceSearch-frame"]'>
      </mp-event-proxy>

    {{#if (eq bindings.0.resourceConfig.value "http://www.researchspace.org/resource/system/resource_configurations_container/data/Set")}}
      <mp-event-proxy id='{{bindings.0.viewId.value}}-update-setSearch-on-set-modification'
                      on-event-types='["Components.SetManagement.SetAdded",
                                        "Components.SetManagement.SetRenamed",
                                        "Components.SetManagement.SetRemoved"]'
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["http://www.researchspace.org/resource/system/resource_configurations_container/data/Set-resourceSearch-frame"]'>
      </mp-event-proxy>
    {{/if}}

    {{#if (eq bindings.0.resourceConfig.value "http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart")}}
      <mp-event-proxy id='{{bindings.0.viewId.value}}-update-semanticChartSearch-on-chart-creation'
                      on-event-types='["Components.SetManagement.SetAdded"]'
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart-resourceSearch-frame"]'>
      </mp-event-proxy>
    {{/if}}

    {{#if (eq bindings.0.resourceConfig.value "http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline")}}
      <mp-event-proxy id='{{bindings.0.viewId.value}}-update-semanticTimelineSearch-on-timeline-creation'
                      on-event-types='["Components.SetManagement.SetAdded"]'
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline-resourceSearch-frame"]'>
      </mp-event-proxy>
    {{/if}}

    {{#if (eq bindings.0.resourceConfig.value "http://www.researchspace.org/resource/system/resource_configurations_container/data/Image")}}
      <mp-event-proxy id='{{bindings.0.viewId.value}}-update-ImageSearch-on-OverlayComparison-created' 
                      on-event-types='["OverlayComparison.Created"]'
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["http://www.researchspace.org/resource/system/resource_configurations_container/data/Image-resourceSearch-frame"]'
                      additional-data='{"imageOverlayCreated": true }'>
      </mp-event-proxy>
    {{/if}}

    {{#if (eq bindings.0.resourceConfig.value "http://www.researchspace.org/resource/system/resource_configurations_container/data/Image_annotation")}}
      <mp-event-proxy id='{{bindings.0.viewId.value}}-update-ImageAnnotationSearch-on-IIIFViewer-modification' 
                      on-event-types='["IIIFViewer.RegionCreated", "IIIFViewer.RegionUpdated", "IIIFViewer.RegionRemoved"]'
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["http://www.researchspace.org/resource/system/resource_configurations_container/data/Image_annotation-resourceSearch-frame"]'
      ></mp-event-proxy>
    {{/if}}

    {{#if (eq bindings.0.resourceConfig.value "http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map")}}
      <mp-event-proxy id='{{bindings.0.viewId.value}}-update-KMSearch-on-diagram-saved'
                      on-event-type='Ontodia.DiagramSaved' 
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map-resourceSearch-frame"]'
      ></mp-event-proxy>
    {{/if}}

    {{#if (eq bindings.0.resourceConfig.value "http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative")}}
      <mp-event-proxy id='{{bindings.0.viewId.value}}-update-SNSearch-on-narrative-created-or-updated'
                      on-event-types='["Narrative.Created", "Narrative.Updated"]'    
                      proxy-event-type='Component.TemplateUpdate' 
                      proxy-targets='["http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative-resourceSearch-frame"]'
      ></mp-event-proxy>
    {{/if}}
  
    [[!--
      {{#if (eq bindings.0.resourceConfig.value "http://www.researchspace.org/resource/system/resource_configurations_container/data/Authority_document")}}
        <mp-event-proxy id='{{bindings.0.viewId.value}}-update-AuthorityDocumentSearch-on-delete'
                        on-event-types='["GraphAction.Delete"]'    
                        proxy-event-type='Component.TemplateUpdate' 
                        proxy-targets='["http://www.researchspace.org/resource/system/resource_configurations_container/data/Authority_document-resourceSearch-frame"]'
        ></mp-event-proxy>
      {{/if}}
    --]]

      <mp-page-loader iri="http://www.researchspace.org/resource/ResourceSearchTemplate"
                      urlqueryparam-viewid="{{bindings.0.viewId.value}}"
                      urlqueryparam-resourceconfig="{{bindings.0.resourceConfig.value}}"
                      urlqueryparam-searchall="{{bindings.0.searchAllPage.value}}"
                      urlqueryparam-resourcelabel="{{ getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceLabel' }}"
                      urlqueryparam-resourceontologyclass="<{{getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceOntologyClass' }}>"
                      urlqueryparam-resourcetype="{{#if (getResourceConfigurationValue bindings.0.resourceConfig.value 'p2HasType')}}<{{getResourceConfigurationValue bindings.0.resourceConfig.value 'p2HasType'}}>{{/if}}" 
                      urlqueryparam-resourceform="{{#if (getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceFormIRI')}}{{getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceFormIRI'}}{{/if}}"
                      urlqueryparam-resourcerestrictionpattern="{{#if (getResourceConfigurationValue bindings.0.resourceConfig.value 'restrictionPattern')}}{{ getResourceConfigurationValue bindings.0.resourceConfig.value 'restrictionPattern' }}{{/if}}"
                      urlqueryparam-resourcelabelpattern="{{#if (getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceLabelPattern')}}{{getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceLabelPattern'}}{{/if}}"
                      urlqueryparam-searchkpcategory="{{#if (getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceSearchKPCategory')}}<{{getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceSearchKPCategory'}}>{{/if}}"
                      urlqueryparam-resourceicon="{{#if (getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceIcon')}}{{getResourceConfigurationValue bindings.0.resourceConfig.value 'resourceIcon'}}{{/if}}"
      ></mp-page-loader>
    </template>
</semantic-query>