<!-- [[!--Please don't edit region's label or rdf:type through this form!!!!! --]]-->

<semantic-form 
               id='feature-creation-form'
               post-action='event'
               subject='{{#if edit}}{{feature}}{{/if}}'
               new-subject-template='{{objectIri}}/E25_Man-Made_Feature/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
               persistence='{"type": "sparql", "targetInsertGraphIri": "http://www.researchspace.org/ns/data-updates-graph-test"}'
               
  						 fields='[[
                 fieldDefinitions
                   label="http://www.w3.org/2000/01/rdf-schema#label"
                   classtype="http://www.researchspace.org/pattern/image_observation/rdf:type"
                   P56i_is_found_on="http://www.researchspace.org/pattern/image_observation/crm:P56i_is_found_on"
                   P65_shows_visual_item="http://www.researchspace.org/pattern/image_observation/crm:P65_shows_visual_item"
                   P67i_is_referred_to_by="http://www.cidoc-crm.org/cidoc-crm/P67i_is_referred_to_by"
                   P128_carries="http://www.researchspace.org/pattern/image_observation/crm:P128_carries"
                   P130_shows_features_of="http://www.cidoc-crm.org/cidoc-crm/P130_shows_features_of"
                   P138i_has_representation="http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation" 
                   O16i_value_was_observed_by-physical="http://www.researchspace.org/pattern/image_observation/crmsci:O16i_value_was_observed_by-physical"
                   O16i_value_was_observed_by-digital="http://www.researchspace.org/pattern/image_observation/crmsci:O16i_value_was_observed_by-digital"

							]]'
>
  <mp-event-proxy id='refresh-the-form' on-event-source='feature-creation-form' on-event-types='["Form.ResourceCreated", "Form.ResourceUpdated"]'
                  proxy-event-type='Component.TemplateUpdate' proxy-targets='["save-state"]'
                  data='{"saved": true}'
  ></mp-event-proxy>


  <div class="form-scrollable-area">
    <semantic-form-hidden-input for="P56i_is_found_on" default-value='{{objectIri}}'> </semantic-form-hidden-input>

    {{> rsp:ImageAnnotationObservationInput }}
    
    
    <semantic-form-select-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E25_Man-Made_Feature'> </semantic-form-select-input>
    
    {{#if regionIri}}
      <semantic-form-drag-and-drop-input  for="P138i_has_representation" label="Image Region" default-value='{{regionIri}}'></semantic-form-drag-and-drop-input>
    {{else}}
      <semantic-form-drag-and-drop-input  for="P138i_has_representation" label="Image Region"></semantic-form-drag-and-drop-input>
    {{/if}}

    {{#ifCond featureType "===" "Inscription"}}
    {{else}}
      {{#if createFromRegion}}
        <semantic-form-hidden-input for="label" default-value='{{featureType}}: {{regionLabel}}'> </semantic-form-hidden-input>
      {{else}}
        <semantic-form-text-input for="label"> </semantic-form-text-input>
      {{/if}}
    {{/ifCond}}

    <semantic-form-composite-input for='O16i_value_was_observed_by-physical'
                                   new-subject-template="/S4_Observation/Physical_Observation" 
                                   fields='[[
                                     fieldDefinitions
                                       classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                       P2_has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
                                       O8_observed="http://www.ics.forth.gr/isl/CRMsci/O8_observed"
                                       O9_observed_property_type="http://www.ics.forth.gr/isl/CRMsci/O9_observed_property_type"
                                       P4_has_time-span="http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span"
                                       P14_carried_out_by="http://www.cidoc-crm.org/cidoc-crm/P14_carried_out_by"
                                   ]]'>
      <semantic-form-hidden-input for="classtype" default-value='http://www.ics.forth.gr/isl/CRMsci/S4_Observation'></semantic-form-hidden-input>
      <semantic-form-hidden-input for='P2_has_type' default-value='http://www.researchspace.org/entity/E55_Type/16198db2-d520-4fa5-9c89-8317090df20c'></semantic-form-hidden-input>
      <semantic-form-hidden-input for="O8_observed" default-value='{{objectIri}}'> </semantic-form-hidden-input>
      <semantic-form-hidden-input for="O9_observed_property_type" default-value='http://www.cidoc-crm.org/cidoc-crm/P56_bears_feature'> </semantic-form-hidden-input>

      <semantic-form-select-input for="P14_carried_out_by" default-value='[[userUri]]'> </semantic-form-select-input>
      
      <semantic-form-composite-input for="P4_has_time-span"
                                     new-subject-template="/E52_Time-Span" 
                                     fields='[[
                                       fieldDefinitions
                                         classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                         P82_at_some_time_within="http://www.cidoc-crm.org/cidoc-crm/P82_at_some_time_within"
                                     ]]'
                                     >
        <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span'></semantic-form-hidden-input>
        <semantic-form-datetime-input for="P82_at_some_time_within" mode="dateTime"></semantic-form-datetime-input>
      </semantic-form-composite-input>
    </semantic-form-composite-input>   
    
    {{#switch featureType}}
      {{#case "Inscription" break=true}}
    <semantic-form-composite-input
                                   for="P65_shows_visual_item"
                                   label="Shows Inscription"
                                   new-subject-template="/E34_Inscription" 
                                   fields='[[fieldDefinitions
                                      classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                      P2_has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
                                      P72_has_language="http://www.cidoc-crm.org/cidoc-crm/P72_has_language"
                                      P73_has_translation="http://www.cidoc-crm.org/cidoc-crm/P73_has_translation"
                                      P190_has_symbolic_object="http://www.cidoc-crm.org/cidoc-crm/P190_has_symbolic_content"
                                      PX_has_transliteration="http://www.researchspace.org/pattern/image_observation/PX_has_transliteration"

                                      P67_refers_to_latehokusai_annotation_place="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_place"
                                      P67_refers_to_latehokusai_annotation_period="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_period"
                                      P67_refers_to_latehokusai_annotation_person="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_person"
                                      P67_refers_to_latehokusai_annotation_feature="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_feature"
                                      P67_refers_to_latehokusai_annotation_thing="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_thing"
                                    ]]'
    >
      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E34_Inscription'> </semantic-form-hidden-input>
      <semantic-form-hidden-input for="P2_has_type" default-value="http://collection.britishmuseum.org/id/thesauri/THES122853"></semantic-form-hidden-input>

      <semantic-form-text-input for='P190_has_symbolic_object' label="Inscription text"></semantic-form-text-input>
      
      <semantic-form-tree-picker-input for="P72_has_language" 
                                       label='Language' 
                                       default-value="http://collection.britishmuseum.org/id/thesauri/THES223120"
                                       scheme="http://collection.britishmuseum.org/id/thesauri/inscriptionlanguage"
      ></semantic-form-tree-picker-input>
      
      <semantic-form-composite-input for='P73_has_translation'
                                label='Translation'
                                new-subject-template="/E33_Linguistic_Object/Translation" 
                                fields='[[fieldDefinitions
                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                        P72_has_language="http://www.cidoc-crm.org/cidoc-crm/P72_has_language"
                                        P190_has_symbolic_content="http://www.cidoc-crm.org/cidoc-crm/P190_has_symbolic_content"
                                ]]'
                                >
        <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E33_Linguistic_Object'> </semantic-form-hidden-input>
        <semantic-form-text-input for='P190_has_symbolic_content' label='Translation text'></semantic-form-text-input>
      	<semantic-form-tree-picker-input for="P72_has_language" 
                                         label='Language'  
                                         default-value="http://collection.britishmuseum.org/id/thesauri/THES223053"
                                         scheme="http://collection.britishmuseum.org/id/thesauri/inscriptionlanguage"
        ></semantic-form-tree-picker-input>
      </semantic-form-composite-input>
      
      <semantic-form-text-input for='PX_has_transliteration'></semantic-form-text-input>

      <div class='semantic-form-input-decorator semantic-form-input-decorator--with-header'>
        <div class="semantic-form-input-decorator__header">
          <span class="semantic-form-input-decorator__label">Refers to</span>
        </div>
        <div class="cardinality-support">
          <div class="cardinality-support__group-instance">
            <div class="composite-input">
              <semantic-form-drag-and-drop-input for="P67_refers_to_latehokusai_annotation_feature"></semantic-form-drag-and-drop-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_person"></semantic-form-autocomplete-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_place"></semantic-form-autocomplete-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_period"></semantic-form-autocomplete-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_thing"></semantic-form-autocomplete-input>
            </div>
          </div>
        </div>
      </div>
    </semantic-form-composite-input>
      {{/case}}
    
      {{#case "Mark" break=true}}
    <semantic-form-composite-input render-header=false
                                   for="P65_shows_visual_item" 
                                   label="Shows Mark"
                                   new-subject-template="/E37_Mark" 
                                   fields='[[fieldDefinitions
                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                        P2_has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
                                        P72_has_language="http://www.cidoc-crm.org/cidoc-crm/P72_has_language"
                                        P73_has_translation="http://www.cidoc-crm.org/cidoc-crm/P73_has_translation"
                                        P190_has_symbolic_object="http://www.cidoc-crm.org/cidoc-crm/P190_has_symbolic_content"
                                        PX_has_transliteration="http://www.researchspace.org/pattern/image_observation/PX_has_transliteration"
                                        P67_refers_to_latehokusai_annotation_place="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_place"
                                        P67_refers_to_latehokusai_annotation_period="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_period"
                                        P67_refers_to_latehokusai_annotation_person="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_person"
                                        P67_refers_to_latehokusai_annotation_feature="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_feature"
                                        P67_refers_to_latehokusai_annotation_thing="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_thing"
                                      ]]'
     >
      <semantic-form-tree-picker-input for="P2_has_type" 
                                       label="Mark Type" 
                                       scheme="http://collection.britishmuseum.org/id/thesauri/inscriptiontype"
                                       default-value="http://collection.britishmuseum.org/id/thesauri/THES122877"
      ></semantic-form-tree-picker-input>
      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E37_Mark'> </semantic-form-hidden-input>

      <semantic-form-text-input for='P190_has_symbolic_object' label="Mark text"></semantic-form-text-input>
      
      <semantic-form-tree-picker-input for="P72_has_language" 
                                       label='Language' 
                                       scheme="http://collection.britishmuseum.org/id/thesauri/inscriptionlanguage"
      ></semantic-form-tree-picker-input>
      
      <semantic-form-composite-input for='P73_has_translation'
                                label='Translation'
                                new-subject-template="/E33_Linguistic_Object/Translation" 
                                fields='[[fieldDefinitions
                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                        P190_has_symbolic_content="http://www.cidoc-crm.org/cidoc-crm/P190_has_symbolic_content"
                                ]]'
                                >
        <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E33_Linguistic_Object'> </semantic-form-hidden-input>
        <semantic-form-text-input for='P190_has_symbolic_content' label='Translation text'></semantic-form-text-input>
      	<semantic-form-tree-picker-input for="P72_has_language" 
                                         label='Language'  
                                         scheme="http://collection.britishmuseum.org/id/thesauri/inscriptionlanguage"
        ></semantic-form-tree-picker-input>
      </semantic-form-composite-input> 
      <semantic-form-text-input for='PX_has_transliteration'></semantic-form-text-input>

      <div class='semantic-form-input-decorator semantic-form-input-decorator--with-header'>
        <div class="semantic-form-input-decorator__header">
          <span class="semantic-form-input-decorator__label">Refers to</span>
        </div>
        <div class="cardinality-support">
          <div class="cardinality-support__group-instance">
            <div class="composite-input">
              <semantic-form-drag-and-drop-input for="P67_refers_to_latehokusai_annotation_feature"></semantic-form-drag-and-drop-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_person"></semantic-form-autocomplete-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_place"></semantic-form-autocomplete-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_period"></semantic-form-autocomplete-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_thing"></semantic-form-autocomplete-input>
            </div>
          </div>
        </div>
      </div>
    </semantic-form-composite-input>
      {{/case}}
    
      {{#case "Subject" break=true}}
    <semantic-form-composite-input render-header=false
                                   for="P128_carries"
                                   label="Is about"
                                   new-subject-template="/E73_Information_Object" 
                                   fields='[[
                                     fieldDefinitions
                                       classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                       P129_is_about="http://www.cidoc-crm.org/cidoc-crm/P129_is_about"
                                       P67_refers_to_latehokusai_annotation_place="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_place"
                                       P67_refers_to_latehokusai_annotation_period="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_period"
                                       P67_refers_to_latehokusai_annotation_person="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_person"
                                       P67_refers_to_latehokusai_annotation_feature="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_feature"
                                       P67_refers_to_latehokusai_annotation_thing="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_thing"
                                   ]]'>
      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object'> </semantic-form-hidden-input>
      <semantic-form-tree-picker-input for="P129_is_about" label="Subject" scheme="http://collection.britishmuseum.org/id/thesauri/subject"></semantic-form-tree-picker-input>

      <div class='semantic-form-input-decorator semantic-form-input-decorator--with-header'>
        <div class="semantic-form-input-decorator__header">
          <span class="semantic-form-input-decorator__label">Refers to</span>
        </div>
        <div class="cardinality-support">
          <div class="cardinality-support__group-instance">
            <div class="composite-input">
              <semantic-form-drag-and-drop-input for="P67_refers_to_latehokusai_annotation_feature"></semantic-form-drag-and-drop-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_person"></semantic-form-autocomplete-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_place"></semantic-form-autocomplete-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_period"></semantic-form-autocomplete-input>
              <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_thing"></semantic-form-autocomplete-input>
            </div>
          </div>
        </div>
      </div>
    </semantic-form-composite-input>    
      {{/case}}
    {{/switch}}

    <semantic-form-composite-input for="P67i_is_referred_to_by" 
                                   label="General note about feature"
                                   new-subject-template="/E73_Information_Object"  
                                   fields='[[
                                     fieldDefinitions
                                       classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                       P3_has_note="http://www.cidoc-crm.org/cidoc-crm/P3_has_note"
                                   ]]'
    >
      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object'> </semantic-form-hidden-input>
      <semantic-form-text-input for="P3_has_note" label="Note" multiline='true'> </semantic-form-text-input>
    </semantic-form-composite-input>

    <semantic-form-drag-and-drop-input for="P130_shows_features_of" label="Similar Features to"></semantic-form-drag-and-drop-input>
  </div>

  <div class="form-btn-group">
    <div style="display: flex; justify-content: flex-end; width: 100%;">
      <mp-event-target-template-render id='save-state' template='{{> template}}'>
        <template id='template'>
          {{#if saved}}
          <div class='save-message fade-out_disappear'>
            The feature has been saved successfully!
          </div>
          {{/if}}
        </template>
      </mp-event-target-template-render>
      
      {{#if edit}}
        <button name="reset" class="btn btn-default">Reset</button>

        <mp-overlay-dialog show='{{#if delete}}true{{else}}false{{/if}}' id='feature-remove-confirmation-dialog' title="Remove feature" type="modal" bs-size="large">
          <mp-overlay-dialog-trigger>
            <button name="delete" class="btn btn-danger">Delete</button>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <div>
              <div>
                <p>Are you sure you want to remove the feature '<strong><mp-label iri='{{feature}}'></mp-label></strong>' ?</p>
                <semantic-query 
                                query='
                                  SELECT ?resource WHERE {
                                    ?resource ?p <{{feature}}> .
                                  }
                                '
                                template='{{> referredByTemplate}}'
                >
                  <template id='referredByTemplate'>
                    Some entities in the system link to the feature:
                    <ul>
                      {{#each bindings}}
                        <li>
                          <semantic-link iri='{{resource.value}}'></semantic-link>
                        </li>
                      {{/each}}
                    </ul>
                  </template>
                </semantic-query>
              </div>
              <div class="form-btn-group">
                <div style="display: flex; justify-content: flex-end; width: 100%;">
                  <mp-event-trigger id='cancel-feature-removal' type='OverlayDialog.Close' targets='["feature-remove-confirmation-dialog"]'>
                    <button class="btn btn-default">Cancel</button>
                  </mp-event-trigger>
                  <mp-event-trigger id='confirm-feature-removal' type='Form.RemoveResource' data='{"iri": "{{feature}}"}' targets='["feature-creation-form"]'>
                    <button class="btn btn-danger">Delete Feature</button>
                  </mp-event-trigger>  
                  
                  
                  <mp-event-proxy id='close-form-removal-dialog' on-event-source='feature-creation-form' on-event-type='Form.ResourceRemoved'
                                  proxy-event-type='TwoSidePanel.ShowFront' data='{}' proxy-targets='["objects-panel"]'
                  ></mp-event-proxy>
                </div>
              </div>
            </div>
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      {{/if}}
      
      <button name="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
  
</semantic-form>
