<div class="page__grid-container">
  <div class="page__content-container resource-scheme-content">
    <div class="page__main-title-row">
      <h1 class="headline">Resource editor</h1>
      <div style="display: flex; align-items: center;">

        <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-configuration'> 
                <button class="btn btn-default btn-textAndIcon" title='Resource configuration'>
                  <rs-icon icon-type="round" icon-name="settings"></rs-icon>
                  <span>Resource configuration</span>
                </button>
        </semantic-link>
        [[!--<mp-overlay-dialog title="Resource editor" type="modal" class="modal-xlSize">
          <mp-overlay-dialog-trigger>
            <rs-icon icon-type="round" icon-name="info_outline"></rs-icon>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <div>documentation</div>
          </mp-overlay-dialog-content>
        </mp-overlay-dialog> --]]
      </div>
    </div>
        <semantic-search>
          <semantic-search-query-keyword query='
                      PREFIX bds: <http://www.bigdata.com/rdf/search#>
                      SELECT ?resourceConfiguration WHERE {
                        ?resourceConfiguration crm:P71i_is_listed_in <http://www.researchspace.org/resource/system/resource_configurations_container> .
                        ?resourceConfiguration <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceLabel .
                        ?resourceLabel bds:search ?__token__ .
                        FILTER NOT EXISTS {
                          ?resourceConfiguration <http://www.researchspace.org/pattern/system/resource_configuration/resource_membership_property> ?membershipProperty .
                        }
                      }
                  '
                  default-query='
                      PREFIX bds: <http://www.bigdata.com/rdf/search#>
                      SELECT ?resourceConfiguration WHERE {
                        ?resourceConfiguration crm:P71i_is_listed_in <http://www.researchspace.org/resource/system/resource_configurations_container> .
                        ?resourceConfiguration <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceLabel .
                        FILTER NOT EXISTS {
                          ?resourceConfiguration <http://www.researchspace.org/pattern/system/resource_configuration/resource_membership_property> ?membershipProperty .
                        }
                      }
                  '
          ></semantic-search-query-keyword>

          <div style="margin-top: 20px;">
            <semantic-search-result-holder>
                <semantic-search-result>
                    <semantic-table id='scheme-table'
                            query='SELECT DISTINCT ?resourceConfiguration ?resourceLabel ?isManaged WHERE {} ORDER BY ASC(STR(LCASE(?resourceLabel)))'
                            number-of-displayed-rows=15
                            options='{"showTableHeading": false, "showFilter": false}'
                            no-result-template='{{> noResourceConfiguration}}'
                            column-configuration='[
                                { "variableName": "scheme", "cellTemplate": "{{> schemeRow}}" }
                            ]'>
                        <template id="noResourceConfiguration">
                            <div style="padding: 12px 8px">
                                No resource configuration available. Create a new configuration in 
                                <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                                               urlqueryparam-view='resource-configuration'> 
                                  <span class="text-action-link">Resource configuration</span>
                                </semantic-link>
                            </div>
                        </template>

                        <template id='schemeRow'>
                            <div class="scheme-table-row">
                                {{#if frameId}}
                                  <mp-event-trigger id='{{frameId}}-entity-type-edit-trigger--{{resourceConfiguration.value}}' 
                                                    type='Component.TemplateUpdate'
                                                    data='{"data": { "entityTypeConfig": "{{resourceConfiguration.value}}"}}' 
                                                    targets='["{{frameId}}-entity-editor-frame"]'>
                                    <a class='schema-label' title="Edit {{resourceLabel.value}}">{{resourceLabel.value}}</a>
                                  </mp-event-trigger>
                                {{else}}
                                  <semantic-link iri="{{resourceConfiguration.value}}" class="schema-label">{{resourceLabel.value}}</semantic-link>
                                  <div class="btn-inline-container">
                                    <semantic-link-container uri='{{resourceConfiguration.value}}' class="schema-label">
                                                    <button class="btn btn-default">Show Entities</button>
                                    </semantic-link-container>
                                  </div>
                                {{/if}}
                            </div>
                        </template>
                    </semantic-table>
                </semantic-search-result>
            </semantic-search-result-holder>
          </div>
      </semantic-search>
  </div>  
</div>