<ul>
  <ol><semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
               > 
        TF
    </semantic-link></ol>
  <ol>
  <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='system-activity'> 
        Dashboard/Activity
    </semantic-link>
  </ol>
  <ol>
    <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='system-assets'> 
        Image Uploads
    </semantic-link>
  </ol>
  <ol>
   
    <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='system-knowledge-maps'> 
        KMs
    </semantic-link>
   
  </ol>
  <ol>
    <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='system-narrative'> 
        SNs
    </semantic-link>
   
  </ol>
  <ol><semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='simple-search'> 
        Search
    </semantic-link>
  </ol>
  <ol>
     <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='entity-editor'> 
              Entity Editor
          </semantic-link>
    
  </ol>
  <ol>
    <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='authority-editor'> 
              Authorities
          </semantic-link>
    
  </ol>
</ul>
