[[!--  items must be subclasses of http://www.cidoc-crm.org/cidoc-crm/E64_End_of_Existence --]]
[ 
  {
    "label": "Death",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Death\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Destruction",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Destruction\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Dissolution",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Dissolution\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "End of existence",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/EndOfExistence\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Transformation",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Transformation\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  }
]