[[!--  items must be subclasses of http://www.cidoc-crm.org/extensions/crmsci/S27_Observation --]]
[ 
  {
    "label": "Digital measurement",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/DigitalMeasurement\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Measurement",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Measurement\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Measurement by sampling",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/MeasurementBySampling\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Observation",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Observation\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Single observation",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/SingleObservation\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  }
]