{{#bind viewId=dashboardId}}
  <mp-event-target-template-render id='{{viewId}}-entity-editor-frame' template='{{> template}}'>
    <template id='template'>
      {{#if iri}}
        <semantic-query 
                      query='SELECT DISTINCT ?config ?resourceFormIRI ?resourceRestrictionPattern ?resourceMembershipProperty WHERE {
                                {
                                  <{{iri}}> a/rdfs:subClassOf* ?resourceOntologyClass  .
                                  ?config a <http://www.researchspace.org/resource/system/resource_configuration> ;
                                          <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass  .

                                  FILTER NOT EXISTS {
                                    ?config <http://www.researchspace.org/pattern/system/resource_configuration/resource_type> ?resourceP2Type .
                                  }

                                  OPTIONAL {
                                    ?config <http://www.researchspace.org/pattern/system/resource_configuration/resource_restriction_sparql_pattern> ?resourceRestrictionPattern .
                                  }
                                  OPTIONAL {
                                    ?config <http://www.researchspace.org/pattern/system/resource_configuration/resource_membership_property> ?resourceMembershipProperty .
                                  }   
                                  
                                  OPTIONAL {
                                    ?config <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                  }
                                } UNION {
                                  <{{iri}}> rdf:type ?resourceOntologyClass  ;
                                              crm:P2_has_type ?resourceP2Type .

                                  ?config a <http://www.researchspace.org/resource/system/resource_configuration> ;
                                            <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass  ;
                                            <http://www.researchspace.org/pattern/system/resource_configuration/resource_type> ?resourceP2Type .

                                  OPTIONAL {
                                    ?config <http://www.researchspace.org/pattern/system/resource_configuration/resource_restriction_sparql_pattern> ?resourceRestrictionPattern .
                                  }                              
                                  OPTIONAL {
                                    ?config <http://www.researchspace.org/pattern/system/resource_configuration/resource_membership_property> ?resourceMembershipProperty .
                                  }
                                  OPTIONAL {
                                    ?config <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                  }
                                }
                              }'
        >
          <template id='template'>
            {{#ifCond bindings.length "==" "0"}}
              <p>There is no form configuration for the given entity. See "Entity Manager".</p>
            {{/ifCond}}

            {{#ifCond bindings.length ">" "0"}}
              <semantic-query query='SELECT ?config ?collection WHERE {
                                      {{#each bindings}}
                                      { 
                                        BIND(<{{../iri}}> as ?item) .
                                        BIND(<{{config.value}}> as ?config) .
                                        {{#if resourceRestrictionPattern.value}}
                                          {{{resourceRestrictionPattern.value}}}
                                        {{/if}} 

                                        {{#if resourceMembershipProperty.value}}
                                        OPTIONAL { ?item <{{{resourceMembershipProperty.value}}}> ?collection . }
                                        {{/if}}

                                        OPTIONAL {
                                          ?config <http://www.researchspace.org/pattern/system/resource_configuration/resource_membership_property> ?resourceMembershipProperty .
                                        }
                                        OPTIONAL {
                                          ?config <http://www.researchspace.org/pattern/system/resource_configuration/resource_broader_property> ?resourceBroaderProperty .
                                        }                                  
                                      } {{#if @last}}{{else}}UNION{{/if}}  
                                      {{/each}}
                                    }'
                              template='{{> nested}}'
              >
                <template id='nested'>
                  {{#ifCond bindings.length "==" "0"}}
                    <p>There is no form configuration for the given entity. See "Entity Manager".</p>
                  {{/ifCond}}

                  {{#ifCond bindings.length "==" "1"}}
                    {{> rsp:CollectionBrowserContent viewId=viewId configOrScheme=bindings.0.config.value iri=iri mode="edit"}}
                  {{/ifCond}}

                  {{#ifCond bindings.length ">" "1"}}
                    <two-side-panel id='entity-editor-config-list-{{iri}}'>
                      <template id='front'>
                        <p>There is more than one form that can be applicable to the given entity, please choose the one to use for editing:</p>
                        <ul>
                          {{#each bindings}}
                          <li>
                            {{resourceName.value}} Form 
                            <mp-event-trigger id='form-event-trigger--{{../iri}}' 
                                              type='TwoSidePanel.ShowBack' 
                                              targets='["entity-editor-config-list-{{../iri}}"]'
                                              data='{ 
                                                      "node":"{{../iri}}",
                                                      "resourceFormIRI": "{{resourceFormIRI.value}}"
                                                    }'>
                              <button class="btn btn-primary">Use</button>
                            </mp-event-trigger>
                          </li>
                          {{/each}}
                        </ul>
                      </template>
                      <template id='back'>
                        {{> rsp:CollectionBrowserContent viewId=viewId configOrScheme=resourceFormIRI iri=node mode="edit"}}
                      </template>
                    </two-side-panel>
                  {{/ifCond}}
                </template>
              </semantic-query>
            {{/ifCond}}
          </template>
        </semantic-query>
      {{else}}
        {{#if data.entityTypeConfig}}
          {{#if data.mode}}
              {{#if data.additional_data}}
                {{> rsp:CollectionBrowserContent viewId=viewId  configOrScheme=data.entityTypeConfig mode=data.mode}}
              {{else}}
                {{> rsp:CollectionBrowserContent viewId=viewId  configOrScheme=data.entityTypeConfig mode=data.mode}}
              {{/if}}
          {{else}}
              {{> rsp:CollectionBrowserContent viewId=viewId  configOrScheme=data.entityTypeConfig }}
          {{/if}}
        {{else}}
          {{> rsp:ResourceContent}}
        {{/if}}
      {{/if}}
    </template>
  </mp-event-target-template-render>  
{{/bind}}