[[!--  items must be subclasses of http://www.cidoc-crm.org/cidoc-crm/E41_Appellation --]]
[ 
  {
    "label": "Appellation",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Appellation\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Identifier",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Identifier\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Title",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Title\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  }
]