[ 
  [[!-- items must be subclasses of E39_Actor --]]
  {
    "label": "Actor",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Actor\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Group",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Group\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Organisation",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Organisation\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Person",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Person\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  } 
]