<div class="inline-form-switch">
  <semantic-form-switch for="[[for_kp]]" 
                        switch-on-field="participant_has_range_type" 
                        label="[[subjectLabel]]">

    <semantic-form-switch-case label="Person">
      <semantic-form-composite-input  for="[[for_kp]]" 
                                      label="Participants in the event" 
                                      new-subject-template="/PC11_had_participant/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                      fields='[[fieldDefinitions
                                                  classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                  
                                                  participant_has_domain_type="http://www.researchspace.org/pattern/system/participant/has_domain_type"
                                                  participant_has_range_type="http://www.researchspace.org/pattern/system/participant/has_range_type"
                                                  participant_person="http://www.researchspace.org/pattern/system/participant/person"
                                                  participant_role="http://www.researchspace.org/pattern/system/participant/role"
                                              ]]'>

            <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC11_had_participant'> </semantic-form-hidden-input>
            <semantic-form-hidden-input for="participant_has_domain_type" 
                                        default-value='[[had_participant_has_domain_type_value]]'> 
            </semantic-form-hidden-input>
            <semantic-form-hidden-input for="participant_has_range_type" 
                                        default-value='http://www.researchspace.org/resource/PC11_had_participant/has_range_type/person'> 
            </semantic-form-hidden-input>

            <div class="form-inline-inputs">
              <div style="flex: 1;">
                <semantic-form-autocomplete-input for='participant_person' 
                                                  label="Person" 
                                                  render-header="false"
                                                  placeholder="Select person" 
                                                  nested-form-templates='[ 
                                                    {
                                                        "label": "Person",
                                                        "nestedForm": "{{{{raw}}}}
                                                                        {{> \"http://www.researchspace.org/resource/system/forms/Person\" nested=true editable=true mode=\"new\"}}
                                                                    {{{{/raw}}}}"
                                                    }
                                                  ]'> 
                </semantic-form-autocomplete-input> 
              </div>
              <div style="flex: 1;">
                <semantic-form-tree-picker-input  for="participant_role" 
                                                  label="Role" 
                                                  render-header="false"
                                                  placeholder="Select role"
                                                  close-dropdown-on-selection='true'
                                                  tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                  "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                  "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                  scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                              "view": "vocabulary-content",
                                                                              "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                              "tooltip": "Open list of roles"
                                                                            }'
                                                  
                                                  nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                        entityType="role" }}{{{{/raw}}}}'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                  }'>
                </semantic-form-tree-picker-input>
              </div>
            </div>
      </semantic-form-composite-input>
    </semantic-form-switch-case>

    <semantic-form-switch-case label="Group">
      <semantic-form-composite-input  for="[[for_kp]]" 
                                      label="Participants in the event" 
                                      new-subject-template="/PC11_had_participant/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                      fields='[[fieldDefinitions
                                                  classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                  
                                                  participant_has_domain_type="http://www.researchspace.org/pattern/system/participant/has_domain_type"
                                                  participant_has_range_type="http://www.researchspace.org/pattern/system/participant/has_range_type"
                                                  participant_group="http://www.researchspace.org/pattern/system/participant/group"
                                                  participant_role="http://www.researchspace.org/pattern/system/participant/role"
                                              ]]'>

            <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC11_had_participant'> </semantic-form-hidden-input>
            <semantic-form-hidden-input for="participant_has_domain_type" 
                                        default-value='[[had_participant_has_domain_type_value]]'> 
            </semantic-form-hidden-input>
            <semantic-form-hidden-input for="participant_has_range_type" 
                                        default-value='http://www.researchspace.org/resource/PC11_had_participant/has_range_type/group'> 
            </semantic-form-hidden-input>

            <div class="form-inline-inputs">
              <div style="flex: 1;">
                <semantic-form-autocomplete-input for='participant_group' 
                                                  label="Group" 
                                                  render-header="false"
                                                  placeholder="Select group" 
                                                  nested-form-templates='[ 
                                                    {
                                                      "label": "Group",
                                                      "nestedForm": "{{{{raw}}}}
                                                                        {{> \"http://www.researchspace.org/resource/system/forms/Group\" nested=true editable=true mode=\"new\"}}
                                                                    {{{{/raw}}}}"
                                                    }
                                                  ]'> 
                </semantic-form-autocomplete-input> 
              </div>
              <div style="flex: 1;">
                <semantic-form-tree-picker-input  for="participant_role" 
                                                  label="Role" 
                                                  render-header="false"
                                                  placeholder="Select role"
                                                  close-dropdown-on-selection='true'
                                                  tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                  "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                  "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                  scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                              "view": "vocabulary-content",
                                                                              "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                              "tooltip": "Open list of roles"
                                                                            }'
                                                  
                                                  nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                        entityType="role" }}{{{{/raw}}}}'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                  }'>
                </semantic-form-tree-picker-input>
              </div>
            </div>
      </semantic-form-composite-input>
    </semantic-form-switch-case>

    <semantic-form-switch-case label="Other actor">
      <semantic-form-composite-input  for="[[for_kp]]" 
                                      label="Participants in the event" 
                                      new-subject-template="/PC11_had_participant/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                      fields='[[fieldDefinitions
                                                  classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                  
                                                  participant_has_domain_type="http://www.researchspace.org/pattern/system/participant/has_domain_type"
                                                  participant_has_range_type="http://www.researchspace.org/pattern/system/participant/has_range_type"
                                                  participant_actor="http://www.researchspace.org/pattern/system/participant/actor"
                                                  participant_role="http://www.researchspace.org/pattern/system/participant/role"
                                              ]]'>

            <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC11_had_participant'> </semantic-form-hidden-input>
            <semantic-form-hidden-input for="participant_has_domain_type" 
                                        default-value='[[had_participant_has_domain_type_value]]'> 
            </semantic-form-hidden-input>
            <semantic-form-hidden-input for="participant_has_range_type" 
                                        default-value='http://www.researchspace.org/resource/PC11_had_participant/has_range_type/actor'> </semantic-form-hidden-input>

            <div class="form-inline-inputs">
              <div style="flex: 1;">
                <semantic-form-autocomplete-input for='participant_actor' 
                                                  label="Actor" 
                                                  render-header="false"
                                                  placeholder="Select actor" 
                                                  nested-form-templates='[ 
                                                    {
                                                        "label": "Actor",
                                                        "nestedForm": "{{{{raw}}}}
                                                                        {{> \"http://www.researchspace.org/resource/system/forms/Actor\" nested=true editable=true mode=\"new\"}}
                                                                      {{{{/raw}}}}"
                                                    }
                                                  ]'>  
                </semantic-form-autocomplete-input> 
              </div>
              <div style="flex: 1;">
                <semantic-form-tree-picker-input  for="participant_role" 
                                                  label="Role" 
                                                  render-header="false"
                                                  placeholder="Select role"
                                                  close-dropdown-on-selection='true'
                                                  tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                  "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                  "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                  scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                              "view": "vocabulary-content",
                                                                              "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                              "tooltip": "Open list of roles"
                                                                            }'
                                                  
                                                  nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                        entityType="role" }}{{{{/raw}}}}'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                  }'>
                </semantic-form-tree-picker-input>
              </div>
            </div>
      </semantic-form-composite-input>
    </semantic-form-switch-case>
    
  </semantic-form-switch>
</div>
            