<div class="page__grid-container">
  <div class='page__content-container'>
    <div class="page__main-title-row">
      <h1 class="rs-main-title">Projects</h1>
      <div class="page__main-top-actions">
        [[#if (hasPermission "forms:ldp:*")]]
            <button class="btn btn-grey" title="New Semantic Narrative">
              <i class="fa fa-plus btn-icon-left"></i>
              <span>New Project</span>
            </button>
        [[/if]]
      </div>
    </div>
    <div style="margin-top:10px">
      <semantic-context repository='assets'>
          
          <semantic-table config='{

          "query": "SELECT * WHERE {
                    ?page a rso:Semantic_Narrative ;
                        rdfs:label ?label ;
                        <http://www.w3.org/ns/prov#generatedAtTime> ?modified .

                    } ORDER BY DESC(?modified)",
                    
          "columnConfiguration": [{
                                    "variableName": "page",
                                    "displayName": "Semantic Narrative - title",
                                    "cellTemplate": "{{> view}}"
                                  },
                                  
                                  {
                                    "variableName": "modified",
                                    "displayName": "Last Update",
                                    "cellTemplate":"{{> modifiedAt}}"
                                  },
                                  
                                  {"displayName":"Actions", "cellTemplate": 
                                  "<div style=\"display:flex;\">
                                      <mp-ldp-duplicate-resource-action iri=\"{{page.value}}\">
                                        <i class=\"fa fa-files-o\" style=\"cursor:pointer; padding-right:12px;\" title=\"Duplicate\" aria-hidden=\"true\"></i>
                                      </mp-ldp-duplicate-resource-action>
                                  
                                      <mp-anonymous-hidden>
                                        <mp-ldp-remove-from-container-action data-iri=\"{{page.value}}\" data-container=\"http://www.researchspace.org/ontology/UserDefinedPage\">
                                  
                                          <i class=\"fa fa-trash\" style=\"cursor:pointer;\" title=\"Delete\" aria-hidden=\"true\"></i>
                                        </mp-ldp-remove-from-container-action>
                                      </mp-anonymous-hidden>
                                    </div>"} 
                                ]}'>
            
            <template id='view'>
              <div style="display: flex; align-items: center;">
                <i class="rs-icon rs-icon-drag_points" style="margin-right: 12px;"></i>
                <semantic-link iri='{{page.value}}' 
                                class='a-draggable'
                                urlqueryparam-previous-page='[[this]]'
                                urlqueryparam-previous-page-title='Project - Semantic Narratives'
                                >
                  <div style="display: flex; align-items: center;">
                    <span>{{label.value}}</span>
                  </div>
                </semantic-link>

              </div>
              
            </template>
            
            <template id='modifiedAt'>
                {{dateTimeFormat modified.value "LLL"}}
            </template>
          </semantic-table>
      </semantic-context>
    </div>
  </div>
</div>