[[!--
uses client-side template:
[[> rsp:HierarchyManagerTemplate]]
--]]
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link iri='[[resolvePrefix "rsp:ProjectDashboard"]]'>
      Project Dashboard
    </semantic-link>
  </li>
  <li>
    <semantic-link iri='[[resolvePrefix "rsp:ProjectConfiguration"]]'>
      Configurations
    </semantic-link>
  </li>

  <li class="active">
    Entity Manager 
  </li>
</ol>

<div class="page">
[[#>rsp:ClipboardSidebar]]
[[#>rsp:DetailsSidebar]]

  [[> rsp:EntityManagerContent]]

[[/rsp:DetailsSidebar]]
[[/rsp:ClipboardSidebar]]

</div>
