<style>
  .resource-context-page {

    background: rgb(238, 238, 238);

    height: calc(100vh - 70px);
/*     width: 100vw; */
    
    display: grid;
    grid-template-rows: minmax(1px, auto) 1fr;
    grid-template-columns: minmax(1px, 280px) 1fr;
    
    grid-template-areas: 'header header'
                          'sidebar results';
  }

  .resource-header {
    padding: 25px; 
    background: rgb(212, 212, 212);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    grid-area: header;
  }

  .resource-sidebar {
    padding: 25px; 
    border-right: 1px solid grey;

    grid-area: sidebar;
  }

  .resource-results {

    grid-area: results;
  }

  .search-container {
    height: 100%;
  }

  .resource-results-container {

    height: 100%;
    display: grid;
    grid-template-rows: minmax(1px, auto) 1fr;
    grid-template-columns: 3fr 1fr;
    
    grid-template-areas: 'header search'
                          'resultView filters';
  }

  .resource-results-header {

    grid-area: header;
    border-bottom: 1px solid grey;
    padding: 15px; 

    display: flex;
    align-items: center;
  }

  .resource-results-keywordSearch {

    grid-area: search;
    padding: 17px; 
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
  }

  .btn {
    font-size: 12px;
    padding: 6px;
  }

  .resource-results-content {

    grid-area: resultView;
    padding: 15px;

    display: flex;
    flex-direction: column;
  }

  .resource-results-contentNavigation {

    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgb(212, 212, 212);
  }

  .resource-results-filters {
    grid-area: filters;
    border-left: 1px solid grey;
    padding: 15px;
  }

  .resource-context-page .show-facet-button, .resource-context-page .facet__category-selector-holder {
    display: none;
  }

</style>

<entity-view entity-iri='{{iri}}'>
  <template id='template'>
    <div class="resource-context-page">
      <!-- Entity header -->
      <div class="resource-header">
        <div style="flex:1;">
          <div style="font-size:16px; font-weight: 600;margin-bottom: 5px;"><mp-label iri='{{entityIri}}'></mp-label></div>
          <div style="font-size:12px; text-transform: uppercase; color: rgb(88, 85, 85);margin-bottom: 10px;">collection item</div>
          <div>Collection item description</div>
        </div>
        <div style="display: flex; gap: 5px;">
          <button class="btn btn-primary">View/Edit details</button>
          <button class="btn btn-default">:</button>
        </div>
      </div>

      <!-- Entity context sidebar -->
      <div class="resource-sidebar">
        <div style="margin-bottom: 20px;">Related resources</div>
        <semantic-tree query='{{navigationQuery}}' tuple-template='{{> nodeTemplate}}'>
          <template id='nodeTemplate'>
            <mp-event-trigger id='event-trigger' 
            type='Component.TemplateUpdate' 
            targets='["entity-viewes"]'
            data='{"navigationEntry": "{{node.value}}"}'>
            <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 3px;">
              <div>{{nodeLabel.value}}</div> 
              <div class="badge" style="margin-left: 15px; background-color: #514f4f; border-radius: 3px;">{{count.value}}</div>
            </div>
          </mp-event-trigger>
          </template>  
        </semantic-tree>
      </div>

      <!-- Entity context results -->
      <div class="resource-results">

        <mp-event-target-template-render id='entity-viewes' template='{{> entityViewes}}'>
          <template id='entityViewes'>
            <div style="height: 100%;">
            {{#if navigationEntry}}
              <entity-view-search-results entity-iri='{{entityIri}}' 
                                          entity-view-config-iri='{{entityViewConfigIri}}' 
                                          navigation-entry-iri='{{navigationEntry}}'>
                <template id='template'>
                  <semantic-search config='{{searchConfig}}'>

<!--  What is this? -->
                    <semantic-search-query-constant 
                        domain='<{{entityDomain}}>'
                        query='{{searchQuery}}'
                      ></semantic-search-query-constant>
  
                    <div style="height: 100%;">
                      <semantic-search-result-holder>
                        <div class="resource-results-container">
                          <div class="resource-results-header">
                            <div style="font-size: 16px; font-weight: 600;">Node label value</div>
                            
                            <div style="display: flex;
                                        justify-content: end;
                                        flex-wrap: wrap;
                                        flex: 1;
                                        gap: 30px;">
                              <button class="btn btn-primary">+ New entity</button>
                            
                              {{#if (eq viewes.length 1)}}
                                <bs-dropdown id="" class="">
                                  <bs-dropdown-toggle>
                                    {{viewes.0.label}}
                                  </bs-dropdown-toggle>
                                  <bs-dropdown-menu>
                                  </bs-dropdown-menu>
                                </bs-dropdown>
                              {{else}}
                                <bs-dropdown id="" class="">
                                  <bs-dropdown-toggle>
                                        View
                                  </bs-dropdown-toggle>
                                  <bs-dropdown-menu>
                                    {{#each viewes}}
                                    <mp-event-trigger id='{{order}}-view-trigger' type='Component.TemplateUpdate' targets='["search-results"]' data='{"templateIri": "{{templateIri}}"}'>
                                      <bs-menu-item>
                                        {{label}}
                                      </bs-menu-item>
                                    </mp-event-trigger>
                              			{{/each}}
                                  </bs-dropdown-menu>
                                </bs-dropdown>
                              {{/if}}

                              <div style="display: flex; gap: 3px;">
                                <bs-dropdown>
                                  <bs-dropdown-toggle>
                                        Save
                                  </bs-dropdown-toggle>
                                  <bs-dropdown-menu>
                                    <bs-menu-item >
                                        Save as
                                    </bs-menu-item>
                                    <bs-menu-item>
                                      Save as
                                    </bs-menu-item>
                                  </bs-dropdown-menu>
                                </bs-dropdown>
                                
                                <bs-dropdown>
                                  <bs-dropdown-toggle>
                                        Export
                                  </bs-dropdown-toggle>
                                  <bs-dropdown-menu>
                                    <bs-menu-item>
                                        Export as CSV
                                    </bs-menu-item>
                                    <bs-menu-item>
                                      Export as JSON
                                    </bs-menu-item>
                                  </bs-dropdown-menu>
                                </bs-dropdown>
                              </div>

                            </div>
                          
                          </div>
                        
                          <div class="resource-results-keywordSearch">search input here</div>

                          <div class="resource-results-content">

                            <div style="flex:1;">
                              <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                              <mp-event-target-template-render id='search-results' template='{{> template}}'>
                                <template id='template'>
                                  <inline-template template-iri='{{#if templateIri}}{{templateIri}}{{else}}{{viewes.0.templateIri}}{{/if}}'></inline-template>
                                </template>
                              </mp-event-target-template-render>
                            </div>
                            
                            <div class="resource-results-contentNavigation">
                              <semantic-search-result id='semantic-search-result'>
                                <mp-sparql-result-counts id='semantic-search-result-count' query="SELECT DISTINCT ?subject {}"
                                                        template='{{> template}}'
                                >
                                  <template id='template'>
                                    <div>
                                      <span><span style="font-weight: 600;">{{#if hasLimit}}{{totalNumberOfResults}}{{else}}{{numberOfResults}}{{/if}}</span> items</span>
                                    </div>
                                  </template>
                                </mp-sparql-result-counts>
                              </semantic-search-result>
                              <div>Pagination</div>
                            </div>
                          </div>

                          <div class="resource-results-filters">
                            <semantic-search-facet id='semantic-search-facet' open-by-default='true'></semantic-search-facet>
                          </div>
                      
                        </div>
                      </semantic-search-result-holder>

                      
                    </div>

                  </semantic-search>
                </template>
              </entity-view-search-results>

<!--               <p>{{navigationEntry}}</p> -->
            {{/if}}
            </div>
          </template>
        </mp-event-target-template-render>

      </div>

    </div>
  </template>
</entity-view>