<!-- [[!--Please don't edit region's label or rdf:type through this form!!!!! --]]-->

<semantic-form 
               id='feature-creation-form'
               post-action='event'
               subject='{{#if edit}}{{feature}}{{/if}}'
               new-subject-template='{{objectIri}}/E25_Man-Made_Feature/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
               persistence='{"type": "sparql", "targetInsertGraphIri": "http://www.researchspace.org/ns/data-updates-graph-test"}'
               
  						fields='[[
               fieldDefinitions
                 label="http://www.w3.org/2000/01/rdf-schema#label"
                 P67i_is_referred_to_by_latehokusai_annotation="http://www.researchspace.org/pattern/P67i_is_referred_to_by_latehokusai_annotation"
                 classtype="http://www.researchspace.org/pattern/latehokusai_feature_type"
                 P138i_has_representation_latehokusai_representation="http://www.researchspace.org/pattern/P138i_has_representation_latehokusai_representation"
                 P65_shows_visual_item_latehokusai_annotation_inscription="http://www.researchspace.org/pattern/P65_shows_visual_item_latehokusai_annotation_inscription"
                 P128_carries_latehokusai_annotation_information="http://www.researchspace.org/pattern/P128_carries_latehokusai_annotation_information"
                 P65_shows_visual_item_latehokusai_annotation_mark="http://www.researchspace.oeg/pattern/P65_shows_visual_item_latehokusai_annotation_mark"
                 P130_shows_features_of_latehokusai_annotation="http://www.researchspace.org/pattern/P130_shows_features_of_latehokusai_annotation"
                 P128_carries_latehokusai_annotation_entity="http://www.researchspace.org/pattern/P128_carries_latehokusai_annotation_entity"
                 was_observed_by_latehokusai="http://www.researchspace.org/pattern/was_observed_by_latehokusai"
                 was_digitally_observed_by_latehokusai="http://www.researchspace.org/pattern/was_digitally_observed_by_latehokusai"
                 P56i_is_found_on_late_hokusai_feature="http://www.researchspace.org/pattern/P56i_is_found_on_late_hokusai_feature"
                 P129_is_about_latehokusai_annotation_subject="http://www.researchspace.org/pattern/P129_is_about_latehokusai_annotation_subject"
                 P67_refers_to_latehokusai_annotation_place="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_place"
                 P138i_has_representation_latehokusai_representation="http://www.researchspace.org/pattern/P138i_has_representation_latehokusai_representation"  
							]]'
>
  <mp-event-proxy id='refresh-the-form' on-event-source='feature-creation-form' on-event-types='["Form.ResourceCreated", "Form.ResourceUpdated"]'
                  proxy-event-type='Component.TemplateUpdate' proxy-targets='["save-state"]'
                  data='{"saved": true}'
  ></mp-event-proxy>


  <div class="form-scrollable-area">
    <semantic-form-hidden-input for="P56i_is_found_on_late_hokusai_feature" default-value='{{objectIri}}'> </semantic-form-hidden-input>

    <semantic-form-select-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E25_Man-Made_Feature'> </semantic-form-select-input>
    
    {{#if regionIri}}
      <semantic-form-drag-and-drop-input  for="P138i_has_representation_latehokusai_representation" default-value='{{regionIri}}'></semantic-form-drag-and-drop-input>
    {{else}}
      <semantic-form-drag-and-drop-input  for="P138i_has_representation_latehokusai_representation"></semantic-form-drag-and-drop-input>
    {{/if}}

    {{#if createFromRegion}}
    <semantic-form-hidden-input for="label" default-value='{{featureType}}: {{regionLabel}}'> </semantic-form-hidden-input>
    {{else}}
    <semantic-form-text-input for="label"> </semantic-form-text-input>
    {{/if}}

    <semantic-form-hidden-input for="was_digitally_observed_by_latehokusai" default-value='http://www.researchspace.org/entity/E55_Type/bdac6431-7d0a-4fa2-b547-6759a071bd1e'></semantic-form-hidden-input>

    <semantic-form-composite-input for='was_observed_by_latehokusai'

                                   new-subject-template="/S4_Observation/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                   fields='[[
                     fieldDefinitions
                                   classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                   P2_has_type_observation="http://www.researchspace.org/pattern/P2_has_type_physical_observation"

                                                                          ]]'>
      <semantic-form-hidden-input for="classtype" default-value='http://www.ics.forth.gr/isl/CRMsci/S4_Observation'></semantic-form-hidden-input>

      <semantic-form-select-input for='P2_has_type_observation'></semantic-form-select-input>

    </semantic-form-composite-input>   
    
    {{#switch featureType}}
      {{#case "Inscription" break=true}}
    <semantic-form-composite-input
                                   for="P65_shows_visual_item_latehokusai_annotation_inscription" 
                                   new-subject-template="/E34_Inscription/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                   fields='[[fieldDefinitions
                                      classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                      P190_has_symbolic_object_late_hokusai_annotation_symbolic="http://www.researchspace.org/pattern/P190_has_symbolic_object_late_hokusai_annotation_symbolic"
                                      P72_has_language_latehokusai_annotation_language="http://www.researchspace.org/pattern/P72_has_language_latehokusai_annotation_language"
                                      P2_has_type_latehokusai_annotation_inscription_type="http://www.researchspace.org/pattern/P2_has_type_latehokusai_annotation_inscription_type"
                                      P73_has_translation_hokusai_annotation="http://www.researchspace.org/pattern/P73_has_translation_hokusai_annotation"
                                      PX_has_transliteration="http://www.researchspace.org/pattern/PX_has_transliteration"
                                    ]]'
    >
      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E34_Inscription'> </semantic-form-hidden-input>

      <semantic-form-text-input for='P190_has_symbolic_object_late_hokusai_annotation_symbolic'></semantic-form-text-input>
      <semantic-form-text-input for='P73_has_translation_hokusai_annotation'></semantic-form-text-input>
      <semantic-form-tree-picker-input for="P72_has_language_latehokusai_annotation_language"  default-value="http://collection.britishmuseum.org/id/thesauri/THES223120"></semantic-form-tree-picker-input>
      <semantic-form-tree-picker-input for="P2_has_type_latehokusai_annotation_inscription_type" default-value="http://collection.britishmuseum.org/id/thesauri/THES122853"></semantic-form-tree-picker-input>
      <semantic-form-text-input for='PX_has_transliteration'></semantic-form-text-input>
    </semantic-form-composite-input>
      {{/case}}
    
      {{#case "Mark" break=true}}
    <semantic-form-composite-input render-header=false
                                   for="P65_shows_visual_item_latehokusai_annotation_mark" 
                                   new-subject-template="/E37_Mark/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                   fields='[[fieldDefinitions
                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                        P2_has_type_latehokusai_annotation_mark_type="http://www.researchspace.org/pattern/P2_has_type_latehokusai_annotation_mark_type"
                                      ]]'
     >
      <semantic-form-tree-picker-input for="P2_has_type_latehokusai_annotation_mark_type"></semantic-form-tree-picker-input>
      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E37_Mark'> </semantic-form-hidden-input>
    </semantic-form-composite-input>
      {{/case}}
    
      {{#case "Subject" break=true}}
    <semantic-form-composite-input render-header=false
                                   for="P128_carries_latehokusai_annotation_information" 
                                   new-subject-template="/E73_Information_Object/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                   fields='[[
                                     fieldDefinitions
                                       classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                       P129_is_about_latehokusai_annotation_subject="http://www.researchspace.org/pattern/P129_is_about_latehokusai_annotation_subject"
                                   ]]'>
      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object'> </semantic-form-hidden-input>
      <semantic-form-tree-picker-input for="P129_is_about_latehokusai_annotation_subject"></semantic-form-tree-picker-input>
    </semantic-form-composite-input>    
      {{/case}}
    
      {{#case "Reference" break=true}}
    <semantic-form-composite-input for="P128_carries_latehokusai_annotation_entity" 
                                   new-subject-template="/E73_Information_Object/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"  
                                   fields='[[
                                    fieldDefinitions
                                      classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                      P67_refers_to_latehokusai_annotation_place="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_place"
                                      P67_refers_to_latehokusai_annotation_period="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_period"
                                      P67_refers_to_latehokusai_annotation_person="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_person"
                                      P67_refers_to_latehokusai_annotation_object="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_object"
                                      P67_refers_to_latehokusai_annotation_thing="http://www.researchspace.org/pattern/P67_refers_to_latehokusai_annotation_thing"
                                    ]]'>
      <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object'> </semantic-form-hidden-input>

      <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_person"></semantic-form-autocomplete-input>
      <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_place"></semantic-form-autocomplete-input>
      <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_period"></semantic-form-autocomplete-input>
      <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_thing"></semantic-form-autocomplete-input>
      <semantic-form-autocomplete-input for="P67_refers_to_latehokusai_annotation_object"></semantic-form-autocomplete-input>
    </semantic-form-composite-input>
      {{/case}}    
    {{/switch}}
    
    <semantic-form-text-input for="P67i_is_referred_to_by_latehokusai_annotation" multiline='true'> </semantic-form-text-input>
    <semantic-form-drag-and-drop-input for="P130_shows_features_of_latehokusai_annotation"></semantic-form-drag-and-drop-input>


  </div>

  <div class="form-btn-group">
    <div style="display: flex; justify-content: flex-end; width: 100%;">
      <mp-event-target-template-render id='save-state' template='{{> template}}'>
        <template id='template'>
          {{#if saved}}
          <div class='save-message fade-out_disappear'>
            The feature has been saved successfully!
          </div>
          {{/if}}
        </template>
      </mp-event-target-template-render>
      
      {{#if edit}}
        <button name="reset" class="btn btn-default">Reset</button>

        <mp-overlay-dialog show='{{#if delete}}true{{else}}false{{/if}}' id='feature-remove-confirmation-dialog' title="Are you sure you want to remove the feature?" type="modal" bs-size="large">
          <mp-overlay-dialog-trigger>
            <button class="btn btn-grey btn-danger">Delete</button>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content>
            <div>
              <div>
                <p>Are you sure you want to remove <strong><mp-label iri='{{feature}}'></mp-label></strong>?</p>
                <semantic-query 
                                query='
                                  SELECT ?resource WHERE {
                                    ?resource ?p <{{feature}}> .
                                  }
                                '
                                template='{{> referredByTemplate}}'
                >
                  <template id='referredByTemplate'>
                    Some entities in the system link to the feature:
                    <ul>
                      {{#each bindings}}
                        <li>
                          <semantic-link iri='{{resource.value}}'></semantic-link>
                        </li>
                      {{/each}}
                    </ul>
                  </template>
                </semantic-query>
              </div>
              <div class="form-btn-group">
                <div style="display: flex; justify-content: flex-end; width: 100%;">
                  <mp-event-trigger id='cancel-feature-removal' type='OverlayDialog.Close' targets='["feature-remove-confirmation-dialog"]'>
                    <button class="btn btn-default">Cancel</button>
                  </mp-event-trigger>
                  <mp-event-trigger id='confirm-feature-removal' type='Form.RemoveResource' data='{"iri": "{{feature}}"}' targets='["feature-creation-form"]'>
                    <button class="btn btn-grey btn-danger">Delete Feature</button>
                  </mp-event-trigger>  
                  
                  
                  <mp-event-proxy id='close-form-removal-dialog' on-event-source='feature-creation-form' on-event-type='Form.ResourceRemoved'
                                  proxy-event-type='TwoSidePanel.ShowFront' data='{}' proxy-targets='["objects-panel"]'
                  ></mp-event-proxy>
                </div>
              </div>
            </div>
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      {{/if}}
      
      <button name="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
  
</semantic-form>
