<div>
  {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#string"}}
    "{{value.value.value}}"
  {{/ifCond}}
  {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#langString"}}
  {{log this}}
    "{{value.value.value}}"{{#if value.value.language}} - {{value.value.language}}{{/if}}
  {{/ifCond}}
  {{#ifCond field.xsdDatatype.value "==" "http://www.w3.org/2001/XMLSchema#dateTime"}}
    {{value.value.value}}
  {{/ifCond}}
  {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#anyURI"}}
    {{#if value.value.datatype}}
      [[!-- in the messy data it can happen that field is anyURI but actual data is literal --]]
      {{value.value.value}}
    {{else}}
      <semantic-link iri="{{value.value.value}}"></semantic-link>
    {{/if}}
  {{/ifCond}}
</div>
