<semantic-form [[> rsp:FormDefaults]] 
                persistence='{"type": "sparql","targetInsertGraphIri":"{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}"}'
                new-subject-template='{{#if scheme}}{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{else}}/entity/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'
                fields='[[fieldDefinitions
                            entity_classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                            inScheme="http://www.researchspace.org/pattern/system/entity/is_listed_in"
                            entity_formRecord="http://www.researchspace.org/pattern/system/entity/formRecord"
                            
                            entity_image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                            entity_image="http://www.researchspace.org/pattern/system/entity/images"
                            entity_document="http://www.researchspace.org/pattern/system/entity/documents"

                            entity_appellation="http://www.researchspace.org/pattern/system/entity/appellation"
                            entity_preferred_id="http://www.researchspace.org/pattern/system/entity/preferred_identifier"
                            entity_id="http://www.researchspace.org/pattern/system/entity/identifier"
                            entity_has_type="http://www.researchspace.org/pattern/system/entity/has_type"
                            entity_description="http://www.researchspace.org/pattern/system/entity/description"

                            entity_depicted_by="http://www.researchspace.org/pattern/system/entity/depicted_by_manMadeThing"
                            entity_subject_of="http://www.researchspace.org/pattern/system/entity/subject_of_propositional_object"
                            entity_referred_to_by="http://www.researchspace.org/pattern/system/entity/referred_to_by_propositional_object"

                            entity_measurement="http://www.researchspace.org/pattern/system/entity/measurement"
                            entity_influenced_activity="http://www.researchspace.org/pattern/system/entity/influenced_activity"
                            entity_motivated_activity="http://www.researchspace.org/pattern/system/entity/motivated_activity"
                            entity_attributed_by_attribute_assignment="http://www.researchspace.org/pattern/system/entity/attributed_by_attribute_assignment"
                            entity_assigned_by_attribute_assignment="http://www.researchspace.org/pattern/system/entity/assigned_by_attribute_assignment"

                            entity_has_representation="http://www.researchspace.org/pattern/system/entity/has_representation"
                            
                        ]]'
            >

    <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
        <semantic-form-hidden-input for="entity_classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E1_CRM_Entity'></semantic-form-hidden-input>
        
        {{#if scheme}}
            <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"></semantic-form-hidden-input>  
        {{/if}}

        <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs">
            <rs-tab event-key="detail" title="Details">
                <div class="form-2column-container">
                    <div>
                        <div class="inline-composite-container">
                            <semantic-form-composite-input  for="entity_appellation"
                                                            label="Entity name/appellation"
                                                            new-subject-template="/entity_appellation" 
                                                            fields='[[fieldDefinitions
                                                                    classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                                                    has_type="http://www.researchspace.org/pattern/system/entity/has_type"
                                                                    identifier_value="http://www.researchspace.org/pattern/system/identifier/value"
                                                                ]]'
                                                            >
                                        
                                <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/cidoc-crm/E41_Appellation"></semantic-form-hidden-input>
                                <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/system/vocab/appellation/entity_appellation'></semantic-form-hidden-input>
                                    
                                <semantic-form-text-input for="identifier_value" render-header=false placeholder="Enter name/appellation"></semantic-form-text-input>

                            </semantic-form-composite-input>
                        </div>

                        <div class="inline-composite-container">
                            <semantic-form-composite-input  for="entity_preferred_id"
                                                            label="Entity preferred identifier"
                                                            new-subject-template="/entity_id" 
                                                            fields='[[fieldDefinitions
                                                                    classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                                                    has_type="http://www.researchspace.org/pattern/system/entity/has_type"
                                                                    identifier_value="http://www.researchspace.org/pattern/system/identifier/value"
                                                                ]]'
                                                            >
                                        
                                <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/cidoc-crm/E42_Identifier"></semantic-form-hidden-input>
                                <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/system/vocab/appellation/entity_preferred_id'></semantic-form-hidden-input>
                                    
                                <semantic-form-text-input for="identifier_value" render-header=false placeholder="Enter preferred identifier"></semantic-form-text-input>

                            </semantic-form-composite-input>
                        </div>

                        <div class="inline-composite-container">
                            <semantic-form-composite-input  for="entity_id"
                                                            label="Entity other identifier"
                                                            new-subject-template="/entity_id/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                                            fields='[[fieldDefinitions
                                                                    classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                                                    has_type="http://www.researchspace.org/pattern/system/entity/has_type"
                                                                    identifier_value="http://www.researchspace.org/pattern/system/identifier/value"
                                                                ]]'
                                                            >
                                        
                                <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/cidoc-crm/E42_Identifier"></semantic-form-hidden-input>
                                <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/system/vocab/appellation/entity_id'></semantic-form-hidden-input>
                                    
                                <semantic-form-text-input for="identifier_value" render-header=false placeholder="Enter identifier"></semantic-form-text-input>
                            </semantic-form-composite-input>
                        </div>
                        
                        <semantic-form-select-input for='entity_has_type' 
                                                    label="Entity type"
                                                    placeholder="Select type" 
                                                    nested-form-templates='[ 
                                                        {
                                                            "label": "Type",
                                                            "nestedForm": "{{{{raw}}}}
                                                                            {{> \"http://www.researchspace.org/resource/system/forms/Type\" nested=true editable=true mode=\"new\"}}
                                                                        {{{{/raw}}}}"
                                                        }
                                                    ]'> 
                        </semantic-form-select-input>
                        <semantic-form-text-input for="entity_description" label="Entity description" placeholder="Enter description/comment" multiline='true'> </semantic-form-text-input>

                    </div>

                    <div class="form-media-column">
                        <div class="dragAndDrop-input-container">
                            <semantic-form-drag-and-drop-input for='entity_image_main_representation' label="Main image" 
                                                                placeholder-item-template="<div class='placeholder-item'>
                                                                                            <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                            <div>Drag main image or click to upload</div>
                                                                                        </div>"
                                                                nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
                            </semantic-form-drag-and-drop-input>
                        </div>
            
                        <div class="dragAndDrop-input-container">
                            <semantic-form-drag-and-drop-input  for='entity_image' label="More images" 
                                                                placeholder-item-template="<div class='placeholder-item'>
                                                                                            <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                            <div>Drag images or click to upload</div>
                                                                                        </div>"
                                                                nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
                            </semantic-form-drag-and-drop-input>
                        </div>

                        <div class="dragAndDrop-input-container">
                            <semantic-form-drag-and-drop-input  for='entity_document' label="Documents" 
                                                                    placeholder-item-template="<div class='placeholder-item'>
                                                                                                <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                                <div>Drag document or click to upload</div>
                                                                                                </div>"
                                                                nested-form-template='{{{{raw}}}}{{> forms:Document nested=true editable=true mode="new" docType="http://www.researchspace.org/resource/vocab/document_type/exhibition_report" }}{{{{/raw}}}}'
                                                                                                >
                            </semantic-form-drag-and-drop-input>
                        </div>
                    </div>
                    
                </div>
            </rs-tab>

            <rs-tab event-key="thing" title="Things">

                <semantic-form-select-input for='entity_depicted_by' 
                                            label="Entity depicted by"
                                            placeholder="Select what depicts the entity" 
                                            nested-form-templates='[[> Platform:NestedFormTemplates_physicalManMadeThings]]'> 
                </semantic-form-select-input>

                <semantic-form-select-input for='entity_subject_of' 
                                            label="Entity subject of"
                                            placeholder="Select what is about the entity" 
                                            nested-form-templates='[[> Platform:NestedFormTemplates_propositionalObjects]]'> 
                </semantic-form-select-input>

                <semantic-form-select-input for='entity_referred_to_by' 
                                            label="Entity referred to by"
                                            placeholder="Select what refers to the entity" 
                                            nested-form-templates='[[> Platform:NestedFormTemplates_propositionalObjects]]'> 
                </semantic-form-select-input>

            </rs-tab>

            <rs-tab event-key="event" title="Events">
                <semantic-form-select-input for='entity_measurement' 
                                            label="Entity measurement"
                                            placeholder="Select measurement" 
                                            nested-form-templates='[ 
                                                {
                                                    "label": "Measurement",
                                                    "nestedForm": "{{{{raw}}}}
                                                                    {{> \"http://www.researchspace.org/resource/system/forms/Measurement\" nested=true editable=true mode=\"new\"}}
                                                                {{{{/raw}}}}"
                                                }
                                            ]'>  
                </semantic-form-select-input>

                <semantic-form-select-input for='entity_influenced_activity' 
                                            label="Entity influenced"
                                            placeholder="Select activity influenced by the entity" 
                                            nested-form-templates='[[> Platform:NestedFormTemplates_activities]]'>  
                </semantic-form-select-input>

                <semantic-form-select-input for='entity_motivated_activity' 
                                            label="Entity motivated"
                                            placeholder="Select activity motivated by the entity" 
                                            nested-form-templates='[[> Platform:NestedFormTemplates_activities]]'>  
                </semantic-form-select-input>

                <semantic-form-select-input for='entity_attributed_by_attribute_assignment' 
                                            label="Entity attributed by"
                                            placeholder="Select what assigned attribute to the entity" 
                                            nested-form-templates='[ 
                                                {
                                                    "label": "Attribute assignment",
                                                    "nestedForm": "{{{{raw}}}}
                                                                    {{> \"http://www.researchspace.org/resource/system/forms/AttributeAssignment\" nested=true editable=true mode=\"new\"}}
                                                                {{{{/raw}}}}"
                                                }
                                                ]'>  
                </semantic-form-select-input>

                <semantic-form-select-input for='entity_assigned_by_attribute_assignment' 
                                            label="Entity assigned by"
                                            placeholder="Select what assigned the entity" 
                                            nested-form-templates='[ 
                                                {
                                                    "label": "Attribute assignment",
                                                    "nestedForm": "{{{{raw}}}}
                                                                    {{> \"http://www.researchspace.org/resource/system/forms/AttributeAssignment\" nested=true editable=true mode=\"new\"}}
                                                                {{{{/raw}}}}"
                                                }
                                                ]'>  
                </semantic-form-select-input>
            </rs-tab>

            <rs-tab event-key="representation" title="Representations/Documents" tab-class-name="tab-right">

                <semantic-form-select-input for='entity_image_main_representation' 
                                            label="Entity main image"
                                            placeholder="Select image" 
                                            nested-form-templates='[ 
                                                {
                                                    "label": "Image",
                                                    "nestedForm": "{{{{raw}}}}
                                                                    {{> \"http://www.researchspace.org/resource/system/forms/Image\" nested=true editable=true mode=\"new\"}}
                                                                {{{{/raw}}}}"
                                                }
                                            ]'> 
                </semantic-form-select-input>

                <semantic-form-select-input for='entity_has_representation' 
                                            label="Entity other representation"
                                            placeholder="Select representation" 
                                            nested-form-templates='[[> Platform:NestedFormTemplates_visualItems]]'> 
                </semantic-form-select-input>
            </rs-tab>

            [[> rsp:FormMetadataTab]]
        </rs-tabs>

    </div>

    <semantic-form-errors></semantic-form-errors>  
    [[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}entity{{/if}}']] 

</semantic-form>