[[> userCard name="User Name" institute="Institute" role='Role' pageLink=(resolvePrefix "User:admin")]]
[[> userCard name="User Name" institute="Institute" role='Role' pageLink=(resolvePrefix "User:admin")]]
[[> userCard name="User Name" institute="Institute" role='Role' pageLink=(resolvePrefix "User:admin")]]
[[> userCard name="User Name" institute="Institute" role='Role' pageLink=(resolvePrefix "User:admin")]]
[[> userCard name="User Name" institute="Institute" role='Role' pageLink=(resolvePrefix "User:admin")]]
[[> userCard name="User Name" institute="Institute" role='Role' pageLink=(resolvePrefix "User:admin")]]