<semantic-form [[> rsp:FormDefaults]] 
                persistence='{"type": "sparql","targetInsertGraphIri":"{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}"}'
                new-subject-template='{{#if scheme}}{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{else}}/timespan/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'

                fields='[[fieldDefinitions
                          classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                          inScheme="http://www.researchspace.org/pattern/system/entity/is_listed_in"
                          entity_formRecord="http://www.researchspace.org/pattern/system/entity/formRecord"

                          timespan_document="http://www.researchspace.org/pattern/system/entity/documents"
                          image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                          more_image="http://www.researchspace.org/pattern/system/entity/images"

                          timespan_text_value="http://www.researchspace.org/pattern/system/timespan/time_appellationMin1"
                          timespan_beginning="http://www.researchspace.org/pattern/system/timespan/beginning"
                          timespan_end="http://www.researchspace.org/pattern/system/timespan/end"
                          timespan_date="http://www.researchspace.org/pattern/system/timespan/at_some_time_within"
                          timespan_start_date="http://www.researchspace.org/pattern/system/timespan/begin_of_the_begin"
                          timespan_end_date="http://www.researchspace.org/pattern/system/timespan/end_of_the_end"
                          timespan_falls_within_timespan="http://www.researchspace.org/pattern/system/timespan/falls_within_timespan"
                          timespan_duration="http://www.researchspace.org/pattern/system/timespan/duration"
                          timespan_description="http://www.researchspace.org/pattern/system/entity/description"
                ]]'>

  <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
    <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span'> </semantic-form-hidden-input>
    {{#if scheme}}
      <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"></semantic-form-hidden-input>  
    {{/if}}

    <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs"> 
      <rs-tab event-key="detail" title="Details">

        <div class="form-2column-container">
          <div>
            <semantic-form-text-input for='timespan_text_value' label="Timespan (text value)"  placeholder="Enter timespan (text value)"></semantic-form-text-input>
            
            <semantic-form-text-input for='timespan_beginning' label="Timespan beginning"  placeholder="Enter timespan"></semantic-form-text-input>
            <semantic-form-text-input for='timespan_end' label="Timespan end"  placeholder="Enter timespan"></semantic-form-text-input>
            <div class="form-inline-inputs" style="align-items:flex-start;">
              <div style="flex: 1;">
                <semantic-form-datetime-input for="timespan_date" label="Date (date value)"  placeholder="Enter date (date value)"></semantic-form-datetime-input>
              </div>
              <div style="flex: 1;">
                <semantic-form-datetime-input for="timespan_start_date" label="Start date"  placeholder="Enter start date"></semantic-form-datetime-input>
              </div>
              <div style="flex: 1;">
                <semantic-form-datetime-input for="timespan_end_date" label="End date"  placeholder="Enter end date"></semantic-form-datetime-input>
              </div>
            </div>
            
            <div class="inline-composite-container">
              <semantic-form-composite-input  for="timespan_duration" 
                                              label="Duration"  
                                              placeholder="Enter duration" 
                                              new-subject-template="/dimension/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"  
                                              fields='[[fieldDefinitions
                                                          classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                          
                                                          has_type="http://www.researchspace.org/pattern/system/entity/has_type"
                                                          dimension_value="http://www.researchspace.org/pattern/system/dimension/value"
                                                          dimension_time_unit="http://www.researchspace.org/pattern/system/dimension/time_unit"
                                                          dimension_description="http://www.researchspace.org/pattern/system/entity/description"
                                                      ]]'>

                <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E54_Dimension'></semantic-form-hidden-input>
                <semantic-form-hidden-input for="classtype" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/timespan_duration'></semantic-form-hidden-input>

                <div class="form-inline-inputs" style="row-gap:5px;">
                    <div style="flex: 1;">
                        <semantic-form-text-input for="dimension_value" label="Value" placeholder="Enter value" render-header="false"></semantic-form-text-input>
                    </div>
                    <div style="flex: 1;">
                        <semantic-form-select-input for='dimension_time_unit' 
                                                    render-header="false"
                                                    placeholder="Select time unit" 
                                                    nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/time_unit"
                                                                                        entityType="time unit" }}{{{{/raw}}}}'> 
                        </semantic-form-select-input>
                    </div>
                    <div style="flex: 1;">
                        <semantic-form-text-input for='dimension_description' render-header="false" placeholder="Enter description/comment"></semantic-form-text-input>
                    </div>
                </div>
              </semantic-form-composite-input>
            </div>
            
            <semantic-form-select-input for='timespan_falls_within_timespan' 
                                        label="Timespan falls within timespan" 
                                        placeholder="Select timespan" 
                                        nested-form-template='{{{{raw}}}}{{> forms:Timespan nested=true editable=true mode="new" }}{{{{/raw}}}}'> 
            </semantic-form-select-input>   

            <semantic-form-text-input for="timespan_description" multiline="true" label="Timespan description/comment" placeholder="Enter description/comment"></semantic-form-text-input>
          </div>

          <div class="form-media-column">

            <div class="dragAndDrop-input-container">
              <semantic-form-drag-and-drop-input  for='timespan_document' 
                                                  label="Documents" 
                                                  placeholder-item-template="<div class='placeholder-item'>
                                                                                  <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                                  <div>Drag document or click to upload</div>
                                                                                </div>"
                                                  nested-form-template='{{{{raw}}}}{{> forms:Document nested=true editable=true mode="new" 
                                                                                        docType="http://www.researchspace.org/resource/vocab/document_type/report" }}{{{{/raw}}}}'
                                                                                >
                  </semantic-form-drag-and-drop-input>

            </div>

            <div class="dragAndDrop-input-container">
              <semantic-form-drag-and-drop-input for='image_main_representation' label="Main image" 
                                                  placeholder-item-template="<div class='placeholder-item'>
                                                                              <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                              <div>Drag main image or click to upload</div>
                                                                            </div>"
                                                  nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
              </semantic-form-drag-and-drop-input>
            </div>

            <div class="dragAndDrop-input-container">
              <semantic-form-drag-and-drop-input  for='more_image' label="More images" 
                                                  placeholder-item-template="<div class='placeholder-item'>
                                                                              <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                              <div>Drag images or click to upload</div>
                                                                            </div>"
                                                  nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
              </semantic-form-drag-and-drop-input>
            </div>

          </div>
        </div>
      </rs-tab>

      <rs-tab event-key="event" title="Related events">

      </rs-tab>

      [[> rsp:FormMetadataTab]]
    </rs-tabs>
  </div>

  <semantic-form-errors></semantic-form-errors> 
    
  [[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}timespan{{/if}}']]

</semantic-form>