<semantic-form [[> rsp:FormDefaults]] 
                persistence='{"type": "sparql", "targetInsertGraphIri": "{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}", "repository":"{{#if scheme}}vocabularies{{else}}default{{/if}}"}'
                new-subject-template='http://www.researchspace.org/resource/user/{{{{raw}}}}{{user_email}}{{{{/raw}}}}'
                fields='[[fieldDefinitions
                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                            entity_resource_type="http://www.researchspace.org/pattern/system/entity/resource_type"
                            inScheme="http://www.researchspace.org/pattern/system/entity/is_listed_in"

                            entity_image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                            entity_image="http://www.researchspace.org/pattern/system/entity/images"
                            entity_document="http://www.researchspace.org/pattern/system/entity/documents"
                            entity_video="http://www.researchspace.org/pattern/system/entity/subject_of_video"
                            entity_audio="http://www.researchspace.org/pattern/system/entity/subject_of_audio"
                            entity_3d_model="http://www.researchspace.org/pattern/system/entity/subject_of_3Dmodel"
                            entity_has_representation="http://www.researchspace.org/pattern/system/entity/has_representation"
                            entity_represents_range="http://www.researchspace.org/pattern/system/entity/represents_range"
                            entity_web_URL="http://www.researchspace.org/pattern/system/entity/web_URL_embed"

                            entity_primary_appellation="http://www.researchspace.org/pattern/system/entity/primary_appellation"
                            user_email="http://www.researchspace.org/pattern/system/user/email"
                            user_type="http://www.researchspace.org/pattern/system/user/type"
                            entity_description="http://www.researchspace.org/pattern/system/entity/description"
                            person_profession="http://www.researchspace.org/pattern/system/person/profession"
                            actor_is_current_or_former_member_of="http://www.researchspace.org/pattern/system/actor/is_current_or_former_member_of"
                            actor_is_member_range="http://www.researchspace.org/pattern/system/actor/PC107_has_current_or_former_member_range"
                            group_has_current_or_former_member="http://www.researchspace.org/pattern/system/group/has_current_or_former_member"
                            group_has_member_domain="http://www.researchspace.org/pattern/system/group/PC107_has_current_or_former_member_domain"
                            actor_nationality="http://www.researchspace.org/pattern/system/actor/nationality"
                            actor_contact_point="http://www.researchspace.org/pattern/system/actor/contact_point"
                            actor_residence="http://www.researchspace.org/pattern/system/actor/has_current_or_former_residence"

                            actor_carried_out_by_range="http://www.researchspace.org/pattern/system/actor/PC14_carried_out_by_range"
                            actor_participated_in_event="http://www.researchspace.org/pattern/system/actor/PC11_participated_in_event"
                            persistent_item_present_at="http://www.researchspace.org/pattern/system/persistent_item/present_at"
                            actor_joined_by="http://www.researchspace.org/pattern/system/actor/joined_by"
                            actor_left_by="http://www.researchspace.org/pattern/system/actor/leaving_group"
                            group_gained_member_by="http://www.researchspace.org/pattern/system/group/gained_member_by"
                            group_lost_member_by="http://www.researchspace.org/pattern/system/group/lost_member_by"

                            actor_former_or_current_curator_of="http://www.researchspace.org/pattern/system/actor/former_or_current_curator_of"

                            actor_former_or_current_owner_of="http://www.researchspace.org/pattern/system/actor/former_or_current_owner_of"
                            actor_current_owner_of="http://www.researchspace.org/pattern/system/actor/current_owner_of"
                            actor_possesses_right="http://www.researchspace.org/pattern/system/actor/possesses_right"
                            actor_has_right_on="http://www.researchspace.org/pattern/system/actor/has_right_on"
                            actor_former_or_current_keeper_of="http://www.researchspace.org/pattern/system/actor/former_or_current_keeper_of"
                            actor_current_keeper_of="http://www.researchspace.org/pattern/system/actor/current_keeper_of"    
                ]]'
>

  <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">

    [[!-- classtype Person and group are defined inside KP http://www.researchspace.org/pattern/system/user/type]]     --]]
    <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E39_Actor'></semantic-form-hidden-input>

    <semantic-form-hidden-input for="entity_resource_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/user'></semantic-form-hidden-input>
    
    {{#if scheme}}
      <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"></semantic-form-hidden-input>  
    {{/if}}

    {{#if node}}
      <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs">
        <rs-tab event-key="detail" title="Details">
          <div class="form-details-container">
            <div style="overflow-x: auto;">
              <div class="form-inline-inputs"> 
                <div style="flex: 1;">
                  <semantic-form-text-input for="entity_primary_appellation" label="Full name" placeholder="Enter full name"> </semantic-form-text-input>
                </div>
                
                <div style="flex: 1;">
                  <semantic-form-text-input for="user_email" label="Email" placeholder="Enter email" readonly='true'></semantic-form-text-input>
                </div>
              </div>

              <h5 class="customFormHeader" style="margin: 0;">User type*</h5>
              <semantic-form-select-input for='user_type' label="User type" placeholder='Select the type of user' render-header="false" readonly-resource="true" readonly="true"></semantic-form-select-input>

              <semantic-form-text-input for="entity_description" multiline="true" label="Summary" placeholder="Enter summary"></semantic-form-text-input>

              {{#if node}}
                <semantic-query query='SELECT ?authorityDocument ?authorityDocumentName WHERE {
                                        <{{node}}> crm:P71i_is_listed_in ?authorityDocument .
                                        ?authorityDocument a crm:E32_Authority_Document .
                                        ?authorityDocument crm:P1_is_identified_by ?appellation . 
                                        ?appellation a crm:E41_Appellation . 
                                        ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                        ?appellation crm:P190_has_symbolic_content ?authorityDocumentName .
                                    } LIMIT 1'
                                template='{{> template}}'>
                                
                    <template id='template'>
                        <div>
                            <div style="margin-top: 20px;">
                                Listed in authority document:
                                {{#if scheme}}
                                  {{bindings.0.authorityDocumentName.value}} 
                                {{else}}
                                  <semantic-link  iri="http://www.researchspace.org/resource/ThinkingFrames"
                                                  urlqueryparam-view='authority-list' 
                                                  urlqueryparam-resource-iri='{{bindings.0.authorityDocument.value}}'
                                                  class="text-link">
                                    {{bindings.0.authorityDocumentName.value}}
                                  </semantic-link>
                                {{/if}}
                            </div>
                        </div>  
                    </template>
                </semantic-query>
              {{/if}}

              {{#if (eq user_type "http://www.researchspace.org/resource/system/vocab/user_type/person")}}
                <semantic-form-tree-picker-input  for='person_profession' 
                                                label="Profession" 
                                                close-dropdown-on-selection='false'
                                                placeholder="Select profession" 
                                                tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/profession>", 
                                                                "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/profession>",
                                                                "relationPattern": "?item crm:P107i_is_current_or_former_member_of ?parent",
                                                                "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                ?appellation a crm:E41_Appellation . 
                                                                                ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                                ?appellation crm:P190_has_symbolic_content ?label ." }'
                                            
                                                nested-form-template='{{{{raw}}}}{{> forms:Group nested=true editable=true mode="new"
                                                                                    scheme="http://www.researchspace.org/resource/vocab/profession"
                                                                                    entityType="profession" }}{{{{/raw}}}}'

                                                scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                            "view": "authority-list",
                                                                            "scheme": "http://www.researchspace.org/resource/vocab/profession",
                                                                            "tooltip": "Open list of professions"
                                                                        }'

                                                query-item-label='SELECT ?label WHERE {
                                                                    ?item crm:P1_is_identified_by ?appellation . 
                                                                    ?appellation a crm:E41_Appellation . 
                                                                    ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                    ?appellation crm:P190_has_symbolic_content ?label .
                                                                }'
                ></semantic-form-tree-picker-input>
              {{/if}}

              {{#if scheme}}
                <semantic-form-tree-picker-input  for="actor_is_current_or_former_member_of" 
                                                  label="Is member of" 
                                                  placeholder="Select group/department/team of which the user is current or former member of" 
                                                  close-dropdown-on-selection='false'
                                                  default-values='[{{#if broader}}"{{broader}}"{{/if}}]' 
                                                  tree-patterns='{"scheme": "{{scheme}}",
                                                                              "schemePattern": "?item crm:P71i_is_listed_in <{{scheme}}> .",
                                                                              "relationPattern": "?item crm:P107i_is_current_or_former_member_of ?parent",
                                                                              "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                              ?appellation a crm:E41_Appellation . 
                                                                                              ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                                              ?appellation crm:P190_has_symbolic_content ?label ." }'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item crm:P1_is_identified_by ?appellation .
                                                                      ?appellation a crm:E41_Appellation .
                                                                      ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                                                      ?appellation crm:P190_has_symbolic_content ?label .
                                                                  }'
                ></semantic-form-tree-picker-input>

                {{#if (or (eq user_type "http://www.researchspace.org/resource/system/vocab/user_type/department") (eq user_type "http://www.researchspace.org/resource/system/vocab/user_type/team"))}}
                  <semantic-form-tree-picker-input for="group_has_current_or_former_member" 
                                                  label="Has member" 
                                                  placeholder="Select the user/actor/person/group that is or has been a member" 
                                                  close-dropdown-on-selection='false'
                                                  tree-patterns='{"scheme": "{{scheme}}",
                                                                  "schemePattern": "?item crm:P71i_is_listed_in <{{scheme}}>",
                                                                  "relationPattern": "?item crm:P107i_is_current_or_former_member_of ?parent",
                                                                  "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                  ?appellation a crm:E41_Appellation . 
                                                                                  ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                                  ?appellation crm:P190_has_symbolic_content ?label ." }'
                                                  
                                                  query-item-label='SELECT ?label WHERE {
                                                                        ?item crm:P1_is_identified_by ?appellation .
                                                                        ?appellation a crm:E41_Appellation .
                                                                        ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                        ?appellation crm:P190_has_symbolic_content ?label .
                                                                    }'
                                                      >
                  </semantic-form-tree-picker-input>
                {{/if}}
              {{else}}
                <div class="inline-composite-container">
                  <semantic-form-composite-input  for="actor_is_member_range"
                                                  label="Is member of" 
                                                  new-subject-template="/PC107_has_current_or_former_member/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                                  fields='[[fieldDefinitions
                                                              classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"

                                                              has_member_group_domain="http://www.researchspace.org/pattern/system/has_member/group_domain"
                                                              has_member_kind_of_member="http://www.researchspace.org/pattern/system/has_member/kind_of_member"
                                                          ]]'>

                              <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC107_has_current_or_former_member'> </semantic-form-hidden-input>

                              <div class="form-inline-inputs">
                                <div style="flex: 1;">
                                  <semantic-form-autocomplete-input for='has_member_group_domain' 
                                                                    render-header="false"
                                                                    placeholder="Select group/organisation/department/team of which the user is or has been a member of"
                                                                    nested-form-templates='[ 
                                                                      {
                                                                        "label": "Group",
                                                                        "nestedForm": "{{{{raw}}}}
                                                                                          {{> \"http://www.researchspace.org/resource/system/forms/Group\" nested=true editable=true mode=\"new\"}}
                                                                                      {{{{/raw}}}}"
                                                                      }
                                                                    ]'> 
                                  </semantic-form-autocomplete-input>
                                </div>
                                <div style="flex: 1;">
                                  <semantic-form-tree-picker-input  for="has_member_kind_of_member" 
                                                                    label="kind of member" 
                                                                    render-header="false"
                                                                    placeholder="Select kind of member"
                                                                    close-dropdown-on-selection='true'
                                                                    tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                                    "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                                    "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                                    scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                                "view": "authority-list",
                                                                                                "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                                                "tooltip": "Open list of roles"
                                                                                              }'
                                                                    
                                                                    nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                          scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                                          entityType="role" }}{{{{/raw}}}}'

                                                                    query-item-label='SELECT ?label WHERE {
                                                                                        ?item skos:prefLabel ?label .
                                                                                    }'>
                                  </semantic-form-tree-picker-input>
                                </div>
                              </div>
                  </semantic-form-composite-input>
                </div>

                {{#if (or (eq user_type "http://www.researchspace.org/resource/system/vocab/user_type/department") (eq user_type "http://www.researchspace.org/resource/system/vocab/user_type/team"))}}
                  <div class="inline-composite-container">
                    <semantic-form-composite-input  for="group_has_member_domain" 
                                                    label="Has member"
                                                    new-subject-template="/PC107_has_current_or_former_member/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                                    fields='[[fieldDefinitions
                                                                classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                                
                                                                has_member_actor_range="http://www.researchspace.org/pattern/system/has_member/actor_range"
                                                                has_member_kind_of_member="http://www.researchspace.org/pattern/system/has_member/kind_of_member"
                                                            ]]'>

                        <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC107_has_current_or_former_member'> </semantic-form-hidden-input>

                        <div class="form-inline-inputs">
                          <div style="flex: 1;">
                            <semantic-form-autocomplete-input for='has_member_actor_range' 
                                                              render-header="false"
                                                              placeholder="Select the user/actor/person/group that is or has been a member" 
                                                              nested-form-templates='[[> Platform:NestedFormTemplates_actors]]'>
                            </semantic-form-autocomplete-input>
                          </div>
                          <div style="flex: 1;">
                            <semantic-form-tree-picker-input  for="has_member_kind_of_member" 
                                                              label="kind of member" 
                                                              render-header="false"
                                                              placeholder="Select kind of member"
                                                              close-dropdown-on-selection='true'
                                                              tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                              "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                              "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                              scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                                          "view": "authority-list",
                                                                                          "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                                          "tooltip": "Open list of roles"
                                                                                        }'
                                                              
                                                              nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                                    scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                                    entityType="role" }}{{{{/raw}}}}'

                                                              query-item-label='SELECT ?label WHERE {
                                                                                  ?item skos:prefLabel ?label .
                                                                              }'>
                            </semantic-form-tree-picker-input>
                          </div>
                        </div>
                    </semantic-form-composite-input>
                  </div>
                {{/if}}
              {{/if}}

              <div class="inline-composite-container">
                <semantic-form-composite-input  for="actor_contact_point" 
                                                label="Contact detail"
                                                new-subject-template="/contact_point/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                                fields='[[fieldDefinitions
                                                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                            
                                                            appellation_type="http://www.researchspace.org/pattern/system/appellation/type"
                                                            contact_point_type="http://www.researchspace.org/pattern/system/contact_point/type"
                                                            contact_point_text="http://www.researchspace.org/pattern/system/contact_point/text"
                                                    ]]'>
      
                    <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E41_Appellation'> </semantic-form-hidden-input>
                    <semantic-form-hidden-input for="appellation_type" default-value='http://www.researchspace.org/resource/system/vocab/appellation/contact_point'> </semantic-form-hidden-input>
                    
                    <div class="form-inline-inputs">
                        <div style="flex: 1;">
                          <semantic-form-select-input for='contact_point_type' 
                                                      label="Contact point" 
                                                      render-header="false"
                                                      placeholder="Select contact type" 
                                                      nested-form-templates='[ 
                                                        {
                                                          "label": "Contact type",
                                                          "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Type\" nested=true editable=true mode=\"new\" 
                                                                                          scheme=\"http://www.researchspace.org/resource/vocab/contact_point_type\"
                                                                                          entityType=\"contact type\" }}
                                                                          {{{{/raw}}}}"
                                                        }
                                                      ]'> 
                          </semantic-form-select-input>  
                        </div>
                        <div style="flex: 1;">
                          <semantic-form-text-input for='contact_point_text' render-header=false placeholder="Enter contact detail"></semantic-form-text-input>
                        </div>
                    </div>
                    
                </semantic-form-composite-input>
              </div>

              <semantic-form-tree-picker-input  for="actor_nationality" 
                                              label="Nationality"
                                              placeholder="Select nationality"
                                              tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/nationality>", 
                                                              "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/nationality>",
                                                              "relationPattern": "?item crm:P107i_is_current_or_former_member_of ?parent",
                                                              "labelPattern": "?item crm:P1_is_identified_by ?appellation . 
                                                                                ?appellation a crm:E41_Appellation . 
                                                                                ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                                ?appellation crm:P190_has_symbolic_content ?label ." }'

                                              nested-form-template='{{{{raw}}}}{{> forms:Group nested=true editable=true mode="new"
                                                                                      scheme="http://www.researchspace.org/resource/vocab/nationality"
                                                                                      entityType="nationality" }}{{{{/raw}}}}'
                                                                                      
                                              scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                          "view": "authority-list",
                                                                          "scheme": "http://www.researchspace.org/resource/vocab/nationality",
                                                                          "tooltip": "Open list of nationalities"
                                                                          }'

                                              query-item-label='SELECT ?label WHERE {
                                                                  ?item crm:P1_is_identified_by ?appellation . 
                                                                  ?appellation a crm:E41_Appellation . 
                                                                  ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                  ?appellation crm:P190_has_symbolic_content ?label .
                                                              }'
              ></semantic-form-tree-picker-input> 

              <semantic-form-autocomplete-input for='actor_residence' 
                                                label="Residence" 
                                                placeholder="Select current or former residence" 
                                                nested-form-templates='[[> Platform:NestedFormTemplates_places]]'>  
              </semantic-form-autocomplete-input> 
          
            </div>
            [[> rsp:FormAssetSidebar]]
          </div>
        </rs-tab>
  
        <rs-tab event-key="event" title="Events">
        
          <div class="inline-composite-container">
            <semantic-form-composite-input  for="actor_carried_out_by_range" 
                                            label="Carried out / performed"
                                            new-subject-template="/PC14_carried_out_by/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                                            fields='[[fieldDefinitions
                                                      classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                                
                                                      carried_out_by_activity_domain="http://www.researchspace.org/pattern/system/carried_out_by/activity_domain"
                                                      role="http://www.researchspace.org/pattern/system/carried_out_by/role"
                                                    ]]'>

            <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC14_carried_out_by'> </semantic-form-hidden-input>

            <div class="form-inline-inputs">
              <div style="flex: 1;">
                <semantic-form-autocomplete-input for='carried_out_by_activity_domain' 
                                                  render-header="false"
                                                  placeholder="Select activity carried out by the user" 
                                                  nested-form-templates='[[> Platform:NestedFormTemplates_activities]]'>
                </semantic-form-autocomplete-input>
              </div>
              <div style="flex: 1;">
                <semantic-form-tree-picker-input  for="role" 
                                                  render-header="false"
                                                  placeholder="Select role"
                                                  close-dropdown-on-selection='true'
                                                  tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                  "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                  "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                  scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                              "view": "authority-list",
                                                                              "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                              "tooltip": "Open list of roles"
                                                                            }'
                                                  
                                                  nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                        entityType="role" }}{{{{/raw}}}}'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                                  }'>
                  </semantic-form-tree-picker-input>
              </div>
            </div>
            </semantic-form-composite-input>
          </div>

          <div class="inline-composite-container">
            <semantic-form-composite-input  for="actor_participated_in_event" 
                                            label="Participated in"
                                            new-subject-template="/PC11_had_participant/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                            fields='[[fieldDefinitions
                                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                                                        
                                                        participant_event="http://www.researchspace.org/pattern/system/participant/event"
                                                        participant_role="http://www.researchspace.org/pattern/system/participant/role"
                                                    ]]'>

            <semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/PC11_had_participant'> </semantic-form-hidden-input>

            <div class="form-inline-inputs">
              <div style="flex: 1;">
                <semantic-form-autocomplete-input for='participant_event' 
                                                  render-header="false"
                                                  placeholder="Select event in which the user participated" 
                                                  nested-form-templates='[[> Platform:NestedFormTemplates_events]]'>
                </semantic-form-autocomplete-input>
              </div>
              <div style="flex: 1;">
                <semantic-form-tree-picker-input  for="participant_role" 
                                                  render-header="false"
                                                  placeholder="Select role"
                                                  close-dropdown-on-selection='true'
                                                  tree-patterns='{"scheme": "<http://www.researchspace.org/resource/vocab/actor_role>", 
                                                                  "schemePattern": "?item <http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in> <http://www.researchspace.org/resource/vocab/actor_role>",
                                                                  "relationPattern": "?item crm:P127_has_broader_term ?parent"}'

                                                  scheme-page-button-config='{"iri": "http://www.researchspace.org/resource/ThinkingFrames",
                                                                              "view": "authority-list",
                                                                              "scheme": "http://www.researchspace.org/resource/vocab/actor_role",
                                                                              "tooltip": "Open list of roles"
                                                                            }'
                                                  
                                                  nested-form-template='{{{{raw}}}}{{> forms:Type nested=true editable=true mode="new"
                                                                                        scheme="http://www.researchspace.org/resource/vocab/actor_role"
                                                                                        entityType="role" }}{{{{/raw}}}}'

                                                  query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                  }'>
                </semantic-form-tree-picker-input>
              </div>
            </div>
            </semantic-form-composite-input>
          </div>

          <semantic-form-autocomplete-input  for='persistent_item_present_at' 
                                            label="Present at" 
                                            placeholder="Select event in which the user had an active or passive presence" 
                                            nested-form-templates='[[> Platform:NestedFormTemplates_events]]'>  
          </semantic-form-autocomplete-input> 
          
          <semantic-form-autocomplete-input for="actor_joined_by"
                                            label="Joining / becoming member of"
                                            placeholder="Select joining event that resulted in the user to became member of a group/organisation/department/team" 
                                            nested-form-templates='[ 
                                              {
                                                "label": "Joining",
                                                "nestedForm": "{{{{raw}}}}
                                                                  {{> \"http://www.researchspace.org/resource/system/forms/Joining\" nested=true editable=true mode=\"new\"}}
                                                              {{{{/raw}}}}"
                                              }
                                            ]'>
          </semantic-form-autocomplete-input>

          <semantic-form-autocomplete-input for="actor_left_by"
                                            label="Leaving / left a group"
                                            placeholder="Select leaving event in which the user left a group/organisation/department/team" 
                                            nested-form-templates='[ 
                                              {
                                                "label": "Leaving",
                                                "nestedForm": "{{{{raw}}}}
                                                                  {{> \"http://www.researchspace.org/resource/system/forms/Leaving\" nested=true editable=true mode=\"new\"}}
                                                              {{{{/raw}}}}"
                                              }
                                            ]'>
          </semantic-form-autocomplete-input>

          {{#if (or (eq user_type "http://www.researchspace.org/resource/system/vocab/user_type/department") (eq user_type "http://www.researchspace.org/resource/system/vocab/user_type/team"))}}
            <semantic-form-autocomplete-input for="group_gained_member_by"
                                              label="Gained member by"
                                              placeholder="Select joining event in which the user gained a new member" 
                                              nested-form-templates='[ 
                                                {
                                                  "label": "Joining",
                                                  "nestedForm": "{{{{raw}}}}
                                                                    {{> \"http://www.researchspace.org/resource/system/forms/Joining\" nested=true editable=true mode=\"new\"}}
                                                                {{{{/raw}}}}"
                                                }
                                              ]'>
            </semantic-form-autocomplete-input>

            <semantic-form-autocomplete-input for="group_lost_member_by"
                                              label="Lost member by"
                                              placeholder="Select leaving event that resulted in a member lost" 
                                              nested-form-templates='[ 
                                                {
                                                  "label": "Leaving",
                                                  "nestedForm": "{{{{raw}}}}
                                                                    {{> \"http://www.researchspace.org/resource/system/forms/Leaving\" nested=true editable=true mode=\"new\"}}
                                                                {{{{/raw}}}}"
                                                }
                                              ]'>
            </semantic-form-autocomplete-input>
          {{/if}}

        </rs-tab>
  
        <rs-tab event-key="thing" title="Curatorial activity">
          <semantic-form-autocomplete-input   for="actor_former_or_current_curator_of"
                                              label="Curator of collection" 
                                              placeholder="Select collection of which the user assumed or have assumed overall curatorial responsibility" 
                                              nested-form-templates='[ 
                                                  {
                                                      "label": "Collection",
                                                      "nestedForm": "{{{{raw}}}}
                                                                      {{> \"http://www.researchspace.org/resource/system/forms/Collection\" nested=true editable=true mode=\"new\"}}
                                                                  {{{{/raw}}}}"
                                                  }
                                              ]'> 
          </semantic-form-autocomplete-input>
        </rs-tab>

        <rs-tab event-key="ownership" title="Ownership/Custody/Rights">

          <div class="form-section-flexContainer">
            <div style="flex: 1;">
                <h5 class="customFormHeader" style="margin: 0;">Ownership</h5>
                <div class="form-section">
                    <div class="form-section-first-input">
                      <semantic-form-autocomplete-input   for="actor_current_owner_of"
                                                          label="Current owner of" 
                                                          placeholder="Select thing/object of which the user is legal owner" 
                                                          nested-form-templates='[[> Platform:NestedFormTemplates_physicalThings]]'> 
                      </semantic-form-autocomplete-input> 
                    </div>
                    <semantic-form-autocomplete-input   for="actor_former_or_current_owner_of"
                                                        label="Former or current owner of" 
                                                        placeholder="Select thing/object of which the user is or had been the legal owner" 
                                                        nested-form-templates='[[> Platform:NestedFormTemplates_physicalThings]]'> 
                    </semantic-form-autocomplete-input> 
                </div>
            </div>

            <div style="flex: 1;">
                <h5 class="customFormHeader" style="margin: 0;">Custody</h5>
                <div class="form-section">
                    <div class="form-section-first-input">
                      <semantic-form-autocomplete-input   for="actor_current_keeper_of"
                                                          label="Current keeper of" 
                                                          placeholder="Select thing/object of which the user has custody" 
                                                          nested-form-templates='[[> Platform:NestedFormTemplates_physicalThings]]'> 
                      </semantic-form-autocomplete-input> 
                    </div>    
                    <semantic-form-autocomplete-input   for="actor_former_or_current_keeper_of"
                                                        label="Former or current keeper of" 
                                                        placeholder="Select thing/object of which the user has or has had custody" 
                                                        nested-form-templates='[[> Platform:NestedFormTemplates_physicalThings]]'> 
                    </semantic-form-autocomplete-input> 
                </div>
            </div>
          </div>

          <semantic-form-autocomplete-input   for="actor_possesses_right"
                                              label="Possesses right" 
                                              placeholder="Select right over which the user holds or has held a legal claim" 
                                              nested-form-templates='[ 
                                                  {
                                                      "label": "Right",
                                                      "nestedForm": "{{{{raw}}}}
                                                                      {{> \"http://www.researchspace.org/resource/system/forms/Right\" nested=true editable=true mode=\"new\"}}
                                                                  {{{{/raw}}}}"
                                                  }
                                              ]'> 
          </semantic-form-autocomplete-input> 

          <semantic-form-autocomplete-input   for="actor_has_right_on"
                                              label="Has right on" 
                                              placeholder="Select object of which the user has right on" 
                                              nested-form-templates='[[> Platform:NestedFormTemplates_legalObjects]]'> 
          </semantic-form-autocomplete-input> 

        </rs-tab>
      </rs-tabs>
    {{else}}
      <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs">
        <rs-tab event-key="detail" title="Details">
          <div class="form-details-container">
            <div>
              <div class="form-inline-inputs"> 
                <div style="flex: 1;">
                  <semantic-form-text-input for="entity_primary_appellation" label="First and Last name" placeholder="Enter full and last name"> </semantic-form-text-input>
                </div>
                
                <div style="flex: 1;">
                    {{#if additional_data.email}}
                      <semantic-form-text-input for="user_email" default-value="{{additional_data.email}}" label="Email" placeholder="Enter email" readonly='true'></semantic-form-text-input>
                    {{else}}
                      <semantic-form-text-input for="user_email" label="Email" placeholder="Enter email"> </semantic-form-text-input>
                    {{/if}}
                </div>
              </div>

              <h5 class="customFormHeader" style="margin: 0;">User type*</h5>
              <semantic-form-select-input for='user_type' label="User type" placeholder='Select the type of user' render-header="false" readonly-resource="true"></semantic-form-select-input>

              <semantic-form-text-input for="entity_description" multiline="true" label="Summary" placeholder="Enter summary"></semantic-form-text-input>
            </div>
            [[> rsp:FormAssetSidebar]]
          </div>
        </rs-tab>
      </rs-tabs>
    {{/if}}


  </div>
  
   <semantic-form-errors></semantic-form-errors>

[[!--  allow user to edit only their user data, not other users --]]
  {{#if node}}
    {{#if isSystemUser}}
      [[> rsp:FormDefaultActions formEntity='my profile']]
    {{else}}
    {{/if}}
  {{else}}
    {{#if nested}}
    {{else}}
      [[> rsp:FormDefaultActions formEntity='user']]
    {{/if}}
  {{/if}}
</semantic-form>