[[!--  items must be subclasses of http://www.cidoc-crm.org/cidoc-crm/E65_Creation --]]  
[ 
  {
    "label": "Creation",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/Creation\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Digital measurement",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/DigitalMeasurement\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Software execution",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/SoftwareExecution\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  },
  {
    "label": "Type creation",
    "nestedForm": "{{{{raw}}}}{{> \"http://www.researchspace.org/resource/system/forms/TypeCreation\" nested=true editable=true mode=\"new\" }}{{{{/raw}}}}"
  }

]