<inline-template template-iri='[[resolvePrefix "rsp:SimpleCollectionBrowser"]]'
                  options='{
                            "collection": "http://www.researchspace.org/resource/system/vocab/authority_manager_config_types",
                            "membershipProperty": "http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in",
                            "itemLabel": "Authority and entity type",
                            "resourceForm": "[[resolvePrefix "rsp:AuthorityConfigForm"]]",
                            "frameId": "authority-config",
                            "editable": true
                          }'
></inline-template>
