<semantic-form [[> rsp:FormDefaults]] 
               persistence='{"type": "sparql", "targetGraphIri": "{{scheme}}"}'
               new-subject-template='{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
               fields='[[
                fieldDefinitions
                  inScheme="http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in"
                  rdfsLabel="http://www.researchspace.org/pattern/general/rdfs:label"
                  broader="http://www.researchspace.org/pattern/vocabulary_manager/crm:P10_falls_within"
                  narrower="http://www.researchspace.org/pattern/vocabulary_manager/crm:P10i_contains"
                  classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                  scopeNote="http://www.cidoc-crm.org/cidoc-crm/P3_has_note"
                  P138i_has_representation="http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation"
               ]]'
>

  <div class="form-scroll-area">
    <semantic-form-hidden-input for="classtype" default-values='["http://www.cidoc-crm.org/cidoc-crm/E4_Period"]'></semantic-form-hidden-input>
    <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"> </semantic-form-hidden-input>  
    
    <semantic-form-text-input for="rdfsLabel"> </semantic-form-text-input>
    <semantic-form-tree-picker-input for="broader" placeholder="drag from tree" 
                                     default-values='[{{#if broader}}"{{broader}}"{{/if}}]' 
                                     tree-patterns='{"scheme": "{{scheme}}"}'
    ></semantic-form-tree-picker-input>
    <semantic-form-tree-picker-input for="narrower" 
                                     placeholder="drag from tree" 
                                     tree-patterns='{"scheme": "{{scheme}}"}'
    ></semantic-form-tree-picker-input>
    <semantic-form-text-input for="scopeNote" multiline=true> </semantic-form-text-input>
    <semantic-form-autocomplete-input for="P138i_has_representation"></semantic-form-autocomplete-input>
   
    <semantic-form-errors></semantic-form-errors>
  </div>
  
  [[> rsp:FormDefaultActions]] 
</semantic-form>
