{{#bind viewId=dashboardId}}

  [[!-- Update activities on resourceForm actions, set actions, narrative actions, map saved --]]
  <mp-event-proxy id='update-activities-on-resourceForm-actions'
                  on-event-types='["Form.ResourceCreated", 
                                    "Form.ResourceUpdated", 
                                    "Form.ResourceRemoved",
                                    "OverlayComparison.Created",
                                    "Components.SetManagement.SetAdded",
                                    "Components.SetManagement.SetRenamed",
                                    "Components.SetManagement.SetRemoved",
                                    "Narrative.Created", 
                                    "Narrative.Updated",
                                    "GraphAction.Delete",
                                    "Ontodia.DiagramSaved",
                                    "Ontodia.DiagramDataPersisted"
                                    ]'         
                  proxy-event-type='Component.TemplateUpdate' 
                  proxy-targets='["system-activities-render-area"]'
  ></mp-event-proxy> 

    <mp-event-target-template-render id="system-activities-render-area" template='{{> template}}'>
        <template id='template'>
            <semantic-search config='[[searchConfigForFieldsFromQuery "SELECT DISTINCT ?field WHERE { ?field a <http://www.researchspace.org/resource/system/fields/Field> . ?field <http://www.researchspace.org/resource/system/fields/category> <http://www.researchspace.org/resource/system/category/system_activity_search> .}"]]'>              
                    <div class="semantic-search-content">
                        <div class="semantic-search-header-content">
                            <div style="display: flex; align-items: center;column-gap: 30px;flex: 1;max-height: 35px;overflow: hidden;">
                                <h3 class="semantic-search-header-title" style="flex: unset;">
                                    System activities
                                </h3>
                            </div>
                            <div class="semantic-search-header-actions">

                                <div class="search-results-header-keyword">
                                  <semantic-search-query-keyword  domain='<http://www.cidoc-crm.org/cidoc-crm/E1_CRM_Entity>'
                                                                  query='SELECT DISTINCT ?subject WHERE { 
                                                                          {
                                                                            ?subject prov:generatedAtTime ?date .
                                                                            ?subject crm:P2_has_type ?type .
                                                                            FILTER(?type IN (<http://www.researchspace.org/resource/system/vocab/resource_type/knowledge_map>, 
                                                                                              <http://www.researchspace.org/resource/system/vocab/resource_type/set>,
                                                                                              <http://www.researchspace.org/resource/system/vocab/resource_type/semantic_narrative>, 
                                                                                              <http://www.researchspace.org/resource/system/vocab/resource_type/semantic_chart>,
                                                                                              <http://www.researchspace.org/resource/system/vocab/resource_type/semantic_timeline>
                                                                                            ))
                                                                            ?subject crm:P190_has_symbolic_content ?label .
                                                                          } UNION {
                                                                            ?subject a rs:EX_Digital_Image .
                                                                            ?subject prov:generatedAtTime ?date .
                                                                            ?subject crm:P1_is_identified_by ?imageAppellation . 
                                                                            ?imageAppellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                            ?imageAppellation crm:P190_has_symbolic_content ?label .
                                                                          } UNION {
                                                                            ?subject crm:P129i_is_subject_of ?entityFormRecord .
                                                                            ?entityFormRecord a crmdig:D1_Digital_Object .
                                                                            ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                  
                                                                            MINUS { ?subject a Platform:resource_configuration .}
                  
                                                                            ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordOutput .
                                                                            ?entityFormRecordOutput crm:P2_has_type ?entityFormRecordOutputType .
                                                                            FILTER(?entityFormRecordOutputType IN (<http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_creation>, 
                                                                                                                    <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_modification>
                                                                                                                    ))
                                                                            ?entityFormRecordOutput crm:P4_has_time-span ?entityFormRecordOutputTimespan .
                                                                            ?entityFormRecordOutputTimespan crm:P82_at_some_time_within ?date .
                                                                            { 
                                                                              ?subject crm:P1_is_identified_by ?appellation .
                                                                              ?appellation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> . 
                                                                              ?appellation crm:P190_has_symbolic_content ?label .
                                                                            } UNION {
                                                                              ?subject crm:P170i_time_is_defined_by ?timePrimitive .
                                                                              ?timePrimitive crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_time_primitive> .
                                                                              ?timePrimitive crm:P190_has_symbolic_content ?label .
                                                                            } UNION {
                                                                              ?subject skos:prefLabel ?label .
                                                                            } UNION {
                                                                              ?subject crm:P190_has_symbolic_content ?label .
                                                                            }
                                                                          }
                                                                          
                                                                          FILTER (?date > "2024-10-22T00:00:00.000Z"^^xsd:dateTime)
                                                                            
                                                                          SERVICE <http://www.bigdata.com/rdf/search#search> {
                                                                                    ?label bds:search ?__token__ ;
                                                                                    bds:minRelevance "0.3" ;
                                                                                    bds:matchAllTerms "true"  .
                                                                          }
                                                                        } ORDER BY DESC(?date)'
                                                                  default-query='SELECT DISTINCT ?subject WHERE {
                                                                                  {
                                                                                    ?subject prov:generatedAtTime ?date .
                                                                                    ?subject crm:P2_has_type ?type .
                                                                                    FILTER(?type IN (<http://www.researchspace.org/resource/system/vocab/resource_type/knowledge_map>, 
                                                                                                      <http://www.researchspace.org/resource/system/vocab/resource_type/set>,
                                                                                                      <http://www.researchspace.org/resource/system/vocab/resource_type/semantic_narrative>, 
                                                                                                      <http://www.researchspace.org/resource/system/vocab/resource_type/semantic_chart>,
                                                                                                      <http://www.researchspace.org/resource/system/vocab/resource_type/semantic_timeline>
                                                                                                    )
                                                                                      )
                                                                                    MINUS {?subject prov:wasAttributedTo ?__useruri__ ; rdfs:label "Uncategorized" .}
                                                                                  } UNION {
                                                                                    ?subject a rs:EX_Digital_Image .
                                                                                    ?subject prov:generatedAtTime ?date .
                                                                                  } UNION {
                                                                                    ?subject crm:P129i_is_subject_of ?entityFormRecord .
                                                                                    ?entityFormRecord a crmdig:D1_Digital_Object .
                                                                                    ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                                                                    ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordCreation .
                                                                                    ?entityFormRecordCreation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_creation> .
                                                                                    ?entityFormRecordCreation crm:P4_has_time-span ?entityFormRecordCreationTimespan .
                                                                                    ?entityFormRecordCreationTimespan crm:P82_at_some_time_within ?dateCreation .
                                                                                  } UNION {
                                                                                    ?subject crm:P129i_is_subject_of ?entityFormRecord .
                                                                                    ?entityFormRecord a crmdig:D1_Digital_Object .
                                                                                    ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                                                                    ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordModification .
                                                                                    ?entityFormRecordModification crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_modification> .
                                                                                    ?entityFormRecordModification crm:P4_has_time-span ?entityFormRecordModificationTimespan .
                                                                                    ?entityFormRecordModificationTimespan crm:P82_at_some_time_within ?dateModification .
                                                                                  } 
                                                                                  BIND(IF(BOUND(?dateModification), ?dateModification, ?dateCreation) AS ?date)
                                                                                  MINUS { ?subject a Platform:resource_configuration .}
                                                                                  FILTER (?date > "2024-10-22T00:00:00.000Z"^^xsd:dateTime)
                                                                                }'
                                                                  debounce=500
                                                                  placeholder="Search by resource name"
                                  ></semantic-search-query-keyword> 
                                </div>

                                [[!-- Refresh button --]]
                                <mp-event-trigger id="{{viewId}}-search-refresh-trigger" 
                                                    type='Component.TemplateUpdate' 
                                                    targets='["system-activities-render-area"]'
                                                    >
                                    <button class="btn btn-default btn-textAndIcon">
                                        <rs-icon icon-type="rounded" icon-name="refresh" title="Refresh results" symbol="true"></rs-icon>
                                    </button>
                                </mp-event-trigger>
                            </div>
                        </div>

                        <mp-splitpane id='system-activity-search-filters-sidebar' 
                                      min-size=43 
                                      default-size=297 
                                      snap-threshold=150 
                                      default-open=false
                                      persist-resize=false 
                                      always-render=true 
                                      primary='second' 
                                      class="search-filters-sidebar">

                            <div class="search-results-area page__section-container">
                                <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                    
                                <mp-event-target-template-render id="{{viewId}}-search-result-views" template="{{> resultViews}}">
                                    <template id='resultViews'>
                                        <semantic-search-result-holder>
                                          [[!-- grid view --]]
                                          <semantic-search-result>
                                            <semantic-table id='activity-result-grid'
                                                            class-name="semantic-search-result-grid"
                                                            query='SELECT DISTINCT ?subject ?iri WHERE {
                                                                        BIND(?subject as ?iri) .
                                                                    } ORDER BY DESC(?date)
                                                                    LIMIT 300'
                                                            tuple-template='{{> gridItem }}'
                                                            options='{"showFilter":false,
                                                                      "resultsPerPage":80
                                                                    }'
                                            >
                                              <template id='gridItem'>
                                                <div class="activity-card-template">
                                                  {{#bind iri=iri.value}} 
                                                    {{> rsp:ActivityCardTemplate}}
                                                  {{/bind}}
                                                </div>
                                              </template>
                                            </semantic-table>
                  
                                            [[> numberOfResults]]
                                          </semantic-search-result>
                                        </semantic-search-result-holder>
                                    </template>
                                </mp-event-target-template-render>
                            </div>
                
                            <div class="split-pane__sidebar split-pane__rightsidebar">
                
                            <mp-splitpane-toggle-on>
                                <button class="btn-toggle-on" title="Filter by">
                                    <div class="btn-toggle-on-content content-center">
                                    <rs-icon icon-type="outlined" icon-name="filter_alt"></rs-icon>
                                    </div>
                                </button>
                            </mp-splitpane-toggle-on>
                
                            <mp-splitpane-toggle-off>
                                <div class="split-pane__sidebar-header" style="position: relative;">
                                    <button class="btn-toggle-off">
                                        <div style="display: flex; align-items: center; gap: 10px;">
                                            <div class="customFormHeader" style="padding-top: 0;">Filter by</div>
                                        </div> 
                                        <rs-icon icon-type="rounded" icon-name="keyboard_double_arrow_right" symbol="true"
                                                style="font-size: 20px;">
                                        </rs-icon>
                                    </button>
                                </div>
                            </mp-splitpane-toggle-off>
                
                            <mp-splitpane-sidebar-open style="flex: 1; overflow: hidden;">
                                <div class="split-pane__sidebar-open">
                                <semantic-search-facet  id='{{viewId}}-narrative-semantic-search-facet'
                                                        open-by-default=true 
                                                        hide-toggle-button=true>
                                </semantic-search-facet>
                                </div>
                            </mp-splitpane-sidebar-open>
                
                            </div>
                
                        </mp-splitpane>
                
                    </div>
               
            </semantic-search>
        </template>
    </mp-event-target-template-render>   
{{/bind}}         

[[#*inline "numberOfResults"]]
  <div class="semantic-search-num-results">
    <mp-sparql-result-counts  id='semantic-search-result-count' 
                              query="SELECT DISTINCT ?subject {}"
                              template='{{> template}}'
    >
      <template id='template'>
        <div class="num-results">
            Found 
            <span class="num-results-color">{{#if hasLimit}}{{totalNumberOfResults}}{{else}}{{numberOfResults}}{{/if}}</span> 
            results
        </div>
      </template>
    </mp-sparql-result-counts>
  </div>
[[/inline ]]
