<semantic-form id='{{#if formId}}{{formId}}{{else}}{{viewId}}-vocab-form{{/if}}' 
                post-action="event"
                subject='{{node}}'
                persistence='{"type": "sparql", "targetInsertGraphIri": "{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/assets/images{{/if}}"}'
                new-subject-template='{{#if scheme}}{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{else}}/image/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'
                fields='[[fieldDefinitions
                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                            inScheme="http://www.researchspace.org/pattern/system/entity/is_listed_in"
                            entity_formRecord="http://www.researchspace.org/pattern/system/entity/formRecord"
                            
                            image_id="http://www.researchspace.org/pattern/system/image/identifier"
                            image_name="http://www.researchspace.org/pattern/system/image/label"
                            image_description="http://www.researchspace.org/pattern/system/entity/description"


                            image_is_main_representation="http://www.researchspace.org/pattern/system/image/is_main_representation"
                            image_represents="http://www.researchspace.org/pattern/system/image/represents"
                          ]]'
              >
              
    <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
        <semantic-form-hidden-input for='classtype' default-value='http://www.researchspace.org/ontology/EX_Digital_Image'> </semantic-form-hidden-input>
        {{#if scheme}}
            <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"></semantic-form-hidden-input>  
        {{/if}}

        <rs-tabs id="{{viewId}}-form-tabs" class-name="form-tabs">
            {{#if node}}
                <rs-tab event-key="detail" title="Details">
            {{else}}
                <rs-tab event-key="upload" title="Upload">
            {{/if}}
            
                <div style="display: flex; align-items:stretch; column-gap:30px; flex-wrap: wrap;">
                    <div class="FileUploader-container">
                        <semantic-form-file-input   for='image_id' 
                                                    label='Image file'
                                                    from-url-or-drop='true'
                                                    accept-pattern='image/*' 
                                                    storage='images'
                                                    temp-storage='tmp'
                                                    name-predicate-iri='http://www.researchspace.org/ontology/PX_has_file_name'
                                                    media-type-predicate-iri='http://www.researchspace.org/ontology/PX_has_media_type'
                                                    resource-query='PREFIX rs: <http://www.researchspace.org/ontology/>
                                                                    CONSTRUCT {
                                                                        ?__resourceIri__ a rs:EX_File.
                                                                        ?__resourceIri__ rs:PX_has_file_name ?__fileName__.
                                                                        ?__resourceIri__ rs:PX_has_media_type ?__mediaType__.
                                                                    } WHERE {}'
                                                    generate-iri-query='SELECT ?resourceIri {
                                                                            BIND(IRI(CONCAT(STR(Default:), "EX_File/", ?__fileName__)) AS ?resourceIri) .
                                                                        }'
                        >
                        <div className='placeholder-item'>
                            <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                            <div>Drag image or click to upload</div>
                        </div>
                        </semantic-form-file-input>
                    </div>
                <div style="flex: 1;">
                
                </div>
                </div>

            <semantic-form-autocomplete-input   for='image_is_main_representation' 
                                                label="Is main image of" 
                                                placeholder="Select what has the image as main representation" 
                                                nested-form-templates='[[> Platform:NestedFormTemplates_allEntities]]'> 
            </semantic-form-autocomplete-input> 

            <semantic-form-autocomplete-input   for='image_represents' 
                                                label="Represents" 
                                                placeholder="Select what has the image as representation" 
                                                nested-form-templates='[[> Platform:NestedFormTemplates_allEntities]]'> 
            </semantic-form-autocomplete-input> 
            </rs-tab>

            [[> rsp:FormMetadataTab]]
            
        </rs-tabs>
    </div>
  
    <semantic-form-errors></semantic-form-errors>

    {{#ifCond mode "===" "new"}}
        [[> rsp:FormDefaultActions actionType='Upload' formEntity='image' assetForm=true assetStorage='tmp']]
    {{else}}
        [[> rsp:FormDefaultActions formEntity='image' assetForm=true assetStorage='tmp']]
    {{/ifCond}}
  
</semantic-form>