<div class="page__grid-container">
   <div class="page__content-container resource-relatedResourcesView-container">
        <div class="resource-header-container">
            <div class='resource-record-header'>
                <div class="resource-record-header-title-container">
                    <h2 class="resource-record-header-title">
                    <div class="link-draggable">
                        <mp-draggable iri='{{iri}}'>
                            <div class="text-truncate">
                                <mp-label iri='{{iri}}'></mp-label>
                            </div>
                        </mp-draggable>
                    </div>
                    </h2>
                </div>
                <div class="btn-inline-container">
                    <mp-event-trigger id='{{iri}}-relatedResourcesView-refresh-trigger' 
                                    type='Component.TemplateUpdate' 
                                    targets='["{{iri}}-resource-view"]'
                                    >
                        <button class="btn btn-default btn-textAndIcon" title="Refresh page">
                            <rs-icon icon-type="rounded" icon-name="refresh" symbol="true"></rs-icon>
                        </button>
                    </mp-event-trigger>
                    <rs-resource-dropdown id="{{viewId}}-{{iri}}-item-actions-dropdown" class-name="dropdown-no-caret">
                        {{> rsp:ResourceDropdownActions viewId=viewId
                                                        iri=iri
                                                        resourceConfig=resourceConfiguration
                                                        resourceLabel=resourceName
                                                        hidePreview=true
                                                        hideRelatedResources=true
                        }}
                    </rs-resource-dropdown>
                </div>
            </div>
        </div>

        <div class="resource-relatedResourcesView-content">
            <mp-splitpane id="resource-config-sidebar" 
                        min-size=165 
                        default-size=220 
                        snap-threshold=20
                        default-open=true 
                        always-render=true 
                        persist-resize=false>

                <div class="split-pane__sidebar split-pane__leftsidebar">

                    <mp-splitpane-toggle-on>
                        <button class="btn-toggle-on">
                            <div class="btn-toggle-on-content">
                                Related resources
                                <rs-icon icon-type="rounded" icon-name="chevron_right" symbol="true"></rs-icon>
                            </div>
                        </button>
                    </mp-splitpane-toggle-on>

                    <mp-splitpane-toggle-off>
                        <div class="split-pane__sidebar-header">
                            <button class="btn-toggle-off">
                                Related resources
                                <rs-icon icon-type="rounded" icon-name="chevron_left" symbol="true"></rs-icon>
                            </button>
                        </div>
                    </mp-splitpane-toggle-off>

                    <mp-splitpane-sidebar-open style="flex: 1;">
                        <div class="split-pane__sidebar-open">
                            <mp-event-target-template-render id='{{iri}}-resource-relatedResourcesView-sidebar' template='{{> sidebar}}'>
                                <template id='sidebar'>
                                    <div class="resource-relatedResourcesView-sidebar-container">
                                        <div class="resource-relatedResourcesView-sidebar-section resource-relatedResourcesView-sidebar-section-system-container">
                                            <div class="resource-relatedResourcesView-sidebar-section-name">System</div>
                                            [[> sidebarSemanticTree]]
                                        </div>

                                        [[#*inline "sidebarSemanticTree"]]
                                            <div class="resource-relatedResourcesView-sidebar-semantic-tree-container">
                                                <semantic-tree query='SELECT ?node ?nodeLabel ?icon  WHERE {
                                                                            VALUES (?node ?nodeLabel ?icon  ?order) { 
                                                                                (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart> "Chart" "finance" "1")
                                                                                (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map> "Knowledge map" "account_tree" "2")
                                                                                (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative> "Semantic narrative" "description" "3")
                                                                                (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Set> "Set" "topic" "4")
                                                                                (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline> "Timeline" "timeline" "5")
                                                                            }
                                                                        }
                                                                        ORDER BY (?order) ASC(?nodeLabel)' 
                                                                tuple-template='{{> nodeTemplate}}'
                                                                no-result-template='{{> noResults}}'
                                                                collapsed=true>
                                                                    
                                                    <template id='nodeTemplate'>
                                                        <mp-event-trigger   id='{{node.value}}-open-resource-search-page--trigger' 
                                                                            type='Component.TemplateUpdate'
                                                                            targets='["resource-relatedResourcesView-search-container"]'
                                                                            data='{ "viewId": "resource-search",
                                                                                    "iri":"{{node.value}}",
                                                                                    "resourceIri": "{{node.value}}",
                                                                                    "title":"{{nodeLabel.value}}",
                                                                                    "treeItemSelected":"true"
                                                                                }'>
                                                            <div class="Tree--itemLink">
                                                                {{#if icon.value}}<rs-icon icon-type="outlined" icon-name="{{icon.value}}" symbol="true"></rs-icon>{{/if}}
                                                                <div>{{nodeLabel.value}}</div> 
                                                            </div>
                                                        </mp-event-trigger>
                                        
                                                    </template>  
                                        
                                                    <template id='noResults'>
                                                        <div class="text-font-size__xsmall">No resource available</div>
                                                    </template>
                                                </semantic-tree>
                                            </div>
                                        [[/inline]]
                                    </div>
                                </template>
                            </mp-event-target-template-render>
                        </div>
                    </mp-splitpane-sidebar-open>
                </div>

                <mp-event-target-template-render id='resource-relatedResourcesView-search-container' template='{{> searchContent}}'>
                    <template id='searchContent'>
                        {{#if treeItemSelected}}
                            <div class='search-page-container'>
                                [[> rsp:ResourceSearchContent config='{{iri}}']] 
                        </div>  
                        {{/if}}
                    </template>
                </mp-event-target-template-render>
            </mp-splitpane>
        </div>
    </div> 
</div>

