

<semantic-form [[> rsp:FormDefaults]] 
               persistence='{"type": "sparql", "targetGraphIri": "{{scheme}}"}'
               new-subject-template='{{scheme}}/{{{{raw}}}}{{prefLabel}}{{{{/raw}}}}'
               fields='[[
                    fieldDefinitions
                    classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                    skos_inScheme="http://www.researchspace.org/pattern/system/entity/skos_inScheme"
                    
                    skos_prefLabel="http://www.researchspace.org/pattern/system/entity/skos_prefLabel"
                    skos_altLabel="http://www.researchspace.org/pattern/system/entity/skos_altLabel"
                    skos_broader="http://www.researchspace.org/pattern/system/entity/skos_broader"
                    skos_narrower="http://www.researchspace.org/pattern/system/entity/skos_narrower"
                    skos_related="http://www.researchspace.org/pattern/system/entity/skos_related"
                    skos_scopeNote="http://www.researchspace.org/pattern/system/entity/skos_scopeNote"
                    
                    image_main_representation="http://www.researchspace.org/pattern/system/entity/main_image"
                    more_image="http://www.researchspace.org/pattern/system/entity/images"
               ]]'
>

  <div class="form-scroll-area">
  
    <semantic-form-hidden-input for="classtype" default-values='["http://www.w3.org/2004/02/skos/core#Concept"]'></semantic-form-hidden-input>
    <semantic-form-hidden-input for="skos_inScheme" default-value="{{scheme}}"> </semantic-form-hidden-input>  

    <div class="form-2column-container">
        <div>
          <semantic-form-text-input for="skos_prefLabel" label="Preferred {{#if entityType}}{{entityType}}{{/if}} name" 
                                    placeholder="Enter preferred {{#if entityType}}{{entityType}}{{/if}} name"> 
          </semantic-form-text-input>
          <semantic-form-text-input for="skos_altLabel" label="Alternative {{#if entityType}}{{entityType}}{{/if}} name" 
                                    placeholder="Enter {{#if entityType}}{{entityType}}{{/if}} alternative name"> 
          </semantic-form-text-input>
            
          <semantic-form-tree-picker-input for="skos_broader" label="Broader {{#if entityType}}{{entityType}}{{else}}term{{/if}}" 
                                          placeholder="Select broader {{#if entityType}}{{entityType}}{{else}}term{{/if}}" 
                                          close-dropdown-on-selection='false'
                                          tree-patterns='{"scheme": "{{scheme}}",
                                                          "schemePattern": "?item skos:inScheme <{{scheme}}>",
                                                          "relationPattern": "?item skos:broader ?parent",
                                                          "labelPattern": "?item skos:prefLabel ?label ."}'
          ></semantic-form-tree-picker-input>
  
          <semantic-form-tree-picker-input for="skos_narrower" label="Narrower {{#if entityType}}{{entityType}}{{else}}term{{/if}}" 
                                           placeholder="Select narrower {{#if entityType}}{{entityType}}{{else}}term{{/if}}"
                                           close-dropdown-on-selection='false'
                                           tree-patterns='{"scheme": "{{scheme}}",
                                                            "schemePattern": "?item skos:inScheme <{{scheme}}>",
                                                            "relationPattern": "?item skos:broader ?parent",
                                                            "labelPattern": "?item skos:prefLabel ?label ."}'
          ></semantic-form-tree-picker-input>
  
          <semantic-form-text-input for="skos_related" label="Related {{#if entityType}}{{entityType}}{{else}}term{{/if}}" 
                                    placeholder="Enter related {{#if entityType}}{{entityType}}{{else}}term{{/if}}"> 
          </semantic-form-text-input>
          
          <semantic-form-text-input for="skos_scopeNote" multiline=true label="Term scope note" 
                                    placeholder="Enter {{#if entityType}}{{entityType}}{{else}}term{{/if}} scope note"> 
          </semantic-form-text-input>
        </div>
  
        <div class="form-media-column">
          <div class="dragAndDrop-input-container">
            <semantic-form-drag-and-drop-input  for='image_main_representation' label="Main image" 
                                                placeholder-item-template="<div class='placeholder-item'>
                                                                            <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                            <div>Drag main image or click to upload</div>
                                                                          </div>"
                                                nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
            </semantic-form-drag-and-drop-input>
          </div>
  
          <div class="dragAndDrop-input-container">
            <semantic-form-drag-and-drop-input  for='more_image' label="More images" 
                                                placeholder-item-template="<div class='placeholder-item'>
                                                                            <rs-icon icon-type='round' icon-name='file_upload'></rs-icon>
                                                                            <div>Drag images or click to upload</div>
                                                                          </div>"
                                                nested-form-template='{{{{raw}}}}{{> forms:Image nested=true editable=true mode="new"}}{{{{/raw}}}}'>
            </semantic-form-drag-and-drop-input>
          </div>
        </div>
      
      </div>
    </div>
    
    <semantic-form-errors></semantic-form-errors>
    [[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}term{{/if}}']] 
  </semantic-form>