<div style="visibility:hidden; height:0;">
    <semantic-form-composite-input for="entity_formRecord"
                                    render-header=false 
                                    new-subject-template="/entity_form_record" 
                                    fields='[[fieldDefinitions
                                            classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                            entity_resource_type="http://www.researchspace.org/pattern/system/entity/resource_type"
                                            entity_formRecord_creation="http://www.researchspace.org/pattern/system/entityFormRecord/formRecord_creation"
                                            entity_formRecord_modification="http://www.researchspace.org/pattern/system/entityFormRecord/formRecord_modification"
                                        ]]'
                                    >
                                    
        <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/extensions/crmdig/D1_Digital_Object"></semantic-form-hidden-input>
        <semantic-form-hidden-input for="entity_resource_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record'></semantic-form-hidden-input>
            
        <semantic-form-composite-input  for="entity_formRecord_creation"
                                        render-header=false 
                                        new-subject-template="/entity_formRecord_creation" 
                                        fields='[[fieldDefinitions
                                                classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                                entity_resource_type="http://www.researchspace.org/pattern/system/entity/resource_type"
                                                
                                                creation_at_some_time_within="http://www.researchspace.org/pattern/system/temporal_entity/creation_at_some_time_within"
                                                creation_carried_out_by="http://www.researchspace.org/pattern/system/activity/carried_out_by"
                                                creation_afterDataImport="http://www.researchspace.org/pattern/system/activity/continued_data_transfer"
                                                creation_afterDataImport_withResourceSourceURI="http://www.researchspace.org/pattern/system/activity/continued_data_transfer_min1"
                                            ]]'
                                        >
                                    
            <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/extensions/crmdig/D7_Digital_Machine_Event"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="entity_resource_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_creation'></semantic-form-hidden-input>
                                
         
            <semantic-form-hidden-input for="creation_at_some_time_within" default-value="{{currentDateTime 'YYYY-MM-DDTHH:mm:ss'}}"> </semantic-form-hidden-input>
            <semantic-form-hidden-input for="creation_carried_out_by" default-value='[[userUri]]' ></semantic-form-hidden-input>
   

            {{#if apiResourceURI}}
                <semantic-form-composite-input  for="creation_afterDataImport_withResourceSourceURI"
                                                render-header=false 
                                                new-subject-template="/import_from_external_source" 
                                                fields='[[fieldDefinitions
                                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                                        entity_resource_type="http://www.researchspace.org/pattern/system/entity/resource_type"
                                                        import_resourceSourceURI="http://www.researchspace.org/pattern/system/import_from_external_source/sourceURI"
                                                    ]]'
                                                >
                                        
                    <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/extensions/crmdig/D12_Data_Transfer_Event"></semantic-form-hidden-input>
                    <semantic-form-hidden-input for="entity_resource_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/import_from_external_source'></semantic-form-hidden-input>
                    <semantic-form-hidden-input for="import_resourceSourceURI" default-value="{{apiResourceURI}}" force-defaults=true></semantic-form-hidden-input>  
                  
                </semantic-form-composite-input>
            {{/if}}

            {{#if node}}
                <semantic-form-composite-input  for="creation_afterDataImport"
                                                render-header=false 
                                                new-subject-template="/import_from_external_source" 
                                                fields='[[fieldDefinitions
                                                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                                        entity_resource_type="http://www.researchspace.org/pattern/system/entity/resource_type"
                                                        import_resourceSourceURI="http://www.researchspace.org/pattern/system/import_from_external_source/sourceURI"
                                                    ]]'
                                                >
                                        
                    <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/extensions/crmdig/D12_Data_Transfer_Event"></semantic-form-hidden-input>
                    <semantic-form-hidden-input for="entity_resource_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/import_from_external_source'></semantic-form-hidden-input>
                
                    <semantic-form-hidden-input for="import_resourceSourceURI"></semantic-form-hidden-input>

                </semantic-form-composite-input>
            {{/if}}

        </semantic-form-composite-input>

       {{#if node}}
            <semantic-form-composite-input  for="entity_formRecord_modification"
                                            render-header=true
                                            new-subject-template="{{node}}/entity_form_record/entity_formRecord_modification/{{{{raw}}}}{{UUID}}{{{{/raw}}}}" 
                                            fields='[[
                                                fieldDefinitions
                                                    classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" 
                                                    modification_entity_resource_type="http://www.researchspace.org/pattern/system/entity/resource_type"
                                                    modification_at_some_time_within="http://www.researchspace.org/pattern/system/temporal_entity/at_some_time_within"
                                                    modification_carried_out_by="http://www.researchspace.org/pattern/system/activity/carried_out_by"
                                                ]]'
                                            >
                                    
                <semantic-form-hidden-input for="classtype" default-value="http://www.cidoc-crm.org/extensions/crmdig/D7_Digital_Machine_Event"></semantic-form-hidden-input>
                <semantic-form-hidden-input for="modification_entity_resource_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_modification'></semantic-form-hidden-input>
                                    
                <semantic-form-hidden-input for="modification_at_some_time_within"></semantic-form-hidden-input>
                <semantic-form-hidden-input for="modification_carried_out_by"></semantic-form-hidden-input>

            </semantic-form-composite-input>
        {{/if}}

    </semantic-form-composite-input>
</div>
