<mp-event-proxy id='refresh-clipboard-proxy' 
                on-event-source="btn-refresh-clipboard"
                proxy-event-type='Component.Refresh'
                proxy-targets='["clipboard"]'>
</mp-event-proxy>


 <mp-set-management  [[#if (hasPermission "forms:ldp:*")]]
                          readonly='false'
                        [[else]]
                          readonly='true'
                        [[/if]]
                        id='clipboard'
                        reparentable='true'
                        fixed-key='[[id]]'
                        default-view-mode='[[defaultViewMode]]'
                        style='flex: auto; overflow-y: auto;'
                        [[> rsp:ClipboardConfig id=id]]
    >
    </mp-set-management>