[[!-- 
  This is Template that can be used to browse hierarchical resources or simple collection of resources
  
  variables:
    collection - resource collection IRI (concept sheme, authority list, etc.);
    resourceName - label that describes resource, like Term, Concept, Place, Actor, etc;
    resourceForm - IRI of the form that should be used to edit the resource in the collection;
    resourceMembershipProperty - property that connects resource to the collection, like  skos:inScheme, crm:P71i_is_listed_in, etc;
    resourceBroaderProperty - (optional) if collection is hierarchical specifies property that is used to refer from item to it's broader resource, like skos:broader, crm:P127_has_broader_term, crm:P89_falls_within, etc;
    resourceOrderPattern - (optional) SPARQL pattern that can be used to get the order
    editable - false if collection is readonly one, true otherwise
--]]


<div class="resource-editView-container">

{{#if collection}}
  <mp-splitpane min-size=140 default-size=400 default-open='true' class="frame-split-pane">
    <div data-flex-layout="column top-stretch">
      <mp-splitpane-toggle-on>
        <button class="btn-toggle-on">
          <div class="btn-toggle-on-content">
            <h4>
              <rs-icon icon-type="round" icon-name="chevron_right"></rs-icon>
            </h4>
          </div>
        </button>
      </mp-splitpane-toggle-on>
      <mp-splitpane-toggle-off>
        <div class="split-pane__leftsidebar-header">
          <button data-flex-layout='row center-left' class="btn-toggle-off">
            <h4 style="width: 100%; text-align: left;" class="text-first-letter-uppercase">
              {{#if collectionLabel}}
                {{collectionLabel}}
              {{else}}
                <mp-label iri='{{collection}}'></mp-label>
              {{/if}}
            </h4>
            <rs-icon icon-type="round" icon-name="chevron_left"></rs-icon>
          </button>
        </div>
      </mp-splitpane-toggle-off>
      <mp-splitpane-sidebar-open style="flex: 1;">
        <div class="split-pane__sidebar-open">
          <div class="collection-terms-area">
            
            {{#if editable}}
              <mp-event-trigger id='{{viewId}}-form-new-trigger' 
                                type='Component.TemplateUpdate' 
                                data='{"mode": "new" }' 
                                targets='["{{viewId}}-mytree", "{{viewId}}-term-forms"]'>
                <button class="btn btn-action btn-textAndIcon" style="margin-bottom: 10px; justify-content: center;">
                  <rs-icon icon-type="round" icon-name="add_box"></rs-icon>
                  <span>New 
                    {{#if collectionLabel}}
                      <span style="text-transform: lowercase;">{{collectionLabel}}</span>
                    {{else}}
                      <mp-label iri='{{collection}}' style="text-transform: lowercase;"></mp-label>
                    {{/if}}
                  </span>
                </button>
              </mp-event-trigger>
            {{/if}}

            <mp-event-target-template-render id='{{viewId}}-mytree'  template='{{> treeTemplate}}'>
              <template id='treeTemplate'>
                <semantic-lazy-tree id='{{viewId}}-scheme-tree' 
                                    info-template='{{> template}}' 
                                    input-placeholder='Select {{resourceName}}' 
                                    type='simple'  
                                    focused='{{#if (not (eq mode "deleted"))}}{{iri}}{{/if}}' 
                                    page-size='10000'
                                    config='{"scheme": "{{collection}}", 
                                            {{#if resourceLabelPattern}}
                                              "labelPattern": "{{resourceLabelPattern}}",
                                            {{/if}}
                                            {{#if resourceBroaderProperty}}
                                              "relationPattern": "?item <{{resourceBroaderProperty}}> ?parent",
                                            {{/if}}
                                            {{#if resourceOrderPattern}}
                                              "resourceOrderPattern": "{{resourceOrderPattern}}",
                                            {{/if}}
                                            "schemePattern": "{{#if resourceMembershipProperty}} ?item <{{resourceMembershipProperty}}> ?__scheme__.{{/if}} 
                                                              {{#if resourceOntologyClass }} ?item a/rdfs:subClassOf* <{{resourceOntologyClass }}> .{{/if}} 
                                                              {{#if resourceP2Type}} ?item crm:P2_has_type <{{resourceP2Type}}> .{{/if}} 
                                                              {{#if resourceRestrictionPattern}}{{resourceRestrictionPattern}}{{/if}}"
                                                              }'>
                  <template id='template'>
                    <span class="tree-item-actions-container">
                      {{#if editable}}
                        <mp-event-trigger id='{{viewId}}-form-edit-trigger--{{iri}}' 
                                          type='Component.TemplateUpdate'
                                          data='{"iri":"{{iri}}", 
                                                "label": "{{label}}", 
                                                "mode": "edit"
                                                }' 
                                          targets='["{{viewId}}-term-forms"]'>
                          <span class='tree-item-action'>
                            <rs-icon icon-type="round" icon-name="edit" title="Edit {{resourceName}}"></rs-icon>
                          </span>
                        </mp-event-trigger>
                        <mp-event-proxy id='{{viewId}}-focus-tree-element' 
                                        on-event-source='{{viewId}}-form-edit-trigger--{{iri}}' 
                                        proxy-event-type='LazyTree.Focus' 
                                        proxy-targets='["{{viewId}}-scheme-tree"]' 
                                        data='{"iri":"{{iri}}"}'>
                        </mp-event-proxy>
                        {{#if resourceBroaderProperty}}
                          <mp-event-trigger id='{{viewId}}-form-newNarrower-trigger--{{iri}}' 
                                            type='Component.TemplateUpdate' 
                                            data='{"broader": "{{iri}}", "mode": "new" }' 
                                            targets='["{{viewId}}-term-forms"]'>
                            <span class='tree-item-action'>
                              <rs-icon icon-type="round" icon-name="add" title="Add narrower {{resourceName}}"></rs-icon>
                            </span>
                          </mp-event-trigger>
                          <mp-event-proxy id='{{viewId}}-addNarrower-focus-tree-element' 
                                          on-event-source='{{viewId}}-form-newNarrower-trigger--{{iri}}' 
                                          proxy-event-type='Component.TemplateUpdate' 
                                          proxy-targets='["{{viewId}}-mytree"]' 
                                          >
                          </mp-event-proxy>
                        {{/if}}
                      {{else}}
                        <mp-event-trigger id='{{viewId}}-form-edit-trigger' 
                                          type='Component.TemplateUpdate'
                                          data='{"iri":"{{iri}}",  "mode": "view" }' 
                                          targets='["{{viewId}}-term-forms"]'>
                          <span class='tree-item-action' >
                            <rs-icon icon-type="round" icon-name="article" title="View {{resourceName}}"></rs-icon>
                          </span>
                        </mp-event-trigger>
                      {{/if}}
                    </span>
                  </template>
                </semantic-lazy-tree> 
              </template>
            </mp-event-target-template-render>
          </div>
        </div>
      </mp-splitpane-sidebar-open>
    </div>
{{/if}}
      <div class="page__grid-container">
        <div class="page__content-container resource-editView-form-container">
          <mp-event-target-template-render id='{{viewId}}-term-forms' template='{{> template}}'>
            <template id='template'>
              <div class='resource-editView-formHeader'>
                {{#switch mode}}
                  {{#case "new" break=true}}
                    {{#if broader}}
                      <h2 class="resource-editView-formHeader-title">
                        New 
                        {{#if collectionLabel}}
                          <span>{{collectionLabel}}</span>
                        {{else}}
                          <mp-label iri='{{collection}}' style="text-transform: lowercase;"></mp-label>
                        {{/if}}
                        {{#ifCond resourceP2Type '===' 'http://www.researchspace.org/resource/system/vocab/resource_type/user'}}
                          member of
                        {{else}}
                          narrower to 
                        {{/ifCond}}
                        {{#if resourceLabelPattern}}
                          <semantic-query query="SELECT ?label WHERE {
                                                  BIND(<{{broader}}> as ?item) .
                                                  {{resourceLabelPattern}}
                                                }"
                                          template='{{> template}}'>

                            <template id='template'>
                                <span>{{bindings.0.label.value}}</span>
                            </template>
                          </semantic-query>
                        {{else}}
                          <mp-label iri='{{broader}}'></mp-label>
                        {{/if}}
                      </h2>
                    {{else}}

                      <h2 class="resource-editView-formHeader-title">New 
                        {{#if collection}}
                          {{#if collectionLabel}}
                            <span>{{collectionLabel}}</span>
                          {{else}}
                            <mp-label iri='{{collection}}' style="text-transform: lowercase;"></mp-label>
                          {{/if}}
                        {{else}}
                          <span>{{resourceName}}</span>
                        {{/if}}
                      </h2>
                    {{/if}}
                  {{/case}}

                  {{#case "edit" break=true}}
                    <h2 class="resource-editView-formHeader-title">
                      <div>
                        <div class="link-draggable">
                          <rs-icon icon-type="round" icon-name="drag_indicator"></rs-icon>
                          <mp-draggable iri='{{iri}}'>
                            <div>
                              {{#if resourceLabelPattern}}
                                  <semantic-query query="SELECT ?label WHERE {
                                                          BIND(<{{iri}}> as ?item) .
                                                          {{resourceLabelPattern}}
                                                        }"
                                                  template='{{> template}}'>

                                    <template id='template'>
                                        <div>{{bindings.0.label.value}}</div>
                                    </template>
                                  </semantic-query>
                                {{else}}
                                  <mp-label iri='{{iri}}' style="text-transform: capitalize;"></mp-label>
                                {{/if}}
                              </div>
                          </mp-draggable>
                        </div>
                        {{#if resourceName}}
                          <div class="text-type-subheader" style="margin-left: 22px; margin-top: 5px;">
                            {{resourceName}}
                          </div>
                        {{/if}}
                      </div>
                    </h2>
                  {{/case}}

                  {{#case "view" break=true}}
                  <h2 class="resource-editView-formHeader-title">
                    <div>
                      <div class="link-draggable">
                        <rs-icon icon-type="round" icon-name="drag_indicator"></rs-icon>
                        <mp-draggable iri='{{iri}}'>
                          <div>
                            {{#if resourceLabelPattern}}
                                <semantic-query query="SELECT ?label WHERE {
                                                        BIND(<{{iri}}> as ?item) .
                                                        {{resourceLabelPattern}}
                                                      }"
                                                template='{{> template}}'>

                                  <template id='template'>
                                      <div>{{bindings.0.label.value}}</div>
                                  </template>
                                </semantic-query>
                              {{else}}
                                <mp-label iri='{{iri}}' style="text-transform: capitalize;"></mp-label>
                              {{/if}}
                            </div>
                        </mp-draggable>
                      </div>
                      {{#if resourceName}}
                        <div class="text-type-subheader" style="margin-left: 22px; margin-top: 5px;">
                          {{resourceName}}
                        </div>
                      {{/if}}
                    </div>
                  </h2>
                  {{/case}}
                
                  {{#case "deleted" break=true}}
                    <mp-event-target-template-render id='{{viewId}}-deleted-state' template='{{> template}}'>
                      <template id='template'>
                        {{#if hideMessage}}
                        {{else}}
                            <div class='success-documentation-section success-documentation-section-withIcon' style="width: 100%;">
                              <div class="success-documentation-section-icon-container">
                                <rs-icon icon-type="round" icon-name="done"></rs-icon>
                              </div>

                              <div style="flex: 1;"> 
                                <div class="success-documentation-section-title">Success!</div>
                                <div class="success-documentation-section-content">
                                  <span style="text-transform: capitalize;">{{label}}</span>
                                  <span> has been deleted.</span>
                                </div>
                              </div>
                              
                              <mp-event-trigger id='{{viewId}}-cancel-deleted-state-message-{{iri}}'
                                                type='Component.TemplateUpdate'
                                                data='{ "hideMessage": "true" }'
                                                targets='["{{viewId}}-deleted-state"]'
                              >
                                <button class="btn btn-documentation">
                                  <rs-icon icon-type="round" icon-name="close"></rs-icon>
                                </button>
                              </mp-event-trigger>
                            </div>
                        {{/if}}
                      </template>
                    </mp-event-target-template-render>
                  {{/case}}
                {{/switch}}

                {{#if mode}}
                  <div class="btn-inline-container">
                    {{#if (eq mode "new")}}
                      [[> rsp:ImportFromExternalSource]] 
                    {{/if}}
                    {{#if (or (eq mode "new") (eq mode "deleted") )}}
                    {{else}}
                      <semantic-query query='SELECT * WHERE {
                                            BIND(<{{iri}}> as ?item) .
                                            ?item a crm:E31_Document .
                                            ?item crm:P1_is_identified_by ?file .
                                            ?file rs:PX_has_file_name ?fileName .
                                            ?file rs:PX_has_media_type "application/pdf" .
                                          }'
                                    template='{{> template}}'
                        >
                          <template id='template'>
                            <a  href="/file?fileName={{bindings.0.fileName.value}}&storage=images&mode=open&mediaType=application%2Fpdf" 
                                target="_blank"
                                title="open document"
                            >
                                <button type="button" name='open' class="btn btn-default btn-textAndIcon" title="Open document">
                                  <rs-icon icon-type="round" icon-name="open_in_new"></rs-icon>
                                  Open
                                </button>
                            </a>
                            
                            <mp-file-download  download-url="/file?storage=images&fileName={{encodeUriComponent bindings.0.fileName.value}}">
                                <button type="button" name='download' class="btn btn-default btn-textAndIcon" title="Download document">
                                  <rs-icon icon-type="round" icon-name="download"></rs-icon>
                                  Download
                                </button>
                            </mp-file-download>
                          </template>
                      </semantic-query>

                      <semantic-query query='SELECT * WHERE {
                                            BIND(<{{iri}}> as ?item) .
                                            ?item a rs:EX_Digital_Image .
                                          }'
                                    template='{{> template}}'
                        >
                          <template id='template'>
                            <semantic-link-container uri='[[resolvePrefix "rsp:ThinkingFrames"]]'
                                                      urlqueryparam-view='iiif' 
                                                      urlqueryparam-resource='{{bindings.0.item.value}}'>
                              <button type="button" name='open' class="btn btn-default btn-textAndIcon" title="Open image">
                                <rs-icon icon-type="round" icon-name="open_in_new"></rs-icon>
                                Open
                              </button>
                            </semantic-link-container>

                          <mp-file-download  download-url="/file?storage=images&fileName={{encodeUriComponent bindings.0.item.value}}">
                              <button type="button" name='download' class="btn btn-default btn-textAndIcon" title="Download image">
                                <rs-icon icon-type="round" icon-name="download"></rs-icon>
                                Download
                              </button>
                          </mp-file-download>
                        </template>
                      </semantic-query>

                      <mp-copy-to-clipboard text='{{iri}}' message='{{resourceName}} IRI has been copied'>
                        <button class="btn btn-default btn-textAndIcon" title="Copy IRI">
                          <rs-icon icon-type="round" icon-name="content_copy"></rs-icon>
                          Copy IRI
                        </button>
                      </mp-copy-to-clipboard>
                    {{/if}}
                    {{#if (not (eq mode "deleted"))}}
                      <mp-event-trigger id='{{viewId}}-form-refresh-trigger' 
                                        type='Component.TemplateUpdate' 
                                        targets='["{{viewId}}-term-forms"]'
                                        data='{ "mode": "{{mode}}",
                                                "viewId": "{{viewId}}",
                                                {{#ifCond mode "!==" "new"}}"iri": "{{iri}}",{{/ifCond}}
                                                {{#if broader}}"broader": "{{broader}}",{{/if}}
                                                "resourceBroaderProperty": {{#if resourceBroaderProperty}}"{{resourceBroaderProperty}}"{{else}}null{{/if}}
                                              }' 
                                        >
                        <button class="btn btn-default btn-textAndIcon" title="Refresh form">
                          <rs-icon icon-type="round" icon-name="refresh"></rs-icon>
                            Refresh
                        </button>
                      </mp-event-trigger>
                    {{/if}}
                  </div>
                {{/if}}
              </div>
    
              {{#if (not (eq mode "deleted"))}}
                <mp-event-proxy id='{{viewId}}-tree-refresh-on-created' 
                                on-event-source='{{viewId}}-vocab-form' 
                                on-event-types='["Form.ResourceCreated", "Form.ResourceUpdated"]'
                                proxy-event-type='Component.TemplateUpdate' 
                                proxy-targets='["{{viewId}}-mytree", "{{viewId}}-term-forms"]'
                                additional-data='{"mode": "edit"}'
                ></mp-event-proxy>
      
                {{#if iri}}
                  <semantic-query query="SELECT ?label WHERE {
                                          BIND(<{{iri}}> as ?item) .
                                          {{resourceLabelPattern}}
                                        }"
                                  template='{{> template}}'
                                  no-result-template='{{> noResults}}'>

                    <template id='template'>
                      <mp-event-proxy id='{{viewId}}-tree-refresh-on-delete' 
                                      on-event-source='{{viewId}}-vocab-form' 
                                      on-event-types='["Form.ResourceRemoved"]'
                                      proxy-event-type='Component.TemplateUpdate' 
                                      proxy-targets='["{{viewId}}-mytree", "{{viewId}}-term-forms"]'
                                      additional-data='{"mode": "deleted", 
                                                        "label": "{{bindings.0.label.value}}" }'
                      ></mp-event-proxy>
                    </template>

                    <template id="noResults">
                      <mp-event-proxy id='{{viewId}}-noResults-tree-refresh-on-delete' 
                                      on-event-source='{{viewId}}-vocab-form' 
                                      on-event-types='["Form.ResourceRemoved"]'
                                      proxy-event-type='Component.TemplateUpdate' 
                                      proxy-targets='["{{viewId}}-mytree", "{{viewId}}-term-forms"]'
                                      additional-data='{"mode": "deleted",
                                                      "label": "{{label}}" }'
                      ></mp-event-proxy>
                    </template>
                  </semantic-query>
                {{/if}}

                {{#if mode}}
                  <inline-template template-iri='{{resourceForm}}' 
                                    options='{
                                            {{#if collection}}"scheme": "{{collection}}",{{/if}}
                                            {{#ifCond mode "!==" "new"}}"node": "{{iri}}",{{/ifCond}}
                                            {{#if broader}}"broader": "{{broader}}",{{/if}}
                                            {{#if data.additional_data}}"additional-data":{{{stringify data.additional_data}}},{{/if}}
                                            "editable": {{editable}},
                                            "mode": "{{mode}}",
                                            "viewId": "{{viewId}}",
                                            {{#if resourceLabelPattern}}"resourceLabelPattern": "{{resourceLabelPattern}}",{{/if}} 
                                            {{#if selectedApiResource}}
                                              {{#if apiResourceURI}}"apiResourceURI": "{{apiResourceURI}}",{{/if}}
                                              {{#if apiResourceName}}"apiResourceName": "{{apiResourceName}}",{{/if}}
                                              {{#if apiResourceLabel}}"apiResourceLabel": "{{apiResourceLabel}}",{{/if}}
                                              {{#if apiResourceDescription}}"apiResourceDescription": "{{apiResourceDescription}}",{{/if}}
                                              {{#if apiResourceosmGeoCoordinates}}"apiResourceosmGeoCoordinates": "{{apiResourceosmGeoCoordinates}}",{{/if}}
                                            {{/if}}
                                            "resourceBroaderProperty": {{#if resourceBroaderProperty}}"{{resourceBroaderProperty}}"{{else}}null{{/if}}
                                    }'>
                  </inline-template>
                {{/if}}
          
              {{else}}
                <div></div>
              {{/if}}
            </template>
          </mp-event-target-template-render>
          
          <mp-event-proxy id='{{viewId}}-closeModal-onSelect-APIResource-proxy'
                          on-event-source='{{viewId}}-select-api-resource-trigger' 
                          on-event-type='apiResourceSelect'
                          proxy-event-type='OverlayDialog.Close' 
                          proxy-targets='["{{viewId}}-importResourceFromAPI-dialog"]'
          ></mp-event-proxy>

          <mp-event-proxy id='{{viewId}}-closeModal-onOpen-existing-place-proxy'
                          on-event-source='{{viewId}}-openExistingRecord-in-new-frame-trigger' 
                          on-event-type='Dashboard.AddFrame'
                          proxy-event-type='OverlayDialog.Close' 
                          proxy-targets='["{{viewId}}-importResourceFromAPI-dialog"]'
          ></mp-event-proxy>

          <mp-event-proxy id='{{viewId}}-refreshForm-onSelect-apiResource-proxy'
                          on-event-source='{{viewId}}-select-api-resource-trigger' 
                          on-event-type='apiResourceSelect'
                          proxy-event-type='Component.TemplateUpdate' 
                          proxy-targets='["{{viewId}}-term-forms"]'
                          additional-data='{"mode": "new", "selectedApiResource": "true"}'
          ></mp-event-proxy>

        </div>
      </div>

{{#if collection}}
  </mp-splitpane>
{{/if}}

</div>

