<semantic-search>
  <semantic-search-query-keyword  domain='<{{domain}}>'
                                  placeholder="Search {{label}}"
                                  min-search-term-length=2
                                  tokenize-lucene-query=false
                                  escape-lucene-syntax=false
                                  debounce=1000
                                  debounce=500
                                  query='PREFIX wikidataentity: <http://www.researchspace.org/resource/system/service/wikidataentity/>
                                          SELECT ?subject WHERE { 
                                            ?subject wikidataentity:search ?__token__ .
                                            ?subject wikidataentity:language "en" .
                                            ?subject wikidataentity:id ?wikidataId .
                                            ?subject wikidataentity:concepturi ?concepturi .
                                            ?subject wikidataentity:label ?wikidataEntityLabel .
                                            ?subject wikidataentity:description ?description .
                                          }'
  ></semantic-search-query-keyword>
  <!-- add label-->
  <semantic-search-result-holder>
    <div style="margin-top: 25px;">
      <semantic-search-result>
        <div class="{{label}}ResultsTable">
          <semantic-context repository='wikidata-entity'>
            <semantic-table id='semantic-search-result-table'
                            query='SELECT DISTINCT ?subject ?wikidataEntityLabel ?description ?wikidataId ?concepturi WHERE {
                                    BIND(?subject as ?iri) .
                                  } ORDER BY ?subject'

                            options='{"showFilter":true, "resultsPerPage":10}' 
                            column-configuration='[
                                                    {"displayName": "Name", "variableName": "wikidataEntityLabel", "cellTemplate": "{{> resourceName}}" },
                                                    {"displayName": "Description", "variableName": "description"},
                                                    {"displayName": "Resource type", "cellTemplate": "{{> type}}"},
                                                    {"displayName": "Image", "cellTemplate": "{{> images}}"},
                                                    {"displayName": "Actions", "cellTemplate": "{{> actions}}" }
                                                  ]'   
            >

            <template id='resourceName'>
              <div>
                {{#if wikidataId.value}}
                  <a class="text-link-action" 
                      target="_blank" 
                      href="http://www.wikidata.org/entity/{{wikidataId.value}}"
                      title="http://www.wikidata.org/entity/{{wikidataId.value}}">
                    {{wikidataEntityLabel.value}}
                  </a>
                {{else}}
                  {{wikidataEntityLabel.value}}
                {{/if}}
              </div>
            </template>

              <template id='type'>
                <div>
                  {{#if wikidataId.value}} 
                    <semantic-context repository='default'>
                      <semantic-query query='
                                        PREFIX wikibase: <http://wikiba.se/ontology#>
                                        PREFIX bd: <http://www.bigdata.com/rdf#>
                                        PREFIX mwapi: <https://www.mediawiki.org/ontology#API/>
                                        PREFIX wdt: <http://www.wikidata.org/prop/direct/>
                                        PREFIX wd: <http://www.wikidata.org/entity/>
                                        
                                        SELECT ?typeLabel WHERE { 
                                          BIND(IRI(CONCAT(STR(wd:), "{{wikidataId.value}}")) AS ?wikidataEntity) .
                                          SERVICE <https://query.wikidata.org/sparql> {  
                                              ?wikidataEntity wdt:P31 ?type .
                                            SERVICE wikibase:label { 
                                              bd:serviceParam wikibase:language "en".
                                              ?type rdfs:label ?typeLabel .                                      
                                            }
                                          } 
                                        }'
                                      
                          template='{{> template}}'
                          no-result-template='{{> noResults}}'>

                          <template id='template'>
                              <strong>{{bindings.0.typeLabel.value}}</strong>
                          </template>
                          <template id='noResults'>
                            <div></div>
                          </template>
                      </semantic-query>
                    </semantic-context>
                  {{/if}}
                </div>
              </template>

              <template id='images'>
                <div>
                  {{#if wikidataId.value}}
                    <semantic-context repository='default'>
                      <semantic-query query='
                                        PREFIX wikibase: <http://wikiba.se/ontology#>
                                        PREFIX bd: <http://www.bigdata.com/rdf#>
                                        PREFIX mwapi: <https://www.mediawiki.org/ontology#API/>
                                        PREFIX wdt: <http://www.wikidata.org/prop/direct/>
                                        PREFIX wd: <http://www.wikidata.org/entity/>
                                        PREFIX schema: <http://schema.org/>

                                        SELECT (SAMPLE(?_image) AS ?image) WHERE { 
                                          SERVICE <https://query.wikidata.org/sparql> {  
                                            BIND(IRI(CONCAT(STR(wd:), "{{wikidataId.value}}")) AS ?wikidataResourceURI) .
                                            ?wikidataResourceURI wdt:P18 ?_image .
                                          }
                                        } LIMIT 1'

                                        template='{{> placeImage}}'
                                        >
                                          <template id='placeImage'>
                                            <div>
                                              <a href="[[decodeUriComponent '{{bindings.0.image.value}}']]"
                                                title="[[decodeUriComponent '{{bindings.0.image.value}}']]"
                                                target="_blank">
                                                
                                                <img src="[[decodeUriComponent '{{bindings.0.image.value}}']]" 
                                                    width="auto" height="180" style="max-width: 200px; object-fit: contain;">
                                              </a>
                                            </div>
                                          </template>
                                        </semantic-query>
                    </semantic-context>
                  {{/if}}
                </div>
              </template>
              
              <template id='actions'>
                <div>
                  {{#if wikidataId.value}} 
                    <semantic-context repository='default'>
                      <semantic-if query='PREFIX wikibase: <http://wikiba.se/ontology#>
                                          PREFIX bd: <http://www.bigdata.com/rdf#>
                                          PREFIX mwapi: <https://www.mediawiki.org/ontology#API/>
                                          PREFIX wdt: <http://www.wikidata.org/prop/direct/>
                                          PREFIX wd: <http://www.wikidata.org/entity/>
                      
                                          ASK { 
                                            SERVICE <https://query.wikidata.org/sparql> { 
                                              {{#if (eq domain "http://www.cidoc-crm.org/cidoc-crm/E21_Person")}}
                                                <{{concepturi.value}}> wdt:P31 wd:Q5 .
                                              {{else}}
                                                <{{concepturi.value}}> wdt:P31 ?type .
                                              {{/if}}
                                            }
                                          }'

                                    then='{{> then}}'>

                        <template id='then'> 
                          <semantic-query query='SELECT DISTINCT ?wikidataResourceURI ?wikidataResourceName ?wikidataResourceDescription ?existingRecord WHERE {
                                                  BIND(<{{concepturi.value}}> as ?wikidataResourceURI)

                                                  BIND("{{wikidataEntityLabel.value}}" as ?wikidataResourceName)
                                                  BIND("{{description.value}}" as ?wikidataResourceDescription)

                                                  OPTIONAL {
                                                    ?existingRecord crm:P129i_is_subject_of ?entityFormRecord .
                                                    ?entityFormRecord a crmdig:D1_Digital_Object .
                                                    ?entityFormRecord crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record> . 
                                                    ?entityFormRecord crmdig:L11i_was_output_of ?entityFormRecordCreation .
                                                    ?entityFormRecordCreation crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/entity_form_record_creation> .
                                                    ?entityFormRecordCreation crm:P134_continued ?importFromExternalSource .
                                                    ?importFromExternalSource a crmdig:D12_Data_Transfer_Event .
                                                    ?importFromExternalSource crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/import_from_external_source> .
                                                    ?importFromExternalSource crmdig:L14_transferred ?wikidataResourceURI .
                                                    ?wikidataResourceURI a crmdig:D1_Digital_Object .
                                                    ?wikidataResourceURI crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/digital_object_type/web_link> .
                                                  }
                                                }'
                                                
                                          template='{{> template}}'>
                                  
                                    <template id='template'>
                                      <div> 
                                        {{#if bindings.0.existingRecord.value}}
                                          <mp-event-trigger id='{{viewId}}-openExistingRecord-in-new-frame-trigger' 
                                                            type='Dashboard.AddFrame'
                                                            data='{"viewId":"entity-editor", 
                                                                  "resourceIri":"{{bindings.0.existingRecord.value}}",
                                                                  "entityTypeConfig": "{{domainConfig}}",
                                                                  "editable": true,
                                                                  "mode":"edit" }' 
                                                            targets='["thinking-frames"]'>
                                              <button class="btn btn-default" title="Open {{label}} record">Open record</button>
                                          </mp-event-trigger>
                                        {{else}}
                                          <mp-event-trigger id='{{viewId}}-select-api-resource-trigger' 
                                                            type='apiResourceSelect' 
                                                            data='{"apiResourceURI": "{{bindings.0.wikidataResourceURI.value}}", 
                                                                    "apiResourceName": "{{bindings.0.wikidataResourceName.value}}", 
                                                                    "apiResourceDescription": "{{bindings.0.wikidataResourceDescription.value}}"
                                                                  }' 
                                                      >
                                            <button class="btn btn-action" title="Import {{label}}">Import {{label}}</button>
                                          </mp-event-trigger>
                                        {{/if}}
                                      </div>
                                    </template>
                          </semantic-query>
                        </template>
                      </semantic-if>

                    </semantic-context>
                  {{/if}}
                </div>
              </template>

            </semantic-table>
          </semantic-context>
        </div>
      </semantic-search-result>
    </div>
  </semantic-search-result-holder>
  
</semantic-search>

