<div>
  {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#string"}}
    "{{value.value.value}}"
  {{/ifCond}}
  {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#langString"}}
    "{{value.value.value}}"{{#if value.value.language}} - {{value.value.language}}{{/if}}
  {{/ifCond}}
  {{#ifCond field.xsdDatatype.value "==" "http://www.w3.org/2001/XMLSchema#dateTime"}}
    {{value.value.value}}
  {{/ifCond}}
  {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#anyURI"}}
    {{#if value.value.datatype}}
      [[!-- in the messy data it can happen that field is anyURI but actual data is literal --]]
      {{value.value.value}}
    {{else}} 
        <rs-resource-view-link navigation="frame" iri='{{value.value.value}}'>
          <span><mp-label iri='{{value.value.value}}' class="text-truncate-line1" style="text-decoration:none;"></mp-label></span>
        </rs-resource-view-link>
    {{/if}}
  {{/ifCond}}
</div>
