<style>

      .mirador-main-menu-bar,
      .mirador .researchspace-mirador.mirador-container .manifest-info,
      .mirador-osd-annotation-controls,
      .mirador .researchspace-mirador.mirador-container .mirador-osd-toggle-bottom-panel,
    /*  .mirador .researchspace-mirador.mirador-container .mirador-viewer .mirador-hud,  */
      .mirador .researchspace-mirador.mirador-container .qtip-viewer, 
      .openseadragon-container canvas:nth-of-type(2)  {
        display: none !important;
      }
      
      .mirador .researchspace-mirador.mirador-container .mirador-viewer {
        top: 0; 
        background-color: #ffffff;
      }
    
      .mirador .researchspace-mirador.mirador-container .mirador-osd {
        background-color: #b8b8b8;
      }
    
      .mirador .researchspace-mirador.mirador-container .mirador-viewer .content-container {
        margin-top: 0; 
      }
          
</style>

<rs-iiif-mirador
                  [[> rsp:IIIFConfig]]
                  image-or-region='[[image]]'
                  >
</rs-iiif-mirador> 