<semantic-form [[> rsp:FormDefaults]] 
               persistence='{"type": "sparql", "targetGraphIri": "{{scheme}}"}'
               new-subject-template='{{scheme}}/data/{{{{raw}}}}{{item_label}}{{{{/raw}}}}'
               fields='[[
                fieldDefinitions
                  classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                  P71i_is_listed_in="http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in"
                  item_label="http://www.researchspace.org/resource/system/authority_manager/item_label"
                  for_type="http://www.researchspace.org/resource/system/authority_manager/for_type"
                  for_P2_has_type="http://www.researchspace.org/resource/system/authority_manager/for_P2_has_type"
                  broader_property="http://www.researchspace.org/resource/system/authority_manager/broader_property"
                  membership_property="http://www.researchspace.org/resource/system/authority_manager/membership_property"
                  order_by_pattern="http://www.researchspace.org/resource/system/authority_manager/order_by_pattern"
                  label_sparql_pattern="http://www.researchspace.org/resource/system/authority_manager/label_sparql_pattern"
                  restriction_sparql_pattern="http://www.researchspace.org/resource/system/authority_manager/restriction_sparql_pattern"
                  uses_form="http://www.researchspace.org/resource/system/authority_manager/uses_form"
                  entity_has_navigation="http://www.researchspace.org/resource/system/authority_manager/has_navigation_menu"
                  has_facet_kp="http://www.researchspace.org/resource/system/authority_manager/has_facet_kp"
                  entity_has_view="http://www.researchspace.org/resource/system/authority_manager/has_view"
               ]]'
               >

    <bs-tabs id="tabs">
    <bs-tab event-key="1" title="Details">

        <semantic-form-hidden-input for="classtype" default-values='["http://www.researchspace.org/resource/system/FormConfig"]'></semantic-form-hidden-input>
        <semantic-form-hidden-input for="P71i_is_listed_in" default-value="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types"> </semantic-form-hidden-input>  

        <div class="form-section-content">
          <semantic-form-text-input for="item_label" placeholder="Enter the resource label (e.g. Place, Actor, Collection item, Concept, etc.)" label="Resource label"></semantic-form-text-input>
          <div style="display:flex; gap:5px; align-items: end; margin-top: 21px;">
            <div style="flex: 1;">
              <semantic-form-text-input for="uses_form" default-value="http://www.researchspace.org/resource/system/forms/" label="Resource form"
              placeholder="Enter IRI of the form that should be used to edit the resource"></semantic-form-text-input>
            </div>
            {{#if node}}
                <semantic-query query='SELECT ?form WHERE { <{{node}}> <http://www.researchspace.org/resource/system/authority_manager/uses_form> ?form}'>
                  <template id='template'>
                    <semantic-link-container uri='{{bindings.0.form.value}}' urlqueryparam-action='edit' target='_blank'>
                        <button class="btn btn-default btn-input-inline btn-textAndIcon">
                          <i class="material-icons-round" title="Edit form">edit</i>
                          Edit form
                        </button>
                    </semantic-link-container>
                  </template>
                </semantic-query>
            {{/if}}
          </div>

        </div>

        <div class="form-section-header">
          <h3>Resource types</h3>
          <div>Fill in required CIDOC-CRM class. An additional type (CIDOC-CRM E55_Type) can also be associated to the resource.</div>
        </div>
        
        <div class="form-section-content">
            <semantic-form-tree-picker-input for="for_type" placeholder="Select the resource CIDOC-CRM class (e.g. Man-Made object, Place, etc.)" label="Resource CIDOC-CRM class"
            ></semantic-form-tree-picker-input>
            <semantic-form-tree-picker-input for="for_P2_has_type" placeholder="Select an additional CIDOC-CRM E55_Type to be associated to the resource" label="Resource type"></semantic-form-tree-picker-input>
        </div>
          
        <div class="form-section-header">
          <h3>Resource properties</h3>
          <div>Define a Membership property, if the resource is part of a collection, and a Broader property to refer to a broader resource.</div>
        </div>
        <div class="form-section-content">
          <semantic-form-tree-picker-input for="membership_property" label="Membership property" placeholder="Enter a property that connects the resource to the collection (e.g. skos:inScheme, crm:P71i_is_listed_in)"></semantic-form-tree-picker-input>
          <semantic-form-tree-picker-input for="broader_property" label="Broader property" placeholder="Enter property used to refer to a broader resource (e.g. skos:broader, crm:P127_has_broader_term, crm:P89_falls_within)"></semantic-form-tree-picker-input>
        </div>

        <div class="form-section-header">
          <h3>SPARQL Patterns</h3>
          <div>Define specific SPARQL patterns to assign resource label, restriction and order.</div>
        </div>
        <div class="form-section-content">
          <semantic-form-text-input for="label_sparql_pattern" label="Label (SPARQL pattern)" placeholder="Enter a SPARQL pattern for the resource label" > </semantic-form-text-input>
          <semantic-form-text-input for="restriction_sparql_pattern" label="Restriction (SPARQL pattern)" placeholder="Enter a SPARQL pattern to apply a restriction" > </semantic-form-text-input>
          <semantic-form-text-input for="order_by_pattern" label="Order by (SPARQL pattern)" placeholder="Enter a SPARQL pattern to get the order"> </semantic-form-text-input>
        </div>

    </bs-tab>

    <bs-tab event-key="2" title="Navigation menu">

        <div>Enable and customise a <b>navigation menu</b> to be displayed in the Resource page.</div>

          <style>
          .menu-toggle .semantic-form-input-decorator.semantic-form-input-decorator--with-header {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
          }
          .menu-toggle .semantic-form-input-decorator__header {
            margin: 0;
            font-weight: normal;
          }
          </style>

        <div class="menu-toggle" style="margin-top: 30px;">
            <semantic-form-checkbox-input class="toggle" for='entity_has_navigation' label="Enable navigation menu"></semantic-form-checkbox-input>
        </div>
    
        {{#if node}}
          <semantic-if query='ASK WHERE { <{{node}}> <http://www.researchspace.org/resource/system/authority_manager/has_navigation_menu> ?form}'>
            <template id='then'>
              <inline-template template-iri='[[resolvePrefix "rsp:SimpleCollectionBrowser"]]'
                              options='{
                                        "collection": "{{node}}/navigation menu",
                                        "membershipProperty": "http://www.researchspace.org/resource/system/authority_manager/menu_item",
                                        "itemLabel": "Navigation item",
                                        "resourceView": "[[resolvePrefix "rsp:EntityNavigationConfigForm"]]",
                                        "broaderProperty": "http://www.researchspace.org/resource/system/authority_manager/menu_broader_item",
                                        "labelSparqlPattern": "?item <http://www.researchspace.org/resource/system/authority_manager/menu_item_config>/<http://www.researchspace.org/resource/system/authority_manager/item_label> ?label .",
                                        "frameId": "entity-navigation-config",
                                        "editable": true
                                        }'
              ></inline-template>
          </semantic-if>
        {{/if}}

    </bs-tab>

    <bs-tab event-key="3" title="Views">
      <div>Define the <b>views (eg. thumbnail, table, timeline, chart, etc.)</b>
      used to display the entities associated to the Resource in the Resource page.</div>
      <semantic-form-composite-input for='entity_has_view' label="Resource view"
                                    new-subject-template='view/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
                                    fields='[[
                                      fieldDefinitions
                                      view_has_label="http://www.researchspace.org/resource/system/authority_manager/view_has_label"
                                      view_has_order="http://www.researchspace.org/resource/system/authority_manager/view_has_order"
                                      view_has_template="http://www.researchspace.org/resource/system/authority_manager/view_has_template"
                                      ]]'
                                      >
                            <semantic-form-text-input for="view_has_label" placeholder="Enter label" label="View label"></semantic-form-text-input>
                            <semantic-form-text-input for="view_has_order" placeholder="Enter order (eg. 0, 1, 2)" label="View order for navigation dropdown"></semantic-form-text-input>
                            <semantic-form-text-input for="view_has_template" placeholder="Enter template IRI" label="View template"></semantic-form-text-input>
      </semantic-form-composite-input>
    </bs-tab>

    <bs-tab event-key="4" title="Facets">
      <div>Define the <b>facets</b> applied in the Resource page to filter the results.</div>
      <semantic-form-autocomplete-input for="has_facet_kp" placeholder="Select knowledge pattern" label="Facet knowledge pattern"></semantic-form-autocomplete-input>
    </bs-tab>

  </bs-tabs>

    [[!--
    <h3>Table View Config</h3>
    <semantic-form-composite-input for='has_table_view_config'>
      <semantic-form-composite-input for='table_view_column'>
        <semantic-form-text-input for="table_view_column_order"></semantic-form-text-input>
        <semantic-form-text-input for="table_view_column_kp"></semantic-form-text-input>
        <semantic-form-text-input for="table_view_column_template"></semantic-form-text-input>
      </semantic-form-composite-input>  
    </semantic-form-composite-input>
    --]]

    
    <semantic-form-errors></semantic-form-errors>

 [[> rsp:FormDefaultActions]] 
</semantic-form>
