<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="resource/Start">Home</mp-link>
  </li>
  <li class="active">
    <semantic-query query='SELECT ?__useruri__ ?userName { BIND(REPLACE(SUBSTR(STR(?__useruri__), 41), "%40", "@") as ?userName) }' 
                                  template='{{> template}}'>
      <template id='template'>
            <span>{{bindings.0.userName.value}}</span>
      </template>
    </semantic-query>
  </li>
</ol>

<div class="page user-page">
  <div class="container-fluid">
    <bs-row class="row-center">
        <bs-col xs=11 sm=11 md=10 lg=9 class="user-top-section user-white-container px-0">
          
          <mp-overlay-dialog title="Edit - User information" type="modal" bs-size="large">
            <mp-overlay-dialog-trigger>
                <button disabled type="button" class="user-btn__edit">
                  <i class="fa fa-pencil fa-2x"></i>
                </button>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content>
                <div style="padding: 0px 30px 15px;">
                    [[> rsp:userInfoForm]]
                </div>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>

          <bs-row class="user-top-container">
            <bs-col xs=12 sm=4 lg=3 class="user-top-imgCol">
              <div class="user-top-imgContainer">
                <span class="rs-icon rs-icon-user_profile">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </span>
              <!-- for  User images use the following
                <img src="/assets/images/users/user.svg" class="user-top-img"> -->
                <div class="user-top-img__edit">
                  <a><i class="fa fa-camera fa-2x"></i></a>
                </div>
              </div>
            </bs-col>
            <bs-col xs=12 sm=8 lg=9 class="user-top-col">
              <div class="user-name">User First and Last Name</div>
              <div class="user-jobPosition">User current position</div>
              <bs-row class="user-contacts">
                <bs-col xs=12 sm=7>
                  <div class="user-contact-title">Email</div>
                  <div>1234@gmail.com</div>
                </bs-col>
                <bs-col xs=12 sm=5 class="">
                  <div class="user-contact-title">Phone Number</div>
                  <div>1234567890</div>
                </bs-col>
              </bs-row>
            </bs-col>
          </bs-row>
        </bs-col>   
      </bs-row> <!--  close row -->
    <bs-row class="row-center">
      <bs-col xs=11 sm=11 md=10 lg=9 class="user-main-section px-0">
          <bs-tab-container id="tab-container" class="user-tabs"
          default-active-key="profile">
            <bs-tabs>
              <bs-tab event-key="profile" title="Profile">
                <div class="user-tab-section user-white-container">
                  
                  <mp-overlay-dialog title="Edit - Profile" type="modal" bs-size="large">
                    <mp-overlay-dialog-trigger>
                      <button disabled type="button" class="user-btn__edit">
                        <i class="fa fa-pencil fa-2x"></i>
                      </button>
                    </mp-overlay-dialog-trigger>
                    <mp-overlay-dialog-content>
                        <div>
                          [[> rsp:userProfileForm]]
                        </div>
                    </mp-overlay-dialog-content>
                  </mp-overlay-dialog>

                  <h3>Disciplines area of Expertise</h3>
                  <div class="user-tag-area">
                    <div class="user-tag">archeology</div>
                    <div class="user-tag">antropology</div>
                    <div class="user-tag">conservation science</div>
                  </div>

                  <h3>Summary</h3>
                  <div class="user-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula mauris a dui pretium ullamcorper. 
                    Nam ullamcorper, sapien vel scelerisque vestibulum, nulla nisl dapibus nunc, eleifend blandit nibh nunc sed odio. 
                    Proin semper sem eget nibh ultrices, at tincidunt arcu semper. Donec ac convallis ante, ut fringilla mi. 
                    Integer ornare massa ac tincidunt accumsan. Curabitur sollicitudin nisi id mauris tincidunt sodales. 
                    Praesent eu mauris ipsum. Etiam convallis varius egestas. Nam condimentum dictum venenatis. 
                    Cras in lorem auctor, vehicula tortor ut, fermentum felis. Etiam tristique mollis neque, nec euismod leo condimentum vitae. 
                    Suspendisse lacinia malesuada blandit. Fusce lacinia tempus orci, in eleifend mi pulvinar eget.</div>

                  <h3>Current Position</h3>

                  <div class="user-current-position">
                      <div class="user-dataRow">
                        <div class="user-dataRow__title">Position/Role</div>
                        <div class="user-dataRow__value">curator</div>
                      </div>

                      <div class="user-dataRow">
                        <div class="user-dataRow__title">Curator of</div>
                        <div class="user-dataRow__value">collection</div>
                      </div>

                      <div class="user-dataRow">
                        <div class="user-dataRow__title">Department</div>
                        <div class="user-dataRow__value">Egypt and Sudan</div>
                      </div>

                      <div class="user-dataRow">
                        <div class="user-dataRow__title">Institute</div>
                        <div class="user-dataRow__value">The British Museum</div>
                      </div>

                      <div class="user-dataRow">
                        <div class="user-dataRow__title">Location</div>
                        <div class="user-dataRow__value">London</div>
                      </div>

                      <div class="user-dataRow">
                        <div class="user-dataRow__title">Start Date</div>
                        <div class="user-dataRow__value">05.01.2016</div>
                      </div>

                      <div class="user-dataRow">
                        <div class="user-dataRow__title">Description</div>
                        <div class="user-dataRow__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula mauris a dui pretium ullamcorper. 
                          Nam ullamcorper, sapien vel scelerisque vestibulum, nulla nisl dapibus nunc, eleifend blandit nibh nunc sed odio. 
                          Proin semper sem eget nibh ultrices, at tincidunt arcu semper. Donec ac convallis ante, ut fringilla mi. </div>
                      </div>
                  </div>

                  <h3>Previous Positions</h3>

                  <div class="user-previous-position">
                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Position/Role</div>
                      <div class="user-dataRow__value">Fellowship</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Curator of</div>
                      <div class="user-dataRow__value">-</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Department</div>
                      <div class="user-dataRow__value">Scientific</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Institute</div>
                      <div class="user-dataRow__value">NG</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Location</div>
                      <div class="user-dataRow__value">London, UK</div>
                    </div>

                    <div class="user-dataRow">
                        <div class="user-timespan-start">
                          <div class="user-dataRow__title ">Start Date</div>
                          <div class="user-dataRow__value">05.01.2015</div>
                        </div>
                        <div class="user-timespan-end">
                          <div class="user-dataRow__title user-timespan">End Date</div>
                          <div class="user-dataRow__value">12.12.2015</div>
                        </div>
                    </div>


                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Description</div>
                      <div class="user-dataRow__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula mauris a dui pretium ullamcorper. 
                        Nam ullamcorper, sapien vel scelerisque vestibulum, nulla nisl dapibus nunc, eleifend blandit nibh nunc sed odio. 
                        Proin semper sem eget nibh ultrices, at tincidunt arcu semper. Donec ac convallis ante, ut fringilla mi. </div>
                    </div>
                  </div>

                  <div class="user-previous-position">
                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Position/Role</div>
                      <div class="user-dataRow__value">Fellowship</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Curator of</div>
                      <div class="user-dataRow__value">-</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Department</div>
                      <div class="user-dataRow__value">Scientific</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Institute</div>
                      <div class="user-dataRow__value">NG</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Location</div>
                      <div class="user-dataRow__value">London, UK</div>
                    </div>

                    <div class="user-dataRow">
                        <div class="user-timespan-start">
                          <div class="user-dataRow__title ">Start Date</div>
                          <div class="user-dataRow__value">05.01.2015</div>
                        </div>
                        <div class="user-timespan-end">
                          <div class="user-dataRow__title user-timespan">End Date</div>
                          <div class="user-dataRow__value">12.12.2015</div>
                        </div>
                    </div>


                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Description</div>
                      <div class="user-dataRow__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula mauris a dui pretium ullamcorper. 
                        Nam ullamcorper, sapien vel scelerisque vestibulum, nulla nisl dapibus nunc, eleifend blandit nibh nunc sed odio. 
                        Proin semper sem eget nibh ultrices, at tincidunt arcu semper. Donec ac convallis ante, ut fringilla mi. </div>
                    </div>
                  </div>

                </div>
              </bs-tab>
              <bs-tab event-key="project" title="Research Projects">
                <div class="user-tab-section user-white-container">   
                  <mp-overlay-dialog title="Edit - Research Projects" type="modal" bs-size="large">
                    <mp-overlay-dialog-trigger>
                      <button disabled type="button" class="user-btn__edit">
                        <i class="fa fa-pencil fa-2x"></i>
                      </button>
                    </mp-overlay-dialog-trigger>
                    <mp-overlay-dialog-content>
                        <div>
                          [[> rsp:userProjectsForm]]
                        </div>
                    </mp-overlay-dialog-content>
                  </mp-overlay-dialog>  
                  
                  <h3>Researchspace Projects</h3>
                  <div class="user-tag-area">
                    <div class="user-tag"><a title='Late Hokusai' href="/resource/ProjectDashboard">Late Hokusai</a></div>
                    <div class="user-tag"><a title='project 1' href="/resource/ProjectDashboard">project 1</a></div>
                    <div class="user-tag"><a title='project 2' href="/resource/ProjectDashboard">project 2</a></div>
                  </div>

                  <h3>Other Research Projects</h3>
                  <div class="user-project">
                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Project</div>
                      <div class="user-dataRow__value">project title</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Description</div>
                      <div class="user-dataRow__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula mauris a dui pretium ullamcorper. 
                        Nam ullamcorper, sapien vel scelerisque vestibulum, nulla nisl dapibus nunc, eleifend blandit nibh nunc sed odio. 
                        Proin semper sem eget nibh ultrices, at tincidunt arcu semper. Donec ac convallis ante, ut fringilla mi. 
                        Integer ornare massa ac tincidunt accumsan. Curabitur sollicitudin nisi id mauris tincidunt sodales. </div>
                    </div>
                  </div>

                  <div class="user-project">
                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Project</div>
                      <div class="user-dataRow__value">project 2 title</div>
                    </div>

                    <div class="user-dataRow">
                      <div class="user-dataRow__title">Description</div>
                      <div class="user-dataRow__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula mauris a dui pretium ullamcorper. 
                        Nam ullamcorper, sapien vel scelerisque vestibulum, nulla nisl dapibus nunc, eleifend blandit nibh nunc sed odio. 
                        Proin semper sem eget nibh ultrices, at tincidunt arcu semper. Donec ac convallis ante, ut fringilla mi. 
                        Integer ornare massa ac tincidunt accumsan. Curabitur sollicitudin nisi id mauris tincidunt sodales. </div>
                    </div>
                  </div>

                </div>
              </bs-tab>
              <bs-tab event-key="publication" title="Publications" disabled=true>
                <div class="user-tab-section user-white-container">   
                  <button type="button" class="user-btn__edit">
                    <i class="fa fa-pencil fa-2x"></i>
                  </button>          
                </div>
              </bs-tab>
              <bs-tab event-key="activity" title="Activities" disabled=true>
                <div class="user-tab-section user-white-container">   
                  <button type="button" class="user-btn__edit">
                    <i class="fa fa-pencil fa-2x"></i>
                  </button>
                </div>
              </bs-tab>
            </bs-tabs>
          </bs-tab-container>
        </bs-col>   
    </bs-row> <!--  close row -->
  </div>

</div>

