#vrtimeline {
    position: relative;
    margin: 16px;
    width: 100%;
}

#vrtimeline ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#vrtimeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.vrpoint {
    min-width: 20px;
    height: 20px;
    background-color: rgb(0, 80, 109);
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    left: 1px;
}

@media (max-width: 800px) {
    .vrpoint {
        min-width: 15px;
        height: 15px;
    }
}

@media (max-width: 650px) {
    .vrpoint {
        min-width: 12px;
        height: 12px;
    }
}

#vrtimeline ul li .content {
    width: 90%;
    margin: 10px;
    margin-right: 0;
    border-radius: 4px;
}

#vrtimeline ul li .content h3 {
    padding: 10px 20px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-overflow: ellipsis;
}

#vrtimeline ul li {
    flex-direction: row-reverse;
}

#vrtimeline::before {
    content: "";
    position: absolute;
    width: 3px;
    left: 9px;
    background-color: #333333;
}

.toolIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.tabSelect {
    padding: 5px;
    border-bottom: 5px black;
}

#sidebarContent::-webkit-scrollbar {
    width: 20px;
}
