<bs-navbar data-fluid="true" class="metaphacts-header-navbar" data-fixed-top="true" data-inverse="true" data-role="navigation">
  <bs-navbar-header>
    <bs-navbar-brand>
      <a href="/">
        {{deploymentTitle}}
      </a>
    </bs-navbar-brand>
    <bs-navbar-toggle/>
  </bs-navbar-header>
  <bs-navbar-collapse>
    <ul class="nav navbar-nav">
      <li><mp-link url="/sparql" title="Sparql Endpoint">sparql</mp-link></li>
    </ul>
    <bs-nav data-pull-right="true">
      <mp-nav-account></mp-nav-account>
      <mp-anonymous-hidden>
        <mp-resource-link-container uri="http://www.metaphacts.com/resource/admin/">
          <li title="System Settings">
            <a><i class="fa fa-cog"></i></a>
          </li>
        </mp-resource-link-container>
      </mp-anonymous-hidden>
      <mp-resource-link-container uri="http://help.metaphacts.com/resource/Start">
        <li title="Help">
          <a><i class="fa fa-question-circle"></i></a>
        </li>
      </mp-resource-link-container>
    </bs-nav>
  </bs-navbar-collapse>
</bs-navbar>
