.ontodia-class-tree {
  flex: auto;
  display: flex;
  flex-direction: column;

  &__filter {
    flex-shrink: 0;
    margin: 0 0 10px 0;
  }

  &__filter-group {
    margin-left: 10px;
  }

  &__only-creatable {

    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 0px;
    padding-left: 10px;

    input {
      margin-right: 5px;
    }
    
  }

  &__tree {
  //  border-top: 1px solid rgb(221, 221, 221);
    padding: 8px 14px 8px 18px;
  }

  &__spinner {
    align-self: center;
    /* center vertically in flexbox */
    margin: auto;
  }
}

.ontodia-class-leaf {
  margin: 1px 0px 5px 0px;

  &__row {
    margin: 3px 0;
    display: flex;
    align-items: center;
  //  white-space: nowrap;
    user-select: none;
  //  > * { flex-shrink: 0; }
  }

  &__body { 
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    padding: 3px 7px;
    border: 1px solid;
    border-color: transparent;

    &:hover {
      
      cursor: pointer;
    }
    &--selected {
      background-color: $color-primary-50;
      border-color: $color-primary-50;
    }
  }

  &__icon-container {
    height: 16px;
  }

  &__icon {
    display: block;
    height: 100%;
  }

  &__label {

    color: $color-dark;
    line-height: 1.2;
    font-size: 16.6px;
    font-weight: 600;
  }

  &__highlighted-term {
    font-weight: bold;
  }

  &__count {
    margin-left: 5px;
  }

  &__children {
    margin-left: 20px;
    padding: 1px 0 3px 0;

    .ontodia-class-leaf__label {
      font-size: 14.5px;
    }
  }

  &__no-toggle {
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  &__toggle {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;

    .fa {
      cursor: pointer;
      color: $color-dark--op75;
      font-size: 16px;

      &:hover {
        color :$color-dark;
      }
    }

    
  }

  &__toggle-icon {

    display: flex;
    align-items: center;
  }

  &__create {
    margin-left: 5px;
    > button {
      cursor: pointer;
    }

    .ontodia-btn-default {
      background-color: $color-dark;
      color: $color-white;
      border-color: $color-dark-darker;
      border-radius: 2px;
      line-height: 1;
      padding: 3px 5px;

      .fa {
        font-size: 12px;
      }
    }
  }
}
