.fade-out_disappear {
  animation: fadeOut ease 4s;
  visibility: hidden;
}

@keyframes fadeOut {
  0% {
    opacity:1;
    visibility: visible;
  }
  100% {
    opacity:0;
    visibility: hidden;
  }
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}
