.react-sigma-controls .panel {
  min-width: 200px;
  margin-bottom: 0;
}
.react-sigma-controls .panel .icon.toggle {
  float: right;
}
.react-sigma-controls .panel > a > div {
  color: gray;
}
.react-sigma-controls .panel label {
  font-weight: normal;
}
.react-sigma-controls ul.filter {
  margin: 0;
  padding: 0.5rem;
}
.react-sigma-controls ul.filter li {
  list-style: none;
}
