<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li class="active">
    Terms of Use
  </li>
</ol>

<div class="rs-page container-fluid">
  <div class="rs-page__top"></div>
      <bs-row>
        <bs-col sm=8 sm-offset=1>

          <h3>Terms of use of ResearchSpace</h3>
					<p class="style--readable">The data, text and images available via this service are published under a Creative Commons <a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</a> license.</p>
					<p class="style--readable">You can read more about the British Museum and Creative Commons <a target="_blank" href="https://www.britishmuseum.org/about_this_site/terms_of_use/copyright_and_permissions.aspx">here</a>.</p>
					<p class="style--readable">For uses not covered under the Creative Commons license, or to license content for commercial uses, visit British Museum Images at <a target="_blank" href="http://www.bmimages.com/">bmimages.com</a> or send an e-mail to <a href="mailto:permissions@britishmuseum.org">permissions@britishmuseum.org</a></p><br>

        </bs-col>
      </bs-row>
</div>
