<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li>
    <semantic-link uri='http://www.hercules.gouv.qc.ca/resource/FieldCatalog'>
      Field Definition Catalog
    </semantic-link>
  </li>
  <li class="active">
    New Field Definition
  </li>
</ol>

[[#if (hasPermission "api:config")]]

<div class="page">
[[#>:ClipboardSidebar]]

  [[> :assetpageHeader title="New Field Definition" icon="fa-list-ul"]]

  <div class="container-fluid">
      <bs-row class="row-center">
          <bs-col xs=11 sm=10 md=10 lg=8 style='padding-bottom: 40px;'>
    
        		<field-editor field-instance-base-iri="http://www.researchspace.org/instances/fields/"></field-editor>
            
           </bs-col>   
      </bs-row> <!--  close row -->
  </div>
      
  [[/:ClipboardSidebar]]
</div>

[[else]]

<p>No Permission</p>

[[/if]]
