<div class='page__header-thumbnail'>
  <semantic-table query='SELECT (<[[urlParam "subject"]]> as ?iri) {}' tuple-template='{{> rsp:RecordThumbnail imageWidth=100 imageHeight=100}}' options='{"showFilter": false}'></semantic-table>
</div>
<div class='page__header-body' data-flex-layout='row columns-left'>
  <h4 data-flex-layout='row bottom-left'>
    <mp-label iri='[[urlParam "subject"]]' class='page__header-gripper-label'></mp-label>
    <small style='margin-left: 10px;'>
      British Museum
    </small>
  </h4>
  <h4>
    <img style='height: 50px;' src='../images/assertion.svg' />
    <span style='margin: 0 5px;'>
      New Assertion about field <strong class="field-type-title">
      <semantic-context repository='assets'>
        <mp-label iri='[[urlParam "field"]]'></mp-label>
      </semantic-context>
      </strong>
    </span>
  </h4>
</div>
