<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Administration</li>
</ol>


<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-cog fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>Administration</h2>
    </div>
  </div>
  <div class='page__body'>
    [[>Admin:IconPanelInclude title="Data Import & Export" faIcon="fa fa-cloud-upload fa-5x" pageLink=(resolvePrefix "Admin:DataImportExport")]]

    [[>Admin:Extensions]]
		<div style="clear:both;"></div>
    <hr>
    
    [[>Admin:IconPanelInclude title="System Settings" faIcon="fa fa-cogs fa-5x" pageLink=(resolvePrefix "Admin:Configuration")]]

    [[>Admin:IconPanelInclude title="Security" faIcon="fa fa-users fa-5x" pageLink=(resolvePrefix "Admin:Security")]]

		[[>Admin:IconPanelInclude title="Template & Application Pages" faIcon="fa fa-file-text-o fa-5x" pageLink=(resolvePrefix "Admin:Templates")]]

		[[>Admin:IconPanelInclude title="RDF Namespace Prefixes" faIcon="fa fa-code fa-5x" pageLink=(resolvePrefix "Admin:Namespaces")]]

    [[>Admin:IconPanelInclude title="Repositories" faIcon="fa fa-database fa-5x" pageLink=(resolvePrefix "Admin:Repositories")]]
    
		[[>Admin:IconPanelInclude title="Cache Invalidation" faIcon="fa fa-history fa-5x" pageLink=(resolvePrefix "Admin:CacheInvalidation")]]
    
		[[>Admin:IconPanelInclude title="Apps & Storages" faIcon="fa fa-th-large fa-5x" pageLink=(resolvePrefix "Admin:Apps")]]
    
		[[>Admin:IconPanelInclude title="File Upload" faIcon="fa  fa-cloud-upload fa-5x" pageLink=(resolvePrefix "Admin:FileUpload")]]

      <div style="clear:both;"></div>

      <hr>
       Assets have been moved to a separate <semantic-link title="Assets" iri="http://www.metaphacts.com/resource/assets/">assets page</semantic-link>.
  </div>
</div>