
        PREFIX : <http://help.metaphacts.com/resource/>
        SELECT ?node ?parent WHERE {
          VALUES(?node ?parent){
            (:SemanticTable :Components)
            (:SemanticCarousel :Components)
            (:SemanticTree :Components)
            (:SemanticSearch :Components)
            (:SemanticGraph :Components)
            (:Components :Start)
            (:Installation :Start)
            (:BasicSystemConfiguration :Start)
            (:Start UNDEF)
          }       
        }