<mp-print-section id="1" label="UDP">
                   [[> rsp:UDP udp=true]]
                </mp-print-section>
                <div style="margin-top:50px; display:inline-block; width:100%; clear:both;">
                  <hr>
                  <div class="pull-right">
                    <semantic-context repository='assets'>
                  <mp-sparql-download query='
              CONSTRUCT {
              ?? ?p ?o .
            } WHERE {
              ?? ?p ?o .
              FILTER(?p NOT IN (
                <http://www.w3.org/ns/oa#hasBody>,
                <http://www.w3.org/ns/prov#generatedAtTime>,
                <http://www.ics.forth.gr/isl/CRMdig/L43_annotates>,
                <http://www.w3.org/ns/prov#wasAttributedTo>,
                <http://www.w3.org/ns/oa#hasTarget>,
                <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>,
                <http://www.w3.org/2000/01/rdf-schema#label>
              ))
            }
            ' header='text/turtle' filename='rdfa.ttl'>
                  <button class="btn btn-sm btn-default" style="margin-right: 10px;" title='Download RDFa as Turtle'>Export as Turtle</button>
                  </mp-sparql-download>
                  </semantic-context>
                <mp-overlay-dialog title="Print Preview" type="lightbox">
                  <mp-overlay-dialog-trigger><button class="btn btn-sm btn-default" style="margin-right: 10px;">Print as PDF</button></mp-overlay-dialog-trigger>
                  <mp-overlay-dialog-content>
                    <semantic-context repository='assets'>
                      <mp-print pages='["[[this]]"]'></mp-print>
                    </semantic-context>
                  </mp-overlay-dialog-content>
                </mp-overlay-dialog>
                <mp-url-minifier iri='[[this]]'><button class="btn btn-sm btn-default"><i class="fa fa-external-link" style="margin-right:6px"></i> Minified link</button></mp-url-minifier>
                  </div>
                </div>
