<semantic-context repository='default'>
  <div style="display: flex; align-items: center;">
    [[#*inline "listview"]]
    <span style="display: flex; align-items: center; flex: 1; width: 100%;">
      [[> @partial-block ]]
      <semantic-link style="color: #2C3E50;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" uri="{{iri.value}}"></semantic-link>
      </span>
    [[/inline]]
    <div style="overflow: hidden;">
      <mp-resource-link-container uri="{{iri.value}}" draggable=false>
        <span style="display: flex; align-items: center; flex: 1;">
          <semantic-switch query='[[> rsp:ObjectTypeQuery]]'>
            <template id='http://www.researchspace.org/ontology/Thing'>[[#> listview]]<img style="width: 25px; flex-shrink: 0;" src="../images/fcs/things.svg">[[/ listview]]</template>
            <template id='http://www.researchspace.org/ontology/Actor'>[[#> listview]]<img style="width: 25px; flex-shrink: 0;" src="../images/fcs/actors.svg">[[/ listview]]</template>
            <template id='http://www.researchspace.org/ontology/Place'>[[#> listview]]<img style="width: 25px; flex-shrink: 0;" src="../images/fcs/places.svg">[[/ listview]]</template>
            <template id='http://www.researchspace.org/ontology/Time'>[[#> listview]]<img style="width: 25px; flex-shrink: 0;" src="../images/fcs/dates.svg">[[/ listview]]</template>
            <template id='http://www.researchspace.org/ontology/Concept'>[[#> listview]]<img style="width: 25px; flex-shrink: 0;" src="../images/fcs/concepts.svg">[[/ listview]]</template>
            <template id='http://www.researchspace.org/ontology/Event'>[[#> listview]]<img style="width: 25px; flex-shrink: 0;" src="../images/fcs/events.svg">[[/ listview]]</template>
            <template id='http://www.researchspace.org/ontology/Class'>[[#> listview]]<img style="width: 25px; flex-shrink: 0;" src="../images/fcs/classes.svg">[[/ listview]]</template>
            <template id='http://www.researchspace.org/ontology/UserDefinedPage'>[[#> listview]]<img style="width: 25px; flex-shrink: 0;" src="../images/clipboard-icons/pages.svg">[[/ listview]]</template>
            <template id='default'>
              <semantic-context repository='assets'>
                <semantic-switch
                  query='
                    SELECT ?type WHERE {
                      {
                        <{{iri.value}}> a <http://www.ontodia.org/schema/v1#diagram> .
                        BIND(<http://www.ontodia.org/schema/v1#diagram> as ?type) .
                      } UNION {
                        <{{iri.value}}> a <http://www.metaphacts.com/ontologies/persist/PersistedComponent>.
                        <{{iri.value}}> <http://www.metaphacts.com/ontologies/persist/componentType> ?type .
                      } UNION {
                        <{{iri.value}}> a rso:UserDefinedPage .
                        BIND(rso:UserDefinedPage as ?type) .
                      } UNION {
                        <{{iri.value}}> a rso:Annotation .
                        BIND(rso:Annotation as ?type) .
                      } UNION {
                        <{{iri.value}}> a rso:EX_Assertion .
                        BIND(rso:EX_Assertion as ?type) .
                      } UNION {
                        <{{iri.value}}> a sp:Query .
                        BIND(sp:Query as ?type) .
                      } UNION {
                        <{{iri.value}}> a crmdig:D9_Data_Object .
                        BIND(crmdig:D9_Data_Object as ?type) .
                      }
                    } LIMIT 1
                  '
                >
                <template id='http://www.researchspace.org/ontology/Annotation'>
                  [[#> listview]]
                    <img style="width: 25px; flex-shrink: 0;" src="../images/clipboard-icons/annotations.svg">
                  [[/ listview]]
                </template>
                <template id='http://spinrdf.org/sp#Query'>
                  [[#> listview]]
                    <i class='fa fa-search' style="padding-left: 4px; width: 25px; flex-shrink: 0;"></i>
                  [[/ listview]]
                </template>
                <template id='http://www.ics.forth.gr/isl/CRMdig/D9_Data_Object'>
                  [[#> listview]]
                    <i class='fa fa-picture-o' style="padding-left: 4px; width: 25px; flex-shrink: 0;"></i>
                  [[/ listview]]
                </template>
                <template id='http://www.metaphacts.com/ontologies/persist/components/semantic-chart'>
                  [[#> listview]]
                    <i class='fa fa-line-chart' style="padding-left: 4px; width: 25px; flex-shrink: 0;"></i>
                  [[/ listview]]
                </template>
                <template id='http://www.metaphacts.com/ontologies/persist/components/semantic-timeline'>
                  [[#> listview]]
                    <i class='fa fa-clock-o' style="padding-left: 4px; width: 25px; flex-shrink: 0;"></i>
                  [[/ listview]]
                </template>
                <template id='http://www.ontodia.org/schema/v1#diagram'>
                  [[#> listview]]
                    <i class='fa fa-sitemap' style="padding-left: 4px; width: 25px; flex-shrink: 0;"></i>
                  [[/ listview]]
                </template>
                <template id='default'>
                  [[#> listview]]
                    <i class='fa fa-square' style="padding-left: 6px; width: 25px; flex-shrink: 0;"></i>
                  [[/ listview]]
                </template>

                </semantic-switch>
              </semantic-context>
            </template>
          </semantic-switch>
        </span>
      </mp-resource-link-container>
    </div>
    <div class="set-management__item-actions" style="margin-left: auto;">
      [[> rsp:SetItemActions]]
    </div>
  </div>
</semantic-context>
