[[!--
  Default settings is a failsafe to work on most triplestores.
--]]

[[!--
  possible values:
  'nostats' is failsafe one with RDFS/OWL ontology
  'default' same as nostats, but with class instance counts
  'wikidata' for Wikidata non-OWL ontology
--]]
settings='nostats'

[[!--
  Controls if Ontodia is trying to interpret blank nodes. Due to complex patterns
  this caused problems on Stardog.
--]]
accept-blank-nodes=false

[[> "http://www.metaphacts.com/resource/assets/OntodiaSettingsExtensions" ]]
