
        prefix person: <http://example.com/person/> 
        prefix org: <http://example.com/org/> 
        SELECT ?subject ?thumbnail ?label WHERE {                    
          VALUES (?subject ?thumbnail ?label){ 
            (Help:SemanticTable '/images/help/table-widget.png' 'Table Component')
            (Help:SemanticGraph '/images/help/graph-widget.png' 'Graph Component')
            (Help:SemanticSimpleSearch '/images/help/simple-search-widget.png' 'Simple Search Component')
            (Help:SemanticCarousel '/images/help/carousel-widget.png' 'Carousel Component')
            (Help:SemanticChart '/images/help/chart-widget.png' 'Chart Component')
            (Help:SemanticMap '/images/help/map-widget.png' 'Geographic Map Component')
          }
        }