<ol class="page-breadcrumb rs-breadcrumb">
    <li class="rs-body-s-B">
      <mp-link title="Home" url="resource/Start">Accueil</mp-link>
    </li>
    <li class="active rs-body-s-M">Administration</li>
</ol>

<div class="page">
  
  [[> :assetpageHeader title="Administration" icon="fa-cog"]]

    <div class="container-fluid">
        <bs-row class="row-center">
            <bs-col xs=11 sm=10 md=10 lg=8>
              
                <bs-row>
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Data Import & Export" faIcon="fa fa-cloud-upload fa-3x" pageLink=(resolvePrefix "Admin:DataImportExport")]]
                    </bs-col> 
                  <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Sparql" imgIcon="/images/icons/sparql.png" pageLink="http://system.metaphacts.com/resource/SparqlEndpoint"]]
                    </bs-col>
                  <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Knowledge Patterns Catalog" faIcon="fa fa-list-ul fa-3x" pageLink=(resolvePrefix "Default:FieldCatalog")]]
                    </bs-col>
                  <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Assets" faIcon="fa fa-cog fa-3x" pageLink="http://www.metaphacts.com/resource/assets/"]]
                    </bs-col>
                  
                </bs-row> <!--  close row -->
 
                [[>Admin:Extensions]]
                <div style="clear:both;"></div>
                <hr>

                <bs-row>
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="System Settings" faIcon="fa fa-cogs fa-3x" pageLink=(resolvePrefix "Admin:Configuration")]]
                    </bs-col>   
                
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Security" faIcon="fa fa-users fa-3x" pageLink=(resolvePrefix "Admin:Security")]]
                    </bs-col>   
                
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Template & Application Pages" faIcon="fa fa-file-text-o fa-3x" pageLink=(resolvePrefix "Admin:Templates")]]
                    </bs-col>   
                
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="RDF Namespace Prefixes" faIcon="fa fa-code fa-3x" pageLink=(resolvePrefix "Admin:Namespaces")]]
                    </bs-col>   
                </bs-row> <!--  close row -->

                <bs-row>
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Repositories" faIcon="fa fa-database fa-3x" pageLink=(resolvePrefix "Admin:Repositories")]]
                    </bs-col>

                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Cache Invalidation" faIcon="fa fa-history fa-3x" pageLink=(resolvePrefix "Admin:CacheInvalidation")]]
                    </bs-col>

                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Apps & Storages" faIcon="fa fa-th-large fa-3x" pageLink=(resolvePrefix "Admin:Apps")]]
                    </bs-col>

                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="File Upload" faIcon="fa  fa-cloud-upload fa-3x" pageLink=(resolvePrefix "Admin:FileUpload")]]
                    </bs-col>
                </bs-row>
 
                <div style="clear:both;"></div>
                <hr>
              
              <div style="margin-top:10px;">Help: <semantic-link style="text-decoration:underline;" uri="http://help.metaphacts.com/resource/DocumentationOverview">Documentation</semantic-link></div>
              <div style="margin-bottom:60px;">Help: <semantic-link style="text-decoration:underline;" uri="http://help.metaphacts.com/resource/Start">Documentation Overview</semantic-link></div>
              	
                <!-- <div style="margin-bottom:60px;">Assets have been moved to a separate <semantic-link title="Assets" iri="http://www.metaphacts.com/resource/assets/" style="text-decoration:underline; color:#696969">assets page</semantic-link>.</div> -->
                      
                
            </bs-col>   
        </bs-row> <!--  close row -->
    </div>

</div>