<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Accueil</mp-link>
  </li>
  <li>
    <semantic-link title="Help" uri='[[resolvePrefix "Help:Start"]]'>Help</semantic-link>
  </li>
  <li class="active">Changelog</li>
</ol>

<div class="page">
  <div class='page__body'>
    <h1>Changelog</h1>
		<h2>3.1.0</h2>
    <hr>
    <table id="issuetable" style="border:0px;" cellpadding="3" cellspacing="1" width="100%">
        <thead>
            <tr class="rowHeader">

                <th class="colHeaderLink headerrow-issuetype" data-id="issuetype">
                    Issue Type
                </th>

                <th class="colHeaderLink headerrow-issuekey" data-id="issuekey">
                    Key
                </th>

                <th class="colHeaderLink headerrow-customfield_11004" data-id="customfield_11004">
                    Release Title
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="issuerow28980" rel="28980" data-issuekey="ID-1163" class="issuerow">
                <td class="issuetype"> New Feature
                </td>
                <td class="issuekey">
                    ID-1163
                </td>
                <td class="customfield_11004"> Support and best practice for Kubernetes. Public git repo with samples:
                    https://bitbucket.org/metaphacts/metaphactory-kubernetes/
                </td>
            </tr>
            <tr id="issuerow28417" rel="28417" data-issuekey="ID-900" class="issuerow">
                <td class="issuetype"> New Feature
                </td>
                <td class="issuekey">
                    ID-900
                </td>
                <td class="customfield_11004"> Query hints for Ephedra to control order of query execution
                </td>
            </tr>
            <tr id="issuerow28962" rel="28962" data-issuekey="ID-1158" class="issuerow">
                <td class="issuetype"> New Feature
                </td>
                <td class="issuekey">
                    ID-1158
                </td>
                <td class="customfield_11004"> New input elements for forms: Checkbox and radio button lists
                </td>
            </tr>
            <tr id="issuerow28961" rel="28961" data-issuekey="ID-1157" class="issuerow">
                <td class="issuetype"> New Feature
                </td>
                <td class="issuekey">
                    ID-1157
                </td>
                <td class="customfield_11004"> New input element for forms: Switch Forms to support switching nested
                    composite forms depending on users choice from a dropdown.
                </td>
            </tr>
            <tr id="issuerow28327" rel="28327" data-issuekey="ID-861" class="issuerow">
                <td class="issuetype"> New Feature
                </td>
                <td class="issuekey">
                    ID-861
                </td>
                <td class="customfield_11004"> Initial version of a GIT storage; commit and simple push; ability to read
                    versioned objects
                </td>
            </tr>
            <tr id="issuerow28505" rel="28505" data-issuekey="ID-960" class="issuerow">
                <td class="issuetype"> New Feature
                </td>
                <td class="issuekey">
                    ID-960
                </td>
                <td class="customfield_11004"> ACL annotations. Auto-generated ACL permission table with enhanced
                    descriptions and examples.
                </td>
            </tr>
            <tr id="issuerow28755" rel="28755" data-issuekey="ID-1082" class="issuerow">
                <td class="issuetype"> New Feature
                </td>
                <td class="issuekey">
                    ID-1082
                </td>
                <td class="customfield_11004"> A lightweight event-system to update html nodes and (re)render parameterized
                    html template elements without reloading the entire page
                </td>
            </tr>


            <tr id="issuerow28747" rel="28747" data-issuekey="ID-1078" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
                    ID-1078
                </td>
                <td class="customfield_11004"> Tree Component: Unify context in tupleTemplate and allow direct access to
                    bindings. Deprecate {{data.bindingName}} syntax.
                </td>
            </tr>
            <tr id="issuerow28895" rel="28895" data-issuekey="ID-1131" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
                    ID-1131
                </td>
                <td class="customfield_11004"> Timeline component to support automatic detection of xsd:time and
                    xsd:dateTime data values. Make other non-proprietary data/time format parsing configurable.
                </td>
            </tr>
            <tr id="issuerow29018" rel="29018" data-issuekey="ID-1189" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
                    ID-1189
                </td>
                <td class="customfield_11004"> Simplified repository turtle templates; remove proprietary template syntax;
                    add comments/examples
                </td>
            </tr>
            <tr id="issuerow29003" rel="29003" data-issuekey="ID-1180" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
                    ID-1180
                </td>
                <td class="customfield_11004"> S3 Storage: Improved documentation to work with assumeRole instead of
                    key/secrets
                </td>
            </tr>
            <tr id="issuerow28711" rel="28711" data-issuekey="ID-1059" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
                    ID-1059
                </td>
                <td class="customfield_11004"> New input element for forms: Boolean Checkbox
                </td>
            </tr>
            <tr id="issuerow17400" rel="17400" data-issuekey="ID-251" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
                    ID-251
                </td>
                <td class="customfield_11004"> Generic mechanism to hook-in validation functions on setting configuration
                    properties. Initial validations for templateIncludeQuery, preferredLabels and preferredThumbnails
                    properties. Invalidate all caches after setting any configuration property.
                </td>
            </tr>
            <tr id="issuerow28872" rel="28872" data-issuekey="ID-1124" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
                    ID-1124
                </td>
                <td class="customfield_11004"> Documentation: Simplified and streamlined docker and docker-compose
                    installation instruction
                </td>
            </tr>
            <tr id="issuerow28930" rel="28930" data-issuekey="ID-1145" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
                    ID-1145
                </td>
                <td class="customfield_11004"> Documentation: Remove inconsistent Help:DocumentationOverview and
                    respectively all links in help breadcrumbs
                </td>
            </tr>
            <tr id="issuerow28768" rel="28768" data-issuekey="ID-1093" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
                    ID-1093
                </td>
                <td class="customfield_11004"> Documentation: Help page for platform operations and troubleshooting
                </td>
            </tr>
            <tr id="issuerow28710" rel="28710" data-issuekey="ID-1058" class="issuerow">
                <td class="issuetype"> Improvement
                </td>
                <td class="issuekey">
										ID-1058
                </td>
                <td class="customfield_11004"> Documentation: Help page for Data Quality / SHACL features
                </td>
            </tr>
            <tr id="issuerow28889" rel="28889" data-issuekey="ID-1127" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1127
                </td>
                <td class="customfield_11004"> FIXED: Successful login may open (external) referral page
                </td>
            </tr>
            <tr id="issuerow28909" rel="28909" data-issuekey="ID-1134" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1134
                </td>
                <td class="customfield_11004"> FIXED: Sputniq fails to render diagrams due to JSON-LD dependency (v1.6.2)
                </td>
            </tr>
            <tr id="issuerow28945" rel="28945" data-issuekey="ID-1150" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1150
                </td>
                <td class="customfield_11004"> FIXED: Semantic Search Framework facet breadcrumbs do not display literals of
                    disjunct type
                </td>
            </tr>
            <tr id="issuerow28906" rel="28906" data-issuekey="ID-1132" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1132
                </td>
                <td class="customfield_11004"> FIXED: OverlaySystem and NotificationSystem do not initialize in PageRenderer
                    component
                </td>
            </tr>


            <tr id="issuerow28894" rel="28894" data-issuekey="ID-1130" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1130
                </td>
                <td class="customfield_11004"> FIXED: Loading LDP artefacts from apps may hang for diagrams due to rdf4j
                    (https://github.com/eclipse/rdf4j/issues/1441). Introduce a more performant heuristic to check
                    isomorphism.
                </td>
            </tr>

            <tr id="issuerow29073" rel="29073" data-issuekey="ID-1224" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1224
                </td>
                <td class="customfield_11004"> FIXED: Loading/validation of LDP assets from app storages fails with Blazegraph
                    due to different xsd:dateTime / xsd:double serialisations
                </td>
            </tr>

            <tr id="issuerow28982" rel="28982" data-issuekey="ID-1164" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1164
                </td>
                <td class="customfield_11004"> FIXED: Key construction for template elements, which leads to issues in
                    nested templates.
                </td>
            </tr>


            <tr id="issuerow29000" rel="29000" data-issuekey="ID-1177" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1177
                </td>
                <td class="customfield_11004"> FIXED: Ephedra REST wrapping Sail sends duplicated custom headers
                </td>
            </tr>
            <tr id="issuerow28823" rel="28823" data-issuekey="ID-1109" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1109
                </td>
                <td class="customfield_11004"> FIXED: Default guest role is missing ACL permission to read the homePage
                    property and breaks home link in breadcrumbs.
                </td>
            </tr>
            <tr id="issuerow28914" rel="28914" data-issuekey="ID-1136" class="issuerow">
                <td class="issuetype"> Bug
                </td>
                <td class="issuekey">
                    ID-1136
                </td>
                <td class="customfield_11004"> FIXED: Admin File Uploads to S3 end up in an artificial subfolder without
                    name
                </td>
            </tr>
        </tbody>
    </table>
		<h3>Breaking Changes</h3>
    
    <p>No breaking changes in 3.1.0</p>
    
    <h2>3.0.0</h2>
    <hr>
    <h3>Highlights</h3>
    <p>
      <h4>Enhanced usability, visualization, and diagramming functionalities</h4>  
     	<ul>
        <li>Native integration of GraphScope into the search framework</li> 
        <li>Close integration of Sputniq Explorer (former Ontodia)</li>
        <li>Sputniq Explorer RelationshipFinder integration to allow for automatic and visual expansion of paths between nodes in a graph</li>
        <li>Bird's-eye view with Sputniq Explorer</li>
        <li>Beta support for visual graph authoring with Sputniq Explorer</li> 
        <li>Easier and non-disruptive configuration of federation on multiple data sources, incl. Ephedra configuration UI, runtime repository and federation changes, support for Bearer-token authentication, and timeout handling in Ephedra SQL service</li>
    	</ul>
      <h4>Ability to distribute, back up and manage platform customizations </h4> 
    	<ul>
        <li>Enhanced app deployment functionalities, incl. full-app lifecycle, non-binary persistency, and deployment of all app artefacts</li>
        <li>Clear separation of default, runtime, and domain-specific artefacts</li>
        <li>Support for ZIP exports of all runtime configurations</li>
        <li>Initial support for file-based volumes and object storages (Amazon S3) </li>
        <li>Ability to serve app contents from Amazon S3</li>
      </ul>
      <h4>Other enhancements </h4>
      <ul>
        <li>Improved platform lifecycle management to allow for seamless updates</li>
        <li>Enhanced access-control management, incl. fine-granular ACLs for pages and support for permissions on individual SPARQL repositories</li>
        <li>Improved visualization options through additional handlebar.js helper functions for number formatting, as well as documentation and examples for more sophisticated chart styling</li>
        <li>Ability to upload files in forms and to runtime app storages (beta version)</li>
      </ul>
    </p>
    <h3>Breaking Changes</h3>
    <h4>Platform Lifecycle</h4>
    <p>
      In <i>metaphactory 3.0.0</i> the default location for persisting configuration- and template files to the file system has changed. Both folders <code>/data</code> and <code>/config</code> have been moved to a single folder <code>/runtime-data</code>, which is located in the root of the platform's workspace (i.e. absolute <code>/runtime-data</code> in the docker container). In the docker distribution <code>/runtime-data</code> is declared as a volume, i.e. will persist even if the metaphactory container is removed. The basic folder- and file structure within <code>/runtime-data/data</code> and <code>/runtime-data/config</code> remains.
   </p>
    <p>
      At the platform's inital start <code>/runtime-data</code> will be empty, except for a single file <code>/runtime-data/config/shiro.ini</code>, which is the default security configuration file. All other default files and configurations are now binary bundled. This means that if you make additions or changes to your metaphactory instance during runtime, those additions or changes will appear in isolation in the <code>/runtime-data</code> folders and selectively shadow the defaults, i.e. files won't physically be mixed with metaphactory's default settings as in the previous versions.
    </p>
   <p>
     Some folders in the basic app structure have been deprecated and simplified. This affects in particular the <code>/images</code> and <code>/resources</code> folder. metaphactory will create a so called "fallback" storage to maintain downward compatibility with your old apps. However, with migrating to 3.0.0 it is strongly recommended to move these folders to the new location (see <semantic-link title="Documentation" iri="[[resolvePrefix "Help:Apps"]]">Help:Apps</semantic-link> for details), since the "fallback" storages will blow-up the storage list artificially.
    </p>

    <p>
      For migrating artefacts from old metaphactory installations (&#60;= 2.4.0), it is highly recommended to extract / copy only your customizations and to <b>NOT</b> simply copy/move the entire <code>/data</code> and <code>/config</code> folders from your old to the new installation.<br>
      You may run, for example, <code>find /data/templates /config  -newermt "Dec 11, 2017" | zip extract.zip -@</code> to extract all changed files after a certain date (typically the date of the deployment, i.e. run <code>ls -all /data/templates</code> to see all files and modification dates) into a zip file. It is recommended to clean this initial extract, i.e. to reduce, for example, the entries in <code>/config/namespaces.prop</code> to your domain / use-case specific entries to not shadow any defaults.<br>
      LDP assets (for example, queries or fields) from your old installation can be exported using the <semantic-link title="LDP" iri='[[resolvePrefix "Platform:rootContainer"]]'>the LDP Container export</semantic-link>. Importing the container into the new installation through the LDP admin interface will save these LDP artefacts as *.trig files to the <code>/runtime-data/ldp</code> folder, i.e. they become part of the runtime app and can be extracted / ported to other installations as all other app artefacts.
    </p>
    
    <h4>Ephedra Configuration Namespaces</h4>
    <p>In <i>metaphactory 3.0.0</i> the namespaces used in the configurations of Ephedra services and repositories have been unified. For this reason, the configuration files used in v2.3.x - v2.4.0 have to be modified as well. In particular, the changes are the following:</p>
    <ol>
      <li><b>Repository configuration files of REST API wrappers:</b> <code>PREFIX service: &lt;http://www.metaphacts.com/ontologies/platform/repository/service#&gt;</code> & <code>PREFIX eph: &lt;http://www.metaphacts.com/ontologies/platform/service#&gt;</code>   &#8594; <code>PREFIX ephedra: &lt;http://www.metaphacts.com/ontologies/platform/ephedra#&gt;</code>. This concerns the following properties <code>hasSPARQLPattern</code> <code>serviceURL</code>,<code>implementsService</code>, <code>httpMethod</code>, and <code>httpHeader</code> (together with its <code>name</code> and <code>value</code> statements). </li>
      <li><b>Ephedra service configuration files:</b> <code>&lt;http://www.metaphacts.com/ontologies/platform/service#&gt;</code> &#8594; <code>&lt;http://www.metaphacts.com/ontologies/platform/ephedra#&gt;</code>. This concerns in particular the class <code>Service</code> and properties <code>hasSPARQLPattern</code> and <code>jsonPath</code>.</li>
      <li><b>Repository configuration file of Ephedra:</b> Some of the properties originally defined in the general platform repository namespace (<code>&lt;http://www.metaphacts.com/ontologies/platform/repository#&gt;</code>) have been moved to the Ephedra configuration ontology namespace: <code>&lt;http://www.metaphacts.com/ontologies/platform/ephedra#&gt;</code>. In particular, this concerns such properties as <code>defaultMember</code>,<code>delegateRepositoryId</code>, <code>serviceReference</code> used in the configurations of the Ephedra federation repository (and other wrapper repositories, e.g., Virtuoso keyword search).</li>
    </ol>
    <p>The corresponding properties and entities must be updated to the new namespace in existing Ephedra service descriptors and repository configs.</p>
  </div>
</div>
