<mp-splitpane dock=true nav-height=96 min-size=37 default-size=300 default-open='false' fixed-key='clipboard-sidebar'>
  <div data-flex-layout='column top-stretch' style="background: transparent;">
    <mp-splitpane-toggle-on>
      <button style="border: none; outline: none; width: 100%; position:absolute; top:40%; left: -54px;" 
      class="rs-button rs-drawer rs-h2">[[i18n "clipboard" locale=(urlParam "preferredLanguage")]]</button>
    </mp-splitpane-toggle-on>
    <mp-splitpane-toggle-off>
      <div class="split-pane__leftsidebar-header">
        <button data-flex-layout='layout="row center-left' style="border: none; width: 100%; padding: 24px 24px 16px 24px;">
          <div class="split-pane__leftsidebar-title"><h1 style="margin:0px;">[[i18n "clipboard" locale=(urlParam "preferredLanguage")]]</h1></div>
          <div class="fa fa-angle-left" style="font-size: 20px; margin-left: auto; color: #696969;" aria-hidden="true"></div>
        </button>
      </div>
    </mp-splitpane-toggle-off>
    <mp-splitpane-sidebar-open style='display: flex; flex-direction: column; flex: auto;' fixed-key='clipboard-sidebar-open-area'>
      [[> :Clipboard id="clipboard-sidebar" defaultViewMode="grid"]]
    </mp-splitpane-sidebar-open>
  </div>

  <div>
    [[> @partial-block ]]
  </div>
</mp-splitpane>
