[[#if (hasPermission "api:config")]]

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li><semantic-link title="Assets" uri="http://www.metaphacts.com/resource/assets/">Assets</semantic-link></li>
  <li><semantic-link title="Assets" uri="http://www.metaphacts.com/resource/assets/Fields">Fields</semantic-link></li>
  <li class="active">New Field</li>
</ol>

<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-list-ul fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>New Field</h2>
    </div>
  </div>
  <div class='page__body'> 
    <field-editor></field-editor>
  </div>
</div>
[[else]]

<p>No Permission</p>

[[/if]]