<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    Example Resources
  </li>
</ol>

<div class="page rs-page">
  [[!-- [[>rsp:ClipboardSidebar]] --]]
  [[#>rsp:ClipboardSidebar]]
  <div class="page__header page__header--no-image">
    <h2><i class="fa fa-eye" style="margin-right:4px;"></i> Example Resources</h2>
  </div>
  <div class='page__body--borderless page__discover-examples'>
    <i class='fa fa-pencil'></i>
    <mp-link title="Narratives" url="/rsp:ExampleNarratives">
      <h3 style='display:inline;margin-left:12px;'>Narratives <small style="margin-left:12px">Data-driven research documents. A login is required to create new narratives.</small></h3>
    </mp-link>
    <hr>
    <i class='fa fa-link'></i>
    <mp-link title="Connections" url="/rsp:ExampleConnections">
      <h3 style='display:inline;margin-left:12px;'>Connections <small style="margin-left:12px">Diagrams which reveal the semantic relations between entities and properties. A login is required to save new diagrams.</small></h3>
    </mp-link>
    <hr>
    <i class='fa fa-image'></i>
    <mp-link title="Images" url="/rsp:ExampleImages">
      <h3 style='display:inline;margin-left:12px;'>Images <small style="margin-left:12px">Hi-resolution images with options for comparison and annotation. A login is required for image upload and annotation.</small></h3>
    </mp-link>
    <hr>
    <i class='fa fa-file-text-o'></i>
    <mp-link title="Records" url="/rsp:ExampleRecords">
      <h3 style='display:inline;margin-left:12px;'>Records <small style="margin-left:12px">Detailed listings of data associated with entities.</small></h3>
    </mp-link>
    <hr>
    <i class='fa fa-search'></i>
    <mp-link title="Searches" url="/rsp:ExampleSearches">
      <h3 style='display:inline;margin-left:12px;'>Searches <small style="margin-left:12px">Examples of ResearchSpace's semantic search tool. A login is required to save searches.</small></h3>
    </mp-link>
    <hr>
  </div>
  [[/rsp:ClipboardSidebar]]
</div>
