<bs-tab-container class="rs-page__navtabs--subtabs" default-active-key="summary">
  <bs-row>
    <bs-col>

      <div>
        <bs-tab-content>
          <bs-tab-pane unmount-on-exit="true" event-key="summary">
            <div class="rs-page__tab-content" data-flex-layout="row-top-left">

                <div class="rs-page__summary-sidebar [[>rsp:LayoutSidebarImagesOffset]]">
                  <rs-object-representations query='SELECT (bound(?mainRepresentationImage) AS ?isMainRep) (STR(COALESCE(?mainRepresentationImage,?representationImage)) AS ?imgURL)
                   WHERE {
                     {
                       ?? rso:PX_has_main_representation ?mainRepresentationImage .
                     }
                     UNION {
                       ?? crm:P138i_has_representation ?representationImage .
                     }
                   }'
                   template='<img class="object-representations__image--rep" src="{{imgURL.value}}"/>'
                  >
                  </rs-object-representations>
                </div><!--summary-sidebar-->

                <div class="rs-page__summary-main" data-flex-self="size-x1">
                  <div class="table-responsive" data-flex-self="size-x1">
                    <table class="metaphacts-table-widget-holder rs-page__object-summary table">
                      <thead role="header">
                        <tr>
                          <th>Field</th>
                          <th>Value</th>
                          <th class="center"><div class="rs-page__icon--annotation fa fa-pencil"></div>Annotations</th>
                          <th class="center"><div class="rs-page__icon--assertion"></div>Assertions</th>
                        </tr>
                      </thead>
                      <tbody>

                        <!-- Title -->
                        <tr class="rs-page__field">
                          <td><span class="rs-page__field-label">Title</span></td>
                          <td>
                            <div class="rs-page__field-values">
                              <semantic-query data-query='SELECT DISTINCT ?label
                              WHERE {
                                ?? rdfs:label ?label .
                                } LIMIT 1'
                                data-template='{{#each bindings}}<div class="rs-page__field-value">{{label.value}}</div>{{/each}}'>
                              </semantic-query>
                            </div>
                          </td>
                          <td class="center"><div class="rs-page__count--field-annotation"><span class="badge">0</span></div></td>
                          <td class="center"><div class="rs-page__count--field-assertion"><span class="badge">0</span></div></td>
                        </tr>

                        <!-- Event Start -->
                        [[#if (ask 'ASK { ?? crm:P4_has_time-span / crm:P82a_begin_of_the_begin ?begin . }')]]
                        <tr class="rs-page__field">
                          <td><span class="rs-page__field-label">Event start</span></td>
                          <td>
                            <div class="rs-page__field-values">
                              <semantic-query data-query='SELECT ?begin
                                WHERE { ?? crm:P4_has_time-span / crm:P82a_begin_of_the_begin ?begin .
                                }'
                                data-template='{{#each bindings}}<div class="rs-page__field-value">{{begin.value}}</div>{{/each}}'>
                              </semantic-query>
                            </div>
                          </td>
                          <td class="center"><div class="rs-page__count--field-annotation"><span class="badge">0</span></div></td>
                          <td class="center"><div class="rs-page__count--field-assertion"><span class="badge">0</span></div></td>
                        </tr>
                        [[/if]]

                        <!-- Event End -->
                        [[#if (ask 'ASK { ?? crm:P4_has_time-span / crm:P82b_end_of_the_end ?end . }')]]
                        <tr class="rs-page__field">
                          <td><span class="rs-page__field-label">Event end</span></td>
                          <td>
                            <div class="rs-page__field-values">
                              <semantic-query data-query='SELECT ?end
                                WHERE { ?? crm:P4_has_time-span / crm:P82b_end_of_the_end ?end .
                                }'
                                data-template='{{#each bindings}}<div class="rs-page__field-value">{{end.value}}</div>{{/each}}'>
                              </semantic-query>
                            </div>
                          </td>
                          <td class="center"><div class="rs-page__count--field-annotation"><span class="badge">0</span></div></td>
                          <td class="center"><div class="rs-page__count--field-assertion"><span class="badge">0</span></div></td>
                        </tr>
                        [[/if]]

                        <!-- Event Time Span -->
                        [[#if (ask 'ASK { ?? crm:P4_has_time-span / rso:displayLabel ?label . }')]]
                        <tr class="rs-page__field">
                          <td><span class="rs-page__field-label">Event time span</span></td>
                          <td>
                            <div class="rs-page__field-values">
                              <semantic-query data-query='SELECT ?label
                                WHERE { ?? crm:P4_has_time-span / rso:displayLabel ?label .
                                }'
                                data-template='{{#each bindings}}<div class="rs-page__field-value">{{label.value}}</div>{{/each}}'>
                              </semantic-query>
                            </div>
                          </td>
                          <td class="center"><div class="rs-page__count--field-annotation"><span class="badge">0</span></div></td>
                          <td class="center"><div class="rs-page__count--field-assertion"><span class="badge">0</span></div></td>
                        </tr>
                        [[/if]]

                      </tbody>
                    </table>
                  </div>
                </div><!--summary-main-->

            </div><!--tab-content-->
          </bs-tab-pane>

          <bs-tab-pane unmount-on-exit="true" event-key="all-properties">
            <div class="rs-page__tab-content">
              <div class="row">

                  <semantic-query data-query=' SELECT (COUNT(*) AS ?count) WHERE {
                            ?? ?p ?o .
                         }'
                         data-template='{{#each bindings}}<div class="properties-total">{{count.value}} properties</div>{{/each}}'>
                  </semantic-query>
                  <semantic-table config='{
                    "query":"
                        SELECT ?pString (STR(?o) AS ?oString) WHERE {
                            ?? ?p ?o .
                            OPTIONAL {
                              ?p (rdfs:label | rso:displayLabel) ?label
                            }
                            BIND ( COALESCE( CONCAT(\" (\", ?label, \")\"), \"\") AS ?labelStr) .
                            BIND ( CONCAT(STR(?p), ?labelStr) as ?pString )
                         } ORDER BY ASC(?pString)
                     ",
                     "columnConfiguration" : [
                          {"variableName":"pString", "displayName":"Property"},
                          {"variableName":"oString", "displayName":"Value", "cellTemplate": "<div class=\"style--readable\">{{oString.value}}</div>"}
                     ],
                     "layout":{
                       "tupleTemplate": null,
                       "options":{
                          "showFilter": true,
                          "resultsPerPage": 50
                       }
                      }
                    }'>
                  </semantic-table>

              </div><!--row-->
            </div><!--tab-content-->
          </bs-tab-pane>

        </bs-tab-content>
      </div><!--summary-->

      <bs-nav bs-style="tabs">
        <bs-nav-item event-key="all-properties">
          All properties
        </bs-nav-item>
        <bs-nav-item event-key="summary">
          Event summary
        </bs-nav-item>
      </bs-nav>

    </bs-col>
  </bs-row>
</bs-tab-container>
