<mp-selection-action-choice id='Action' title='With selected ...' selection='[[selection]]'>
  <rs-iiif-overlay-action [[> rsp:IIIFConfig]] repositories='["default", "assets"]'></rs-iiif-overlay-action>
  <rs-iiif-side-by-side-action [[> rsp:IIIFConfig]] repositories='["default", "assets"]'></rs-iiif-side-by-side-action>
  <mp-create-set-action></mp-create-set-action>
  <rs-simple-assertion value-template='[[> rsp:FieldValueVisualization]]' form-template='[[> rsp:AssertionFormTemplate]]'></rs-simple-assertion>
</mp-selection-action-choice>
