<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li>
    <semantic-link uri='http://www.researchspace.org/resource/FieldCatalog'>
      Field Definition Catalog
    </semantic-link>
  </li>
  <li class="active">
    New Field Definition
  </li>
</ol>

[[#if (hasPermission "api:config")]]

<div class="page rs-page">
[[#>rsp:ClipboardSidebar]]

  <div class="page__header page__header--no-image">
    <h2>New Field Definition</h2>
  </div>

  <div class='page__body--borderless'>
    <bs-row>
      <bs-col sm=8>
        <field-editor field-instance-base-iri="http://www.researchspace.org/instances/fields/"></field-editor>
      </bs-col>
    </bs-row>
  </div>
  [[/rsp:ClipboardSidebar]]
</div>

[[else]]

<p>No Permission</p>

[[/if]]
