<ol class="page-breadcrumb rs-breadcrumb">
    <li class="rs-body-s-B">
      <mp-link title="Home" url="resource/Start">[[i18n "home" locale=(urlParam "preferredLanguage")]]</mp-link>
    </li>
    <li class="active rs-body-s-M">[[i18n "semanticNarratives" locale=(urlParam "preferredLanguage")]]</li>
</ol>

<div class="page">

[[#>:ClipboardSidebar]]
  
  [[> :assetpageHeader title=(i18n "semanticNarratives" locale=(urlParam "preferredLanguage")) icon="fa-file-text-o"]]
  
  <div class="container-fluid">
        <bs-row class="row-center">
            <bs-col xs=11 sm=10 md=10 lg=8>
  
          		<semantic-context repository='assets'>
            		<semantic-table config='{
                "query": "SELECT * WHERE {
                          ?page a <http://www.researchspace.org/ontology/UserDefinedPage> ;
                             rdfs:label ?label ;
                             <http://www.w3.org/ns/prov#generatedAtTime> ?time ;
                             <http://www.w3.org/ns/prov#wasAttributedTo> ?__useruri__ ;
                                        <http://www.w3.org/ns/prov#wasAttributedTo> ?user
                        }",
                "columnConfiguration": [{
                                          "variableName": "page",
                                          "displayName": "Title",
                                          "cellTemplate": "<mp-draggable iri=\"{{page.value}}\"><span>
                                            <semantic-link uri=\"{{page.value}}\">{{label.value}}</semantic-link>
                                          </span></mp-draggable>"
                                        },
                                        
                                         {"variableName": "user", 
                                          "displayName": "User", 
                                          "cellTemplate": "<div><i class=\"fa fa-user\" style=\"margin-right: 10px\"></i>
                                          <semantic-link class=\"rs-dashboard--a\" uri=\"{{user.value}}\" target=\"_blank\"></semantic-link></div>" 
                                        },
                                        
                                        {
                                          "variableName": "time",
                                          "displayName": "Modified",
                                          "cellTemplate":"{{dateTimeFormat time.value \"LLL\"}}"
                                        },
                                        
                                        {"displayName":"Actions", "cellTemplate": "<div>
                                            <mp-ldp-duplicate-resource-action iri=\"{{page.value}}\">
                                              <button class=\"btn btn-xs btn-default\" style=\"margin-right:8px;\"><i class=\"fa fa-files-o\" aria-hidden=\"true\"></i> Duplicate</button>
                                            </mp-ldp-duplicate-resource-action>
                                            <mp-anonymous-hidden>
                                              <mp-ldp-remove-from-container-action data-iri=\"{{page.value}}\" data-container=\"http://www.researchspace.org/ontology/UserDefinedPage\">
                                                <button class=\"btn btn-xs btn-danger\" style=\"margin-right:8px;\"><i class=\"fa fa-trash\" aria-hidden=\"true\"></i> Delete</button>
                                              </mp-ldp-remove-from-container-action>
                                            </mp-anonymous-hidden>
                                          </div>"} 
                                     ]}'>
                            
                            
               	</semantic-table>
            </semantic-context>
              
              <mp-anonymous-hidden>
            <div style="margin: 24px 0">
              <img class="rs-ds-icon" src="/images/icons/narrative.svg" style="margin-right:8px; height:22px;">
           <!--   <i class="fa fa-file-text-o" style="margin-right:6px;"></i> -->
              <semantic-link uri="http://www.hercules.gouv.qc.ca/resource/UDPForm" urlqueryparam-back="[[this]]">
                <strong>[[i18n "createNewNarrative" locale=(urlParam "preferredLanguage")]]</strong>
              </semantic-link>
            </div>
          </mp-anonymous-hidden>
              
             </bs-col>   
        </bs-row> <!--  close row -->
    </div>
        
  [[/:ClipboardSidebar]]
</div>
