<div>
<semantic-context repository="assets">
<mp-ldp-create-new-resource-action 
    container="http://www.researchspace.org/ontology/Propositions.Container"   type="http://www.w3.org/ns/ldp#Resource">
    <button>Create Proposition</button>
  </mp-ldp-create-new-resource-action>
  </semantic-context>


<semantic-context repository="assets">
    <mp-ldp-create-new-resource-action 
    container="http://www.researchspace.org/ontology/Assertions.Container"   type="http://www.w3.org/ns/ldp#Resource">
    <button>Create Assertion</button>
  </mp-ldp-create-new-resource-action>
    </semantic-context>

  <semantic-context repository="assets">
    <mp-ldp-create-new-resource-action 
    container="http://www.researchspace.org/ontology/Arguments.Container"   type="http://www.w3.org/ns/ldp#Resource">
    <button>Create Argument</button>
  </mp-ldp-create-new-resource-action>
  </semantic-context>
  
  
  <semantic-context repository="assets">
    <mp-ldp-create-new-resource-action 
    container="http://www.metaphacts.com/ontologies/platform#fieldDefinitionContainer"   type="http://www.w3.org/ns/ldp#Resource">
    <button>Create Field Definition Container</button>
  </mp-ldp-create-new-resource-action>
  </semantic-context>
</div>