<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <mp-link title="Example Resources" url="rsp:ExampleResources">Example Resources</mp-link>
  </li>
  <li class="active">
    Example Records
  </li>
</ol>

<div class="page rs-page">
  [[!-- [[>rsp:ClipboardSidebar]] --]]
  [[#>rsp:ClipboardSidebar]]
  <div class="page__header page__header--no-image">
    <h2><i class="fa fa-file-text-o" style="margin-right:4px;"></i> Example Records</h2>
  </div>
  <div class='page__body--borderless page__discover-examples'>
    <h3>Things</h3>
    <div class="container">
      <bs-row>
        <bs-col>
          <semantic-carousel config='{
              "query":"SELECT ?title ?thumbnail ?description ?link WHERE {
              VALUES (?title ?thumbnail ?description ?link){
                  (\"The Portland Vase Disc\" \"/images/discover/AN00530490_001_l.jpg\" \"A disc in translucent blue and opaque white cameo glass. The decoration, in white, shows the upper part of a young man in profile, gazing to the right.\" \"Search?semanticSearch=N4IgziBcoCYPZRAJzJAKgCwJYDsDmIANCAMZQDaoALgKZShICGiK6NAHlUSDBSABTssANwAEcJKPbCAlKMY4YogDZwArlggBdAL7E1OLAEc1NAJK9IABh27iAMwpbiSGmDXKu0PT0ZVGYDRUEJDkziCMylh4OAC2NDheoGiIACJ%2BjAB0ALKMAJ4ARnTEAGr0OhVAA\")
                  (\"Gold Cased Pocket Watch\" \"/images/discover/AN00234514_001_l.jpg\" \"18ct gold open-face case with an inscription on the inner dome and a monogram on the back.\" \"Search?semanticSearch=N4IgziBcoCYPZRAJzJAKgCwJYDsDmIANCAMZQDaoALgKZShICGiK6NAHlUSDBSABTssANwAEcJKPbCAlKMY4YogDZwArlggBdAL7E1OLAEc1NAJK9IABh27iAMwpbiSGmDXKu0PT0ZVGYDRUEJDkziCMylh4OAC2NDheoGiIACJ%2BjAB0ALKMAJ4ARnTEAGr0OhVAA\")
                  (\"Wooden Naos Door\" \"/images/discover/AN00092311_001_l.jpg\" \"Beneath a winged sun-disc, Darius I (521-486 BC) is depicted as pharaoh, offering to the jackal-headed god Anubis. The goddess Isis stands behind, shown wearing cow-horns.\" \"Search?semanticSearch=N4IgziBcoCYPZRAJzJAKgCwJYDsDmIANCAMZQDaoALgKZShICGiK6NAHlUSDBSABTssANwAEcJKPbCAlKMY4YogDZwArlggBdAL7E1OLAEc1NAJK9IABh27iAMwpbiSGmDXKu0PT0ZVGYDRUEJDkziCMylh4OAC2NDheoGiIACJ%2BjAB0ALKMAJ4ARnTEAGr0OhVAA\")
                  (\"Coronation Medal\" \"/images/discover/AN00092311_001_l.jpg\" \"Coronation medal of Ghazi ud Din Haidar.\" \"Search?semanticSearch=N4IgziBcoCYPZRAJzJAKgCwJYDsDmIANCAMZQDaoALgKZShICGiK6NAHlUSDBSABTssANwAEcJKPbCAlKMY4YogDZwArlggBdAL7E1OLAEc1NAJK9IABh27iAMwpbiSGmDXKu0PT0ZVGYDRUEJDkziCMylh4OAC2NDheoGiIACJ%2BjAB0ALKMAJ4ARnTEAGr0OhVAA\")
                  (\"Crater of Vesuvius\" \"/images/discover/AN00092311_001_l.jpg\" \"Crater of Vesuvius; a near view of the crater of the volcano, three men looking over the edge of it at left, and another at right. 1778
 Watercolour.\" \"Search?semanticSearch=N4IgziBcoCYPZRAJzJAKgCwJYDsDmIANCAMZQDaoALgKZShICGiK6NAHlUSDBSABTssANwAEcJKPbCAlKMY4YogDZwArlggBdAL7E1OLAEc1NAJK9IABh27iAMwpbiSGmDXKu0PT0ZVGYDRUEJDkziCMylh4OAC2NDheoGiIACJ%2BjAB0ALKMAJ4ARnTEAGr0OhVAA\")
                }
              }",
              "layout":{
                "options":{"slidesToShow": 3, "autoplay": false, "autoplaySpeed": 5000, "speed": 600},
                "tupleTemplate":"<div class=\"text-center\" style=\"border:none; margin-right:20px; height:340px;\">
                        <div class=\"panel-body\" data-flex-layout=\"row top-center\">
                          <div>
                            <mp-link url=\"{{link.value}}\">
                              <img src=\"{{thumbnail.value}}\" style=\"max-height:160px; max-width:160px; margin: 0 auto;\" class=\"img-rounded\">
                            </mp-link>
                          </div>
                          <div style=\"text-align: left;\">
                            <mp-link url=\"{{link.value}}\">
                              <h4>{{title.value}}</h4>
                            </mp-link>
                            <p class=\"style--readable\">{{description.value}}</p>
                          </div>
                        </div>
                      </div>"
                }
               }'>
          </semantic-carousel>
        </bs-col>
      </bs-row>
    </div>
    <hr>
    <h3>Actors</h3>
    <div class="container">
      <bs-row>
        <bs-col>
          <semantic-carousel config='{
              "query":"SELECT ?title ?thumbnail ?description ?link WHERE {
              VALUES (?title ?thumbnail ?description ?link){
                  (\"Charles Darwin\" \"/images/discover/darwin.jpg\" \"Charles Darwin\" \"http://collection.britishmuseum.org/id/person-institution/122654\")
                  (\"Marie Curie\" \"/images/discover/curie.jpg\" \"Marie Curie\" \"http://collection.britishmuseum.org/id/person-institution/146156\")
                  (\"Frank Lloyd Wright\" \"/images/discover/lloyd-wright.jpg\" \"Frank Lloyd Wright\" \"http://collection.britishmuseum.org/id/person-institution/81728\")
                  (\"Ada Lovelace\" \"/images/discover/lovelace.jpg\" \"Ada Lovelace\" \"http://collection.britishmuseum.org/id/person-institution/154415\")
                 }
              }",
              "layout":{
                "options":{"slidesToShow": 3, "autoplay": false, "autoplaySpeed": 5000, "speed": 800},
                "tupleTemplate":"<div class=\"text-center\" style=\"border:none; margin-right:20px; height:340px;\">
                        <div class=\"panel-body\" data-flex-layout=\"row top-center\">
                          <div>
                            <semantic-link uri=\"{{link.value}}\">
                              <img src=\"{{thumbnail.value}}\" style=\"max-height:160px; max-width:160px; margin: 0 auto;\" class=\"img-rounded\">
                            </semantic-link>
                          </div>
                          <div style=\"text-align: left;\">
                            <semantic-link uri=\"{{link.value}}\">
                              <h4>{{title.value}}</h4>
                            </semantic-link>
                            <p class=\"style--readable\">{{description.value}}</p>
                          </div>
                        </div>
                      </div>"
                }
               }'>
          </semantic-carousel>
        </bs-col>
      </bs-row>
    </div>
    <hr>
  </div>
  [[/rsp:ClipboardSidebar]]
</div>
