First, please download the <a href="/metaphacts/samples/sample.ttl">sample data</a> and additional <a href="/metaphacts/samples/sample-search.ttl">sample data for search</a> (simple right click and save as).
You can now load these data files into the backing store via the 
<semantic-link uri="[[resolvePrefix "Admin:DataImportExport"]]"> data import and export</semantic-link> administration page. 

<div>
  [[#if (ask "ASK {  <http://example.org/bob#me> a <http://xmlns.com/foaf/0.1/Person>  }") ]] 
  <span style="color:green;font-weight: bold; ">Check: It seems that you have already correctly loaded the sample data.</span>
  [[else]]
  <span style="color:red;font-weight: bold; ">Check: It seems that you have not yet loaded the sample data.</span>
  [[/if]]
</div>
<div>
  [[#if (ask "ASK {  <http://example.org/alice#me> a <http://xmlns.com/foaf/0.1/Person>  }") ]] 
  <span style="color:green;font-weight: bold; ">Check: It seems that you have already correctly loaded the sample data for search.</span>
  [[else]]
  <span style="color:red;font-weight: bold; ">Check: It seems that you have not yet loaded the sample data for search.</span>
  [[/if]]
</div>
<br/>