<div>
  <p>Set: <semantic-link uri="{{iri.value}}"></semantic-link><p>
  <semantic-table
                query='
                  select ?iri where {
                    <{{iri.value}}> a <http://www.metaphacts.com/ontologies/platform#Set> ;
                    <http://www.w3.org/ns/ldp#contains> ?item .
                    ?item <http://www.metaphacts.com/ontologies/platform#setItem> ?iri .
                    OPTIONAL {
                      ?item <http://www.metaphacts.com/ontologies/platform#setItemIndex> ?index .
                      ?item prov:generatedAtTime ?modificationDate .
                    }
                  } ORDER BY ?index DESC(?modificationDate) 
                '
                tuple-template='{{> rsp:ItemCard}}'
                options='{"showFilter":false}'
                >
	</semantic-table>
</div>