<ol class="page-breadcrumb">
  <li><mp-link title="Home" url="/">Home</mp-link></li>
  <li>
    <semantic-link uri="http://www.researchspace.org/resource/MyPages">My Pages</semantic-link>
  </li>
  <li class="active">
    Create New Page
  </li>
</ol>

<div class="page rs-page">
  [[#>rsp:ClipboardSidebar]]
  <div class="page__header page__header--no-image">
    <h2><i class="fa fa-file-text-o"></i> Create New Page</h2>
  </div>
  <div class='page__body--borderless'>
    [[> rsp:UDP udp=true create=true]]
  </div>
  [[/rsp:ClipboardSidebar]]
</div>
