<div class='rs-dashboard-bg'>

  [[#> :ClipboardSidebar]]

  <div class="container-fluid rs-dashboard-container">
    
    <bs-row class="row-left">
      <bs-col xs=12 sm=11 class='rs-h1'>Project Dashboard
     </bs-col>   
    </bs-row> <!--  close row -->  
    
    <bs-row class="row-left rs-top-buttons">
      <bs-col xs=6 sm=4 md=4 lg=3 class="rs-btn-dashboard--col">
        <div class="rs-btn-dashboard rs-btn-dashboard--km">
            <a class="btn" href="resource/MyDiagrams" role="button">Knowledge Maps</a>
            <span class="badge rs-badge rs-badge-dashboard">3</span>
        </div> 
     </bs-col>   

     <bs-col xs=6 sm=4 md=4 lg=3 class="rs-btn-dashboard--col">
        <div class="rs-btn-dashboard rs-btn-dashboard--narrative">
            <a class="btn" href="resource/MyPages" role="button">Semantic Narratives</a>
            <span class="badge rs-badge rs-badge-dashboard">14</span>
        </div> 
     </bs-col>   

     <bs-col xs=6 sm=4 md=4 lg=3 class="rs-btn-dashboard--col">
        <div class="rs-btn-dashboard rs-btn-dashboard--img">
            <a class="btn" href="resource/MyImages" role="button">Images</a>
            <span class="badge rs-badge rs-badge-dashboard">1</span>
        </div> 
     </bs-col>  
    </bs-row> <!--  close row -->

    <div class="rs-activity-area">
      <div class="rs-activity">
          <div class='rs-activity-title'>Activity</div>
          <div class="table-responsive rs-dashboard-table">
            <semantic-table
              query="
                    prefix person: <http://example.com/person/> 
                    prefix org: <http://example.com/org/> 
                    prefix foaf: <http://xmlns.com/foaf/0.1/>
                    SELECT ?s ?o WHERE {                    
                    VALUES (?s ?p ?o) { 
                    (person:alice foaf:knows person:carol)
                    (person:carol foaf:knows person:mike)
                    (person:mike foaf:knows person:carol)
                    (person:bob foaf:knows person:carol)
                    (person:alice foaf:member org:W3C)
                    (person:mike foaf:member org:W3C)
                    }
                    }"
              number-of-displayed-rows=5
              options='{"showFilter": true}'
              column-configuration='[
                                    {"variableName": "s", "displayName": "", "cellTemplate": "<div><i class=\"fa fa-user\" style=\"margin-right: 10px\"></i>{{s.value}}</div>" },
                                    {"variableName": "o", "displayName": "", 
                                    "cellTemplate": "<semantic-link class=annotationWidth iri=\"{{o.value}}\"></semantic-link>"},
                                    {"variableName": "p", "displayName": "", "cellTemplate": "<div><span class=\"rs-tag rs-tag--info rs-dashboard-tag rs-h5\">Semantic Narrative</span></div>"},
                                    {"displayName": "", "cellTemplate": "<div class=\"rs-dashboard-tableDate\">[[i18n "lastModified" locale=(urlParam "preferredLanguage")]] <span class=\"rs-dashboard-tableDateValue\">11.03.2019</span></div>"}
                                    ]'>
            </semantic-table>
          </div>
      </div>
      <div class='rs-team'>
          <div class='rs-activity-title'>Team involved</div>
          <div>
              [[>Default:userCard name="Cristina Giancristofaro" institute="British Museum" role='RS Project Curator' UserImg="/images/users/user_cri.jpg" pageLink=(resolvePrefix "User:admin")]]
              [[>Default:userCard name="Cristina Giancristofaro" institute="British Museum" role='RS Project Curator' UserImg="/images/users/user_cri.jpg" pageLink=(resolvePrefix "User:admin")]]
              [[>Default:userCard name="Cristina Giancristofaro" institute="British Museum" role='RS Project Curator' UserImg="/images/users/user_cri.jpg" pageLink=(resolvePrefix "User:admin")]]
              [[>Default:userCard name="Cristina Giancristofaro" institute="British Museum" role='RS Project Curator' UserImg="/images/users/user_cri.jpg" pageLink=(resolvePrefix "User:admin")]]
              [[>Default:userCard name="Cristina Giancristofaro" institute="British Museum" role='RS Project Curator' UserImg="/images/users/user_cri.jpg" pageLink=(resolvePrefix "User:admin")]]
          </div>
      </div>
    </div>

    <bs-row class="row-center">

      <bs-col xs=12 sm=4>
        <div class="rs-h3 rs-ds-add--title">Create a New</div>
          [[>Default:dashboardCard title="Knowledge Map" descr="Description" imgIcon="/images/icons/diagram.svg" pageLink="http://www.hercules.gouv.qc.ca/resource/ThreePanelSystem"]]
          [[>Default:dashboardCard title="Semantic Narrative" descr="Description" imgIcon="/images/icons/narrative.svg" pageLink=(resolvePrefix ":UDPForm")]]
      </bs-col>

      <bs-col xs=12 sm=4>
          <div class="rs-h3 rs-ds-add--title">Upload</div>
            [[>Default:dashboardCard title="New Files" descr="Description" imgIcon="/images/icons/upload.svg" pageLink=(resolvePrefix "Admin:FileUpload")]]
            [[>Default:dashboardCard title="New Images" descr="Description" imgIcon="/images/icons/image_upload.svg" pageLink=(resolvePrefix ":MyImages")]]
      </bs-col>

      <bs-col xs=12 sm=4>
          <div class="rs-h3 rs-ds-add--title">Search and Explore</div>     
          [[>Default:dashboardCard title="Advanced Search" descr="Semantic search tool" imgIcon="/images/icons/semantic_search.svg" pageLink=(resolvePrefix ":Search")]] 
          [[>Default:dashboardCard title="IIIF Image Viewer" descr="View and compare High-Resolution images" imgIcon="/images/icons/images.svg" pageLink=(resolvePrefix "")]]  
      </bs-col>

    </bs-row>

  </div>

  [[/:ClipboardSidebar]]

</div>