<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li class="active">
    Roadmap
  </li>
</ol>

<div class="rs-page container-fluid">
  <div class="rs-page__top"></div>
      <bs-row>
        <bs-col sm=8 sm-offset=1>

          <h3>Roadmap</h3>
          <p>The ResearchSpace project has the following 8 month roadmap from December 2016:</p><br>
          <h4>Current Functionality</h4>
          <ul>
            <li>Clipboard v1 - save items to the clipboard, use them to filter searches, and use in arguments and visualisations</li>
            <li>Semantic Narratives and Annotations v1 - create narratives with embedded semantic information</li>
            <li>Arguments & Assertions v1 – use ResearchSpace entities to make assertions of belief and arguments</li>
            <li>Semantic Web database v1 – Build dynamic Semantic Web databases</li>
            <li>Image Annotation with IIIF v1 – Annotate high resolution images within the IIIF environment</li>
            <li>Lightbox v1 – view and manipulate images</li>
          </ul>


          <h4>January 2017</h4>
          <ul>
            <li>Drag and Drop Clipboard v2  - a more accessible and graphical version with tagging facilities</li>
            <li>Semantic Narratives and Annotations v2 - enhanced version with improved presentation and visualisations</li>
            <li>Enhanced Security</li>
          </ul>

          <h4>June 2017</h4>
          <ul>
            <li>Arguments & Assertions v2 – enhanced functionality and integration with Semantic Web Database builder</li>
          	<li>More integrated datasets</li>
          	<li>General enhancements to all components</li>
          </ul>
          <br>

          <p>The date for the release of the project source code is TBC.</p>

        </bs-col>
      </bs-row>
</div>


