<mp-resource-link-container [[#if pageLink]] title="[[pageLink]]" [[/if]] [[#if pageLink]] uri="[[pageLink]]"[[/if]]>
  
  <div class="rs-ds-userCard row-m0">
    <div class="rs-user-img-col">
        <!-- [[#if UserImg]]  <mp-resource-thumbnail iri='http://example.com/person/alice' no-image-uri='/images/help/thenounproject/noun_1113333.svg'/>[[/if]] -->
        [[#if UserImg]] <img class="img-responsive rs-user-img" src="[[UserImg]]">
      	[[else]] <img class="img-responsive rs-user-img" src="/images/users/user.svg"> [[/if]]
    </div>
    <div class="rs-user-text-col">
        [[#if name]]<div class="rs-user-headerText rs-ds-card--header">[[name]]</div>[[/if]]
        [[#if institute]]<div class="rs-user-text">[[institute]]</div>[[/if]]
        [[#if role]]<div class="rs-user-text">[[role]]</div>[[/if]]
    </div>
  </div>

</mp-resource-link-container>
