<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Accueil</mp-link>
  </li>
  <li>
    <semantic-link title="Administration" iri="http://www.metaphacts.com/resource/admin/">Administration</semantic-link>
  </li>
  <li class="active">Ephedra Services</li>
</ol>

<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-circle-o-notch fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>Ephedra Services</h2>
    </div>
  </div>
  <div class='page__body'>
	[[#if (hasPermission "repository-config:view")]]
    <mp-admin-ephedra-service-mgmt></mp-admin-ephedra-service-mgmt>
  [[else]]
    <i>No permission to view Ephedra service configurations.</i>
	[[/if]]
  </div>
</div>