<div class='page__header-thumbnail'>
  <semantic-table query='SELECT (?? as ?iri) {}' tuple-template='{{> rsp:RecordThumbnail imageWidth=100 imageHeight=100}}' options='{"showFilter": false}'></semantic-table>
</div>
<div class='page__header-body' data-flex-layout='row top-left'>
  [[#if notDraggable]]
  [[else]]
  <div class="page__header-draggable-title">
    <mp-draggable iri='[[this]]'>
      <h2 data-flex-layout='row center-left'>
        <span class="page__header-gripper"></span>
        <mp-label iri='[[this]]' class='page__header-gripper-label'></mp-label>
      </h2>
    </mp-draggable>
  </div>
  [[/if]]
  <h2 data-flex-layout='row center-left' class="page__header-tagline">
    <span class="icon-fc--header-title icon-fc--[[#if fc]][[fc]][[/if]]"></span>
    <small>
      [[#if fcLabel]][[fcLabel]] record,
      <semantic-query
        query='
                             SELECT ?dataset WHERE {
                               OPTIONAL {
                                 GRAPH <http://www.researchspace.org/dataset/cadal> {?? a ?t }
                               }
                                 BIND(IF(BOUND(?t), "CADAL", "British Museum") as ?dataset) .
                             } LIMIT 1
                             '
        template='{{bindings.0.dataset.value}}'
      ></semantic-query>
      [[else]]
      [[#if subLabel]][[subLabel]][[/if]]
      [[#if labelChild]][[> @partial-block]][[/if]]
      [[/if]]
    </small>
  </h2>
</div>
