<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="System Settings" data-uri="http://www.metaphacts.com/resource/admin/">System Settings</semantic-link>
  </li>
  <li>
    <semantic-link uri='http://www.metaphacts.com/resource/admin/DataQuality'>Data Quality</semantic-link>
  </li>
  <li class="active">Consistency Checks Editor</li>
</ol>


<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-tasks fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>Consistency Checks Editor</h2>
    </div>
  </div>
  <div class='page__body'>
    <mp-rdf-unit-manager></mp-rdf-unit-manager>
  </div>
</div>