<ol class="page-breadcrumb rs-breadcrumb">
  <li class="rs-body-s-B">
    <mp-link title="Home" url="resource/Start">[[i18n "home" locale=(urlParam "preferredLanguage")]]</mp-link>
  </li>
  <li class="active rs-body-s-M">[[i18n "forms" locale=(urlParam "preferredLanguage")]]</li>
</ol>

<div class="page">
  [[> :assetpageHeader title=(i18n "forms" locale=(urlParam "preferredLanguage")) icon="fa-id-card"]]

  <div class="container-fluid" style="margin-bottom: 40px;">
    <bs-row class="row-center">
      <bs-col xs=11 sm=10 md=10 lg=8>
        <i>[[i18n "formsDescription" locale=(urlParam "preferredLanguage")]]
          <semantic-link iri="[[resolvePrefix 'Help:SemanticForm']]"> <code> <semantic-form> </code>
          </semantic-link> .
        </i>
        <hr />
        <h2 id="fielddefinitions">[[i18n "formsLists" locale=(urlParam "preferredLanguage")]]</h2>
        <semantic-table query="
      SELECT DISTINCT ?form ?name ?graph WHERE {
        GRAPH ?graph { 
          ?form a <http://hercules.gouv.qc.ca/ontology/meta/Form> .
          ?form <http://hercules.gouv.qc.ca/ontology/meta/hasName> ?name .
        }       
      }" column-configuration='[
      {
        "displayName": "[[i18n "formNameColumn" locale=(urlParam "preferredLanguage")]]",
        "cellTemplate": "
        <div>
          <semantic-link iri={{form.value}}> {{name.value}}
          </semantic-link>
        </div>" 
      }
      [[#if (hasPermission "sparql:graphstore:delete")]],
      {
        "displayName": "[[i18n "delete" locale=(urlParam "preferredLanguage")]]", 
        "cellTemplate": "{{> delete}}"
      }
      [[/if]]]' number-of-displayed-rows=8>
          <template id='delete'>
            <div>
              <mp-graph-store-action title="[[i18n "delete" locale=(urlParam "preferredLanguage")]]" action="DELETE" graphuri="{{graph.value}}"><i
                  class="fa fa-trash-o"></i>
              </mp-graph-store-action>
            </div>
          </template>
        </semantic-table>
        <mp-resource-link-container uri="http://www.hercules.gouv.qc.ca/resource/Forms/Creation">
          <button class="btn btn-primary">[[i18n "createNewForm" locale=(urlParam "preferredLanguage")]]</button>
        </mp-resource-link-container>
      </bs-col>
    </bs-row>
  </div>
</div>