<ol class="page-breadcrumb rs-breadcrumb">
    <li class="rs-body-s-B">
      <mp-link title="Home" url="resource/Start">Accueil</mp-link>
    </li>
    <li class="active rs-body-s-M">My Knowledge Maps</li>
</ol>

<div class="page">

[[#>:ClipboardSidebar]]
  
  [[> :assetpageHeader title="My Knowledge Maps" img="/images/icons/diagram.svg"]]
  
  <div class="container-fluid">
        <bs-row class="row-center">
            <bs-col xs=11 sm=10 md=10 lg=8>
              
              [[> http://www.metaphacts.com/resource/assets/OntodiaDiagramsTable myKm=true]]
  
              
             </bs-col>   
        </bs-row> <!--  close row -->
    </div>
        
  [[/:ClipboardSidebar]]
</div>
