[[#if (hasPermission "api:config")]]

<ol class="page-breadcrumb">
  <li>
    <semantic-link title="Knowledge Patterns Catalog" uri="http://www.hercules.gouv.qc.ca/resource/FieldCatalog">Knowledge Patterns Catalog</semantic-link>
  </li>
  <li class="active">Edit Knowledge Pattern: [[this.label]]</li>
</ol>

<div class="page">
  [[#>:ClipboardSidebar]]
  
  [[> :assetpageHeader title="Edit Knowledge Pattern" icon="fa-pencil-square-o"]]

  <div class="container-fluid">
      <bs-row class="row-center">
          <bs-col xs=11 sm=10 md=10 lg=8 style='padding-bottom: 40px;'>  
        		<div>
          <field-editor field-instance-base-iri="http://www.researchspace.org/instances/fields/" data-field-iri='[[this]]' ></field-editor>

          <h1 style='padding: 30px 0 15px 0;'>Knowledge Pattern Preview</h1>
    
          <semantic-form 
            debug='false' 
            browser-persistence=false 
            fields='[[fieldDefinitionsFromQuery "SELECT ?field { BIND(?? AS ?field) }"]]'
          >
            <bs-tabs id='fieldPreview'>
              <bs-tab event-key="1" title="Plain Input">
                <semantic-form-text-input for='[[this]]' render-header=true></semantic-form-text-input>
              </bs-tab>
              <bs-tab event-key="2" title="Autocomplete Input">
                <semantic-form-autocomplete-input for='[[this]]'></semantic-form-autocomplete-input>
              </bs-tab>
              <bs-tab event-key="3" title="Select Input">
                <semantic-form-select-input data-for='[[this]]'></semantic-form-select-input>
              </bs-tab>
              <bs-tab event-key="4" title="Date Input">
                <semantic-form-datetime-input for='[[this]]'></semantic-form-datetime-input>
              </bs-tab>
              <bs-tab event-key="5" title="Tree Input">
                <semantic-form-tree-picker-input for="[[this]]"></semantic-form-tree-picker-input>
              </bs-tab>
            </bs-tabs>
          </semantic-form>

          <h2>JSON Configuration Example</h2>
          <hr style='margin-top: 8px; margin-bottom: 16px;'>
          <i style="color:red;font-size: 10px;">
            Please be aware of that the "example" id needs to be replaced with the current IRI: "<b>[[this]]</b>"
          </i>
          <pre><code>[[fieldDefinitions example=(this)]]</code></pre>
        </div>
      </bs-col>
    </bs-row>
  </div>
  [[/:ClipboardSidebar]]
</div>

[[else]]

<p>No Permission</p>

[[/if]]
