<semantic-query query='
    SELECT ?class ?label WHERE {
      ?class rdfs:label ?label .
      <[[this]]> <http://hercules.gouv.qc.ca/ontology/meta/hasClass> ?class .
      BIND(STRUUID() as ?uuid)
    }
    ' template='{{> classTemplate}}'>
  <template id='classTemplate'>
    <div>
      {{#each bindings}}
      <h4>Créer une entité de type {{label.value}}</h4>
      <semantic-query query='
        SELECT ?field ?label WHERE {
          <[[this]]> <http://hercules.gouv.qc.ca/ontology/meta/hasField> ?field .          
        }
        ' template='{{> fieldsTemplate}}'>
        <template id='fieldsTemplate'>
          <div>
            <semantic-form new-subject-template='http://culture.gouv.qc.ca/entity/{{uuid.value}}' post-action='redirect'
              browser-persistence=true form-id='InstanceForm' fields='[[fieldDefinitions]]'>
              <bs-panel>
                <semantic-form-recover-notification></semantic-form-recover-notification>
                <bs-tabs fixed-key="form">
                  <semantic-form-hidden-input for='http://www.metaphacts.com/fieldDefinition/Type'
                    default-value={{class.value}}>
                  </semantic-form-hidden-input>
                  {{#each bindings}}
                  <semantic-form-select-input for={{field.value}} placeholder={{field.value}}></semantic-form-select-input>
                  {{/each}}

                  <!-- save and reset button for form -->
                  <button name='submit' class='btn btn-default'>Suivant</button>
                  <button name='reset' class='btn btn-default'>Initialiser</button>
              </bs-panel>
            </semantic-form>
          </div>
        </template>
      </semantic-query>
      {{/each}}
    </div>
  </template>
</semantic-query>