<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="rs-page page">
  [[#>rsp:ClipboardSidebar]]
  <div class="page__header page__header--no-image">
    [[> rsp:Header thumbnail=false subLabel="Persisted Item"]]
  </div>
  <div class="page__body">
    <semantic-context repository="default">
      <mp-persisted-component iri='[[this]]'></mp-persisted-component>
    </semantic-context>
  </div>
  [[/rsp:ClipboardSidebar]]
</div>
