<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rs-navbar"
        aria-expanded="false" aria-controls="rs-navbar" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="rs-header-logo" href="/">{{deploymentTitle}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="rs-navbar">

      <ul class="nav navbar-nav">
        {{!-- <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames" 
                          urlqueryparam-view='system-projects' class="rs-body-m-B" style="padding-left: 60px;"> 
            Projects
          </semantic-link>
        </li> --}}
        
      </ul>

      <ul class="nav navbar-nav icon-btns-container">

         <li class="rs-xs-none">
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames" 
                         urlqueryparam-view='simple-search'
                        title="Advanced seach">
            <div class="nav-iconAndLabel"> 
                <i class="rs-icon rs-icon-search"></i>
                <div>Search</div>
            </div>
          </semantic-link>
        </li>

        <li class="rs-only-xs">
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames" 
                         urlqueryparam-view='simple-search'
            title="Advanced seach" style="display: inline-block;">
            Search
          </semantic-link>
        </li>

        <li>
           <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"> 
            <div class="nav-iconAndLabel"> 
                <i class="fa fa-plus-square"></i>
                <div>Frame</div>
            </div>
          </semantic-link>
        </li>

        <li>
           <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames" 
                          urlqueryparam-view='system-activity'> 

            <div class="nav-iconAndLabel"> 
                <i class="fa fa-th-large"></i>
                <div>Dashboard</div>
            </div>
          </semantic-link>
        </li>

        {{!-- Example resources dropdown
        <bs-nav-dropdown title="Example Resources" id="text-dropdown" class="rs-nav-resources--margin">

            <li class="rs-dropdown-sectionTitle">Records</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 1</bs-menu-item></semantic-link-container>
            <semantic-link-container uri="#"><bs-menu-item>Resource 2</bs-menu-item></semantic-link-container>
            <semantic-link-container uri="#"><bs-menu-item>Resource 3</bs-menu-item></semantic-link-container>
            <bs-menu-item divider="true"></bs-menu-item>

            <li class="rs-dropdown-sectionTitle">Semantic Narratives</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 4</bs-menu-item></semantic-link-container>
            <bs-menu-item divider="true"></bs-menu-item>

            <li class="rs-dropdown-sectionTitle">Knowledge Maps</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 5</bs-menu-item></semantic-link-container>
           <bs-menu-item divider="true"></bs-menu-item>

            <li class="rs-dropdown-sectionTitle">Searches</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 6</bs-menu-item></semantic-link-container>
            <bs-menu-item divider="true"></bs-menu-item>

            <li class="rs-dropdown-sectionTitle">Arguments</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 7</bs-menu-item></semantic-link-container>
            
        </bs-nav-dropdown> --}}

        <li class="vl"></li>

        <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                         urlqueryparam-view='entity-editor'> 
            <div class="nav-iconAndLabel"> 
                <i class="rs-icon rs-icon-form_edit"></i>
                <div>Entities</div>
            </div>
          </semantic-link>
        </li>

        <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                         urlqueryparam-view='authority-editor'> 
            <div class="nav-iconAndLabel"> 
                <i class="iconmoon iconmoon-books"></i>
                <div>Authorities</div>
            </div>
          </semantic-link>
        </li>

        <li class="vl"></li>

        <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                        urlqueryparam-view='system-assets'> 
            <div class="nav-iconAndLabel"> 
                <i class="iconmoon iconmoon-file-picture"></i>
                <div>Assets</div>
            </div>
          </semantic-link>
        </li>

        <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                        urlqueryparam-view='system-narrative'> 
            <div class="nav-iconAndLabel"> 
                <i class="rs-icon rs-icon-page"></i>
                <div>Narratives</div>
            </div>
          </semantic-link>
        </li>

        <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                        urlqueryparam-view='system-knowledge-maps'> 
            <div class="nav-iconAndLabel"> 
                <i class="rs-icon rs-icon-diagram"></i>
                <div>Maps</div>
            </div>
          </semantic-link>
        </li>

        <li class="vl"></li>

        <li class="rs-xs-none">
          <a href="https://documentation.researchspace.org/resource/rsp:Start" title="Documentation" target="_blank">
             <div class="nav-iconAndLabel"> 
                <i class="fa fa-question-circle"></i>
                <div>Help</div>
            </div>
          </a>
        </li>

        <li class="rs-only-xs">
          <a href="https://documentation.researchspace.org/resource/rsp:Start" title="Documentation" target="_blank">
            Help
          </a>
        </li>

        <mp-anonymous-hidden>
          <li class="rs-only-xs">
            <semantic-link iri="http://www.researchspace.org/resource/admin" title="System Settings">
              Setting
            </semantic-link>
          </li>
        </mp-anonymous-hidden>

        <mp-anonymous-hidden>
          <li class="rs-xs-none">
            <semantic-link iri="http://www.researchspace.org/resource/admin" title="System Settings">
              <div class="nav-iconAndLabel"> 
                <i class="fa fa-cog"></i>
                <div>Settings</div>
            </div>
            </semantic-link>
          </li>
        </mp-anonymous-hidden>

        <mp-user-language-switch></mp-user-language-switch>
        <li>
          <mp-anonymous-hidden alt='<li><a href="/login" title="login">
                                      <div class="nav-iconAndLabel"> 
                                        <i class="rs-icon rs-icon-user_round"></i>
                                        <div>Logout</div>
                                      </div>
                                  </a></li>'>

            <bs-dropdown id="iconAndText-dropdown" class="align-right-dropdown">
              <bs-dropdown-toggle>
                <div class="navDropdown-iconAndLabel"> 
                    <i class="rs-icon rs-icon-user_round"></i>
                    <div>Account</div>
                </div>
              </bs-dropdown-toggle>
              <bs-dropdown-menu>
                <bs-menu-item title='userPrincipal'>
                    <semantic-query
                      query='SELECT ?userName { BIND(REPLACE(REPLACE(STR(?__useruri__), STR(User:), ""), "%40", "@") as ?userName) }'
                      template='\{{> template}}'>
                      <template id='template'>
                        {{!-- <semantic-link-container uri='\{{bindings.0.__useruri__.value}}'> --}}
                          <div class="user-dropdown_item">
                            <i class="rs-icon rs-icon-user_round rs-xs-none"></i>
                            <span>\{{bindings.0.userName.value}}</span>
                          </div>
                        {{!-- </semantic-link-container> --}}
                      </template>
                    </semantic-query>
                </bs-menu-item>
                <bs-menu-item href="/logout" title='logout'>
                    <div class="user-dropdown_item">
                      <i class="rs-icon rs-icon-logout rs-xs-none"></i>
                      <span>Logout</span>
                    </div>
                </bs-menu-item>
              </bs-dropdown-menu>
            </bs-dropdown>
          </mp-anonymous-hidden>
        </li>

      </ul>

    </div>
  </div>
</nav>
