<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="version" content="{{version}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- the following header makes IE select latest document mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

    <link rel="icon" href="/assets/no_auth/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    {{#each assetsMap.app.css}}
    <link href="{{this}}" rel="stylesheet" type="text/css">
    {{/each}}

 {{!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}

    {{{html-head}}}

    {{#each assetsMap.app.js}}
    <script defer type='text/javascript' src='{{this}}'></script>
    {{/each}}
</head>

<body>
    <div id="application" class='rs-application'></div>
</body>

</html>