<div class="navigation-sidebar">

    <div class="navigation-sidebar-section1">
        <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames" 
                            urlqueryparam-view='simple-search'
                            title="Advanced seach">
            <div class="navigation-sidebar-item"> 
                <i class="iconmoon iconmoon-search"></i>
                <div>Search</div>
            </div>
        </semantic-link>

        <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames" 
                            urlqueryparam-view='system-activity'> 

            <div class="navigation-sidebar-item"> 
                <i class="fa fa-th-large"></i>
                <div>Dashboard</div>
            </div>
        </semantic-link>

        <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                    urlqueryparam-view='system-assets'> 
            <div class="navigation-sidebar-item"> 
                <i class="rs-icon rs-icon-images"></i>
                <div>Assets</div>
            </div>
        </semantic-link>

        <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                    urlqueryparam-view='system-narrative'>
        <div class="navigation-sidebar-item"> 
            <i class="rs-icon rs-icon-page"></i>
            <div>Semantic Narratives</div>
        </div>
        </semantic-link>

        <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                    urlqueryparam-view='system-knowledge-maps'> 
        <div class="navigation-sidebar-item"> 
            <i class="rs-icon rs-icon-diagram"></i>
            <div>Knowledge Maps</div>
        </div>
        </semantic-link>

        <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                        urlqueryparam-view='authority-editor'> 
        <div class="navigation-sidebar-item">
            <i class="iconmoon iconmoon-books"></i>
            <div>Authorities</div>
        </div>
        </semantic-link>

    </div>
    
    <div class="navigation-sidebar-section2">
        <mp-anonymous-hidden>
   
                <div class="navigation-sidebar-item"> 
                <i class="fa fa-users"></i>
                <div>Researchers</div>
            </div>

        </mp-anonymous-hidden>

        <mp-anonymous-hidden>
            <semantic-link iri="http://www.researchspace.org/resource/admin" title="System Settings">
                <div class="navigation-sidebar-item"> 
                <i class="fa fa-cog"></i>
                <div>Settings</div>
            </div>
            </semantic-link>
        </mp-anonymous-hidden>

        <a href="https://documentation.researchspace.org/resource/rsp:Start" title="Documentation" target="_blank">
            <div class="navigation-sidebar-item-inline"> 
            <i class="fa fa-question"></i>
            <div>Help</div>
            </div>
        </a>

    </div>



</div>