<bs-navbar data-fluid="true" class="metaphacts-header-navbar" data-fixed-top="true" data-inverse="true" data-role="navigation">
  <bs-navbar-header>
    <bs-navbar-brand>
      <a href="/">
        {{deploymentTitle}}
      </a>
    </bs-navbar-brand>
    <bs-navbar-toggle/>
  </bs-navbar-header>
  <bs-navbar-collapse>
    <ul class="nav navbar-nav">
      <li>
        <mp-link url="/sparql" title="Sparql Endpoint">SPARQL</mp-link>
      </li>
    </ul>
    <bs-nav data-pull-right="true">
      <bs-nav-dropdown title="Quick Links" id="bg-nested-dropdown">
        <mp-anonymous-hidden>
          <mp-resource-link-container uri="http://www.metaphacts.com/resource/admin/DataImportExport">
            <bs-menu-item>Data Import & Export</bs-menu-item>
          </mp-resource-link-container>
        </mp-anonymous-hidden>
        <mp-resource-link-container uri="http://www.metaphacts.com/resource/SimpleSearch">
          <bs-menu-item>Keyword Search</bs-menu-item>
        </mp-resource-link-container>
        <mp-resource-link-container uri="http://www.metaphacts.com/resource/NavigateToPage">
          <bs-menu-item>Navigate to resource</bs-menu-item>
        </mp-resource-link-container>                
        <bs-menu-item divider='true'></bs-menu-item>
        <mp-resource-link-container uri="http://www.metaphacts.com/resource/assets/">
          <bs-menu-item>Assets</bs-menu-item>
        </mp-resource-link-container>
        <bs-menu-item divider='true'></bs-menu-item>
        <mp-resource-link-container uri="http://www.metaphacts.com/resource/assets/OntodiaDiagrams">
          <bs-menu-item>Diagrams</bs-menu-item>
        </mp-resource-link-container>
        <mp-resource-link-container uri="http://www.metaphacts.com/resource/assets/Ontologies">
          <bs-menu-item>Ontologies</bs-menu-item>
        </mp-resource-link-container>
      </bs-nav-dropdown>
      <mp-nav-account></mp-nav-account>
      <mp-anonymous-hidden>
        <mp-resource-link-container uri="http://www.metaphacts.com/resource/admin/">
          <li title="System Administration">
            <a><i class="fa fa-cog"></i></a>
          </li>
        </mp-resource-link-container>
      </mp-anonymous-hidden>
      <mp-resource-link-container uri="http://help.metaphacts.com/resource/Start">
        <li title="Help">
          <a><i class="fa fa-question-circle"></i></a>
        </li>
      </mp-resource-link-container>
      <mp-user-language-switch></mp-user-language-switch>
    </bs-nav>
  </bs-navbar-collapse>
</bs-navbar>
