<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="version" content="{{version}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- the following header makes IE select latest document mode -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        {{{html-head}}}
        <script defer type='text/javascript' src='{{assetsMap.vendor}}'></script>
        <script defer type='text/javascript' src='{{assetsMap.app}}'></script>
    </head>
    <body>
      <div id="application"></div>
    </body>
</html>
