<footer class="footer">
    <div class="footer__pixel-groove"></div>
    <div data-flex-layout="row top-stretch" class="footer__outer-flex-row">
        <div data-flex-self="size-x2">
         <!--
            <p class="text-muted"><a class="text-muted" href="/resource/xx">xxx</a></p>
        -->
        </div>

        <div class="footer__links-col">
         <!--
            <p class="text-muted"><a class="text-muted" href="/resource/xx">xxx</a></p>
        -->
        </div>

        <div class="footer__links-col">
            <p class="text-muted">
                <span class="style--secondary-font">
                    Platform by <a class="text-muted" target="_blank" href="http://researchspace.org/">ResearchSpace</a> and <a class="text-muted" target="_blank" href="http://metaphacts.com/">metaphacts</a> platform
                </span>
            </p>
        </div>
    </div>
</footer>
