<footer class="rs-footer">
<div class="container-fluid">
    {{!-- <div data-flex-layout = "row center-center" class="footer-support">
        <div class="rs-body-s-M rs-hp-supported">Supported by</div>
    </div> --}}

    <bs-row>
        <bs-col xs="12" md="10" lg="9" class="col-centered xl-width">
            <div class="footer-support">
                <div class="rs-body-s-M rs-hp-supported">Supported by</div>
            </div>
        </bs-col>
    </bs-row>

    <bs-row class="rs-xs-none">
        <bs-col sm="12" md="10" lg="9" class="col-centered xl-width">
            <div class="row d-flex footer-logo-row">

                <div class="col-auto">
                    <div class="footer-logo--padding">
                        <a href="http://www.britishmuseum.org/" target="_blank">
                            <img src="/images/logos/BM_white.svg" class="footer-logo--img">
                        </a>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="footer-logo--padding">
                        <a href="https://www.researchspace.org/" target="_blank">
                            <img src="/images/logos/researchspace_white.svg" class="footer-logo--img">
                        </a>
                    </div>
                </div>
                
                <div class="col-auto">
                    <div class="footer-logo--padding">
                        <a href="https://mellon.org/" target="_blank">
                            <img src="/images/logos/mellon_small.svg" class="footer-logo--img">
                        </a>
                    </div>
                </div>

            </div>
        </bs-col>      
    </bs-row>

    <bs-row class="rs-only-xs">
        <bs-col xs="11" class="col-centered">
            <div class="row d-flex footer-logo-row">

                <div class="col-auto">
                    <div class="footer-logo--padding">
                        <a href="http://www.britishmuseum.org/" target="_blank">
                            <img src="/images/logos/BM_white.svg" class="footer-logo--img">
                        </a>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="footer-logo--padding">
                        <a href="https://www.researchspace.org/" target="_blank">
                            <img src="/images/logos/researchspace_white.svg" class="footer-logo--img">
                        </a>
                    </div>
                </div>
                
                <div class="col-auto">
                    <div class="footer-logo--padding">
                        <a href="https://mellon.org/" target="_blank">
                            <img src="/images/logos/mellon_small.svg" class="footer-logo--img">
                        </a>
                    </div>
                </div>
                
            </div>

        </bs-col>
        
            
       
    </bs-row>
</div>
    
    {{!-- <div class="footer-support">
        <div class="rs-body-s-M rs-hp-supported">Supported by</div>
    </div> --}}

    {{!-- <div data-flex-layout="row center-center" class="footer-logo-row">
        
        <div class="footer-logo--padding">
            <a href="http://www.britishmuseum.org/" target="_blank">
                <img src="/images/logos/BM_white.svg" class="footer-logo--img">
            </a>
        </div>
        <div class="footer-logo--padding">
            <a href="https://www.soas.ac.uk/" target="_blank">
                <img src="../../assets/images/logos/SOAS.png" class="footer-logo--img">
            </a>
        </div>
        <div class="footer-logo--padding">
            <a href="https://ahrc.ukri.org/" target="_blank">
                <img src="/images/logos/ahrc-2018-white-landscape.svg" class="footer-logo--img">
            </a>
        </div>

        <div class="footer-logo--padding">
            <a href="https://www.researchspace.org/" target="_blank">
                <img src="/images/logos/researchspace_white.svg" class="footer-logo--img">
            </a>
        </div> --}}

        {{!-- <div>
            <a href="https://mellon.org/" target="_blank">
                <img src="/images/logos/mellon_small.svg" class="footer-logo--img">
            </a>
        </div> --}}

        {{!-- <div class="footer-logo--padding">
            <a href="https://www.metmuseum.org/" target="_blank">
                <img src="../../assets/images/logos/THE_MET.svg" class="footer-logo--img">
            </a>
        </div>
        <div class="footer-logo--padding">
            <a href="https://www.freersackler.si.edu/" target="_blank">
                <img src="../../assets/images/logos/FSG_white.svg" class="footer-logo--img">
            </a>
        </div>

        <div class="footer-logo--padding">
            <a href="https://www.aham.jp/" target="_blank">
                <img src="../../assets/images/logos/aham.png" class="footer-logo--img">
            </a>
        </div>

        <div>
            <a href="https://www.arc.ritsumei.ac.jp/en/index.html" target="_blank">
                <img src="../../assets/images/logos/arc.png" class="footer-logo--img">
            </a>
        </div>  
    </div>--}}
    <div data-flex-layout="row center-center" class="footer-text">
        <div class="rs-body-s-M text-white footer-text-padding">All photography provided by © The Trustees of the British Museum</div>
        <div class="rs-body-s-M text-white footer-text-padding">We use cookies</div>
        <div class="rs-body-s-U text-white footer-text-padding"><a>Credits</a></div>
        <div class="rs-body-s-U text-white footer-text-padding"><a>Imprint</a></div>  
    </div>
    {{!-- <bs-row>
        <bs-col xs="8" style="margin-left:47px;">
          <div data-flex-layout="column center-stretch">
            <div data-flex-layout="row center-left">
                <div class="footer-logo--padding">
                    <a href="http://www.britishmuseum.org/" target="_blank">
                        <img src="/images/logos/BM_white.svg" class="footer-logo--img">
                    </a>
                </div>
                <div class="footer-logo--padding">
                    <a href="https://www.soas.ac.uk/" target="_blank">
                        <img src="../../assets/images/logos/SOAS.png" class="footer-logo--img">
                    </a>
                </div>
                <div class="footer-logo--padding">
                    <a href="https://ahrc.ukri.org/" target="_blank">
                        <img src="/images/logos/ahrc-2018-white-landscape.svg" class="footer-logo--img">
                    </a>
                </div>

                <div class="footer-logo--padding">
                    <a href="https://www.researchspace.org/" target="_blank">
                        <img src="/images/logos/researchspace_white.svg" class="footer-logo--img">
                    </a>
                </div>
            </div>

            <div data-flex-layout="row center-left">
                <div class="footer-logo--padding">
                    <a href="https://www.metmuseum.org/" target="_blank">
                        <img src="../../assets/images/logos/THE_MET.svg" class="footer-logo--img">
                    </a>
                </div>
                <div class="footer-logo--padding">
                    <a href="https://www.freersackler.si.edu/" target="_blank">
                        <img src="../../assets/images/logos/FSG_white.svg" class="footer-logo--img">
                    </a>
                </div>

                <div class="footer-logo--padding">
                    <a href="https://www.aham.jp/" target="_blank">
                        <img src="../../assets/images/logos/aham.png" class="footer-logo--img">
                    </a>
                </div>

                <div>
                    <a href="https://www.arc.ritsumei.ac.jp/en/index.html" target="_blank">
                        <img src="../../assets/images/logos/arc.png" class="footer-logo--img">
                    </a>
                </div>  
            </div>

          </div>
        </bs-col>
        <bs-col xs="4">
          <div data-flex-layout="column center-left">
                <div class="rs-body-s-M text-white">All content © Late Hokusai Project 2017.</div>
                <div class="rs-body-s-M text-white">All photography provided by © The Trustees of the British Museum.</div>
                <div class="rs-body-s-M text-white">We use cookies.</div>
                <div data-flex-self="center" class="rs-body-s-U text-white">Imprint</div>  
          </div>
        </bs-col>
    </bs-row> --}}

    {{!-- <div data-flex-layout="row center-center">
 
        <div class="footer-logo--padding">
            <a href="https://www.metmuseum.org/" target="_blank">
                <img src="../../assets/images/logos/THE_MET.svg" class="footer-logo--img">
            </a>
        </div>
        <div class="footer-logo--padding">
            <a href="https://www.freersackler.si.edu/" target="_blank">
                <img src="../../assets/images/logos/FSG_white.svg" class="footer-logo--img">
            </a>
        </div>

        <div class="footer-logo--padding">
            <a href="https://www.aham.jp/" target="_blank">
                <img src="../../assets/images/logos/aham.png" class="footer-logo--img">
            </a>
        </div>

        <div>
            <a href="https://www.arc.ritsumei.ac.jp/en/index.html" target="_blank">
                <img src="../../assets/images/logos/arc.png" class="footer-logo--img">
            </a>
        </div>  

    </div> --}}

   {{!--  <div data-flex-layout = "column center-center" class="footer-text">      
        <div data-flex-self="center" class="rs-body-s-M text-white">All content © Late Hokusai Project 2017.</div>
        <div data-flex-self="center" class="rs-body-s-M text-white">All photography provided by © The Trustees of the British Museum.</div>
        <div data-flex-self="center" class="rs-body-s-M text-white">We use cookies.</div>
        <div data-flex-self="center" class="rs-body-s-U text-white">Imprint</div>   
    </div> --}}
    
{{!-- default code   --}}
    {{!-- <div data-flex-layout="row top-stretch" class="footer__outer-flex-row">
        <div data-flex-self="size-x2">
            <div data-flex-layout="row top-left">
                <div class="footer__sponsor-logos">
                  <div class="footer__sponsor-logo--bm">
                    <a href="http://www.britishmuseum.org/">
                        <img src="/images/BM_Stacked_OA_wht.svg">
                    </a>
                  </div>
                  <div class="footer__sponsor-logo--mellon">
                    <a href="https://mellon.org/">
                        <img src="/images/mellon-logo-small.svg">
                    </a>
                  </div>
                </div>
                <div data-flex-layout="columns justify-left" class="footer__sponsor-text">
                    <p class="text-muted">
                      <span class="style--secondary-font"> © Trustees of the <a class="text-muted" target="_blank" href="http://www.britishmuseum.org/">British Museum</a></span>
                    </p>
                    <p class="text-muted">
                        <span class="style--secondary-font"> ResearchSpace is funded by the <a class="text-muted" href="https://mellon.org/">Andrew W. Mellon Foundation</a></span>
                    </p>
                    <p class="text-muted">
                        <span class="style--secondary-font"> Platform powered by <a class="text-muted" target="_blank" href="http://metaphacts.com/">Metaphacts</a></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="footer__links-col">
            <p class="text-muted"><a class="text-muted" href="/resource/About">About ResearchSpace</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/Roadmap">Roadmap</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/Contact">Contact / Feedback</a></p>
        </div>

        <div class="footer__links-col">
            <p class="text-muted"><a class="text-muted" href="/resource/Termsofuse">Terms of Use</a></p>
            <p class="text-muted"><a class="text-muted" href="http://www.cidoc-crm.org">CIDOC CRM</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/Acknowledgements">Acknowledgements</a></p>
        </div>
    </div> --}}
</footer>
