<div id='footer-fade' style='height: 25px; background: linear-gradient(to bottom, #ffffff00, #ffffff);'></div>
<div id='footer' style='height: 25px; background: #ffffff;'>
    <div id="footer-color" style='background: #ffffff'>
        <hr>
        <div style="text-align: center; color:gray" class="copyright">
            <a style="color:gray" href="https://www.mcc.gouv.qc.ca/index.php?id=683" target="_blank">Accès à
                l'information
            </a> -
            <a style="color:gray" href="https://www.mcc.gouv.qc.ca/index.php?id=4552" target="_blank">Accessibilité </a>
            -
            <a style="color:gray"
                href="https://www.quebec.ca/gouv/ministere/culture-communications/declaration-de-services-aux-citoyens/"
                target="_blank">Déclaration de services </a> -
            <a style="color:gray" href="https://www.mcc.gouv.qc.ca/index.php?id=685" target="_blank">Politique de
                confidentialité</a>
        </div>
        <div class="social">
            <ul style="list-style-type:none; margin-bottom: 0; padding-bottom: 15px;">
                <li style="text-align: center"><a href="https://www.quebec.ca/" target="_blank"><img
                            src="../../assets/quebec.gif" /></a></li>
                <li style="text-align: center"><a style="color:gray"
                        href="http://www.droitauteur.gouv.qc.ca/copyright.php" target="_blank">© Gouvernement du Québec,
                        2019 </a></li>
            </ul>
        </div>
    </div>
</div>