<bs-navbar data-fluid="true" class="metaphacts-header-navbar" data-role="navigation">
  <bs-navbar-header>
    <div class="navbar-brand-section pull-left">
      <bs-navbar-brand>
        <semantic-link iri="http://www.hercules.gouv.qc.ca/resource/Start">
          <div class="hercules-logo-grey"></div>
        </semantic-link>
      </bs-navbar-brand>
    </div>
  </bs-navbar-header>
  <bs-navbar-collapse>
    <bs-nav data-pull-right="true">
      <bs-nav-dropdown title="Démo" id="bg-nested-dropdown">
        <li>
          <semantic-link uri="http://www.hercules.gouv.qc.ca/resource/Form">Formulaire</semantic-link>
        </li>
        <li>
          <semantic-link uri="http://www.hercules.gouv.qc.ca/resource/AuthoringDiagram">Modification par graphe
          </semantic-link>
        </li>
      </bs-nav-dropdown>

      <mp-anonymous-hidden style="float:left;">
        <li>
          <semantic-link iri="http://www.hercules.gouv.qc.ca/resource/dashboard"> Tableau de bord
          </semantic-link>
        </li>
      </mp-anonymous-hidden>

      <mp-anonymous-hidden>
        <bs-nav-item data-href="/sparql" data-title="Sparql Endpoint">SPARQL</bs-nav-item>
      </mp-anonymous-hidden>
      <mp-anonymous-hidden alt='<bs-nav-item title="login" href="/login">Connexion</bs-nav-item>'>
        <bs-nav-dropdown id='main-header-dropdown' title='Compte'>
          <bs-menu-item title='userPrincipal'>
            <semantic-query
              query='SELECT ?__useruri__ ?userName { BIND(REPLACE(SUBSTR(STR(?__useruri__), 41), "%40", "@") as ?userName) }'
              template='\{{> template}}'>
              <template id='template'>
                <mp-resource-link-container uri='\{{bindings.0.__useruri__.value}}'>
                  <div>\{{bindings.0.userName.value}}</div>
                </mp-resource-link-container>
              </template>
            </semantic-query>
          </bs-menu-item>
          <bs-menu-item divider=true></bs-menu-item>
          <bs-menu-item title='logout' href="/login">Déconnexion</bs-menu-item>
        </bs-nav-dropdown>
      </mp-anonymous-hidden>
      <mp-anonymous-hidden style="float:left;">
        <li>
          <semantic-link iri="http://www.hercules.gouv.qc.ca/resource/HerculesAdmin/"><i class="fa fa-cog">
          </semantic-link>
        </li>
      </mp-anonymous-hidden>
      <li>
        <semantic-link iri="http://help.metaphacts.com/resource/Start"><i class="fa fa-question-circle"></semantic-link>
      </li>
    </bs-nav>
  </bs-navbar-collapse>
</bs-navbar>