<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{deploymentTitle}}</title>
      <link href="{{assetsMap.basic_styling}}" rel="stylesheet" title="Default Style">
      <style>
        body {
          height: 100%!important;
          padding-bottom: 0!important;
        }
      </style>
  </head>
  <body>

    <div class="login-container" data-flex-layout="column justify-center">

      <div>
        <div class="panel text-center" style="margin-top:10vh;margin-bottom:5vh;">
          <h1>{{deploymentTitle}}</h1>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            {{#if shiroLoginFailure}}
              <div class="alert alert-danger">
                <strong>{{shiroLoginFailure}}</strong>
              </div>
            {{/if}}
            <form form name="loginform" action="" method="POST" accept-charset="UTF-8" role="form">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="Username" name="username" type="text">
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password" value="">
                </div>
                <input class="btn btn-md btn-success btn-block" type="submit" value="Login">
              </fieldset>
            </form>
          </div>
        </div>
      </div>

      <div class="powered-by text-muted">
        
        <a href="http://researchspace.org/">
            <img src="/assets/no_auth/researchspacelogo_blacktext.svg" alt="Researchspace"/>
        </a>
        <a href="http://metaphacts.com">
          <img src="/metaphacts/branding/metaphacts-logo.png" alt="Metaphacts"/>
        </a>

        <p>Powered by <a target="_blank" href="http://researchspace.org/">ResearchSpace</a> and <a href="http://metaphacts.com">Metaphacts</a></p>
      </div>

    </div>

  </body>
</html>
