<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>ResearchSpace</title>
      <link href="{{assetsMap.basic_styling}}" rel="stylesheet" title="Default Style">
      <style>
        body {
         
          font-size: 14px;
          line-height: 1.2;
        
          height: 100vh !important;
          padding-bottom: 0!important;
        }

        .logo--login {
          margin-top: 0px;
          padding-bottom: 30px;
        }

        .login-container {

          padding-bottom: 25vh;
        }

        .login-container .panel {
            width: 330px;
        }

        .panel {
          margin-bottom: 8px;
        }

        .panel-body {
            padding: 19px 22px;
        }

        .login-border {

          padding: 35px 35px 18px 35px;
        }

        .panel-default {
            border-color: #dddddd7d;
        }

        
        .login-container .form-control, 
        .login-container input {
          
          letter-spacing: 0.3px;

        }

        .login-container .btn-success {
           
          font-weight: 700;
          font-size: 16px;
          letter-spacing: 0.5px;
        }


        .rs-display1 {
         
          font-size: 34px !important;
          line-height: 1.1;
        }

        .powered-by img {
          height: 34px;
          width: auto;
        }


        .alert-danger {
            background-color: #d93348;
            border-color: #d93348;
            color: white;
        }

        .alert {
            padding: 8px;
            margin-bottom: 21px;
            margin-right: 15px;
            margin-left: 15px;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 3px;
        }

      </style>
  </head>
  <body>

          <div class="login-container" data-flex-layout="column center-center">

        <div class="login-border">
          <div data-flex-layout = "row center-center" class="logo--login">
              <div class="rs-display1">{{deploymentTitle}}</div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              {{#if shiroLoginFailure}}
                <div class="alert alert-danger">
                  <strong>{{shiroLoginFailure}}</strong>
                </div>
              {{/if}}
              <form name="loginform" action="" method="POST" accept-charset="UTF-8" role="form">
                <fieldset>
                  <div class="form-group">
                    <input class="form-control" placeholder="Username" name="username" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                  </div>
                  <input class="btn btn-md btn-success btn-block" type="submit" value="Login">
                </fieldset>
              </form>
            </div>
          </div>   
        </div>

        <div class="powered-by">
        <a href="https://www.researchspace.org/"><img src="/assets/no_auth/researchspace_black.svg" alt="Researchspace"/></a>
      </div>

    </div>

  </body>
</html>
