[[!-- <li>
  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                          urlqueryparam-view='admin'
                          urlqueryparam-resource-iri='[[resolvePrefix "rsp:admin"]]'
                          urlqueryparam-custom-label='Administration'>
    <div>Administration</div>
  </semantic-link-container>
</li> --]]
<li>
  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                          urlqueryparam-view='admin'
                          urlqueryparam-resource-iri='http://www.researchspace.org/resource/assets/Ontologies'
                          urlqueryparam-custom-label='Ontologies'>
    <div>Ontologies</div>
  </semantic-link-container>
</li>

<semantic-query query='SELECT ?ontology { GRAPH ?g { ?ontology a owl:Ontology. <[[this]]> a ?type } } LIMIT 1'
              template='<li><semantic-link iri="{{bindings.0.ontology.value}}"></semantic-link></li>'>
</semantic-query>