<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Administration" iri='[[resolvePrefix "rsp:admin"]]'>Administration</semantic-link>
  </li>
  <li class="active">Data import and download</li>
</ol>

<div class="page rs-import-exp">

  [[> rsp:adminPageHeader title="Data import and download" materialIcon="import_export"]]

  <div class="container-fluid" style="margin-bottom: 40px;">
    <bs-row class="row-center">
      <bs-col xs=12 sm=11 md=10 lg=9 class="rs-col-xl-8">

        <h1>Data import</h1>
        <hr style="margin-top:0px;" />
        [[#if (hasPermission "sparql:update")]]
        <bs-alert bs-style="info">
          <strong>Info!</strong><br />
          <p>
            The data import via drag&amp;drop file upload should only be used for smaller files.
          </p>
          <p>
            All communication is done via HTTP and as such there are several limiting parameters, for example,
            the maximum body size a client may post against the webserver (e.g. tomcat, jetty or nginx default
            configuration
            is usually around 2 MBs). <br />
            For loading larger datasets it is generally recommended to load the data via dedicated (but usually
            proprietary)
            graph database APIs. See also <semantic-link iri="http://help.researchspace.org/resource/WorkingWithData">
            </semantic-link>.
          </p>
        </bs-alert>
        <mp-rdf-upload></mp-rdf-upload>
        [[else]]
        <i>No permission for uploading or modifying data.</i>
        [[/if]]


        <h1 style="margin-top: 30px;">All named graphs</h1>
        <hr style="margin-top:0px;" />

        <mp-event-proxy id='{{viewId}}-dataImport-upload-success-proxy' 
                        on-event-type='RdfUpload.Success'
                        proxy-event-type='Component.Refresh' 
                        proxy-targets='["{{viewId}}-data-export-table"]'
        ></mp-event-proxy>

        <mp-event-proxy id='{{viewId}}-dataImport-graph-action-success-proxy' 
                        on-event-type='GraphAction.Success'
                        proxy-event-type='Component.Refresh'
                        proxy-targets='["{{viewId}}-data-export-table"]'
        ></mp-event-proxy>

        <mp-event-target-refresh id='{{viewId}}-data-export-table'>
          <div>
            <semantic-query
              query='SELECT (COUNT(*) as ?number) WHERE { { SELECT DISTINCT ?g WHERE{ GRAPH ?g {?s ?p ?o} } LIMIT 1000 } }'
              template='{{#each bindings}}{{#ifCond number.value ">=" 1000}}<bs-alert bs-style="warning"> The following table is limited to show only <strong>1000</strong> named graphs.</bs-alert> {{else}} <div class="page__section-container"> The repository contains <strong> {{number.value}} </strong> distinct named graphs.</div> {{/ifCond}}{{/each}}'>
            </semantic-query>
            
            <semantic-table query='SELECT ?graph WHERE {
                                      {
                                        SELECT DISTINCT ?graph WHERE {
                                          { GRAPH ?graph { ?subject ?predicate ?object. } }
                                        } LIMIT 1000
                                      }
                                  }' 
                            column-configuration='[ {"variableName":"graph", "displayName":"Named Graph", "cellTemplate":"{{> link}}"},
                                                    {"displayName":"Triples", "cellTemplate":"{{> count}}"},
                                                    {"displayName":"Actions", "cellTemplate": "{{> actions}}"}
                                                  ]'>

              <template id='link'>
                <semantic-link iri='[[resolvePrefix "Admin:NamedGraphs"]]' urlqueryparam-graph="{{graph.value}}">
                  {{graph.value}}</semantic-link>
              </template>

              <template id='count'>
                <semantic-query query='
                  SELECT ?size WHERE {
                    {
                      SELECT (COUNT(*) as ?number) WHERE {
                        GRAPH <{{graph.value}}> { { SELECT * WHERE{ ?s ?p ?o}  LIMIT 1000 } }
                      } LIMIT 1
                    }
                    BIND(IF(?number>=1000, &apos;>=1000&apos;, ?number) as ?size)
                  }
                '></semantic-query>
              </template>

              <template id='actions'>
                <div class="btn-inline-container">
                  [[#if (hasPermission "sparql:graphstore:get")]]
                    <bs-dropdown id="download">
                      <bs-dropdown-toggle>
                          <rs-icon icon-type="rounded" icon-name="file_download" symbol="true"></rs-icon>
                          Download
                      </bs-dropdown-toggle>
                      <bs-dropdown-menu>
                        
                        <mp-graph-store-action title="Download" action="GET" graphuri="{{graph.value}}" file-ending="trig">
                          <bs-menu-item event-key=1>TRIG</bs-menu-item>
                        </mp-graph-store-action>
                      
                        <mp-graph-store-action title="Download" action="GET" graphuri="{{graph.value}}" file-ending="ttl">
                          <bs-menu-item event-key=2>TURTLE</bs-menu-item>
                        </mp-graph-store-action>
                      
                        <mp-graph-store-action title="Download" action="GET" graphuri="{{graph.value}}" file-ending="nt">
                          <bs-menu-item event-key=3>NTRIPLES</bs-menu-item>
                        </mp-graph-store-action>
                        
                        <mp-graph-store-action title="Download" action="GET" graphuri="{{graph.value}}" file-ending="rdf">
                          <bs-menu-item event-key=4>RDF/XML</bs-menu-item>
                        </mp-graph-store-action>
                        
                        <mp-graph-store-action title="Download" action="GET" graphuri="{{graph.value}}" file-ending="owl">
                          <bs-menu-item event-key=4>OWL</bs-menu-item>
                        </mp-graph-store-action>
                        
                      </bs-dropdown-menu>
                    </bs-dropdown>
                  [[/if]]
                  [[#if (hasPermission "sparql:graphstore:delete")]]
                    <mp-graph-store-action title="Delete" action="DELETE CUSTOM" graphuri="{{graph.value}}" graph-description="{{graph.value}}">
                      <button class="btn btn-default btn-textAndIcon" style="margin-right:8px;">
                        <rs-icon icon-type="rounded" icon-name="delete" symbol="true"></rs-icon>Delete
                      </button>
                    </mp-graph-store-action>
                  [[/if]]
                </div>
              </template>

              <template id='export'>
                
              </template>

              <template id='delete'>
              </template>

            </semantic-table>
          </div>
        </mp-event-target-refresh>
      </bs-col>
    </bs-row> <!--  close row -->
  </div>
</div>
