<ol class="page-breadcrumb">
 [[!-- <li>
    <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                            urlqueryparam-view='admin'
                            urlqueryparam-resource-iri='[[resolvePrefix "rsp:admin"]]'
                            urlqueryparam-custom-label='Administration'>
      <div>Administration</div>
    </semantic-link-container>
  </li> --]]
  [[#if (urlParam "ontologyIri")]]
  <li>
    <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                            urlqueryparam-view='admin'
                            urlqueryparam-resource-iri='http://www.researchspace.org/resource/assets/Ontologies'
                            urlqueryparam-custom-label='Ontologies'>
      <div>Ontologies</div>
    </semantic-link-container>
  </li>
    <li>
      <semantic-link iri='[[urlParam "ontologyIri"]]'></semantic-link>
    </li>
    <li class="active">Ontology Diagrams</li>
  [[else]]
    <li class="active">Diagrams</li>
  [[/if]]
</ol>


<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-object-group fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>Diagrams</h2>
    </div>
  </div>
  <div class='page__body'>
    [[> http://www.researchspace.org/resource/assets/OntodiaDiagramsTable ]]
  </div>
</div>
