<semantic-form [[> rsp:FormDefaults]] 
               persistence='{"type": "sparql", "targetGraphIri": "http://www.researchspace.org/resource/system/FieldCategories"}'
               new-subject-template='http://www.researchspace.org/resource/system/category/{{{{raw}}}}{{skos_prefLabel}}{{{{/raw}}}}'
               fields='[[
                fieldDefinitions
                  classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                  rdfsType="http://www.w3.org/2000/01/rdf-schema#type"
                  skos_inScheme="http://www.researchspace.org/pattern/system/entity/skos_inScheme"
                  has_type="http://www.researchspace.org/pattern/system/entity/has_type"

                  skos_prefLabel="http://www.researchspace.org/pattern/system/entity/skos_prefLabel"

                  skos_broader="http://www.researchspace.org/pattern/system/entity/skos_broader"
                  skos_narrower="http://www.researchspace.org/pattern/system/entity/skos_narrower"
                  skos_scopeNote="http://www.researchspace.org/pattern/system/entity/skos_scopeNote"

                  description="http://www.researchspace.org/pattern/system/entity/description"
               ]]'
>

  <div class="form-scroll-area {{#if nested}}nested-form{{/if}}">
    <semantic-form-hidden-input for="classtype" default-value="http://www.w3.org/2004/02/skos/core#Concept"></semantic-form-hidden-input>
    <semantic-form-hidden-input for="rdfsType" default-value="http://www.researchspace.org/resource/system/fields/category"></semantic-form-hidden-input>
    <semantic-form-hidden-input for="skos_inScheme" default-value="http://www.researchspace.org/resource/system/FieldCategories"></semantic-form-hidden-input>  
    <semantic-form-hidden-input for="has_type" default-value='http://www.researchspace.org/resource/system/vocab/resource_type/KP_category'></semantic-form-hidden-input>

    <semantic-form-text-input for="skos_prefLabel" label="Preferred {{#if entityType}}{{entityType}}{{/if}} name" 
                              placeholder="Enter preferred {{#if entityType}}{{entityType}}{{/if}} name"> 
    </semantic-form-text-input>

    <semantic-form-tree-picker-input  for="skos_broader" 
                                              label="Broader {{#if entityType}}{{entityType}}{{else}}category{{/if}}" 
                                              placeholder="Select broader {{#if entityType}}{{entityType}}{{else}}category{{/if}}" 
                                              close-dropdown-on-selection='false'
                                              default-values='{{#if scheme}}[{{#if broader}}"{{broader}}"{{/if}}]{{else}}{{/if}}' 

                                              tree-patterns='{"scheme": "{{#if scheme}}{{scheme}}{{else}}http://www.w3.org/2004/02/skos/core#Concept{{/if}}",
                                                              "schemePattern": "{{#if scheme}}?item skos:inScheme <{{scheme}}> .
                                                                                {{else}}?item a skos:Concept . {{/if}}
                                                                                ?item crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/KP_category>",
                                                              "relationPattern": "?item skos:broader ?parent",
                                                              "labelPattern": "?item skos:prefLabel ?label ."}'

                                              nested-form-template='{{#if scheme}}
                                                                      {{else}}
                                                                        {{{{raw}}}}{{> forms:KPCategory nested=true editable=true mode="new" }}{{{{/raw}}}}
                                                                      {{/if}}'  

                                              query-item-label='SELECT ?label WHERE {
                                                                      ?item skos:prefLabel ?label .
                                                                }'
    ></semantic-form-tree-picker-input>

    <semantic-form-tree-picker-input  for="skos_narrower" 
                                      label="Narrower {{#if entityType}}{{entityType}}{{else}}category{{/if}}" 
                                      placeholder="Select narrower {{#if entityType}}{{entityType}}{{else}}category{{/if}}"
                                      close-dropdown-on-selection='false'
                                              
                                      tree-patterns='{"scheme": "{{#if scheme}}{{scheme}}{{else}}http://www.w3.org/2004/02/skos/core#Concept{{/if}}",
                                                              "schemePattern": "{{#if scheme}}?item skos:inScheme <{{scheme}}> .
                                                                                {{else}}?item a skos:Concept . {{/if}}
                                                                                ?item crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/KP_category>",
                                                              "relationPattern": "?item skos:broader ?parent",
                                                              "labelPattern": "?item skos:prefLabel ?label ."}'

                                      nested-form-template='{{#if scheme}}
                                                              {{else}}
                                                                {{{{raw}}}}{{> forms:KPCategory nested=true editable=true mode="new" }}{{{{/raw}}}}
                                                              {{/if}}'  

                                      query-item-label='SELECT ?label WHERE {
                                                              ?item skos:prefLabel ?label .
                                                        }'
    ></semantic-form-tree-picker-input>
    
    <semantic-form-text-input for="skos_scopeNote" multiline=true label="Scope note/description" 
                              placeholder="Enter {{#if entityType}}{{entityType}}{{else}}category{{/if}} scope note"> 
    </semantic-form-text-input>
      
  </div>
  
  <semantic-form-errors></semantic-form-errors>
  [[> rsp:FormDefaultActions formEntity='category']] 
</semantic-form>

