<semantic-form [[> rsp:FormDefaults]] 
               persistence='{"type": "sparql", "targetGraphIri": "{{scheme}}"}'
               new-subject-template='{{scheme}}/{{{{raw}}}}{{prefLabel}}{{{{/raw}}}}'
               fields='[[fieldDefinitions
                        classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                        rdfType="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                        inScheme="http://www.researchspace.org/resource/system/skos_inScheme"
                        prefLabel="http://www.researchspace.org/resource/system/skos_prefLabel"
               ]]'
>

  <div class="form-scroll-area">
  
    <semantic-form-hidden-input for="classtype" default-value="http://www.researchspace.org/resource/system/fields/category"></semantic-form-hidden-input>
    <semantic-form-hidden-input for="rdfType" default-value="http://www.w3.org/2004/02/skos/core#Concept"></semantic-form-hidden-input>
    <semantic-form-hidden-input for="inScheme" default-value="http://www.researchspace.org/resource/system/FieldCategories"> </semantic-form-hidden-input>  
    
    <semantic-form-text-input for="prefLabel" placeholder="Enter preferred label" label="Preferred label"> </semantic-form-text-input>

  </div>

  <semantic-form-errors></semantic-form-errors>
  [[> rsp:FormDefaultActions]] 
</semantic-form>


