<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="resource/Start">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Administration" iri='[[resolvePrefix "rsp:admin"]]'>Administration</semantic-link>
  </li>
  <li class="active">Namespaces</li>
</ol>

<div class="page rs-namespaces" style="padding-bottom: 50px;">
  
  [[> rsp:adminPageHeader title="Namespaces" icon="fa fa-code fa-lg"]]
  
  <div class="container-fluid">
      <bs-row class="row-center">
          <bs-col xs=12 sm=11 md=10 lg=9 class="rs-col-xl-8">
  
          [[#if (hasPermission "namespaces:*")]]
            <i>Prefixes starting with a capital letter are system namespaces and can not be changed during runtime.</i>
            <hr/>
            <mp-admin-namespace-manager> </mp-admin-namespace-manager>
          
            [[else]]
            No permission to edit or add namespaces.
            [[/if]]
  
            </bs-col>   
      </bs-row> <!--  close row -->
  </div>
</div>
