[[!-- <ol class="page-breadcrumb">
  <li>
    <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                            urlqueryparam-view='admin'
                            urlqueryparam-resource-iri='[[resolvePrefix "rsp:admin"]]'
                            urlqueryparam-custom-label='Administration'>
      <div>Administration</div>
    </semantic-link-container>
  </li>
  <li class="active">Logs</li>
</ol>

--]]

<div class="page__grid-container application-page-container">
  <div class='page__content-container'>
    [[> rsp:adminPageHeader title="Logs"]]
    <div id="rs-logs-tabs">
      <bs-tabs unmount-on-exit="true">
        <bs-tab event-key="1" title="Log Browser">
          <div class="page__section-container" style="margin-top: 10px;">
            Select one of the available log files to view the logs in the log browser.
        </div>
          <div data-flex-layout="row top-top">
            <div style="padding-right: 20px;">
              <mp-json-renderer get-url="/rest/admin/logs" template="{{> x}}">
                <template id="x">
                  <div>
                    <b>Available Logs</b>

                    <div style="padding-left: 5px; padding-top: 5px;">
                      {{#each this as |e|}}
                        <div>
                          <mp-event-trigger
                            id="event-trigger"
                            type="Component.TemplateUpdate"
                            data='{"relativePath": "{{e.relativePath}}"}'
                            targets='["event-target"]'
                          >
                            <a>{{e.name}}</a>
                          </mp-event-trigger>
                          &nbsp;
                          <a href="/rest/admin/logs/{{e.relativePath}}?download=true"  class="text-underline" target="_BLANK">Download</a>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                </template>
              </mp-json-renderer>
            </div>

            <div data-flex-self="size-x1">
              <mp-event-target-template-render id="event-target" template="{{> template}}">
                <template id="template">
                  <div>
                    <span>Log: <i>{{relativePath}}</i></span>
                    <div style="width: 100%; height: calc(100vh - 370px);">
                      <mp-admin-log-browser url="/rest/admin/logs/{{relativePath}}"></mp-admin-log-browser>
                    </div>
                  </div>
                </template>
              </mp-event-target-template-render>
            </div>
          </div>
        </bs-tab>

        <bs-tab event-key="2" title="Logging Configuration">
          <div>
            <div class="page__section-container" style="margin-top: 10px;">
              <p>
                Use the following control to activate a different logging profile (e.g. for debugging purposes).
              </p>
              Note: the configuration is not permanent and will be reset after restarting the service.
            </div>

            <p style="padding-top: 10px;">
              Current profile:&nbsp;
              <mp-json-renderer
                get-url="/rest/admin/logs/profile"
                template="{{this.logprofile}}"
              ></mp-json-renderer>
            </p>

            <div>
              <mp-logging-profile-selector></mp-logging-profile-selector>
            </div>
          </div>
        </bs-tab>
      </bs-tabs>
    </div>
  </div>
</div>
