[[!-- <ol class="page-breadcrumb">
  <li>
    <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                            urlqueryparam-view='admin'
                            urlqueryparam-resource-iri='[[resolvePrefix "rsp:admin"]]'
                            urlqueryparam-custom-label='Administration'>
      <div>Administration</div>
    </semantic-link-container>
  </li>
  <li class="active">Templates & Application Pages</li>
</ol> --]]

<div class="page__grid-container application-page-container">
  <div class='page__content-container'>
    [[> rsp:adminPageHeader title="Templates & Application Pages" ]]

    <p>Navigate to any static page or template by providing its full IRI.</p>
    
    <mp-navigate-to-resource placeholder="Enter full page IRI, e.g http://help.researchspace.org/resource/Start"></mp-navigate-to-resource>

    <h1 style="margin-top: 30px;">All templates</h1>
    <hr style="margin-top:0px;" />
    
    <mp-admin-page-manager> </mp-admin-page-manager>
  </div>
</div>
