[[#if (hasPermission "api:config")]]
  <style>
    #template-content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
  }
  </style>
[[/if]]

<div class="page__grid-container application-page-container">
  <div class='page__content-container' style="overflow: hidden;">            
    [[#if (hasPermission "api:config")]]
      <field-editor></field-editor>
    [[else]]
      <div class="warning-documentation-section warning-documentation-section-withIcon">
        <div class="warning-documentation-section-icon-container">
          <rs-icon icon-type="rounded" icon-name="lock" symbol="true"></rs-icon>
        </div>
        <div> 
          <div class="warning-documentation-section-title">Permission denied!</div>
          <div class="warning-documentation-section-content">
            <div>You don't have permission to create a new Knowledge pattern.</div>
          </div>
        </div>
      </div>
    [[/if]]
  </div>
</div>



