[[#if (hasPermission "api:config")]]

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Administration" iri='[[resolvePrefix "rsp:admin"]]'>Administration</semantic-link>
  </li>
  <li>
      <semantic-link title="Assets" iri='[[resolvePrefix "Platform:fieldDefinitionContainer"]]'>Knowledge Patterns</semantic-link>
  </li>
  <li class="active">New Knowledge Pattern</li>
</ol>

<div class="page rs-new-fields">
  
  [[> rsp:assetpageHeader title="New Knowledge Pattern" icon="fa fa-list-ul fa-lg"]]
 
  <div class="container-fluid" style="margin-bottom:60px;">
      <bs-row class="row-center">
          <bs-col xs=11 sm=10 md=10 lg=8 class="pr-0">
    				
            <field-editor></field-editor>
  				</bs-col>   
      </bs-row>
  </div>
  
</div>
[[else]]

<p>No Permission</p>

[[/if]]