<style>

  .SemanticTreeInput--tree {
    height: 300px;
  }
  
</style>

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Administration" iri='[[resolvePrefix "rsp:admin"]]'>Administration</semantic-link>
  </li>
  <li>
    <semantic-link title="Ontologies" iri="http://www.researchspace.org/resource/assets/Ontologies">Ontologies
    </semantic-link>
  </li>
  <li class="active">Search ontology properties</li>
</ol>

<div class="page" style="margin-bottom: 30px;">

  [[> rsp:adminPageHeader title="Search ontology properties" materialIcon="search"]]

  <div class="container-fluid">
    <bs-row class="row-center">
      <bs-col xs=12 sm=11 md=10 lg=9 class="rs-col-xl-8">
        
        <h5 style="margin-bottom: 5px;">Select ontology</h5> 

        <semantic-tree-input  id='{{viewId}}-ontology-selection'
                              close-dropdown-on-selection='false'
                              open-dropdown-on-focus='true'
                              multiple-selection='true'
                              initial-selection='["http://www.researchspace.org/ontology/","http://www.cidoc-crm.org/cidoc-crm/CRMsci/","http://www.ics.forth.gr/isl/CRMdig/","http://www.ics.forth.gr/isl/CRMinf/","http://www.cidoc-crm.org/cidoc-crm/","http://www.cidoc-crm.org/cidoc-crm/CRMarchaeo/","http://www.ics.forth.gr/isl/CRMgeo/","http://www.cidoc-crm.org/cidoc-crm/CRMba/","http://iflastandards.info/ns/fr/frbr/frbroo/","http://www.w3.org/2004/02/skos/core"]'
                              placeholder="Select ontology"
                              roots-query='SELECT DISTINCT ?item ?label ?hasChildren WHERE {
                                            {
                                              ?item  a owl:Ontology .
                                              ?item  rdfs:label ?label .
                                            } 
                                            BIND(false AS ?hasChildren) .
                                          } ORDER BY  ASC(?item)'
                              
                              children-query='SELECT ?item ?label ?hasChildren WHERE {}'
                              
                              parents-query='SELECT ?item ?parent ?parentLabel WHERE {}'
                              
                              search-query='SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
                                              {
                                                ?item  a owl:Ontology .
                                                ?item  rdfs:label ?label .
                                                BIND(2 as ?order)
                                              } UNION {
                                                VALUES (?item ?label ?order) {
                                                  (<http://www.researchspace.org/resource/system/ontology/allOntologies> "All ontologies" 1)
                                                  }
                                              }
                                              ?label bds:search ?__token__;
                                                bds:minRelevance "0.3";
                                                bds:relevance ?score;
                                                bds:matchAllTerms "true".
                                                BIND(false AS ?hasChildren) .
                                            } ORDER BY DESC (?score) (?item)'
                          >
        </semantic-tree-input>
        
        <mp-event-proxy id='{{viewId}}-on-ontology-selection-proxy' 
                        on-event-source='{{viewId}}-ontology-selection'
                        on-event-types='["SemanticTreeInput.ItemSelectionChanged"]'
                        proxy-event-type='Component.TemplateUpdate' 
                        proxy-targets='["{{viewId}}-ontology-properties-search-result-holder"]'>
        </mp-event-proxy>
        
        <mp-event-target-template-render id='{{viewId}}-ontology-properties-search-result-holder' template='{{> template}}'>
          <template id='template'>
                      
            {{#if iris}}
              {{#bind selectedOntology=iris}}
                <semantic-search>
                  <semantic-search-form-query query-template='{"queryString": "SELECT DISTINCT ?subject ?property ?superclass
                                                                                WHERE {                     
                                                                                    ?ontologyClass a owl:Class .                            
                                                                                    {
                                                                                      ?ontologyclass rdfs:subClassOf* ?superclass .	
                                                                                      
                                                                                      ?property rdfs:domain ?superclass .
                                                                                      ?property rdfs:range ?subject.
                                                                                    } UNION {

                                                                                      BIND(?ontologyclass as ?superclass)
                                                                                      ?property rdf:type owl:ObjectProperty ;
                                                                                                rdfs:domain ?ontologyclass .
                                                                                      ?property rdfs:range ?subject.
                                                                                    }
                                                                                    BIND(REPLACE(STR(?property), \"(.*)/.*$\", \"$1\") AS ?prefix)
                                                                                    BIND(IF(CONTAINS(STR(?property), \"skos\"), CONCAT(?prefix, \"/core\"), CONCAT(STR(?prefix), \"/\")) AS ?propertyOntologyString)
                                                                                    BIND(URI(?propertyOntologyString) as ?propertyOntology)
                                                                                    FILTER(?propertyOntology IN ({{selectedOntology}}))                                        
                                                                                
                                                                                }",

                                                                "arguments": { "ontologyclass": {"type": "xsd:anyURI"} }
                                                              }'
                                              fields='[{
                                                        "id": "ontologyclass",
                                                        "label": "Class",
                                                        "xsdDatatype": "xsd:anyURI",
                                                        "minOccurs": "0",
                                                        "maxOccurs": "1",
                                                        "treePatterns": {
                                                                          "type": "simple",
                                                                          "schemePattern":  "?ontologyclass a owl:Class . ",
                                                                          "relationPattern": "?item rdfs:subClassOf ?parent",
                                                                          "labelPattern": "?item ((crm:P1_is_identified_by/rdfs:label)|rs:displayLabel|rdfs:label|skos:prefLabel) ?label .
                                                                                          FILTER (lang(?label) = \"en\")"
                                                                        }
                                                      }]'>

                            <semantic-query query='SELECT ?ontologyLabel WHERE {
                                                      
                                                      ?selectedOntology rdfs:label ?ontologyLabel .
                                                      FILTER (?selectedOntology in ({{selectedOntology}}))
                                                    }'
                                            template='{{> template}}'
                                            no-result-template='{{> noResults}}'
                            >
                                      
                                <template id="template">
                                  <div> [[!-- {{bindings.0.ontologyLabel.value}} --]]
      {{selectedOntology}}
                                    <h5 style="margin-bottom: 5px; margin-top: 15px;">Select class</h5>
                                  </div>
                                </template>

                                <template id='noResults'>
                                  <div>
                                    <h5 style="margin-bottom: 5px; margin-top: 15px;">Select ontology class</h5>
                                  </div>
                                </template>
                            </semantic-query>
                            
                            <div class="btn-inline-container" style="align-items: flex-start;">
                              <div style="flex: 1;">                               
                                <semantic-form-tree-picker-input for="ontologyclass" 
                                                                  render-header="false" 
                                                                  placeholder='Select class'
                                                                  show-link-resource-button="false"
                                                                  close-dropdown-on-selection='true'
                                                                  tree-patterns='{
                                                                    "rootsQuery":"SELECT DISTINCT ?item ?label ?hasChildren WHERE {
                                                                                    ?item rdf:type owl:Class.
                                                                                    BIND(REPLACE(STR(?item), \"(.*)/.*$\", \"$1\") AS ?prefix)
                                                                                    BIND(IF(CONTAINS(STR(?item), \"skos\"), CONCAT(?prefix, \"/core\"), CONCAT(STR(?prefix), \"/\")) AS ?ontologyString)
                                                                                    BIND(URI(?ontologyString) as ?ontology)
                                                                                    FILTER(?ontology IN ({{selectedOntology}}))
                                                                                    FILTER(NOT EXISTS { 
                                                                                      ?item rdfs:subClassOf ?parent .  
                                                                                      BIND(CONCAT(REPLACE(STR(?parent), \"(.*)/.*$\", \"$1\"), \"/\") AS ?prefixParent)
                                                                                      BIND(IF(CONTAINS(STR(?parent), \"skos\"), CONCAT(?prefixParent, \"core\"), CONCAT(STR(?prefixParent), \"\")) AS ?parentOntologyString)
                                                                                      BIND(URI(?parentOntologyString) as ?parentOntology)
                                                                                      FILTER(?parentOntology IN ({{selectedOntology}}))
                                                                                    })
                                                                                    ?item ((crm:P1_is_identified_by/rdfs:label)|rs:displayLabel|rdfs:label|skos:prefLabel) ?label.
                                                                                    FILTER((LANG(?label)) = \"en\")
                                                                                    OPTIONAL {
                                                                                      ?child rdfs:subClassOf ?item.
                                                                                      
                                                                                    }
                                                                                    BIND(BOUND(?child) AS ?hasChildren)
                                                                                    OPTIONAL { BIND(?label AS ?order) }
                                                                                  }
                                                                                  ORDER BY (?order) (?label)
                                                                                  LIMIT 200", 
                                                                    "childrenQuery":"SELECT DISTINCT ?item ?label ?hasChildren WHERE {
                                                                                      ?item rdfs:subClassOf ?parent.
                                                                                      ?item rdf:type owl:Class.
                                                                                      BIND(REPLACE(STR(?item), \"(.*)/.*$\", \"$1\") AS ?prefix)
                                                                                      BIND(IF(CONTAINS(STR(?item), \"skos\"), CONCAT(?prefix, \"/core\"), CONCAT(STR(?prefix), \"/\")) AS ?ontologyString)
                                                                                      BIND(URI(?ontologyString) as ?ontology)
                                                                                      FILTER(?ontology IN (<http://www.cidoc-crm.org/cidoc-crm/>, <http://www.cidoc-crm.org/cidoc-crm/CRMsci>, {{selectedOntology}}))
                                                                                                                              
                                                                                      ?item ((crm:P1_is_identified_by/rdfs:label)|rs:displayLabel|rdfs:label|skos:prefLabel) ?label.
                                                                                      FILTER((LANG(?label)) = \"en\")
                                                                                      OPTIONAL { ?child rdfs:subClassOf ?item. 
                                                                                          
                                                                                      }
                                                                                      BIND(BOUND(?child) AS ?hasChildren)
                                                                                      OPTIONAL { BIND(?label AS ?order) }
                                                                                    }
                                                                                    ORDER BY (?order) (?label)",
                                                                    "parentsQuery":"SELECT DISTINCT ?item ?parent ?parentLabel WHERE {
                                                                      ?item rdfs:subClassOf ?parent.
                                                                      BIND(REPLACE(STR(?parent), \"(.*)/.*$\", \"$1\") AS ?prefix)
                                                                      BIND(IF(CONTAINS(STR(?parent), \"skos\"), CONCAT(?prefix, \"/core\"), CONCAT(STR(?prefix), \"/\")) AS ?ontologyString)
                                                                      BIND(URI(?ontologyString) as ?ontology)
                                                                      FILTER(?ontology IN ( {{selectedOntology}}))

                                                                      ?parent ((crm:P1_is_identified_by/rdfs:label)|rs:displayLabel|rdfs:label|skos:prefLabel) ?parentLabel.
                                                                      FILTER((LANG(?parentLabel)) = \"en\")
                                                                    }",
                                                                    "searchQuery":"SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
                                                                                    ?item rdf:type owl:Class.
                                                                                    BIND(REPLACE(STR(?item), \"(.*)/.*$\", \"$1\") AS ?prefix)
                                                                                    BIND(IF(CONTAINS(STR(?item), \"skos\"), CONCAT(?prefix, \"/core\"), CONCAT(STR(?prefix), \"/\")) AS ?ontologyString)
                                                                                    BIND(URI(?ontologyString) as ?ontology)
                                                                                    FILTER(?ontology IN ({{selectedOntology}}))                                        
                                                                                    ?item ((crm:P1_is_identified_by/rdfs:label)|rso:displayLabel|rdfs:label|skos:prefLabel) ?label.
                                                                                    ?label bds:search ?__token__;
                                                                                      bds:minRelevance \"0.3\";
                                                                                      bds:relevance ?score;
                                                                                      bds:matchAllTerms \"true\".
                                                                                    OPTIONAL { ?child rdfs:subClassOf ?item. 
                                                                                      BIND(REPLACE(STR(?child), \"(.*)/.*$\", \"$1\") AS ?childPrefix)
                                                                                      BIND(IF(CONTAINS(STR(?child), \"skos\"), CONCAT(?prefix, \"/core\"), CONCAT(STR(?prefix), \"/\")) AS ?childOntologyString)
                                                                                      BIND(URI(?childOntologyString) as ?childOntology)
                                                                                      FILTER(?childOntology IN ({{selectedOntology}})) 
                                                                                    }
                                                                                    BIND(BOUND(?child) AS ?hasChildren)
                                                                                    OPTIONAL { BIND(?label AS ?order) }
                                                                                  }
                                                                                  ORDER BY DESC (?score) (?order) (?label)
                                                                                  LIMIT 200"
                                                                                }'
                                                                  query-item-label='SELECT ?label WHERE {
                                                                                      ?item ((crm:P1_is_identified_by/rdfs:label)|rs:displayLabel|rdfs:label|skos:prefLabel) ?label.
                                                                                      FILTER (lang(?label) = "en")
                                                                                    }'>
                                </semantic-form-tree-picker-input>
                              </div>
                              <button type='button' name='submit' class='btn btn-action' style="height: 39px;">Search properties</button>
                            </div>
                  </semantic-search-form-query>
          
                  <semantic-search-result-holder>
                    <div style='height: 100%'>
                      <h3 style="margin-top: 25px;">Class properties</h3> 
                      <mp-event-target-template-render id='{{viewId}}-ontology-property-table-render' template='{{> template}}'>
                        <template id='template'>
                          <semantic-search-result>
                            <div class="ontology-property-table">
                              <semantic-table id='ontology-property-table' 
                                              query="SELECT DISTINCT ?property ?propertyLabel ?propertyOntologyURI ?rangeOntologyURI ?description ?propertyFromClass WHERE {
                                                      BIND(?subject as ?range) 

                                                      ?property rdfs:label ?propertyLabel .
                                                      FILTER(LANG(?propertyLabel)='en')
  
                                                      BIND (
                                                        COALESCE(
                                                          IF(CONTAINS(STR(?property), 'http://iflastandards.info/ns/fr/frbr/frbroo/'), REPLACE(STR(?property), 'http://iflastandards.info/ns/fr/frbr/frbroo/', 'frbroo:'), 1/0),
                                                          IF(CONTAINS(STR(?property), 'http://www.cidoc-crm.org/cidoc-crm/CRMarchaeo/'), REPLACE(STR(?property), 'http://www.cidoc-crm.org/cidoc-crm/CRMarchaeo/', 'crmarchaeo:'), 1/0),
                                                          IF(CONTAINS(STR(?property), 'http://www.cidoc-crm.org/cidoc-crm/CRMba/'), REPLACE(STR(?property), 'http://www.cidoc-crm.org/cidoc-crm/CRMba/', 'crmba:'), 1/0),
                                                          IF(CONTAINS(STR(?property), 'http://www.ics.forth.gr/isl/CRMdig/'), REPLACE(STR(?property), 'http://www.ics.forth.gr/isl/CRMdig/', 'crmdig:'), 1/0),
                                                          IF(CONTAINS(STR(?property), 'http://www.ics.forth.gr/isl/CRMgeo/'), REPLACE(STR(?property), 'http://www.ics.forth.gr/isl/CRMgeo/', 'crmgeo:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMinf/'), REPLACE(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMinf/', 'crminf:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/influence/'), REPLACE(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/influence/', 'crminfluence:'), 1/0),                                                
                                                          IF(CONTAINS(STR(?property), 'http://www.ics.forth.gr/isl/CRMsci/'), REPLACE(STR(?property), 'http://www.ics.forth.gr/isl/CRMsci/', 'crmsci:'), 1/0),
                                                          IF(CONTAINS(STR(?property), 'http://www.researchspace.org/ontology/'), REPLACE(STR(?property), 'http://www.researchspace.org/ontology/', 'rso:'), 1/0),
                                                          IF(CONTAINS(STR(?property), 'http://www.w3.org/2004/02/skos/core#'), REPLACE(STR(?property), 'http://www.w3.org/2004/02/skos/core#', 'skos:'), 1/0),
                                                          IF(CONTAINS(STR(?property), 'http://www.cidoc-crm.org/cidoc-crm/'), REPLACE(STR(?property), 'http://www.cidoc-crm.org/cidoc-crm/', 'crm:'), 1/0),
                                                          ?property
                                                        ) AS ?propertyOntologyURI
                                                      )

                                                      BIND (
                                                        COALESCE(
                                                          IF(CONTAINS(STR(?range), 'http://iflastandards.info/ns/fr/frbr/frbroo/'), REPLACE(STR(?range), 'http://iflastandards.info/ns/fr/frbr/frbroo/', 'frbroo:'), 1/0),
                                                          IF(CONTAINS(STR(?range), 'http://www.cidoc-crm.org/cidoc-crm/CRMarchaeo/'), REPLACE(STR(?range), 'http://www.cidoc-crm.org/cidoc-crm/CRMarchaeo/', 'crmarchaeo:'), 1/0),
                                                          IF(CONTAINS(STR(?range), 'http://www.cidoc-crm.org/cidoc-crm/CRMba/'), REPLACE(STR(?range), 'http://www.cidoc-crm.org/cidoc-crm/CRMba/', 'crmba:'), 1/0),
                                                          IF(CONTAINS(STR(?range), 'http://www.ics.forth.gr/isl/CRMdig/'), REPLACE(STR(?range), 'http://www.ics.forth.gr/isl/CRMdig/', 'crmdig:'), 1/0),
                                                          IF(CONTAINS(STR(?range), 'http://www.ics.forth.gr/isl/CRMgeo/'), REPLACE(STR(?range), 'http://www.ics.forth.gr/isl/CRMgeo/', 'crmgeo:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMinf/'), REPLACE(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMinf/', 'crminf:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/influence/'), REPLACE(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/influence/', 'crminfluence:'), 1/0),                                                
                                                          IF(CONTAINS(STR(?range), 'http://www.ics.forth.gr/isl/CRMsci/'), REPLACE(STR(?range), 'http://www.ics.forth.gr/isl/CRMsci/', 'crmsci:'), 1/0),
                                                          IF(CONTAINS(STR(?range), 'http://www.researchspace.org/ontology/'), REPLACE(STR(?range), 'http://www.researchspace.org/ontology/', 'rso:'), 1/0),
                                                          IF(CONTAINS(STR(?range), 'http://www.w3.org/2004/02/skos/core#'), REPLACE(STR(?range), 'http://www.w3.org/2004/02/skos/core#', 'skos:'), 1/0),
                                                          IF(CONTAINS(STR(?range), 'http://www.cidoc-crm.org/cidoc-crm/'), REPLACE(STR(?range), 'http://www.cidoc-crm.org/cidoc-crm/', 'crm:'), 1/0),
                                                          ?range
                                                        ) AS ?rangeOntologyURI
                                                      )

                                                      BIND (
                                                        COALESCE(
                                                          IF(CONTAINS(STR(?superclass), 'http://iflastandards.info/ns/fr/frbr/frbroo/'), REPLACE(STR(?superclass), 'http://iflastandards.info/ns/fr/frbr/frbroo/', 'frbroo:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/CRMarchaeo/'), REPLACE(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/CRMarchaeo/', 'crmarchaeo:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/CRMba/'), REPLACE(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/CRMba/', 'crmba:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMdig/'), REPLACE(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMdig/', 'crmdig:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMgeo/'), REPLACE(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMgeo/', 'crmgeo:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMinf/'), REPLACE(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMinf/', 'crminf:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/influence/'), REPLACE(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/influence/', 'crminfluence:'), 1/0),                                                
                                                          IF(CONTAINS(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMsci/'), REPLACE(STR(?superclass), 'http://www.ics.forth.gr/isl/CRMsci/', 'crmsci:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.researchspace.org/ontology/'), REPLACE(STR(?superclass), 'http://www.researchspace.org/ontology/', 'rso:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.w3.org/2004/02/skos/core#'), REPLACE(STR(?superclass), 'http://www.w3.org/2004/02/skos/core#', 'skos:'), 1/0),
                                                          IF(CONTAINS(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/'), REPLACE(STR(?superclass), 'http://www.cidoc-crm.org/cidoc-crm/', 'crm:'), 1/0),
                                                          ?superclass
                                                        ) AS ?propertyFromClass
                                                      )

                                                      ?property rdfs:comment ?description .

                                                  } ORDER BY ?propertyOntologyURI"
                            
                                            options='{"showFilter":true, "resultsPerPage":30}' 
                                            no-result-template='{{> noResults}}'
                                            column-configuration='[
                                                                    {"displayName": "Property URI", "variableName": "propertyOntologyURI" },
                                                                 [[!--   {"displayName": "Property name", "variableName": "propertyLabel" }, --]]
                                                                    {"displayName": "Range class", "variableName": "rangeOntologyURI"},
                                                                    {"displayName": "Description", "variableName": "description", "cellTemplate": "{{> description}}"},
                                                                    {"displayName": "Property inherited from class", "variableName": "propertyFromClass"}
                                                                    
                                                                  ]'  
                                            >
                                          
                                <template id="noResults">
                                  <div>No results available</div>
                                </template>

                                <template id="description">
                                    <mp-text-truncate lines=3 expand='<div class="text-link">Expand</div>' collapse='<div class="text-link">Collapse</div>'>
                                      {{description.value}}
                                    </mp-text-truncate>
                                </template>
                                          
                              </semantic-table>
                            </div>  
                          </semantic-search-result>
                        </template>
                      </mp-event-target-template-render>
                    </div>
                  </semantic-search-result-holder>
                </semantic-search> 
              {{/bind}}
            {{/if}}
          </template>
        </mp-event-target-template-render>
      
        
      </bs-col>
    </bs-row> <!--  close row -->
  </div>

</div>
