[[!-- <semantic-form 
    fields="[[fieldDefinitions]]"
    subject='[[this]]'
>

  <semantic-form-text-input for="http://www.researchspace.org/instances/fields/PersonPrefName"></semantic-form-text-input>

  <h3 style="padding: 15px 0 5px 0;">Contact Info</h3>
  <semantic-form-text-input for="http://www.researchspace.org/instances/fields/PersonEmail"></semantic-form-text-input>

  <div class='form-btn-group'>
  <button name="reset" class="btn btn-sm btn-default">Reset</button>
  <button name="submit" class="btn btn-sm btn-primary">Save</button>
  </div>
  
</semantic-form>
--]]