<div class="ldp-resource-table">
  <semantic-table id='kp-list-table'
                  number-of-displayed-rows=10
                  query='[[query]]'
                  column-configuration='[
                                {"variableName":"subject","displayName":"Resource", "cellTemplate": "{{> resource}}"},                    
                                {"variableName":"ModificationDate","displayName":"Modified", "cellTemplate": "{{dateTimeFormat ModificationDate.value \"DD/MM/YYYY, h:mm a\"}}" },
                                {"variableName":"Attribution","displayName":"Attribution", "cellTemplate":"{{> attribution}}"},
                                {"displayName":"Actions", "cellTemplate": "{{> actions}}"}
                            ]'
  >
    <template id='resource'>
      <div>
        <span style="display: flex; align-items: baseline; gap: 5px;">
          <mp-selection-toggle selection="resource-selection" tag="{{subject.value}}"></mp-selection-toggle>
          <semantic-context repository='assets'>
            {{#if label}}
              <semantic-link iri='{{subject.value}}' title='{{label.value}}'>{{label.value}}</semantic-link>
            {{else}}
              <semantic-link iri='{{subject.value}}'></semantic-link>
            {{/if}}
          </semantic-context>
        </span> 
      </div>
    </template>

    <template id="attribution">
      <div><mp-label iri="{{attribution.value}}"></mp-label></div>
    </template>
    <template id='actions'>
      <div style="display: flex;">
        <mp-ldp-duplicate-resource-action iri="{{subject.value}}" container="[[container]]">
          <button class="btn btn-default btn-textAndIcon" style="margin-right:8px;">
            <rs-icon icon-type="rounded" icon-name="file_copy" symbol="true"></rs-icon>
            Duplicate</button>
        </mp-ldp-duplicate-resource-action>

        <mp-ldp-export-resource iri="{{subject.value}}">
          <button class="btn btn-default btn-textAndIcon" style="margin-right: 8px">
            <rs-icon icon-type="rounded" icon-name="file_download" symbol="true"></rs-icon> Download
          </button>
        </mp-ldp-export-resource>

        <semantic-if query='ASK {
                              { <{{subject.value}}> <http://www.researchspace.org/resource/system/fields/type> <http://www.researchspace.org/resource/system/type/system> . }
                              UNION 
                              {<{{subject.value}}>  a <http://www.researchspace.org/resource/system/fields/Field> .
                                graph ?g { 
                                  <{{subject.value}}> a ?type . 
                                  VALUES ?type {owl:ObjectProperty owl:DatatypeProperty owl:AnnotationProperty rdf:Property}                                
                                  ?ontology  a owl:Ontology .                               
                                }      
                              }                         
                            }'
                      then='{{> disableDelete}}'
                      else='{{> delete}}'>

              <template id='disableDelete'>
                <div style="display: none;"></div>
              </template>

              <template id='delete'>
                [[#if container "===" "http://www.researchspace.org/resource/system/ontologyContainer"]]
                	<mp-ldp-remove-from-container-action iri="{{subject.value}}" container="[[container]]" ontology="true">
                    <button class="btn btn-default btn-textAndIcon" style="margin-right:8px;">
                       <rs-icon icon-type="rounded" icon-name="delete" symbol="true"></rs-icon>Delete
                    </button>
                  </mp-ldp-remove-from-container-action>
                [[else]]
                  <mp-ldp-remove-from-container-action iri="{{subject.value}}" container="[[container]]">
                    <button class="btn btn-default btn-textAndIcon" style="margin-right:8px;">
                      <rs-icon icon-type="rounded" icon-name="delete" symbol="true"></rs-icon>Delete
                    </button>
                  </mp-ldp-remove-from-container-action>
                [[/if]]
              </template>
        </semantic-if>

      </div>
    </template>
  </semantic-table>
</div>