<div style="display: flex; justify-content: flex-end; margin-bottom: 10px; gap:8px;">

  <semantic-link uri="http://www.researchspace.org/resource/assets/NewField">
    <button class="btn btn-primary">
      <i class="fa fa-plus btn-icon-left"></i> 
      <span>Knowledge pattern</span>
    </button>
  </semantic-link>

  <mp-ldp-import-resource container="parentContainer">
    <button class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i> Import</button>
  </mp-ldp-import-resource>

  <mp-ldp-export-resource iri='container'>
    <button class="btn btn-default" title='Should be used for backup purpose only. Exported container can be imported into the root container on the new installation!'>
      <i class='fa fa-upload' aria-hidden='true'></i> Export all
    </button>
  </mp-ldp-export-resource>

  <mp-selection-action-choice id="resources-selection" title="Export selected">
    <mp-ldp-export-resource><bs-menu-item>Export selected</bs-menu-item></mp-ldp-export-resource>
  </mp-selection-action-choice>

[[!--  [[> http://www.researchspace.org/resource/assets/LdpContainerActionExport]]
  [[> http://www.researchspace.org/resource/assets/LdpContainerGenericAction container=container parentContainer=parentContainer]]
  --]]

</div>
