<semantic-graph
  height='80vh'
  query='[[#if customQuery]][[> query]][[else]]CONSTRUCT { ?? ?p_out ?out . ?in ?p_in ?? } WHERE { { ?? ?p_out ?out } UNION { ?in ?p_in ?? } } LIMIT 50[[/if]]'
  no-result-template='No incoming or outgoing statements for resource [[this]].'
  user-zooming-enabled=true
  [[#if customParameters]] [[> parameters]] [[/if]]
>
  <semantic-graph-layout-cose-bilkent ideal-edge-length='100'></semantic-graph-layout-cose-bilkent>
  <semantic-graph-extension-panzoom pan-indicator-min-opacity='0.1'></semantic-graph-extension-panzoom>
</semantic-graph>
