.ontodia-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  text-transform: none;
  transition: background-color 0.3s;

  &[disabled] {
    cursor: not-allowed;
    opacity: .65;
  }
}

.ontodia-btn-default {
  background-color: $color-white;
  border-color: #ccc;
  color: $color-dark;

  &:hover {
    background-color: #e0e0e0;
  }

  &.active {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
  }

  &.active:hover {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }

  &[disabled], &[disabled]:hover, &[disabled].active, &[disabled].active:hover {
    background-color: #e0e0e0;
  }
}

.ontodia-btn-primary {
  color: $color-white;
  background-color: $color-primary-100;
//  border-color: darken($color-primary-100, 8%);
  outline: none;

  &:hover, &:focus, &:active {
    background-color: $color-primary-100-darker;
  }

  &:hover, &:focus {
 //   border-color: darken($color-primary-100, 10%);
  }

  &.active {
 //   border-color: darken($color-primary-100, 8%);
  }

  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &[disabled].active {
    background-color: $color-primary-100-darker;
  }
}

.ontodia-btn-success {
  background-color: $color-success;
  border-color: $color-success;
  color: $color-white;
  transition: 0.3s;

  &:hover {
    background: $color-success-darker;
  }
}

.ontodia-btn-danger {
  background-color: $color-danger;
  border-color: $color-danger;
  color: $color-white;
  transition: 0.3s;

  &:hover {
    background: $color-danger-darker;
  }
}
