.ontodia-form-control {
  display: block;
  width: 100%;
  height: 34px;
  margin: 0;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  transition: border-color ease-in-out .15s;

  background-color: transparent;
  color: $color-dark;
  border: none;
  border-bottom: 1px solid $color-form-border;

  &:focus {
    border-bottom: 1px solid $color-dark;
    outline: 0;
  }

  &::placeholder {

    color: $color-form-placeholder;
  }

  &:disabled {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
