<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Administration</li>
</ol>

<div class="page">
  [[> rsp:assetpageHeader title="Administration" icon="fa-cog"]]

  <div class="container-fluid">
    <bs-row class="row-center">
      <bs-col xs="12" sm="11" md="10" lg="9" class="rs-col-xl-8" style="margin-bottom: 40px;">
        <bs-row>
          <bs-col xs="12"><h2 class="admin-title" style="margin-top: 12px;">Import - Export</h2></bs-col>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="File Upload" imgIcon="/assets/images/icons/image_upload4.svg"
            pageLink=(resolvePrefix "Admin:FileUpload")]]
          </bs-col>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="Data Import & Export" faIcon="fa fa-upload fa-3x" pageLink=(resolvePrefix
            "Admin:DataImportExport")]]
          </bs-col>
        </bs-row>
        <!--  close row -->

        <bs-row>
          <bs-col xs="12"><h2 class="admin-title">Knowledge Modelling</h2></bs-col>
          [[#if (hasPermission
          "api:ldp:container:<http://www.metaphacts.com/ontologies/platform#fieldDefinitionContainer>:read:any")]]
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="Knowledge Patterns Catalog" faIcon="fa fa-list-ul fa-3x"
            pageLink="http://www.researchspace.org/resource/assets/Fields"]]
          </bs-col>
          [[/if]]
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="Ontologies" faIcon="fa fa-sitemap fa-3x"
            pageLink="http://www.researchspace.org/resource/assets/Ontologies"]]
          </bs-col>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="RDF Namespace Prefixes" faIcon="fa fa-code fa-3x" pageLink=(resolvePrefix
            "Admin:Namespaces")]]
          </bs-col>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="Sparql" imgIcon="/assets/images/icons/sparql.png"
            pageLink="http://system.metaphacts.com/resource/SparqlEndpoint"]]
          </bs-col>
        </bs-row>
        <!--  close row -->

        <bs-row>
          <bs-col xs="12"><h2 class="admin-title">System Resources</h2></bs-col>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="Template & Application Pages" faIcon="fa fa-file-text-o fa-3x"
            pageLink=(resolvePrefix "Admin:Templates")]]
          </bs-col>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="Configurations" faIcon="fa fa-cogs fa-3x" pageLink=(resolvePrefix
            "Admin:SystemConfiguration")]]
          </bs-col>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="Downloadable Assets" faIcon="fa fa-download fa-3x"
            pageLink="http://www.researchspace.org/resource/assets/"]]
          </bs-col>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="Cache Invalidation" faIcon="fa fa-history fa-3x" pageLink=(resolvePrefix
            "Admin:CacheInvalidation")]]
          </bs-col>
        </bs-row>
        <!--  close row -->

        <bs-row>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="System Management" imgIcon="/assets/images/icons/restart.svg"
            pageLink=(resolvePrefix "Admin:System")]]
          </bs-col>
          <bs-col xs="6" md="3"
            >[[>Admin:IconPanelInclude title="Logs" imgIcon="/assets/images/icons/terminal.svg" pageLink=(resolvePrefix
            "Admin:Logs")]]
          </bs-col>
        </bs-row>
        <!--  close row -->

        <!--  <bs-row>
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Data Import & Export" faIcon="fa fa-cloud-upload fa-3x" pageLink=(resolvePrefix "Admin:DataImportExport")]]
                    </bs-col> 
                  <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Sparql" imgIcon="/assets/images/icons/sparql.png" pageLink="http://system.researchspace.org/resource/SparqlEndpoint"]]
                    </bs-col>
                  <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Knowledge Patterns Catalog" faIcon="fa fa-list-ul fa-3x" pageLink=(resolvePrefix "Default:FieldCatalog")]]
                    </bs-col>
                  <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Assets" faIcon="fa fa-cog fa-3x" pageLink="http://www.researchspace.org/resource/assets/"]]
                    </bs-col>
                  <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Cache Invalidation" faIcon="fa fa-history fa-3x" pageLink=(resolvePrefix "Admin:CacheInvalidation")]]
                    </bs-col>
                </bs-row> 
 
                <div style="clear:both;"></div>
                <hr>

                <bs-row>
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="System Settings" faIcon="fa fa-cogs fa-3x" pageLink=(resolvePrefix "Admin:Configuration")]]
                    </bs-col>   
                
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Security" faIcon="fa fa-users fa-3x" pageLink=(resolvePrefix "Admin:Security")]]
                    </bs-col>   
                
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Template & Application Pages" faIcon="fa fa-file-text-o fa-3x" pageLink=(resolvePrefix "Admin:Templates")]]
                    </bs-col>   
                
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="RDF Namespace Prefixes" faIcon="fa fa-code fa-3x" pageLink=(resolvePrefix "Admin:Namespaces")]]
                    </bs-col>   
                </bs-row> 

                <bs-row>
                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Repositories" faIcon="fa fa-database fa-3x" pageLink=(resolvePrefix "Admin:Repositories")]]
                    </bs-col>

                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Cache Invalidation" faIcon="fa fa-history fa-3x" pageLink=(resolvePrefix "Admin:CacheInvalidation")]]
                    </bs-col>

                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="Apps & Storages" faIcon="fa fa-th-large fa-3x" pageLink=(resolvePrefix "Admin:Apps")]]
                    </bs-col>

                    <bs-col xs=6 md=3>[[>Admin:IconPanelInclude title="File Upload" faIcon="fa  fa-cloud-upload fa-3x" pageLink=(resolvePrefix "Admin:FileUpload")]]
                    </bs-col>
                </bs-row> -->
      </bs-col>
    </bs-row>
    <!--  close row -->
  </div>
</div>
