<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Help" data-uri="http://help.metaphacts.com/resource/Start">Help</semantic-link>
  </li>
  
  <li class="active">Externalized Secrets</li>
</ol>

<div class="page">
  <div class='page__body'>
    <h1>Externalized Secrets</h1>
    The platform does not provide a mechanism to externalize secrets by default. Please contact <a href="mailto:support@metaphacts.com">support@metaphacts.com</a> for options.
    </div>
</div>