<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Administration" iri="http://www.metaphacts.com/resource/admin/">Administration</semantic-link>
  </li>
  <li class="active">Security</li>
</ol>

<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-users fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>Security</h2>
    </div>
  </div>
  <div class="page__body">
    <bs-tabs id="security-manager-tabs" animation=true class='realm-manager-component' default-active-key='ini-realm'>
      <bs-tab event-key='ini-realm' title='INI Realm'>
        <mp-account-manager></mp-account-manager>
      </bs-tab>
      <bs-tab event-key='ldap-realm' title='LDAP Realm'>
        <div>
          <p>Please contact <a href="mailto:support@metaphacts.com">support@metaphacts.com</a> 
            in case you are interested in connecting the platform to LDAP</p>
        </div>
      </bs-tab>
      [[>Admin:SecurityExtensions]]     
    </bs-tabs>
  </div>
</div>
