<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Administration" iri="http://www.metaphacts.com/resource/admin/">Administration</semantic-link>
  </li>
  <li class="active">Security</li>
</ol>

<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-users fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>Security</h2>
    </div>
  </div>
  <div class="page__body">
    <mp-admin-security-realm-manager></mp-admin-security-realm-manager>
  </div>
</div>
