<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Administration" iri="http://www.metaphacts.com/resource/admin/">Administration</semantic-link>
  </li>
  <li class="active">Cache Invalidation</li>
</ol>

<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-history fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>Cache Invalidation</h2>
    </div>
  </div>
  <div class='page__body'>  
    <p>Certain system functionality relies heavily on caches such as for fetching resource labels or computing templates.</p>
    <p>Cache entries are usually automatically invalidated after a certain period of time.</p>
    <p>However, during development or system configuration i.e. when data is updated or system configuration such as the template include query changes, it might be required to manually invalidate the caches.</p>
    <mp-admin-cache-invalidation-button></mp-admin-cache-invalidation-button>
  </div>
</div>