<h1>User <mp-label iri='[[this]]' /></h1>

<h2>User groups</h2>
<semantic-table query='
SELECT ?group {
  <[[this]]> a <http://www.metaphacts.com/ontologies/platform#User> ;
             <http://www.metaphacts.com/ontologies/platform#hasGroup> ?group .
}'></semantic-table>

<h2>User roles</h2>
<semantic-table query='
SELECT ?role {
  <[[this]]> a <http://www.metaphacts.com/ontologies/platform#User> ;
             <http://www.metaphacts.com/ontologies/platform#hasRole> ?role .
}'></semantic-table>
