<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Assets" data-uri="http://www.researchspace.org/resource/assets/">Assets</semantic-link>
  </li>
  [[#if (urlParam "ontologyIri")]]
    <li>
      <semantic-link title="Ontologies" iri="http://www.researchspace.org/resource/assets/Ontologies">Ontologies</semantic-link>
    </li>
    <li>
      <semantic-link iri='[[urlParam "ontologyIri"]]'></semantic-link>
    </li>
    <li class="active">Ontology Diagrams</li>
  [[else]]

    <li class="active">Diagrams</li>
  [[/if]]
</ol>


<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><i class="fa fa-object-group fa-2x"></i></h2>
    </div>
    <div class='page__header-body'>
      <h2>Diagrams</h2>
    </div>
  </div>
  <div class='page__body'>
    [[> http://www.researchspace.org/resource/assets/OntodiaDiagramsTable ]]
  </div>
</div>
