.fade-out_disappear {
  animation: fadeOut ease 4s;
  visibility: hidden;
}

@keyframes fadeOut {
  0% {
    opacity:1;
    visibility: visible;
  }
  100% {
    opacity:0;
    visibility: hidden;
  }
}
