///////////////////////Exported Code/////////////////////////////
/* Breadcrumb */
.base-breadcrumb,
div.page-breadcrumb,
ol.page-breadcrumb {
    font-size: 12px;
    height: $breadcrumb-height;
    border-bottom: none;
}

ol.page-breadcrumb > li+li::before {
    color: $color-dark;
}

ol.page-breadcrumb > li.pull-right::before {
    content: none !important;
}

.component-page-toolbar .btn-group {

    display: flex;
    align-items: center;
}

.btn.btn-default.component-page-toolbar__btn_edit {

    color: $color-dark;
    background-color: transparent;
    font-size: 12px;

    &>span {

        font-family: $sourceSans !important;
        font-size: 12px !important;
        padding-left: 3px;
       
    }

    &:hover, &:focus, &:focus-within,
    .btn-default & .active {

        background-color: transparent;
        border: none;
        color: $color-dark;
    }
}

.btn.btn-default.component-page-toolbar__btn_show_source,
.btn.btn-default.component-page-toolbar__btn_show_graph,
.btn.btn-default.component-page-toolbar__btn_show_diagram,
.btn.btn-default.component-page-toolbar__btn_copy_iri {

    font: unset;
    background-color: transparent;
    font-family: $sourceSans;
    color: $color-dark;
    font-size: 12px;
    line-height: 1.2 !important;
    text-decoration: underline;
    padding: 10px 10px;

}

.component-page-toolbar__btn_show_diagram {
    display: none;
}

.component-page-toolbar__btn_show_source::before {
    content: "Statements";
}

.component-page-toolbar__btn_show_diagram::before {
    content: "Diagram";
}

.component-page-toolbar__btn_show_graph {

    background: none;
    margin-top: 0px;
    width: unset;
    height: unset;


    &::before {
        content: "Graph";
    }
}

.btn.btn-default.component-page-toolbar__btn_copy_iri {

    margin-left: 0px !important;
}

.component-page-toolbar__btn_copy_iri::before {
    content: "Copy resource IRI";
}

.component-page-toolbar__btn_show_source::before,
.component-page-toolbar__btn_show_diagram::before,
.component-page-toolbar__btn_show_graph::before,
.component-page-toolbar__btn_copy_iri::before {
    
    font-size: 11px;
}


ol.page-breadcrumb > li:not(.active) {
    @include font-common($sourceSans, $color-dark, 12px, 1.2);
    font-weight: 800;
}

ol.page-breadcrumb > li.active {
    @include font-common($sourceSans, $color-dark, 12px, 1.2);
}

/* Breadcrumb right side */
.component-page-toolbar {
    right: 18px;
    padding: 0px;

    .component-page-toolbar__repository_indicator {
        margin-right: 10px;
        margin-top: 0;
        padding: 4px 10px;
    }
}
