///////////////////////Exported Code/////////////////////////////
/* Buttons */
.btn {
    line-height: 1.2;
}

button:disabled {

    cursor: not-allowed;
    opacity: 0.6;
}

.dropdown-menu > .disabled > a, 
.dropdown-menu > .disabled > a:hover, 
.dropdown-menu > .disabled > a:focus {

    color: $color-dark--op50;
}

.component-page-toolbar .btn {
    line-height: 1.2;
}

.btn:active, .btn.active {
    box-shadow: none;
}

.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn {
    opacity: 0.6;
}

.btn[disabled].btn-primary,
.btn[disabled].btn-default {
    opacity: 0.3;
}

.btn-default {
    color: $color-dark;
    background-color: transparent;
    border-color: $color-primary-50;
}

.btn-default:hover,
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
    color: $color-dark;
    background-color: transparent;
    border-color: #9289b766;
}

.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
    color: $color-dark;
    background-color: transparent;
    border-color: $color-primary-50;
}

.btn-primary {
    background-color: $color-dark;
    border-color: $color-dark;
    color: $color-white;

    &:hover,
    &:active,
    &.active,
    .open > &.dropdown-toggle,
    &:focus,
    &.focus {
        color: $color-white;
        background-color: $color-dark;
        border-color: $color-dark;
    }
}

.btn-primary:active:hover, 
.btn-primary:active:focus, 
.btn-primary:active.focus, 
.btn-primary.active:hover, 
.btn-primary.active:focus, 
.btn-primary.active.focus, 
.open > .btn-primary.dropdown-toggle:hover, 
.open > .btn-primary.dropdown-toggle:focus, 
.open > .btn-primary.dropdown-toggle.focus {

    color: $color-white;
    background-color: $color-dark;
    border-color: $color-dark;
}

.btn-export {

    color: $color-dark;
    background-color: $color-secondaryB-10;
    border: 1px solid $color-secondaryB-50;
    padding: 5px 8px;
    border-radius: 2px;
    font-size: 12px;
    margin: 2px 4px 2px 0px;


    &:hover {

        box-shadow: 0px 0px 2px 1px #ddd;
    }
}

.btn-delete {

    color: $color-white;
    background-color: $color-danger;
    padding: 5px 8px;
    border-radius: 2px;
    font-size: 12px;
    margin-bottom: 3px;
    margin: 2px 0px 2px 0px;

    &:hover {

        box-shadow: 0px 0px 2px 1px #bbb;
    }
}


.btn-success {
    background-color: $color-success;
    border-color: $color-success;
    text-shadow: 0px 0px 1px #00000061;

    &:hover
    &:active,
    &.active,
    .open > &.dropdown-toggle,
    &:focus,
    &.focus {
        background-color: $color-success;
        border-color: $color-success;
    }
}

.btn-danger {
    background-color: $color-danger;
    border-color: $color-danger;
    text-shadow: 0px 0px 1px #00000085;

    &:hover,
    &:active,
    &.active,
    .open > &.dropdown-toggle,
    &:focus,
    &.focus {
        background-color: #ec0320;
        border-color: #ec0320;
    }
}

.btn-header-right {

    display: flex;
    align-items: center;

    padding: 7px 20px;
    margin-bottom: 5px;
    border: none;
    background: transparent;
    color: $color-dark;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        color: $color-white;
        background-color: $color-dark;
        border-color: $color-dark;
        border-radius: 15px;
    }

    .fa {
        font-size: 17px;
        padding-right: 8px;
        opacity: 0.3;
    }

    div {
        font-size: 15px;
    }
}

.btn-link:hover, 
.btn-link:focus {
    text-decoration: none;
}

.#{$prefix}button {
    @include button;

    &:focus {
        outline: none;
    }
}

/* Search page buttons */
.#{$prefix}button-M1--dark {
    @include button-border(1px solid $color-dark, 20px);
    @include button-font(14px, $color-white, 0.5px);
    @include button-size(16px, 26px);

    background-color: $color-dark;

    &:focus {
        box-shadow: 0px 0px 2px 2px #337ab7;
        -webkit-box-shadow: 0px 0px 2px 2px #337ab7;
        -moz-box-shadow: 0px 0px 2px 2px #337ab7;
    }

    &.#{$prefix}disabled {
        background-color: $color-primary-100;
        border-color: $color-primary-100;
        cursor: not-allowed;
        box-shadow: none;
    }
}

/* Show all fields button */
.#{$prefix}button-icon-M--dark {
    @include button-border(none, 50%);

    height: 36px;
    width: 36px;
    padding: 0;
    background-color: $color-dark;

    &:focus {
        box-shadow: 0px 0px 2px 2px #337ab7;
        -webkit-box-shadow: 0px 0px 2px 2px #337ab7;
        -moz-box-shadow: 0px 0px 2px 2px #337ab7;
    }

    .rs-icon {

        color: $color-white;
        font-size: 10px;
    }
}


.info {
    background-color: $color-info;
}

.#{$prefix}button-icon-S {
    @include button-border(none, 50%);

    height: 26px;
    width: 26px;
    padding: 0;

    &:focus {
        box-shadow: 0px 0px 2px 2px #337ab7;
        -webkit-box-shadow: 0px 0px 2px 2px #337ab7;
        -moz-box-shadow: 0px 0px 2px 2px #337ab7;
    }

    &--dark {
        background-color: $color-dark;

        .rs-icon {
            color: $color-white;
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.#{$prefix}button-S-img {
    height: 20px;
    width: 20px;
    margin-left: 3px;
    display: flex;
    flex-direction: row;
}

/* Dashboard buttons */
.#{$prefix}btn-dashboard {
    height: 100%;
    background-color: $color-white;
    display: flex;

    justify-content: space-between;
    align-items: center;
    
    font-family: $sourceSans;
    padding-right: 7%;
    padding-left: 10%;
    
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    border-radius: 4px;

    transition: all .2s ease;

    &:hover, &:focus {
        cursor: pointer;
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.3);
    }

    .rs-btn-dashboard-icon {
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .rs-icon {
            font-size: 3.5em;

            &.rs-icon-diagram {
                color: $color-dashboard-km;
            }

            &.rs-icon-narrative_edit {
                color: $color-dashboard-narrative;
            }

            &.rs-icon-images {
                color: $color-dashboard-image;
            }
        }

    }

    .rs-btn-dashboard-text {

        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .rs-btn-dashboard-count {

        color: grey;
        text-align: right;
        font-weight: lighter;
        font-size: 3rem;
        padding-bottom: 1rem;

    }

    .rs-btn-dashboard-title {

        color: #737275;
        text-align: right;
        font-weight: 800;
        font-size: 1.6rem;

    }
}

.#{$prefix}btn-dashboard--km {
    background-color: $color-dashboard-km;
}

.#{$prefix}btn-dashboard--narrative {
    background-color: $color-dashboard-narrative;
}

.#{$prefix}btn-dashboard--img {
    background-color: $color-dashboard-image;
}

.#{$prefix}badge-dashboard {
    background-color: transparent;
    border: 1px solid $color-white;
    box-shadow: 1px 1px 2px 0px #d2d2d2b5;
}

/* Drawer */
//Buttons for right and left Sidebar
.#{$prefix}drawer {
    min-width: 144px;
    width: 144px;
    height: 37px;
    border-radius: 3px;
    background-color: $color-grey;

    @include rotate-text(270);

    border: none;
    box-shadow: 0px 0px 2px 1px #cccccce8;
    -webkit-box-shadow: 0px 0px 2px 1px #cccccce8;
    -moz-box-shadow: 0px 0px 2px 1px #cccccce8;

    &:hover, &:focus {
        box-shadow: 0px 0px 2px 1px #adadad;
        -webkit-box-shadow: 0px 0px 2px 1px #adadad;
        -moz-box-shadow: 0px 0px 2px 1px #adadad;
    }

    &.shadow-none {
        box-shadow: none;
    }
}

.#{$prefix}drawer-transparent {
    min-width: 144px;
    width: 144px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    font-weight: 600;

    @include rotate-text(270);

}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.#{$prefix}badge {
    @include badge;

    &--info {
        background-color: $color-info;
    }

    &--white {
        background-color: $color-white;

        &.active {
            background-color: $color-primary-100;
            color: $color-white;
        }

        &:hover, &:focus {
            background-color: $color-dark;
            color: $color-white;
        }
    }

    &:empty {
        display: none;
    }
}

.RemovableBadge {
    color: $color-white;
    padding: 0 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: $color-info;
    cursor: pointer;

    &:hover, &:focus {
        background-color: #177aef;
    }

    .RemovableBadge__content,
    .RemovableBadge__remove {
        padding: 0px 7px;
        color: $color-white;
        font-family: $sourceSans;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:focus {

            outline: none;
        }
    }
}

// Tags
.#{$prefix}tag {
    @include tag;

    &--info {
        background-color: $color-info;
    }

    &--success {
        background-color: $color-success;
    }
}

.#{$prefix}dashboard-tag {
    font-family: $sourceSans;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    width: 170px;
    height: 30px;
    padding: 0;
    border-radius: 30px;
}

/*  Conclusion */
.#{$prefix}conclusion {
    @include vertical-align-flex;

    height: 25px;
    padding: 4px 4px 4px 8px;
    border-bottom: 1px solid $color-dark;

    & .#{$prefix}agreed {
        @include item-on-right;
    }
}

// Facet button (in Search and fieldCatalog pages)
.show-facet-button__show {
    margin-left: -38px;
    top: 37px;
}

.show-facet-button {
    transform: rotate(-90deg);
    background-color: $color-primary-50 !important;
    font-family: $sourceSans;
    font-weight: 600;
    color: $color-dark;
    font-size: 15px;
    line-height: 1.2;
    width: 111px;
    height: 35px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.show-facet-button__hide {
    margin-top: 38px;
}

/* .rs-fieldCatalog {

    .facet-relations {
        margin-top: 0px !important;
    }

    .facet__relation__header:focus,
    .facet__relation__header:hover,
    .facet__relation__values__value:focus,
    .facet__relation__values__value:hover {
        color: $color-dark !important;
        background-color: $color-primary-10 !important;
    }

    .facet__relation__values__value {
        padding-right: 40px;
    }

    .facet {
        min-width: 170px;
    }

    .facet__relation__values > div:nth-child(2) {
        width: 250px;
    }

    .clearable-input {
        width: 98%;
    }

    input[type="checkbox"] {
        margin: 1px 0 0;
        margin-left: -20px;
    }
} */

.#{$prefix}udp-visibility {
    top: 16px !important;
    right: 25px !important;
}

.#{$prefix}btn-visibility {
    padding: 7px 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;
}

.#{$prefix}udp-visibility .dropdown-menu {
    min-width: 115px !important;
    right: 0;
    left: unset;
    font-family: $sourceSans;
    font-size: 13px;
    line-height: 1.2 !important;

    & fieldset {
        padding-top: 3px;
    }

    & .radio {
        margin-bottom: 7px;
    }

    & .share-component {
        padding: 0 17px !important;
    }

    & input[type="radio"] {
        margin: 2px -20px 0;
    }

    & .radio label {
        padding-left: 25px;
    }
}


@media screen and (max-width: 767px) {
    .btn {
        font-size: 12px !important;
    }

    .badge {
        font-size: 12px;
    }
}
