///////////////////////Exported Code/////////////////////////////
//React Semantic carousel customisation
//https://github.com/akiran/react-slick

.semantic-carousel>.slick-slider {

  margin: 0px;
}

.slick-list {

//  background: $color-primary-80;
  background: #f2f4f652;
}

.slick-prev, 
.slick-next {

  z-index: 500;
  height: 36px;
  width: 36px;
  background: $color-white;
  border-radius: 50%;

  &:hover,
  &:focus {

    background: $color-white;
  }

}

.slick-next {
  right: -18px;
}

.slick-prev {
  left: -18px;
}

.slick-dots {
  top: 242px;
  bottom: unset;
  padding: 0 26px;
}

.slick-dots li {

  height: 5px;
  width: 5px;
}

.slick-dots li.slick-active button::before {
  
  color:$color-dark;
}

.rs-resource-header .slick-dots li button::before {

  color:$color-dark;
  font-size: 9px;
}

.slick-next::before, .slick-prev::before {

  font-size: 25px;
  opacity: 1;
}


.slick-prev::before {
  content: "\f104";
}

.slick-next::before {
  content: "\f105";
}

.semantic-carousel>.slick-slider .slick-next::before, 
.semantic-carousel>.slick-slider>.slick-prev::before {

  color:$color-dark;

}
