///////////////////////Exported Code/////////////////////////////
/* Clipboard */
.Pane.vertical.Pane1 {
  z-index: 300;

  .Select--multi .Select-value {
    vertical-align: middle;
    border: none;
    font-size: 13px;
    background-color: $color-primary-100;
    line-height: 1.1;
  }

  .Select--multi .Select-value-icon {
    border-right: none;

    &:hover {
      background-color: #6b5f9e;
    }
  }
}

.Resizer.vertical {
  margin: 0 -1px;
  border-right: 4px solid hsla(0, 0%, 100%, 0);
  width: 5px;
}

.Resizer.vertical:hover {
  border-right: 4px solid rgba(0, 0, 0, 0.1);
}

//.clipboard,
//.thinking-frames__clipboard-sidebar {

.#{$prefix}clipboard-folder {
  @include vertical-align-flex;

  height: 25px;
  background-color: $color-primary-50;
  padding: 4px 8px 4px 4px;
  cursor: pointer;

  &-img {
    height: 17px;
    width: 17px;
    margin-right: 8px;
  }

  & .#{$prefix}badge {
    height: 17px;
    width: 17px;

    @include item-on-right;
  }
}

.#{$prefix}clipboard-list {
  list-style: none;
}

##{$prefix}clipboard-list ul li::before {
  content: '';
  display: inline-block;
  height: 11px;
  width: 11px;
  background-image: url('/assets/images/icons/Templates/Concept_dark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -35px;
  padding-right: 19px;
}

.#{$prefix}clipboard-item {
  @include vertical-align-flex;

  padding-top: 4px;
  padding-bottom: 4px;
}

.#{$prefix}clipboard-s_item {
  @include vertical-align-flex;

  padding-top: 4px;
  padding-bottom: 4px;

  &-img {
    height: 11px;
    width: 11px;
  }

  & .#{$prefix}body-m-M {
    padding-left: 8px;
  }
}

.set-management {
  height: 100%;
}

.split-pane__leftsidebar-header,
.set-management__search-and-filters,
.set-management,
.set-management__sets,
.set-management__set-items,
.DropArea--children .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: $color-grey;
  background: $color-grey;
}

.set-management__sets {
  padding: 16px 24px;
}

.set-management__set-items {
  border-top: none;
}

.split-pane__leftsidebar-title {
  margin-top: 0px;
}

.set-management__search {
  padding: 0px;
}

.set-management.set-management--grid-view .set-management__search-and-filters,
.set-management.set-management--list-view .set-management__search-and-filters {
  box-shadow: none;
  border-bottom: 1px solid $color-primary-100;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;

  .Select-control {
    border: none;
    border-bottom: 1px solid $color-dark;
  }
}

.set-management__filters {
  padding-top: 16px;

  &.set-management__filters--hidden {
    padding-top: 0px;
  }
}

.set-management__show-filters {
  margin-left: 6px;
  border: none;
  background: transparent;
  padding: 0px 0px 0px 10px;
}

.set-management__filter,
.set-management__search-results {
  border-top: none;
  padding: 0px;
}

.set-management__search-results {
  .set-management__items-view {
    margin-left: 10px;
  }

  .set-management__set {
    margin-bottom: 14px;
    padding: 14px 15px;
  }

  .set-management__set-items {
    border-left: 5px solid #9289b7ad;
    padding: 12px 16px;
    background-color: $color-primary-50;
  }
}

/* Clipboard footer */
.set-management__footer {
  border-top: none;
  background-color: $color-primary-50;

  & .btn-group-xs > .btn {
    padding: 7px 5px 5px 5px;
  }

  & .btn-default:hover {
    background-color: $color-white;
  }
}

.set-management__footer-buttons {
  padding: 11px 24px;

  & .btn {
    border: none;
    background: $color-primary-50;
  }
}

.set-management__footer-buttons .btn-default.active:focus {
  background-color: $color-white;
}

.split-pane__leftsidebar-header button:focus {
  outline: 0;
}

.set-management__set {
  background-color: $color-primary-50;
  padding: 4px 8px;
  min-height: 28px;
  margin-bottom: 5px;

  .dropdown-menu.dropdown-menu-right {
    right: -42px;
    top: 20px;
  }
}

.set-management__set-caption:hover {
  background-color: $color-primary-50;
}

.set-management__set:not(:first-child) {
  border-top: none;
}

.set-management__item-actions .btn-link {
  color: $color-dark;
}

.set-management .dropdown-menu-right {
  right: -10px;
  top: 20px;
}

.set-management__opened-set {
  padding: 16px 24px;
}

.set-management__open-set {
  border-top: none;
  height: 25px;
  background-color: #e0dee9;
  padding: 4px 8px 4px 4px;
}

.set-management__set-icon {
  margin: 1px 10px 0px 10px;
}

.set-management__set-template {
  align-items: center;
  font-family: $sourceSans;
  color: $color-dark;
  font-size: 13px;
  line-height: 1.2;
}

.set-management__set-item-count {
  margin: 1px 5px 0px 12px;
  color: $color-dark;

  &.badge {
    background-color: $color-white;
    font-family: $sourceSans;
    font-size: 12px;
    line-height: 1.2;
    padding: 2px 6px;
    min-width: 17px;
    height: 17px;
    width: 17px;
  }
}

.set-management__search-results-empty {
  margin-top: 20px;

  @include font-common($sourceSans, $color-dark, 15px, $b-line);

  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.set-management__search-message {
  margin: 0;
  padding: 3px 24px 0px 24px;
  font-family: $sourceSans;
  font-size: 12px;
}

.set-management__item-actions {
  visibility: visible;
}

.set-management__item-actions .dropdown-menu {
  border: 1px solid #ccc;

  & > li > a {
    font-family: $sourceSans;
    color: $color-dark;
    font-size: 12.5px;
    letter-spacing: -0.2px;
    line-height: 1.2;
    padding: 4px 8px;
  }

  &.dropdown-menu > li > a:focus,
  &.dropdown-menu > li > a:hover {
    background-color: rgba(224, 222, 233, 0.6);
    color: $color-dark;
  }
}

.set-management__back-to-contents.btn.btn-success .fa-chevron-left {
  color: $color-white;
  margin-right: 5px;
  font-size: 12px;
}

.set-management__item-actions .dropdown-menu > li > a {
  padding: 5px 10px;
}

.set-management .remove-set-confirmation {
  padding: 9px 12px 10px 12px;
  border-top: 1px solid #ccc;
  font-family: $sourceSans;
  color: $color-dark;
  font-size: 14px;
  line-height: 1.2;
}

.set-management__item-actions .remove-set-confirmation {
  min-width: 140px;

  & .btn {
    padding: 2px 6px;
    margin: 0 4px;
    font-size: 13px;
  }

  & .btn-default {
    background-color: $color-dark;
    border-color: $color-dark;
    color: $color-white;
  }

  & .btn-danger {
    color: $color-white;
    background-color: #e74c3c;
    border-color: #e74c3c;
  }
}

.set-management__set-item,
.set-management__set-item a {
  font-family: $sourceSans;
  color: $color-dark;
  font-size: 13px;
  line-height: 1.2;
}

.set-management--grid-view,
.set-management--list-view {
  .ReorderableList--component:not(.ReorderableList--dragging) .ReorderableList--item:hover {
    background: $color-primary-50;
  }

  .ReorderableList--item-body {
    margin: 10px 3px 10px 15px;
  }
}

.set-management--grid-view {
  .set-management__set-items  {
    justify-content: center;
  }

  .set-management__set-item {
    padding: 0px;
    margin-right: 6px;
    margin-bottom: 6px;

    border: 1px solid transparent;

    &:hover,
    &:focus {
      border: 1px dashed $color-primary-100;
      background: transparent;
      border-radius: 6px;
    }

    .card.rs-object-card.rs-default-card {
      border: 0.5px solid #d7d3e8;
      cursor: grab;

      &:hover,
      &:focus {
        border: 0.5px solid #d7d3e8;
        cursor: grab;
      }

      &:hover {
        box-shadow: none;
      }

      .card-header,
      .rs-default-card__footer {
        background: #ffffffb8;
      }

      .card-header {
        font-size: 8px;
        height: 20px;

        .rs-default-card__header-left {
          width: 100%;
        }

        .rs-default-card__header-right {
          width: 42%;
        }
      }

      .icon-template {
        height: 8px;
        width: 8px;
        margin-bottom: 0px;
      }

      .rs-default-card__hover .rs-default-card__hover-options {
        .rs-button {
          height: 20px;
        }

        .rs-default-card__hover-icon {
          padding: 8px 0px;
        }
      }

      /* .rs-default-card__img-container  */
      .rs-default-card__hover {
        padding: 0px 8px;

        .rs-default-card__hover-institute {
          font-size: 10px !important;
          line-height: 1.2;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 7px 0px 5px 0px;
        }
      }

      .rs-default-card__footer {
        .rs-body-s-M,
        .rs-body-s-B {
          font-size: 10px !important;
        }

        .rs-ja-card {
          font-size: 9px;
        }
      }
    }

    .dropdown-menu.dropdown-menu-right {
      top: 20px;
    }

    .panel {
      border-radius: 6px;
      background-color: #fdfdfd;
      border: 0.5px solid $color-primary-50;
      max-width: 130px !important;
      height: 100%;
    }

    .panel-default {
      border-color: $color-primary-50;
    }

    & .panel-body {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px !important;

      & img {
        border: 1px solid $color-white;
      }
    }

    .panel-footer {
      display: flex;
      flex-direction: row !important;
      justify-content: space-around !important;
      align-items: center;
      padding: 9px 9px;
      background-color: $color-primary-50;
      border-top: none;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      .resource-card--icon {
        width: auto;
        margin-top: 0px;
        margin-left: 0px;
        opacity: 1 !important;
      }

      .resource-card--icon img {
        width: 13px;
        margin-top: 0px;
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 0px !important;
        margin-right: 5px;
        //  background: url(/assets/images/icons/Templates/Concept_dark.svg) no-repeat;
      }

      .rs-card-footer--text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 77px !important;
      }

      .set-management__item-actions {
        margin-left: 0px !important;
      }
    }
  }

  .error-notification.panel.panel-default {
    border: none;

    .panel-heading {
      padding: 7px;

      .panel-title {
        font-size: 12px;
      }
    }
  }
}

.set-management--list-view {
  .set-management__set-item {
    padding: 4px 10px 4px 4px;

    &:hover {
      background: $color-primary-50;
    }

    & img {
      width: 12px;
      margin-left: 6.5px;
    }

    a {
      padding-left: 8px;
    }

    .dropdown-menu.dropdown-menu-right {
      right: -8px;
    }
  }

  .rs-set-item--fa {
    padding-left: 11px;
    width: 24px;
    font-size: 11px;
    flex-shrink: 0;
  }

  .error-notification.panel.panel-default .panel-heading {
    padding: 4px;
  }
}

.set-management__items-view {
  padding-top: 12px;
}

/* Clipboard footer */
.set-management__footer-reorder-confirmation:first-child {
  border-bottom: 1px solid $color-primary-100;
}

.set-management__footer-reorder-confirmation {
  padding: 10px 24px;
}

.set-management__footer-reorder-message {
  font-family: $sourceSans;
  color: $color-dark;
  font-size: 12px;
  line-height: 1.2;
}

.set-management__footer .set-management__footer-reorder-buttons .btn {
  font-size: 12px;
  font-weight: 600;
}

.set-management__footer-reorder-buttons .btn-xs {
  padding: 7px 8px;
}

.#{$prefix}grid-element .panel-footer .resource-card--icon i,
.#{$prefix}clipboard-card--fa {
  color: $color-dark;
  padding-right: 2px;
  width: 23px;
  flex-shrink: 0;
  font-size: 11px;
}

.set-management__set-caption  {
  height: 29px;
}

.set-management__reordered-item {
  background: $color-primary-10;
  border: 1px dashed $color-primary-100;
  margin: 6px;
}
//}

.error-notification.panel.panel-default {
  border: none;
  box-shadow: none;
  background-color: transparent;

  & > .panel-heading {
    font-family: $sourceSans;
    color: $color-dark;
    font-size: 14px;
    line-height: 1.2;
    border: none;
    background-color: transparent;
  }

  & .panel-heading {
    padding: 20px 24px;

    & .panel-title {
      font-size: 15px;
    }
  }
}

.DropArea--dropArea.set-management,
.ontodia-accordion-item__inner.thinking-frames__clipboard-sidebar {
  .DropArea--dropMessage {
    position: absolute;
    margin: 5%;
    width: 85%;

    padding: 0 20px;
    height: 150px;
    border: 1px dashed $color-dark !important;
    background: #fdfdfd;
    font-weight: normal;
    font-family: $sourceSans;
    color: $color-dark;
    font-size: 14px;
    line-height: 1.2;
  }
}

.DropArea--dropArea.mp-droppable-enabled > .DropArea--messageWrapper > .DropArea--dropMessage {
  border-color: $color-grey;
  border-width: 1px;
}

.Select-clear-zone {
  color: $color-dark;

  & .Select-clear {
    padding-top: 0px;
  }
}
