///////////////////////Exported Code/////////////////////////////
/* Dashboard Page */
.page__body--borderless {
  width: 100%;
}

.#{$prefix}dashboard-bg {
  background-color: #f6f6f6;
}

// Create new section + buttons
.#{$prefix}ds-add--title {
  margin-bottom: 10px;
}

.#{$prefix}ds-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  max-width: 340px;
  cursor: pointer;
  background-color: $color-white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus,
  &:focus-within {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.3);
  }
}

.#{$prefix}ds-icon {
  height: 50px;
}

.#{$prefix}ds-card--header {
  padding-bottom: 1px;
}

.thinking-frames__frames {
  .Dashboard--imageComponent {
    width: auto;
    height: 100%;
    max-height: 63px;
    align-self: unset;
    margin-right: 25px;
  }
}

.thinking-frames__frames .Dashboard--defaultComponent {
  height: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  padding: 3% 7%;

  box-shadow: 0 0 6px 1px hsla(0, 0%, 47%, 0.38);

  &:hover,
  &:focus,
  &:focus-within {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 0 6px 1px hsla(0, 0%, 47%, 0.5);
  }

  .Dashboard--image {
    width: auto !important;
    height: 53px;
  }

  .media-left {
    padding-right: 25px;
  }

  .media-heading {
    font-size: 16px;
  }

  .media-body {
    height: 100% !important;
    display: table-cell;
    vertical-align: middle;

    & > div {
      padding-top: 4px;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 767px) {
  .thinking-frames__frames .Dashboard--defaultComponent .Dashboard--image {
    height: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .thinking-frames__frames .Dashboard--defaultComponent .Dashboard--image {
    height: 30px;
  }
}

@media (min-width: 992px) {
  .thinking-frames__frames .Dashboard--defaultComponent .Dashboard--image {
    height: 35px;
  }
}

@media (min-width: 1200px) {
  .#{$prefix}ds-card {
    max-width: 380px;
  }

  .thinking-frames__frames .Dashboard--defaultComponent .Dashboard--image {
    height: 38px;
  }

  .thinking-frames__frames .Dashboard--defaultComponent {
    padding: 2% 9%;
  }

  .thinking-frames__frames .Dashboard--defaultComponent .media-heading {
    font-size: 15px;
  }
}

@media (min-width: 1600px) {
  .#{$prefix}ds-card {
    max-width: 450px;
  }

  .thinking-frames__frames .Dashboard--defaultComponent .Dashboard--image {
    height: 47px;
  }

  .thinking-frames__frames .Dashboard--defaultComponent {
    padding: 2% 9%;
  }

  .thinking-frames__frames .Dashboard--defaultComponent .media-heading {
    font-size: 16px;
  }
}

@media (min-width: 2000px) {
  .#{$prefix}ds-card {
    max-width: 500px;
  }

  .thinking-frames__frames .Dashboard--defaultComponent .Dashboard--image {
    height: 53px;
  }
}

@media (min-width: 2500px) {
  .#{$prefix}ds-card {
    max-width: 550px;
  }
}

iframe {
  width: 100%;
  height: 100%;
}

// Project dashboard
.rs-dashboard-container {
  padding: 40px 50px;

  min-height: calc(100vh - 93px); //depending from n. of rows displayed in the activity table

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: fit-content(55px) 100px 100px 100px 355px;
  grid-template-areas:
    'welcome . icons icons'
    'map activity activity activity'
    'narrative activity activity activity'
    'image activity activity activity'
    'team activity activity activity';

  column-gap: 30px;
  row-gap: 20px;
}

@media only screen and (max-width: 715px) {
  .rs-dashboard-container {
    padding: 20px;
    max-height: unset;

    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: 55px 100px 100px 100px 300px auto;
    grid-template-areas:
      'welcome icons'
      'map map'
      'narrative narrative'
      'image image'
      'team team'
      'activity activity';
  }
}

@media (min-width: 715px) and (max-width: 992px) {
  .rs-dashboard-container {
    padding: 20px;
    max-height: unset;

    grid-template-columns: 1fr 4fr;

    grid-template-rows: 55px 100px 100px 100px auto;
    grid-template-areas:
      'welcome icons'
      'map team'
      'narrative team'
      'image team'
      'activity activity';
  }
}

@media (min-width: 992px) and (max-width: 1700px) {
  .rs-dashboard-container {
    max-height: unset;

    grid-template-rows: 55px 100px 100px 100px min-content auto;
    grid-template-areas:
      'welcome . icons icons'
      'map activity activity activity'
      'narrative activity activity activity'
      'image activity activity activity'
      'team activity activity activity'
      '. activity activity activity';
  }
}

@media (min-width: 1450px) {
  .rs-dashboard-container {
    grid-template-columns: 0.7fr repeat(3, 1fr);
  }
}

@media (min-width: 1800px) {
  .rs-dashboard-container {
    grid-template-columns: 0.6fr repeat(3, 1fr);
  }
}

@media (min-width: 2200px) {
  .rs-dashboard-container {
    grid-template-columns: 0.5fr repeat(3, 1fr);
  }
}

@media (min-width: 3000px) {
  .rs-dashboard-container {
    padding: 50px;

    grid-template-columns: 0.5fr fit-content(300px) repeat(3, 1fr) 0.5fr;
    grid-template-rows: 55px 100px 100px 100px 355px;
    grid-template-areas:
      '. welcome . icons icons .'
      '. map activity activity activity .'
      '. narrative activity activity activity .'
      '. image activity activity activity .'
      '. team activity activity activity .';

    column-gap: 5rem;
    row-gap: 4rem;
  }
}

.rs-dashboard-welcome {
  grid-area: welcome;

  .welcome-title {
    color: #46494c;
    font-size: 2.2rem;
    line-height: 1.7;
  }

  .welcome-hi {
    color: #46494c;
    font-size: 1.5rem;
  }

  .welcome-user {
    font-weight: bold;
  }
}

.rs-dashboard-icon-area {
  grid-area: icons;
  justify-self: end;
  align-self: center;

  img {
    height: 1.7rem;
    margin-left: 2.4rem;
  }
}

.rs-dashboard-km {
  grid-area: map;
}

.rs-dashboard-narrative {
  grid-area: narrative;
}

.rs-dashboard-image {
  grid-area: image;
}

.rs-dashboard-activity,
.rs-dashboard-team {
  background-color: $color-white;
  border: 1px solid #ededed;
  border-radius: 4px;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);
}

.rs-dashboard-activity {
  height: auto;

  grid-area: activity;
  padding: 30px 40px 25px 40px;
  height: 100%;

  position: relative;

  & .rs-dashboard-table {
    height: 100%;
    overflow: overlay;

    .semantic-table-holder {
      padding-top: 12px;
    }

    .griddle-filter .filter-container {
      width: 200px;
    }

    & .griddle .top-section {
      position: absolute;
      top: 1.6rem;
      right: 4.3rem;
    }

    .researchspace-table-widget-holder .filter-container .form-control {
      margin-top: 5px;
      background-color: #f6f6f6;
      border-radius: 4px;

      color: #83878e !important;
      font-family: $sourceSans;
      font-size: 1.4rem !important;
      font-weight: bold;

      padding: 4px 30px 4px 15px;

      background-image: url(/assets/images/icons/search_grey.svg);
      background-size: 14px 14px;

      &::placeholder {
        color: #636668 !important;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: none;

        letter-spacing: 0.45px;
        opacity: 0.8;
      }
    }

    .griddle-container {
      padding-top: 12px;
      height: 620px;

      overflow-x: visible;
      overflow-y: inherit;

      .griddle-body,
      .griddle-body > div,
      table {
        height: inherit;
      }
    }

    .table > thead {
      display: none;
    }

    tr.standard-row {
      border-bottom: 1px solid #dddddd40 !important;

      display: grid;
      grid-auto-flow: column;
      width: 100%;
      grid-template-columns: 3fr minmax(70px, 1.5fr) minmax(180px, 1.5fr) minmax(180px, 3fr) minmax(60px, 70px);
      grid-template-rows: 100%;
      grid-template-areas: 'title user type date download';

      align-items: center;
    }

    .table > tbody > tr > td {
      border-bottom: none !important;
    }

    .table > tbody > tr > td {
      color: #666666;
      font-size: 1.5rem;
    }

    .#{$prefix}dashboard--a {
      color: #83878e;
      text-transform: capitalize;
      font-size: 1.4rem;

      .fa {
        color: #5e6064;
      }
    }

    .#{$prefix}dashboard--a-title {
      color: #5e6165;
      font-family: $sourceSans;
      font-weight: bold;
      font-size: 1.6rem;
      text-transform: capitalize;
      letter-spacing: 0.3px;

      .rs-icon-drag_points {

        margin-right: 12px;
        color: #5e6165;
      }
    }

    tbody .standard-row td:first-child {
      grid-area: title;
      justify-self: start;
    }

    tbody .standard-row td:nth-child(2) {
      grid-area: user;
      justify-self: center;

      .fa-user {
        margin-right: 10px;
        font-size: 1.5rem;
      }
    }

    tbody .standard-row td:nth-child(3) {
      grid-area: type;
      justify-self: center;
    }

    tbody .standard-row td:nth-child(4) {
      grid-area: date;
      justify-self: end;
    }

    tbody .standard-row td:nth-child(5) {
      grid-area: download;
      justify-self: center;

      .fa {
        font-size: 1.5rem;
        color: #5d6064;
      }
    }

    .table > tbody > tr > td.footer-container {
      padding-top: 14px !important;
    }

    .table > tbody > tr.standard-row:hover {
      background-color: transparent;
    }

    .#{$prefix}dashboard-tableDate {
      font-style: italic;
      font-size: 1.4rem;
    }

    .#{$prefix}dashboard-tableDateValue {
      font-style: normal;
      padding-left: 5px;
      color: #5e6165;
      font-family: $sourceSans;
      font-weight: 600;
    }

    table .pagination {
      & > li > a {
        color: #5d6063;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 2px 7px;
        border-radius: 4px;
      }

      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus,
      & > .active > span,
      & > .active > span:hover,
      & > .active > span:focus {
        background-color: #5e6164;
        color: $color-white;
        border-radius: 4px;
      }
    }

    .pagination > li > a:hover,
    .pagination > li > a:focus,
    .pagination > li > span:hover,
    .pagination > li > span:focus {
      background-color: #f6f6f6fc;
    }

    .pagination > li.disabled > a:hover {
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .rs-dashboard-activity .#{$prefix}dashboard-table {
    .griddle-container {
      height: unset;
      overflow: unset;
    }

    tr.standard-row {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
        'title'
        'user'
        'type'
        'date'
        'download';

      align-items: stretch;
      border-bottom: none !important;

      margin: 0 0 1rem 0;
    }

    td,
    tbody .standard-row td:first-child,
    tbody .standard-row td:nth-child(2),
    tbody .standard-row td:nth-child(3),
    tbody .standard-row td:nth-child(4),
    tbody .standard-row td:nth-child(5) {
      justify-self: stretch;

      display: flex;
      align-items: center;
      font-size: 1.4rem;
      padding: 11px 15px 9px 15px !important;
    }

    td::before {
      padding-right: 14px;
    }

    .table > tbody > tr > td > a {
      font-size: 1.6rem;
    }

    .#{$prefix}dashboard-tableDate {
      font-style: normal;
    }

    tr:nth-child(even),
    tr:nth-child(even):hover {
      background-color: #cccccc38 !important;
    }

    /*
        Label the data - Use of a data-* attribute and content. 
        This way means we need to keep HTML and CSS in sync. 
        */
    //  td:nth-of-type(1)::before { content: "Title:"; }
    td:nth-of-type(2)::before {
      content: 'User:';
    }
    td:nth-of-type(3)::before {
      content: 'Resource:';
    }
    td:nth-of-type(5)::before {
      content: 'Download data:';
    }
    //   td.footer-container::before { content: ""; }

    .table > tbody > tr > td.footer-container {
      justify-content: center;
      display: flex;
      padding: 7.5px 10px !important;
    }
  }
}

.rs-dashboard-team {
  grid-area: team;

  padding: 25px 30px;
  overflow: auto;
}

.rs-dashboard-sectionTitle {
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 0.7rem;
  font-family: $sourceSans;
  font-weight: 600;
  text-transform: uppercase;
  color: #a4a4a5;
}

.rs-dashboard-userCard_container {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-auto-columns: 100%;
  row-gap: 1.1rem;
  margin: 1.1rem 0;

  .rs-dashboard-userCard {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .rs-dashboard-userCard-img {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;

    .rs-userCard-img {
      align-self: center;
      height: auto;
      width: 100%;
      max-width: 48px;
      padding: 0.5rem;
      border-radius: 12px;
    }

    .rs-icon-user_profile {
      align-self: center;
      font-size: 2.8em;
    }
  }

  .rs-dashboard-userCard--text {
    width: 70%;
    overflow: hidden;
    max-height: 100%;

    .rs-user-headerText {
      color: #5e6165;
      font-family: $sourceSans;
      font-weight: 600;
      font-size: 1.45rem;
      line-height: 1.4;
    }

    .rs-user-text {
      font-family: $sourceSans;
      color: grey;
      font-size: 1.25rem;
      line-height: 1.2;
      padding-left: 2px;
      text-transform: capitalize;
    }
  }
}
