///////////////////////Exported Code/////////////////////////////
/* Dropdowns */
.dropdown-menu>li>a {

    color: $color-dark;
    padding: 5px 12px !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {

    background-color: $color-primary-50;
}

.dropdown-menu {

    min-width: -webkit-fill-available;
    text-transform: capitalize;
    border-radius: 0px;
    margin: 0;
    padding: 4px 0;
    background-clip: unset;
}

.btn-group.open .dropdown-toggle, .btn:active {

    box-shadow: none !important;
}

.SemanticTreeInput--dropdown {

    .LazyTreeSelector--item {

        padding: 15px;
        display: flex;
        align-items: center;
    }
}


