///////////////////////Exported Code/////////////////////////////
/* Footer */
.#{$prefix}footer {

    background-color: $color-dark;
    color: $color-white;   
}

.#{$prefix}hp-supported {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-white;
}

.#{$prefix}hp-supported::before, 
.#{$prefix}hp-supported::after {

    content: '';
    border-top: 1px solid #706e87;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.#{$prefix}hp-supported::after {

    margin: 0 0 0 20px;
}

.footer-support {

    padding-top: 28px;
    padding-bottom: 24px;
}

.footer-logo-row {

    margin-bottom: 30px;
    justify-content: space-between;
}


.footer-text {

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #261280;

    a {
        color: $color-white;
    }
}

.footer-logo--img {

    width: auto;
}

.footer-logo--img {

        height: 21px;
    }

.footer-text-padding {

    font-size: 11px !important;

    &:not(:last-child)::after {

    color: $color-white;
    content: "|";
    padding: 0 10px;

    }
}

@media screen and (max-width: 767px) {

    .footer-text-padding {

        font-size: 8px !important;
    }

    .footer-support {

        padding-top: 24px;
        padding-bottom: 22px;
    }

    .footer-logo-row {
        margin-bottom: 25px;
    }
}


@media (min-width: 768px) {

    .footer-text-padding {

        font-size: 8px !important;
    }

    .footer-support {

        padding-top: 20px;
        padding-bottom: 18px;
    }


    .footer-logo--img {

        height: 20px;
    }

    .footer-logo-row {
        margin-bottom: 18px;
    }
}

@media (min-width: 992px) {

    .footer-text-padding {

        font-size: 9px !important;
    }

    .footer-support {

        padding-top: 20px;
        padding-bottom: 17px;
    }
    
    .footer-logo-row {
        margin-bottom: 17px;
    }

    .footer-logo--img {

        height: 22px;
    }  
}

@media (min-width: 1300px) {

    .footer-text-padding {

        font-size: 10px !important;
    }

    .xl-width {

        width: 75%;
    }

    .footer-support {

        padding-top: 28px;
        padding-bottom: 24px;
    }

    .footer-logo-row {
        margin-bottom: 38px;
    }

    .footer-logo--img {

        height: 25px;
    }
}

@media (min-width: 1500px) {

    .footer-text-padding {

        font-size: 11px !important;
    }

    .footer-logo--img {

        height: 25px;
    }
}

@media (min-width: 1700px) {

    .footer-logo--img {

        height: 28px;
    }
}







