///////////////////////Exported Code/////////////////////////////
/* Forms */
.Select-input {
  height: 28px;
}

.form-control {
  font-family: $sourceSans;
  color: $color-dark;
  font-size: 13px;
  line-height: 1.2;
  background-color: transparent;

  -webkit-box-shadow: none;
  box-shadow: none;

  &::placeholder {
    color: $color-form-placeholder;
    font-weight: normal;
  }

  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-weight: normal;
      opacity: 0.7; /* Firefox */
    }
  }
}

.Select:focus {
  outline: none;
}

.Select.is-clearable .Select-control {
  display: table;
}

.Select-control {
  height: 35px;
  border: 1px solid $color-primary-50;
  border-radius: 0px;
  color: $color-dark;
  font-family: $sourceSans;
  font-size: 13px;
  line-height: 1.2;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    color: $color-dark;
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: $color-white;
    color: $color-primary-100;
  }

  &.disabled {
    background-color: transparent;
  }

  & .Select-multi-value-wrapper {
    height: 100%;
  }
}

.is-open > .Select-control {
  background-color: $color-off-white;

  & .Select-arrow {
    border-color: transparent transparent $color-dark;
  }

  .Select-placeholder {
    opacity: 0.7;
    font-weight: normal;
  }
}

.Select-arrow {
  border-color: $color-dark transparent transparent;
}

.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: $color-dark;
}

.Select--single > .Select-control .Select-value {
  color: $color-dark;
}

.Select-placeholder {
  color: $color-form-placeholder;
  font-weight: normal;
}

.Select-menu-outer {

  font-family: $sourceSans;
 
   .Select-option {
 
       font-size: 14px;
       color: $color-dark;
 
       &:hover,  
       &:focus,
       &:focus-within,
       &.is-selected, 
       &.is-focused {
 
         color: $color-dark;
         background-color: $color-primary-10;
       }
   }
 
   .Select-option.is-disabled {
       color: $color-primary-50;
   }
 }
 
 select:not([multiple]) {
 
   padding: 0 .8em !important;
   padding-right: 2em !important;
 }

.form-group,
.field-editor__row.row,
.semantic-form {
  & .btn-default {
    height: 35px;
    padding: 0px 12px;

    &:hover {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.field-editor__row.row {
  .form-control {
    height: 35px;
    padding: 4px 8px;
    border-color: $color-primary-50;
  }

  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: $color-primary-50;
    opacity: 0.8;
  }

  .input-group-btn .btn {
    height: 35px;
    font-size: 12px;
    border-color: $color-primary-50;
  }

  .field-editor__lang-selector-holder {
    width: 80px;
  }

  .field-editor__delete-default,
  .field-editor__collapse {
    margin-left: 1px;

    &.btn {
      font-size: 11px;
    }

    &.btn-default {
      border-color: $color-primary-50;
    }
  }

  .field-editor__collapse {
    padding: 10px 12px;
  }

  .col-md-1 {
    padding: 0px;
    width: auto;
  }

  .col-md-8 {
    width: calc(75% - 37px);
  }

  .SemanticTreeInput--browseButton.btn.btn-default {
    border: 1px solid $color-primary-50;
    margin-left: 1px;
    padding: 9px 10px;
    background-color: transparent;
    height: 37px;
  }

  .SemanticTreeInput--browseButton.btn.btn-default.active,
  .SemanticTreeInput--browseButton.btn.btn-default:hover,
  .SemanticTreeInput--browseButton.btn.btn-default:focus,
  .SemanticTreeInput--browseButton.btn.btn-default:visited {
    background-color: transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    color: $color-dark;
  }

  .CodeMirror-sizer {
    min-height: 33px !important; //overwrite inline style
  }

  .form-control.field-editor__description-input {
    min-height: 35px;
  }

  .clearable-input {
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid $color-primary-50;
  }
}

.semantic-form {
  .semantic-form-recover-notification__message {
    margin-bottom: 8px;
  }

  .semantic-form-input-decorator__description-icon {
    margin-left: 5px;
    top: -0.2em;
    color: $color-primary-100;
  }

  .semantic-form-input-decorator__header {
    margin: 20px 0 8px 0;
  }

  .semantic-form-input-decorator__label {
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: -0.1px;
  }

  .cardinality-support__add-value.cardinality-support__add-value--another {
    font-size: 13px;
    font-weight: 600;
    color: $color-dark;

    &:hover {
      text-decoration: underline;
    }
  }

  .semantic-form-input-decorator--with-header {
    padding-left: 0px !important;
    margin-top: 0;

    div > label:first-child {
      margin-left: 0px !important;
    }

    a.cardinality-support__add-value.cardinality-support__add-value--first {
      margin: 11px 0px 11px 20px;
      font-size: 13px;
      font-weight: 600;
      color: $color-dark;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .clearable-input {
    height: 35px;
    background-color: transparent;
    border: 1px solid $color-primary-50;
    border-radius: 0px;
  }

  .SemanticTreeInput--browseButton.btn.btn-default {
    border: 1px solid $color-primary-50;
    margin-left: 4px;
    padding: 0px 10px;
  }

  .SemanticTreeInput--browseButton.btn.btn-default:hover,
  .SemanticTreeInput--browseButton.btn.btn-default:focus,
  .SemanticTreeInput--browseButton.btn.btn-default:visited {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    color: $color-dark;
  }

  .form-control {
    height: 35px;
    padding: 4px 8px;
    border-color: $color-primary-50;
  }

  .plain-text-field textarea.plain-text-field__text {
    font-size: 13px;
    border-color: $color-primary-50;
    min-height: 38px;
    padding: 9px 12px;

    &::placeholder {
      color: $color-form-placeholder;
      font-weight: normal;
    }

    &:focus {
      outline: none;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */

        opacity: 0.7; /* Firefox */
      }
    }
  }

  .cardinality-support__remove-value {
    height: 35px;
    color: $color-dark;
    margin-left: 1px;

    &.btn {
      font-size: 12px;
    }
  }

  .semantic-form-tree-picker-input {
    margin-bottom: 42px;
  }

  .autocomplete-text-field__create-button {
    margin-left: 5px;
  }

  .autocomplete-text-field__main-row .btn-default {
    border-color: $color-primary-50;
    height: 35px;
  }

  button[name='submit'] {
    background-color: $color-dark;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-dark;
      color: $color-white;
      border-color: $color-dark;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29), 0 1px 5px 0 rgba(0, 0, 0, 0.38);
    }
  }

  button[name='submit'],
  button[name='reset'],
  button[name='delete'] {
    height: 38px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-color: $color-primary-50;
    font-weight: 600;
  }

  .semantic-form-errors__error,
  .semantic-form-validation-messages__error,
  .semantic-form-errors__error-source,
  .semantic-form-errors__error-message {
    color: $color-danger;
    font-size: 13px;
  }

  .cardinality-support__group-instance {
    padding: 0 22px;
    border: 1px solid $color-primary-50;

    > button {
      color: #aaa;
      height: 25px;
      border: none;

      &:hover,
      &:focus {
        box-shadow: none;
        color: #717171;
      }
    }

    .form-switch__content {
      margin: 14px 0 0;

      .form-switch__select {
        background-color: $color-primary-10;
        color: $color-dark;
        padding: 0.5em 2em 0.5em 1em !important; //overwrite inline
        border-color: $color-primary-50;

        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;

        min-width: 110px;

        option {
          text-transform: none;
        }
      }
    }
  }
}

pre {
  padding: 20px 30px;
  line-height: 1.3;
  font-family: $sourceSans;
}

.field-editor__default-input-holder {
  align-items: unset;
}

/* Form Control in table component and custom pages */
.#{$prefix}table .form-control,
.#{$prefix}config-page .form-control,
.#{$prefix}import-exp .filter-container .form-control,
.#{$prefix}security .filter-container .form-control,
.#{$prefix}templates .filter-container .form-control,
.#{$prefix}namespaces .filter-container .form-control,
.researchspace-table-widget-holder .filter-container .form-control {
  width: 100%;
  color: $color-dark;
  font-family: $sourceSans;
  font-size: 12px;
  line-height: 1.2;
  background-color: $color-primary-10;
  border: none;
  border-radius: 20px;
  padding: 4px 8px 4px 15px;
  height: auto;
  background-image: url(/assets/images/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: right 8px center;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-form-placeholder;
    opacity: 1; /* Firefox */
  }

  &:focus {
    outline: none;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */

      opacity: 0.7; /* Firefox */
    }
  }
}

.#{$prefix}config-page .form-control,
.#{$prefix}import-exp .filter-container .form-control,
.#{$prefix}security .filter-container .form-control,
.#{$prefix}templates .filter-container .form-control,
.#{$prefix}namespaces .filter-container .form-control,
.researchspace-table-widget-holder .filter-container .form-control {
  height: 30px;
  margin-bottom: 18px;
  background-color: $color-primary-10;
}

.researchspace-table-widget-holder .filter-container .form-control {
  margin-top: 20px;
}

.#{$prefix}templates .filter-container .form-control {
  margin-bottom: 0px;
}

#entity-editor__container {
  display: grid;
  grid-template-columns: minmax(40px, 0.2fr) auto minmax(40px, 0.2fr);
  overflow: auto;
  grid-template-areas: '. entityForm .';

  .entity-editor__title {
    font-size: 21px;
    font-weight: bold;
  }

  .entity-editor__content {
    grid-area: entityForm;
    padding: 25px 0;

    .entity-editor__resource {
      display: flex;
      align-items: center;
      @include font-common($sourceSans, $color-dark, 15px, $h-line);
      padding: 10px 0;

      .entity-editor__resourceTitle {
        font-weight: 600;
        @include uppercase;
      }
    }

    .table-hover > tbody > tr:hover,
    .table > tbody > tr.standard-row:hover {
      background-color: transparent;
    }

    .table > tbody > tr > td {
      padding: 12px 0px !important;
    }

    .table > tbody > tr > td:last-child {
      border-bottom: none;
    }

    .plain-text-field textarea.plain-text-field__text {
      width: inherit !important;
    }

    .entity-editor__content-btngroup {
      display: flex;

      button[name='submit'],
      button[name='reset'],
      button[name='delete'] {
        width: 33%;
      }
    }
  }

  .form-control {
    height: 35px;
  }
}
