//Icons Dimensions
$height: (
    'action': 32px,
    'placeholder': 67px,
    'template': 11px
);

$width: (
    'action': 32px,
    'placeholder': 67px,
    'template': 11px
);

@mixin icons ($icon-name) {
    height: map-get($map: $height, $key: $icon-name);
    width: map-get($map: $width, $key: $icon-name);
}
///////////////////////Exported Code/////////////////////////////
/* Icons */

.icon-action {
    @include icons(action);
    cursor: pointer;
}

.icon-placeholder {
    @include icons(placeholder);
}

.icon-template {
    @include icons(template);
}

/* the icon color is defined in the svg file type */


