.frame-imageAnnotationWorkspace__container {

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 'viewer observationArea';

    .frame-imageAnnotationWorkspace__viewer {

        grid-area: viewer;
        height: 100%;
    }

    .frame-imageAnnotationWorkspace__observationArea_bg {

        background-color: $pageSection-bg;
        box-shadow: inset 0px 0px 9px 3px $pageSection-shadow;
        grid-row: 1 / -1;
        grid-column: 2 / -1;
    }

    .frame-imageAnnotationWorkspace__observationArea_container {

        grid-area: observationArea;

        position: relative;
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-columns: minmax(50px, 0.2fr) 2fr minmax(30px, 0.18fr);
        grid-template-rows: minmax(45px, 0.08fr) auto minmax(40px, 0.08fr);
        grid-template-areas: '. . .'
                            '. itemsList .'
                            '. . .';

        .frame-imageAnnotationWorkspace__observationArea_content {

            grid-area: itemsList;

            height: 100%;
            overflow-y: hidden;

            .rs-title-row {

                margin-bottom: 1.5em;
                padding-right: 25px;
            }

            .frame-imageAnnotationWorkspace__observationArea_items {

                height: calc(100% - 40px); //minus .rs-title-row height
                overflow-y: auto;
                overflow-x: hidden;

                padding-bottom: 20px;
                padding-right: 20px;

                & > div:first-child .collapsible-panel-trigger {

                    margin-top: 5px;
                }

                .collapsible-panel-trigger {

                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                }

                .collapsible-panel-trigger__collapsed:before,
                .collapsible-panel-trigger__expanded:before {
                  
                    padding-right: 5px;
                }

                .collapsible-div-content {

                    padding: 0;
                }

                .frame-imageAnnotationWorkspace__observationArea_resourceTitleRow {
    
                    width: calc(100% - 17px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
        
                    h1 {
        
                        width: calc(100% - 165px);
                        font-size: 18px;
                    }
        
                    .btn-primary {
        
                        padding: 8px 12px;
                        font-size: 16.5px;
                        line-height: 1;
                        border-radius: 3px;
                        font-weight: 600;
        
                        &.btn-icon {
        
                            margin-right: 5px;
                            padding: 8px;
                        }
        
                        .rs-icon,
                        .iconmoon {
        
                            color: $color-white;

                        }

                        .iconmoon.iconmoon-eye {
        
                            color: $color-exclamation;

                        }

                        &.image-active {
        
                            border: 1px solid $color-primary-100;
                            background-color: $color-primary-100;

                        }
                    }
                }

                & > .frame-imageAnnotationWorkspace__observationArea_resourceTitleRow:first-child {

                    margin-top: 0;
                }
            }
    
            .frame-imageAnnotationWorkspace__items {
    
                h2 {
    
                    margin-top: 0;
                }
    
                .frame-imageAnnotationWorkspace__item_container {
    
                    overflow-x: hidden;
                    overflow-y: auto;
                    height: auto;
                  //  max-height: 21vh;

                    & > .frame-imageAnnotationWorkspace__item:last-child {

                        border-bottom: none;
                    }

                    .frame-imageAnnotationWorkspace__item {
    
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 7px 10px;
                        border-bottom: 1px solid $color-grey;
        
                        &:hover {
        
                            background-color: #e9eaeec9;
                        }
        
                        .region-label {
        
                            width: calc(100% - 255px);
                        }
        
                        .feature-label {
        
                          //  width: calc(100% - 130px);

                            display: block;
                            width: auto;
                        }
        
                        .btn-grey {
                            
                            margin-right: 6px;
                        }

                        .btn-grey:last-child {
                            
                            margin-right: 0;
                        }
        
                        .fa-exclamation-circle {
        
                            color: $color-exclamation;
                            font-size: 25px;
                            position: absolute;
                            right: 2px;
                            top: -3px;
                        }
        
                        .btn-icon {
        
                            font-size: 17px;
                            
                        }

                        .user-info {

                            width: 160px;
                            font-size: 12px;

                            display: flex;
                            flex-direction: column;
                            padding: 0 10px;

                            margin-left: auto;

                            .user-info-name {

                                text-decoration: underline;
                                font-weight: 600;
                            }
                        }
        
                    }
                }
    
                
            }
        }

        .frame-imageAnnotationWorkspace__formArea_container {

            grid-area: itemsList;

            height: 100%;
            overflow: hidden;

            .frame-imageAnnotationWorkspace__form-titleRow {
    
                display: flex;
                align-items: center;
                justify-content: space-between;
        
                h1 {
        
                    width: calc(100% - 140px);
                }
        
                .btn-primary {
        
                    font-size: 16.5px;
                    line-height: 1;
                    border-radius: 3px;
                    font-weight: 600;
        
                    &.btn-icon {
        
                        margin-right: 5px;
                        padding: 8px;
                    }
        
                    .rs-icon {
        
                        color: $color-white;
                    }
                }
            }
    
            .frame-imageAnnotationWorkspace__form-container {
    
                height: calc(100% - 55px);
                overflow: hidden;
                padding: 20px 15px 20px 25px;

                h2 {
        
                    font-size: 18px;
                    line-height: 1.3;
                    font-weight: normal;

                    width: 100%;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .feature-form-type-selection-container {

                    text-align: center;
                    margin: 20px 0 10px 0;

                    &.feature-add-type {

                        display: flex;
                        text-align: initial;
                        padding: 4% 7% 1% 4%;

                        p {

                            padding-right: 25px;
                            text-align: justify;
                        }

                        .btn-grey {

                            width: 133px;
                            margin-bottom: 10px;
                            margin-right: 0;
                        }
                    }
                }

                .feature-form-type-selection {

                    & > button:not(:last-child) {

                        margin-right: 10px;
                    }
                }

                .frame-imageAnnotationWorkspace__form-edit-featureType {

                    margin: 30px 0px 15px 0px;
                }

                .feature-form-type-selection-container,
                .frame-imageAnnotationWorkspace__form-edit-featureType {

                    .btn-grey:hover,
                    .btn-grey:focus-within,
                    .btn-grey:focus,
                    .btn-grey.btn-selected {
    
                        background-color: $color-btn-selected;
                        border-color: $color-btn-selected;
                        color: $color-white;
                    }
                }
                
                .semantic-form {
                    // for new feature and associate feature Form
                    height: calc(100% - 120px);

                    .composite-input {

                        height: 100%;
                    }

                    .semantic-form-checklist-input__label {

                        margin-top: 5px;

                        .semantic-form-checklist-input__input:checked~.semantic-form-checklist-input__checkbox {

                            border-radius: 2px;
                            background-color: $color-checkbox-select;

                            &:after {
                                border-radius: 0;
                                position: absolute;
                                content: '';
                                display: block;
                                top: 3px;
                                left: 7px;
                                width: 6px;
                                height: 10px;
                                border-style: solid;
                                border-color: $color-white;
                                border-width: 0 2px 2px 0;
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                                opacity: 1;
                                background: transparent;
                            }
                        }
                    }
                }

                &.frame-imageAnnotationWorkspace__form-edit .semantic-form {
                    // for edit feature form
                    height: calc(100% - 100px);
                }

                .form-scrollable-area {

                    overflow-x: hidden;
                    overflow-y: auto;
                    height: 100%;
                    padding-right: 20px;
                }

                .existing-feature-container {

                    height: 100%;
                }

                .existing-feature-scrollable-area {

                    overflow-x: hidden;
                    overflow-y: auto;
                    height: calc(100% - 45px);
                    padding-right: 20px;

                    & > .existing-feature-item:last-child {

                        border-bottom: none;
                    }
                }

                .existing-feature-item {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 7px 10px;
                    border-bottom: 1px solid $color-grey;
    
                    &:hover {
    
                        background-color: #e9eaeec9;
                    }
    
                    .existing-feature-label {
    
                        width: calc(100% - 60px);
                    }
                }

                .form-btn-group {

                    display: flex; 
                    align-items: center; 

                    margin-top: 15px;
                }

                .save-message {

                    color: $color-white;
                    background-color: $color-success;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    padding: 0 20px;
                    margin-right: 20px;
                    width: 100%;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 14.5px;
                }
            }
        }
    }

    
    

    
}


