.frame-imageAnnotationWorkspace__container {

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 'viewer form';

    .frame-imageAnnotationWorkspace__viewer {

        grid-area: viewer;
        height: 100%;
    }

    .frame-imageAnnotationWorkspace__formArea_bg {

        background-color: $color-off-white;
        box-shadow: inset 0px 0px 9px 3px #ddd9d9;
        grid-row: 1 / -1;
        grid-column: 2 / -1;
    }

    .frame-imageAnnotationWorkspace__formArea {

        grid-area: form;

        display: grid;
        grid-template-columns: minmax(10px, 0.2fr) auto minmax(10px, 0.2fr);
        grid-template-rows: minmax(10px, 0.06fr) auto minmax(10px, 0.06fr);
        grid-template-areas: '. . .'
                            '. formContent .'
                            '. . .';

        .frame-imageAnnotationWorkspace__formArea_content {

            grid-area: formContent;
        }
    }

    .frame-imageAnnotationWorkspace__annotations {

        h2 {

            margin-top: 20px;
            display: flex;
            align-items: center;
        }

        .rs-icon {

            padding-right: 10px;
            font-size: 20px;

            &.rs-icon-area_annotation {

                font-size: 24px;
            }
            
        }

        .frame-imageAnnotationWorkspace__regionsArea {

            margin-left: 15px;

            .frame-imageAnnotationWorkspace__regions_container {

                margin-left: 37px;
                overflow-x: hidden;
                overflow-y: auto;
                height: auto;
                max-height: 20vh;

                .frame-imageAnnotationWorkspace__region {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 7px 10px;
                    border-bottom: 1px solid $color-grey;

                    &:hover {

                        background-color: #e9eaeec9;
                    }

                    .region-label {

                        width: calc(100% - 115px);
                    }

                    button {

                        color: $color-grey-dark;
                        border: 1px solid $color-light-grey2;
                        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.17);
                        background-color: $color-btn-bg-grey;
                        border-radius: 3px;
                        padding: 5px 7px;

                        &:hover,
                        &:focus {

                            border-radius: 3px;
                            border: 1px solid $color-dark;
                            background-color: $color-dark;
                            color: $color-white;
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    .frame-imageAnnotationWorkspace__form-container {

        height: auto;
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;

        margin-top: 30px;
        background-color: $color-white;
        border-radius: 2px;
        border: 1px solid #80808036;
        box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px 30px;

        .region-section {

            max-width: 500px;
            width: 100%;
        }

    }
}


