///////////////////////Exported Code/////////////////////////////
/* Inputs */
#input_container {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 20px;
  direction: rtl;
}

input {
  &.#{$prefix}textInput--white {
    @include text-input(25px, 4px, 8px, $color-white);

    background-color: transparent;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-white;
      opacity: 1; /* Firefox */
    }

    &:focus {
      outline: none;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */

        opacity: 0.7; /* Firefox */
      }
    }
  }

  &.#{$prefix}searchInput {
    width: 100%;
    color: $color-dark;
    background-color: $color-primary-50;
    border-radius: 20px;
    padding: 4px 8px 4px 15px;
    border-color: transparent;
    background-image: url(/assets/images/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: right 8px center;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-dark;
      opacity: 1; /* Firefox */
    }

    &:focus {
      outline: none;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */

        opacity: 0.7; /* Firefox */
      }
    }
  }
}

input,
input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type='checkbox'] {
  margin: 1px 0 0;
}

table input[type='checkbox'] {
  margin: 2px 8px 0 0;
}

.radio input[type='radio'],
.radio-inline input[type='radio'],
.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox'] {
  top: 0;
}

/* Clearable-input (ex. search input in the Clipboard) */
.clearable-input {
  padding: 0px;
  border: none;
  border-radius: 20px;
  background-color: $color-primary-50;
  background-image: url(/assets/images/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: right 8px center;
  color: $color-dark;
}

.clearable-input > * {
  margin: 0px;
}

.clearable-input__input.form-control {
  padding: 4px 8px 4px 15px;
  width: 100%;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-dark;
    opacity: 1; /* Firefox */
  }

  &:focus {
    outline: none;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */

      opacity: 0.7; /* Firefox */
    }
  }
}

.clearable-input__clear {
  width: 48px;
  margin-right: 0px;
  color: $color-dark--op50;
  padding-bottom: 2px;

  &:hover {
    color: $color-dark;
  }
}

.SemanticTreeInput--textInput {
  display: flex;
  align-items: center;

  .RemovableBadge {
    margin: 4px 6px;
  }
}

// DraAandDrop input
.DragAndDropInput--holder {

  .DropArea--dropArea.mp-droppable-enabled {

    border: 1px solid $color-dark;
  }

  .DropArea--dropMessage {

    border: none;
  }
  
  .placeholderContainer {
  
    width: 135px;
    height: 175px;
    margin: 4px;
    padding: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $color-dark;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #1c0a6d24;
  
    font-size: 14.5px;
    line-height: 1.4;
  }
}


