.login-body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  height: 100vh !important;
  padding-bottom: 0 !important;
}

.login-container {
  padding-bottom: 25vh;
  height: inherit;

  .login-title-row {
    margin-top: 0px;
    padding-bottom: 30px;
  }

  .login-title {
    font-size: 34px !important;
    line-height: 1.1;
    color: #2c3e50;
    letter-spacing: 0.3px;
  }

  .panel {
    width: 330px;
  }

  .panel {
    margin-bottom: 8px;
  }

  .panel-body {
    padding: 19px 22px;
  }

  .login-border {
    padding: 35px 35px 18px 35px;
  }

  .panel-default {
    border-color: #dddddd7d;
  }

  .form-control,
  input {
    letter-spacing: 0.3px;
  }

  .btn-success {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.5px;
  }

  .powered-by img {
    height: 40px;
    width: auto;
  }

  .alert-danger {
    background-color: $color-alert-message-bg;
    border-color: $color-alert-message-bg;
    color: white;
  }

  .alert {
    padding: 8px;
    margin-bottom: 21px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
  }
}
