.login-body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  height: 100vh !important;
  padding-bottom: 0 !important;
  background-color: #fcfcfc;
}

.login-container {
  padding-bottom: 20vh;
  height: inherit;

  .login-title-row {
    margin-top: 0px;
    padding-bottom: 10px;
    color: #2c3e50;
    max-width: 400px;
    text-align: center;

    .login-title {
      font-size: 36px;
      line-height: 1.4;
      letter-spacing: 0.3px;
    }

    .powered-by {

      padding-top: 14px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 30px;
        width: auto;
      }
    }
  }

  .panel {

    margin-bottom: 8px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    min-width: 330px;
    width: 100%;
    
  }

  .panel-body {
    padding: 19px 0px;
    background-color: transparent;
  }

  .login-border {
  //  padding: 35px 35px 18px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-control {
    letter-spacing: 0.3px;
    border: none;
    border-bottom: 1px solid #b4b2b2;
    background-color: transparent;
    color: #2c3e50;

    &::placeholder {

      color: #b4b2b2;
    }
  }

  .btn-success {

    font-family: "Source Sans Pro", sans-serif;
    background-color: $color-dark;
    border-color: $color-dark;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 40px;
    border-radius: 5px;
    padding: 14px 0;

    &:hover,
    &:focus,
    &:focus-within {

      background-color: $color-primary-100;
      border-color: $color-primary-100;
    }
  }

  .alert-danger {
    font-family: "Source Sans Pro", sans-serif;
    color: $color-alert-message-bg;
    border: none;
    background-color: transparent;
    font-size: 16px;
    letter-spacing: 0.2px;
  }

  .alert {
    padding: 8px;
    margin-bottom: 21px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
  }
}
