@mixin vertical-align-flex {
    display: flex;
    align-items: center;
}

@mixin item-on-right {
    margin-left: auto;
}

//Buttons
@mixin button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

@mixin button-border($border, $border-radius) {
    border: $border;
    border-radius: $border-radius;
}

@mixin button-font($font-size, $color, $spacing) {
    //for hokusai
   // font-family: nth($family-list, 1);
    font-family: $sourceSans;
    font-size: $font-size;
    color: $color;
    letter-spacing: $spacing;
    text-transform: uppercase;
}

// Button sizes
@mixin button-size($padding-horizontal, $height) {
    padding-right: $padding-horizontal;
    padding-left: $padding-horizontal;
    height: $height;
}

@mixin rotate-text($degree) {
    -webkit-transform: rotate($degree + deg);
    -ms-transform: rotate($degree + deg);
    transform: rotate($degree + deg);
}

@mixin badge {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 23px;
    text-align: center;
    white-space: nowrap;
    border-radius: 50%;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@mixin tag {
    color: white;
    padding: 0px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

//Input
@mixin text-input($height, $padding-vertical, $padding-horizontal, $color) {
    height: $height;
    padding: $padding-vertical $padding-horizontal;
    border-bottom: 1px solid $color !important;
    color: $color;
}

@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}