
//Input
@mixin text-input($height, $padding-vertical, $padding-horizontal, $color) {
    height: $height;
    padding: $padding-vertical $padding-horizontal;
    border-bottom: 1px solid $color !important;
    color: $color;
}

@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}