/* Modal */
.modal .close, 
.panel-default .close {

    color: $color-dark;

    &:focus {

        outline: none;
    }
}

.modal-backdrop {
    background-color: #cfcddd;
}

.modal-content {

    .modal-header {

        padding: 22px 22px 14px 22px;
    }

    .modal-title {

        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.3px;
    }
}

.modal-body {
    padding: 25px 40px;

    & .btn {
        font-size: 13px;
        padding: 7px 10px;
        margin-top: 10px;
    }

    & > p:last-child {

        margin-bottom: 0px;
    }

    img {
        max-width: 600px;
    }

    .FileManager--FileManager .FileManager--header {
        height: fit-content;
    }

    .FileManager--FileManager {

        height: 100%;
    }

    .FileManager--FileUploader > div:first-child {

        border-width: 1.5px !important; //overwrite inline css
        border-color: $color-dark !important; //overwrite inline css
    }

    .FileManager--mpDropZonePlaceHolder {

        padding: 15px;
        color: $color-dark;
    }

    .FileManager--FileManager .FileManager--alertComponent, 
    .FileManager--FileVisualizer .FileManager--alertComponent {

        color: $color-dark;
        border-top: 1.5px dashed $color-dark;
        border-width: 1.5px;
        height: auto;
    }

    & .form-control {

        height: 35px;
        border-color: $color-primary-50;
        color: $color-dark;
        font-size: 13px;

        &::placeholder {

            color: #ccc;
        }
    }

    & .form-control:focus {
        border-color: #ccc;
    }

    .cardinality-support__single-instance {

        align-items: flex-end;
    }

    .cardinality-support__single-instance>.cardinality-support__remove-value {

        color: $color-dark;
        margin-left: 5px;
    }

    .cardinality-support__remove-value.btn.btn-default {

        height: 35px;
        color: $color-dark;
        font-size: 12px;
        padding: 10px 9px 9px 9px;
        margin-top: 0px;
        border-color: $color-primary-50;

        &:hover {

            background: transparent;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
        }    
    }

    .plain-text-field textarea.plain-text-field__text {

        font-size: 14px;
        border-color: $color-primary-50;
        padding: 9px 12px;

        &::placeholder {

            color: #ccc;
        }

        &:focus {

            border-color: #ccc;
            outline: none;
        }
    }

    .Select-control {

        color: $color-dark;
        font-size: 13px;
        border-color: #ddd;
    }

    .Select--single>.Select-control .Select-value, 
    .Select-placeholder {

        color: #ccc;
    }

    .card-modal-tabs {

        width: 100%;

        .nav-tabs {
            border: none;
            display: flex;
            justify-content: center;
        }

        .nav-tabs > li {

            font-size: 16px;
            width: 100px;
            text-align: center;
        }
    
        .nav-tabs > li > a {
            color: $color-dark;
            margin-right: 0px;
            border: none;
        }

        .nav > li > a:hover, 
        .nav > li > a:focus {
            box-shadow: inset 0px -2px 0px 0px $color-primary-50;
            background-color: transparent;
            border:none;
        }
    
        .nav-tabs > li.active > a {
            color: $color-dark;
            box-shadow: inset 0px -2px 0px 0px $color-dark;
        }

        .tab-pane {
            padding: 40px 50px;
        }

        #tab-container-pane-images,
        #tab-container-pane-videos {

            width: 600px;
        }

        .no-media {

            padding-top: 10px;
            text-align: center;
            font-size: 15px;
            font-style: italic;
        }

        .semantic-carousel {
            height: 300px;
            width: 100%;
        }

        .carousel-container {

            display: flex;
            justify-content: center;
            height: 100%;
        }

        .semantic-carousel>.slick-slider,
        .slick-list, 
        .slick-track,
        .slick-slide,
        iframe {

            height: 100%;
        }

        .semantic-carousel>.slick-slider {
            width: 100%;
            margin-left: 0%;
            margin-right: 0%;
        }

        .slick-initialized.slick-slider {

            padding: 0px 10px;
        }

        .semantic-carousel>.slick-slider .slick-next::before, 
        .semantic-carousel>.slick-slider>.slick-prev::before {

            color: $color-dark;
        }

        .slick-prev, 
        .slick-next {

            z-index: 500;
          
            height: 35px;
            width: 35px;
          
            background: #f2f3f694;
            border-radius: 50%;
            border: 1px solid #f2f3f694;

            &:hover {

                border: 1px solid $color-dark;
            }
          
          }

        .slick-prev::before {
            content: "\f104";
          }
          
          .slick-next::before {
            content: "\f105";
          }

          .slick-next {
            right: -36px;
          }
          
          .slick-prev {
            left: -36px;
            
          }
          
          .slick-dots li {
          
            height: 5px;
            width: 5px;
          }
          
          .slick-dots li.slick-active button::before {
            
            color:$color-dark;
          }
    }

   /*  Semantic form inside a modal */
    .semantic-form {

        .semantic-form-recover-notification__message {

            margin-bottom: 8px;
        }
    
        .semantic-form-input-decorator__description-icon {
            margin-left: 5px;
            top: -0.2em;
            color: $color-primary-100;
        }

        .semantic-form-input-decorator__header {

            margin: 20px 0 8px 0;
        }

        .semantic-form-input-decorator__label {
            text-transform: capitalize;
            font-size: 15px;
            letter-spacing: -0.1px;
        } 

        .cardinality-support__add-value.cardinality-support__add-value--another {
            font-size: 13px;
            font-weight: 600;
            color: $color-dark;
      
            &:hover {
      
                text-decoration: underline;
            }
        }

        .semantic-form-input-decorator--with-header {
            padding-left: 0px;
            margin-top: 0;
      
            div > label:first-child {
                margin-left: 0px !important;
            }
      
            a.cardinality-support__add-value.cardinality-support__add-value--first {
                margin: 11px 0px 11px 20px;
                font-size: 13px;
                font-weight: 600;
                color: $color-dark;
      
                &:hover {
      
                    text-decoration: underline;
                }
            }
        }
      
        .clearable-input {
      
          height: 35px;
          background-color: transparent;
          border: 1px solid $color-primary-50;
          border-radius: 0px;
        }


        .SemanticTreeInput--browseButton.btn.btn-default {
      
          border: 1px solid $color-primary-50;
          margin-left: 4px;
          padding: 0px 10px;
          background-color: transparent;
        }
      
        .SemanticTreeInput--browseButton.btn.btn-default:hover,
        .SemanticTreeInput--browseButton.btn.btn-default:focus,
        .SemanticTreeInput--browseButton.btn.btn-default:visited {
              
          background-color: transparent;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
          color: $color-dark;
        }

        .form-control {

            padding: 4px 8px;
          }
      
        .cardinality-support__remove-value {
      
          margin-left: 1px;
        }

        .Select-control {
      
          height: 35px;
        }

        .Select-input {
            
            height: 35px;
        }
      
        .semantic-form-tree-picker-input {
          margin-bottom: 42px;
        }

        .autocomplete-text-field__create-button {
            margin-left: 5px;
          }
        
          .autocomplete-text-field__main-row .btn-default {
        
            border-color: $color-primary-50;
            height: 35px;
          }

        .form-btn-group {

            padding-top: 25px;
            display: flex;
            justify-content: center;

            .btn {

                margin-top: 0;
                border-radius: 2px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.3px;
                padding: 9px 12px;
            }

            .btn-default {

                border: none;
               
                &:hover {
                    border-radius: 0px;
                    background-color: transparent;
                    box-shadow: inset 0px -2px 0px 0px $color-dark;
                }
            }

            button:not(:last-child) {

                margin-right: 14px;
            }
        }

        .semantic-form-errors__error,
        .semantic-form-validation-messages__error,
        .semantic-form-errors__error-source,
        .semantic-form-errors__error-message {

            color: $color-danger;
            font-size: 13px;
        }

        .cardinality-support__group-instance {

            padding: 0 22px;
            border: 1px solid $color-primary-50;

            > button {

            color: #aaa;
            height: 25px;
            border: none;

            &:hover,
            &:focus {

                box-shadow: none;
                color: #717171;
            }
            }

            .form-switch__content {
            
            margin: 14px 0 0;

            .form-switch__select {

                background-color: $color-primary-10;
                color: $color-dark;
                padding: 0.5em 2em 0.5em 1em !important; //inline
                border-color: $color-primary-50;

                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;

                min-width: 110px;

                option {
                text-transform: none;
                }
            }
            }
        }

        .FileManager--urlInputHolder .btn.btn-primary {

            background-color: transparent;
            border-color: $color-primary-50;
            color: $color-dark;
        }
    }

      input[type="radio"], input[type="checkbox"] {
        margin-top: 1px;
        margin-left: -19px;
      }

      /* Table pagination */
    table .griddle-footer .pagination {
        margin: 0px;
        display: flex;
        justify-content: flex-end;

        & > li > a,
        & > li > span {
            @include font-common($sourceSans, $color-dark, 12px, $b-line);

            font-style: italic;
            border: none;
            padding: 3px 8px;
        }

        & > li > a:hover,
        & > li > a:focus,
        & > li > span:hover,
        & > li > span:focus {
            color: $color-dark;
        }

        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus,
        & > .active > span,
        & > .active > span:hover,
        & > .active > span:focus {
            background-color: $color-dark;
            color: $color-white;
        }

        li.disabled {
            opacity: 0.3;
        }
    }

    .form-inline {

        display: flex;
        align-items: baseline;

    }

    .FileManager--FileManager .FileManager--fileContainer {
        
        border: none;
        background-color: transparent;
        
        border-radius: 3px;
        box-shadow: inset 0 0 8px -3px #585858bf;
        padding: 8px;
    }

    .FileManager--FileManager .FileManager--fileContainer .FileManager--caRemoveFile {

        background: transparent;
    }

    .FileManager--FileManager .FileManager--header .FileManager--uploadedImageIri {
        
        font-weight: 600;
        color: $color-dark;
        font-size: 16px;
        cursor: auto;
    }
}




