/* Semantic narrative */
.TextEditor--narrativeHolder {

    .TextEditor--toolbar {

        .btn-toolbar > .btn-group {
            margin-left: 8px;
        }

        .btn {
            border-radius: 2px;
        }
    
        .btn-default,
        .btn-primary {

            height: 38px;
            font-family: $sourceSans;
            font-size: 13.5px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
        }

        .btn-primary {
            padding: 9px 15px;
        }
    
        .btn-default {
            color: #6b6565;
            background-color: $color-white;
            border: 1px solid #ddd;
            padding: 9px 12px;
    
            &:hover {
                box-shadow: inset 0px -3px 0px 0px $color-dark;
            }
        }
    
        .btn[disabled] {
            opacity: 0.6 !important;

            &:hover {
                box-shadow: none;
            }
        }

        .btn.active {
            box-shadow: inset 0px -3px 0px 0px $color-dark;
        }

        button#blocks {

            .caret {
                margin-left: 14px;
            }
        }

        .dropdown-menu {

            padding: 10px 0 8px 0;
        }

        .dropdown-menu > .active > a {

            background-color: $color-primary-50;
        }

        .dropdown-menu > li > a:hover, 
        .dropdown-menu > li > a:focus {

            background-color: $color-primary-10;
        }
    }

    .TextEditor--draggableGripper {

        .rs-icon {

            font-size: 34px;
            color: $color-icon-grey;
        }
    }

    .TextEditor--titleInput {

        .form-control {
            height: unset;
            font-size: 18px;
        }
    }

    .DropArea--dropArea {
        height: 45px;
    }

    .DropArea--dropMessage {

        border: 1px dashed $color-dark;
        border-width: 1px;
    }
}

.TextEditor--resourceBlock {
    .mirador-osd-annotation-controls {
        display: none;
    }

    .mirador .mirador-manipulation-controls {

        top: 0;
    }

    a.edit, a.delete {
        display: none;
    }
}
