/* Popovers */
.popover {

    color: $color-white;
    
    font-family: $sourceSans;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.3px;

    background-color: $color-popover-bg;

    border-radius: 3px;

    .popover-title {
        padding: 6px 14px;
        font-size: 14px;
        border: none;
    }

    .popover-content {
    
        padding: 11px 15px;
    }

    &.right > .arrow {
    
        border-right: none;

        &:after {

            left: 4px;
            border-right-color: $color-popover-bg;
        }
    }

    &.left > .arrow {
    
        border-left: none;

        &:after {

            border-left-color: $color-popover-bg;
        }
    }

    &.top > .arrow {
        border-top-color: $color-popover-bg;

        &:after {
            border-top-color: $color-popover-bg;
        }
    }

    &.bottom > .arrow {

        border-bottom-color: $color-popover-bg;

        &::after {

            border-bottom-color: $color-popover-bg;
        }
    }

}

/*  Clipboard list view popover */
.clipboard-popover-trigger {

    width: 18px;
    text-align: center;
    border: 1px solid transparent;
}

.clipboard-popover-trigger[aria-describedby="mp-popover"] {

    border: 1px solid $color-primary-100;
    border-radius: 2px;
    background: transparent;
    padding-left: 2px;
}

.clipboard-listview-popover {

    &.popover {

        color: $color-dark;
        background-color: $color-white;
        font-family: $sourceSans;
        font-size: 12.5px;
        letter-spacing: 0px;
        line-height: 1.2;
    
        border-color: #ccc;
        border-radius: 4px;
    
        .popover-content {
    
            padding: 2px 0px;
        }

        &.right {
            margin-left: 8px;
        }
    
        &.right > .arrow {
    
            border-right: none;
            top: 42% !important; //overwrite inline style
    
            &:after {
    
                border-right-color: $color-white;
                left: 3px;
            }
        }
    
        .set-management__item-popover {
    
            font-size: 12px;
            font-weight: 500;
        }
    
        .set-management__item-popover-item {
    
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 4px 11px;
    
            i {
                font-size: 1.5em;
            }

            .rs-icon-delete_round {

                color: $color-icon-warning;
            }
    
            span {
    
                padding-left: 10px;
            }
    
            &:hover {
    
                background-color: $color-primary-50;
            }
        }
    }
}

/* Resource header popover */
.rs-resource-header-popover {

    &.popover {

        font-style: italic;
    
        .popover-content {
    
            padding: 5px 10px;
        }

        &.right {
            margin-left: 16px;
        }

        &.right > .arrow {
    
            border-right: none;
    
            &:after {
    
                left: 4px;
                border-right-color: $color-popover-bg;
            }
        }
    }
}

/* Search chart popover */
.search-tab-chart .popover {

    color: $color-dark;
    background-color: $color-white;

    &.right > .arrow {
    
        &:after {

            border-right-color: $color-white;
        }
    }
}

/* Tooltip */
.tooltip {
    @include font-common($sourceSans, $color-white, 11px, $b-line);
    font-weight: 600;
    font-style: italic;
}

.tooltip-inner {
    padding: 4px 8px;
    background-color: $color-dark--op75;
    border-radius: 2px;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: $color-dark--op75;
}

/* .#{$prefix}tooltip {
    display: inline-block;
    position: relative;
}

.#{$prefix}tooltip .tooltip-right {
    width: max-content;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translate(0, -50%);
    padding: 4px 8px;
    background-color: rgba(29, 10, 112, 0.75);
    border-radius: 2px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    display: none;
}

.#{$prefix}tooltip:hover .tooltip-right {
    display: block;
}

.#{$prefix}tooltip .tooltip-right i {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
} */

/*  tooltip arrow formatting */
/* .#{$prefix}tooltip .tooltip-right i::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 4px;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: rgba(29, 10, 112, 0.75);
} */

/* Semantic Narrative popover */
.TextEditor--linkPopover {

    height: 100%;
    align-items: center;
    padding: 3px;

    .DropArea--dropArea {
        padding-right: 7px;
    }

    .DropArea--dropMessage {
        height: 56px !important; //inline style
        font-size: 14px;
        line-height: 1.3;
        border: 1px dashed $color-white;
        background-color: $color-popover-bg;
        color: $color-white;
    }

    .btn-group {

        padding-left: 6px;
    }

    .btn-default {
        color: $color-popover-bg;
        background-color: $color-white;
        border: 1px solid $color-white;
        border-radius: 3px;
        padding: 7px 10px; 
        margin-right: 1px;

        .fa {
            color: $color-popover-bg;
        }
    }

    .btn-default[disabled]:hover {

        background-color: $color-white;
    }

    .form-control {
        background-color: $color-popover-bg;
        border-color: $color-white;
        color: $color-white;
        width: 170px;
        height: 35px;
    }

    .TextEditor--externalLinkHolder {

        justify-content: start;
    }
}
