///////////////////////Exported Code/////////////////////////////
/* Object template */

.table-responsive.rs-table.rs-object-dataset--table table td {

  padding: 20px 8px !important;

  .rs-table-td-row, 
  .rs-printinfo-container {

    padding-bottom: 8px;
  }

  .rs-table-td-row:last-child, .rs-printinfo-container:last-child {

    padding-bottom: 0px;

  }
}

.rs-table-td-row--sectionTitle {

  width: max-content;
  padding-right: 5px;
}

table a:not(.btn).rs-table-link {

  text-decoration: underline !important;
}

td .rs-table-td-acquisition:not(:last-child) {

  padding-bottom: 12px;
}

td .rs-table-td-dimension   {

  &:not(:last-child) {

    padding-bottom: 10px;
  }

  & span {

    text-transform:capitalize;
  
  }
}

.rs-inscription-container,
.rs-visualitem-container {
  display:flex;
  flex-direction:column; 
  padding-left: 18px;
}

.rs-inscription-container .rs-pd-inscription:not(:last-child), 
.rs-table-td--displayContainer .rs-table-td--display:not(:last-child) {

  border-bottom: 1px solid $color-primary-50;
  margin-bottom: 12px;
  padding-bottom: 14px;
}

.rs-visualitem-container .rs-pd-visualitem:not(:last-child) {

   padding-bottom: 8px;
}

.rs-inscription-container .rs-pd-inscription div {
    padding-bottom: 6px;
}

.rs-table-td-info {
 
  color: #8981b7; 
  font-size: 13px !important;
  padding-left: 3px;

}

.rs-table-2col-flex {

  display: flex; 
  padding-top: 15px; 
  padding-bottom: 10px;
}

.rs-subfield-title {

  width: 75px;
  min-width: 75px;
}


.#{$prefix}summary-section {

  padding-top: 32px;
  padding-bottom: 32px;  

}

.#{$prefix}background-p10 {

  background-color: $color-primary-10;

}

.#{$prefix}background-s10 {

  background-color: $color-secondaryA-10;

}

.#{$prefix}background-sb10 {

  background-color: $color-secondaryB-10;

}

.#{$prefix}border-buttom {

  border-bottom: 1px solid $color-dark;
}

.#{$prefix}mirador-container {

  padding: 30px 10px 10px;
  height: calc(100vh - 104px - 149px);
}











