///////////////////////Exported Code/////////////////////////////
/* Detail sidebar */
.details-sidebar {

    flex-direction: column; 
    flex: 1 1 auto; 
    background-color: rgb(233, 236, 239); 
    padding: 0px 40px 0px 45px; 
    height: 100%;

    #template-content,
    .page.page-local-overwrite {

        height: inherit;
    }

    & > div {

        height: inherit;
        overflow: unset !important;
    }

    .detail-sidebar-content {

        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .details-tabs {

        display: flex;
        flex-direction: column;
        height: 0;
        min-height: 30px;
        flex: 1 1 auto;

        margin-bottom: 25px;

        .tab-content {

            overflow-y: auto;
        }
    }
}

.detail-sidebar-content {

    a {

        text-decoration: underline;
    }

    .rs-attribution {

     //   margin-left: 25px;
    }

    .rs-resource-header--title-margin {
        margin-bottom: 18px;
    }

    .detail-sidebar__hok-resource-content {

        margin: 20px 0 20px 0;
    }

    .details-tabs {

        width: 100%;
        

        .tab-pane {
            padding-top: 0;
        }

        .nav-tabs {
            padding-left: 0;
            box-shadow: inset 0px -1px 0px 0px #ddd;
            border-bottom: none;
        }

        .nav-tabs > li {

            width: 100px;
            text-align: center;
        }
    
        .nav-tabs > li > a {
            background-color: transparent;
            padding: 8px 0px;
            text-decoration: none;
            color: $color-dark;
            margin-right: 0px;
            border: none;
        }

        .nav > li > a:hover, 
        .nav > li > a:focus {
            box-shadow: inset 0px -2px 0px 0px $color-primary-50;
            background-color: transparent;
            border:none;
        }
    
        .nav-tabs > li.active > a {
            color: $color-dark;
            box-shadow: inset 0px -2px 0px 0px $color-dark;
        }

        .rawdata-tab {
            
            thead {

                display: none;
            }
        }

        .table-responsive.rs-table {
            margin-top: 0px;
        }

        & .table > tbody > tr > td {
            padding: 18px 8px !important;
        }
    }
}

.detail-img {

    max-width: 25%;
    margin-right: 20px;
    object-fit: cover;
}

.detail-noimg {

    width: 100px;
    max-height: 115px;
    padding: 14px;
    margin-right: 20px;
    object-fit: contain;
    box-shadow: inset 0px 0px 2px 0.5px #9e9e9e59;
}

.detail-type {

    overflow-wrap: break-word;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 7px;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.detail-label {

    overflow-wrap: break-word;
    font-size: 15px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
}
