///////////////////////Exported Code/////////////////////////////
/* Detail sidebar */
.rightSidebar {

    background: $color-grey;
  
    .rightSidebar-header {
  
      border: none; 
      width: 100%; 
      background-color: $color-grey; 
      padding: 24px 24px 16px 24px;
  
      h1 {
        margin: 0px;
        padding-left: 15px;
      }
  
      .fa-angle-right {
  
        font-size: 20px; 
        color: $color-dark;
      }
    }
  }

.details-sidebar {

    flex-direction: column; 
    flex: 1 1 auto; 
    background-color: $color-grey; 
    padding: 0px 40px 0px 45px; 
    height: 100%;

    #template-content,
    .page.page-local-overwrite {

        height: inherit;
    }

    & > div {

        height: inherit;
        overflow: unset !important;
    }

}

.detail-sidebar-content {

    height: 100%;
    display: flex;
    flex-direction: column;

    a {

        text-decoration: underline;
    }

    .rs-attribution {

     //   margin-left: 25px;
    }

    .rs-resource-header--title-margin {
        margin-bottom: 18px;
    }

    .detail-sidebar__hok-resource-content {

        margin: 20px 0 20px 0;
    }

    .details-tabs {

        display: flex;
        flex-direction: column;
        height: 0;
        min-height: 30px;
        flex: 1 1 auto;

        margin-bottom: 25px;

        .nav.nav-tabs a {

            text-decoration: none;
        }

        .tab-content {

            overflow-y: auto;
        }

        .rawdata-tab {
            
            thead {

                display: none;
            }
        }

        .tab-pane {
            padding-top: 0;
        }

        .table-responsive.rs-table {
            margin-top: 0px;
        }

        & .table > tbody > tr > td {
            padding: 18px 8px !important;
        }
    }
}

.detail-img {

    max-width: 25%;
    margin-right: 20px;
    object-fit: cover;
}

.detail-icon-noimg {

    font-size: 5em;
    padding: 12px 20px;
    margin-right: 20px;
}

.detail-type {

    overflow-wrap: break-word;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 7px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.detail-label {

    overflow-wrap: break-word;
    font-size: 15px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
}
