///////////////////////Exported Code/////////////////////////////
/* Sparql page */
/* Part of the Sparql page css is in the <style> of the template 
data/templates/http%3A%2F%2Fsystem.metaphacts.com%2Fresource%2FSparqlEndpoint.html
*/
.yasr {

    font-family: $sourceSans;
    font-size: 13px;
    line-height: 1.2;
    color: $color-primary-100;
}

.yasr .yasr_btn {

  color: #7366ab;
  border-color: $color-primary-100;
}

.yasr .yasr_btn:hover,
.yasr .yasr_btn:focus {

  background-color: #ebebeb;
}

.yasr .yasr_btn.selected, 
.yasr .yasr_btn:focus {

    background-color: $color-primary-100;
    border-color: $color-primary-100;
    color: $color-white;

}

.yasr .yasr_header>* {
  
  margin-top: 15px;

}

.yasr .yasr_downloadIcon.yasr_btn.btn_icon {

    padding-top: 5px;
    padding-bottom: 6px;

    &:hover,
    &:focus {

      background-color: #ebebeb;
    }
}

#Your_Icon path {

  fill: $color-primary-100 !important;
}

.yasr table td a {

  text-decoration: underline;
  color: $color-dark;
}

.yasr table td .pagination a {

  text-decoration: none;
  
}

.yasr {

  table .pagination > .active > a,
  table .pagination > .active > a:hover,
  table .pagination > .active > a:focus, 
  table .pagination > .active > span,
  table .pagination > .active > span:hover,
  table .pagination > .active > span:focus {

    color: $color-white;
  }
}

select:not([multiple]) {

    padding: 0 .8em !important;
    padding-right: 2em !important;
}

.SparqlQueryEditor__repositorySelectorDropdown {
  margin-left: 10px;
}

.yasr_results .Select-control {

  height: 39px !important;
  border-bottom: 1px solid #ccc;
}


.Select-menu-outer {

 font-family: $sourceSans;

  .Select-option {

      font-size: 14px;
      color: $color-dark;
  }

  .Select-option.is-disabled {
      color: $color-primary-50;
    }
}

  .Select-menu-outer .Select-option:hover,  
  .Select-menu-outer .Select-option:focus,
  .Select-menu-outer .Select-option:focus-within,
  .Select-menu-outer .Select-option.is-selected, 
  .Select-menu-outer .Select-option.is-focused {

    color: $color-dark;
    background-color: $color-primary-10;
  }

  .split-pane__leftsidebar-toggle {

    width: 50px;
  }

  #queries  .tab-pane {
    padding: 20px 0px; 

}

  