///////////////////////Exported Code/////////////////////////////
/* Sparql page */

.rs-sparqlPage {

  .sparqlSidebar {

    background: $color-grey;
  
    .sparqlSidebar-header {
  
      border: none; 
      width: 100%; 
      background-color: $color-grey; 
      padding: 24px 24px 16px 24px;
  
      h1 {
        margin: 0px;
      }
  
      .fa-angle-left {
  
        font-size: 20px; 
        margin-left: auto; 
        color: $color-dark;
      }
    }
  
  }
   /*
      auto size for code mirror within yasqe
      we should make this default in the SparqlEditor component
  */
  .yasqe .CodeMirror {
    height: auto!important;
  }

  /*
      hide page toolbar i.e. sparql endpoint is special page
  		that is not supposed to be edited
  */
  .component-page-toolbar {
      display:none;
  }

  #queries-pane-1.active, 
  #queries-pane-2.active, 
  #queries-pane-3.active {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .split-pane__leftsidebar--sparql {
    width: inherit;
    border-right: 1px solid #a2a2a2;
    background: $color-white;
    display: flex;
    flex-direction: column;

    .split-pane__leftsidebar-footer {
      position:relative;
    }
  }

  .split-pane__leftsidebar-toggle {

    width: 50px;
  }

  .set-management__sets {
    z-index: 0;
  }

  .set-management__set-items {
    padding-top: 5px;
  }

  .set-management--list-view, 
  .list-group {
    overflow-y: auto;
  }

  .set-management--list-view .set-management__set-item {
    padding: 2.5px 10px;
  }
  
  .set-management__footer {
    display:none;
  }

  .set-management__search {
    padding-top: 0;
  }

  .set-management .Select-menu-outer {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }

  /* Categories */
  .query_category {

    background-color: #008cba;
    color: $color-white;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
    padding: 1px 3px;
    font-size: 90%;
    white-space: nowrap;
    margin-bottom: 5px;
    float: left;
  }
    
  .open-sidebar {
	  flex: auto;
  	display: flex;
    flex-direction: column;
    background-color: $color-grey;
  }

  .open-sidebar__tabs {

    display: flex;
    flex-direction: column;
    height: 100%;

    .tab-content {
      flex: auto;
      display: flex;
      flex-direction: column;
      background: $color-grey;
    } 

    .tab-pane {
      height: 100%;
    }

  } 
  
  .Pane2 {
  	padding-top: 43px;
  }

  /* .Pane.vertical.Pane1 .nav, */
  .Pane.vertical.Pane1 {

      .tab-content .list-group a {
        padding: 10px 30px;
      }

      .nav {
        background: $color-grey;
      }

      .nav > li {

        width: calc(100% / 3);
        height: 100%;
        text-align: center;

        &:not(:last-child) {

          border-right: 1px solid $color-dark;
        }

        & > a {
  
          padding: 0px 5px;
        }
      }

      .nav-tabs {

        border-bottom: 1px solid $color-primary-50;
      }

      .nav.nav-tabs > li:hover {

        box-shadow: none;
        background-color: $color-primary-50;
      }

      #queries .nav-tabs > li {
      
        padding-bottom: 6px;

        &.active > a, 
        &.active > a:focus, 
        &.active > a:hover,
        &.active {
          color: $color-white !important;
          background-color: $color-dark !important;
          border: 1px solid $color-dark !important;
          font-size: 13.5px;
        }

      }

      a.list-group-item {

        color: $color-dark;
      }

      .list-group-item {
      
        background-color: transparent;
        margin-bottom: 1px;
        border: none;

        &:hover {

          background: $color-primary-50;
        }
      
        & > span {
      
          background: $color-dark !important;
          padding: 3px 5px !important;
          margin-bottom: 5px !important;
        }
      }

  }
}

#queries .nav-tabs > li.active > a {
  color: $color-white !important;
  background-color: $color-dark !important;
  border: 1px solid $color-dark !important;
  font-size: 13.5px;
}

#queries .tab-pane {
  padding: 20px 0px; 
}

.yasr {

    font-family: $sourceSans;
    font-size: 13px;
    line-height: 1.2;
    color: $color-primary-100;

    .yasr_btn {

      color: $color-primary-100;
      border-color: $color-primary-100;

      &:hover,
      &:focus {

        background-color: #ebebeb;
      }
    }

    .yasr_btn.selected, 
    .yasr_btn:focus {

        background-color: $color-primary-100;
        border-color: $color-primary-100;
        color: $color-white;

    }

    .yasr_header>* {
  
      margin-top: 15px;
    
    }

    .yasr_downloadIcon.yasr_btn.btn_icon {

      padding-top: 5px;
      padding-bottom: 6px;
  
      &:hover,
      &:focus {
  
        background-color: #ebebeb;
      }

    }

    table {

      td a {

        text-decoration: underline;
        color: $color-dark;
      }

      td .pagination a {

        text-decoration: none;
      }

      .pagination > .active > a,
      .pagination > .active > a:hover,
      .pagination > .active > a:focus, 
      .pagination > .active > span,
      .pagination > .active > span:hover,
      .pagination > .active > span:focus {

        color: $color-white;
      }
    }
}

#Your_Icon path {

  fill: $color-primary-100 !important;
}

.SparqlQueryEditor__repositorySelectorDropdown {
  margin-left: 10px;
}

.yasr_results .Select-control {

  height: 39px !important;
  border-bottom: 1px solid #ccc;
}