///////////////////////Exported Code/////////////////////////////
/* Tabs */
/* Object record tabs */
.#{$prefix}tabs .nav.nav-tabs {

    background-color: $color-primary-50;

    &.rs-entity_bg-purple {
        background-color: $color-primary-50;
    }
    
    &.rs-entity_bg-blue {
        background-color: $color-secondaryB-50;
    }
    
    &.rs-entity_bg-brown {
        background-color: $color-secondaryA-50;
    }
    
    &.rs-entity_bg-lightBlue {
        background-color: #e5e9f0;
    }

    border-bottom: none;

    & > li > a {
        @include font-common($sourceSans, $color-dark, 12px, 1.95);

        font-weight: 600;
        padding: 9px 40px;
        margin-right: 0px;
        border: none;
        height: 41.4px;
    }

    li:not(:last-child):not(.active) {
        border-right: 1px solid $color-dark;
    }

    li.active {
        margin-right: -1px;
        margin-left: -1px;
    }
}

.rs-tabs li.disabled {

    cursor: not-allowed;
    opacity: 0.5;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: none;
    background: $color-white;
}

.nav > li:not(.active) > a:hover,
.nav > li:not(.active) > a:focus {

    background-color: $color-primary-80;
}

.nav.nav-tabs {
    
    &.rs-entity_bg-blue > li:not(.active) > a {

        &:hover,
        &:focus {

            background-color: $color-secondaryB-100;
        }
    }
    
    &.rs-entity_bg-brown > li:not(.active) > a {
  
        &:hover,
        &:focus {

            background-color:  $color-secondaryA-100;
        }
    }
}

.nav-tabs > li {
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .#{$prefix}tabs .nav.nav-tabs {
        padding-left: 8.333333%;
    }
}

@media (min-width: 1200px) {
    .#{$prefix}tabs .nav.nav-tabs {
        padding-left: 16.666667%;
    }
}

#tabs,
#rdf-upload-tabs,
#security-manager-tabs,
#queries,
.CodeExample--holder,
#fieldPreview,
.rs-new-fields,
#mydiagram-tab,
.rs-resource-page #tabs,
#rs-logs-tabs,
#named-graph-tabs {

    .nav.nav-tabs {

        margin-left: 0;
    }

    .nav-tabs > li {
        padding: 7px;
    }

    .nav-tabs > li > a {
        color: $color-dark;
    }

    .nav-tabs > li:hover {
        background-color: $color-primary-10;
    }

    .nav > li > a:hover, 
    .nav > li > a:focus {
        background-color: transparent;
    }

    .nav-tabs > li > a:hover {
        border-color: transparent;
    }

    .nav-tabs > li > a {
        border: 2px solid transparent;
    }

    .nav.nav-tabs li.active,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        color: $color-dark;
        background-color: $color-primary-50;
        border: 1px solid $color-primary-50;
    }
}

.#{$prefix}search-page {

    #semantic-search {

        .nav.nav-tabs {

            margin-left: 1rem;
        }
    }

    #search-results .nav.nav-tabs {
    
        margin-left: 0;
    }

    .nav-tabs > li {

        padding: 10px;

        &:hover {
            background-color: transparent;
            box-shadow: inset 0px -3px 0px 0px $color-primary-50;
        }

        & > a {
            color: $color-dark;
            border: none;
            font-weight: 400;

            &:hover, 
            &:focus {
                background-color: transparent;
                border-color: transparent;
            }
        }
    }

    .nav.nav-tabs li.active {
        
        background-color: transparent;
        border: none;
        box-shadow: inset 0px -3px 0px 0px $color-dark;

        & > a {
            color: $color-dark;
            font-weight: 600;
            background-color: transparent;
            border: none;
        }
    }

}


#search-results .nav-tabs > li {
    float: right;
}

#mydiagram-tab.page__body-navtabs--borderless-no-image > .nav-tabs {
    background-color: transparent;

    & > li:first-child {
        margin-left: 0px;
    }
}

#activity-tab-container {
    
    .#{$prefix}table .griddle .top-section {
        right: 18px;
    }

    .researchspace-table-widget-holder .filter-container .form-control {
        background-color: $color-secondaryB-10;
    }

    .nav-tabs {
        border-bottom: none;
    }

    .nav-tabs > li {
        padding: 7px;
    }

    .nav-tabs > li > a {
        color: $color-dark;
    }

    .nav-tabs > li:hover {
        background-color: #f1f4f55c;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: transparent;
    }

    .nav-tabs > li > a:hover {
        border-color: transparent;
    }

    .nav-tabs > li > a {
        border: 2px solid transparent;
    }

    .nav.nav-tabs li.active,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        color: $color-dark;
        background-color: $color-secondaryB-10;
        border: 1px solid $color-secondaryB-10;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

    .tab-content {
        background-color: $color-secondaryB-10;
        padding: 10px 50px 30px 50px;
        margin-bottom: 50px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;

        .table .table {
            background-color: $color-secondaryB-10;
        }

        .pagination > .disabled > span,
        .pagination > .disabled > span:hover,
        .pagination > .disabled > span:focus,
        .pagination > .disabled > a,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
            color: $color-dark;
            background-color: $color-secondaryB-10;
            opacity: 0.3 !important;
        }
    }
}
