///////////////////////Exported Code/////////////////////////////
/* Table */
table {
    word-break: normal;
}

table a:not(.btn) {
    text-decoration: underline !important;
}

.table > thead > tr > td, 
.table > tbody > tr > th, 
.table > tbody > tr > td, 
.table > tfoot > tr > th, 
.table > tfoot > tr > td {
    vertical-align: middle;
    border: none;
}

.table > thead > tr > th {

    border-bottom: 2px solid $color-dark;
}

.pagination > li > a {
    text-decoration: none !important;
}

.#{$prefix}table {
    margin-top: 24px;
    margin-bottom: 16px;
}

.#{$prefix}table.table > thead > tr > th,
.table > thead > tr > th {
    /*font h3 */
    @include font-common($sourceSans, $color-dark, 16px, $h-line);
}

.#{$prefix}table.table > tbody > tr > td,
.table > tbody > tr > td {
    @include font-common($sourceSans, $color-dark, 13px, 1.4);

    padding: 12px 8px !important;
    border-bottom: 0.5px solid rgba(29, 10, 112, 0.7);

    .rs-page__field-value {
        white-space: unset;
    }
}

.#{$prefix}table.table > tbody > tr > td > a,
.table > tbody > tr > td > a {
    @include font-common($sourceSans, $color-dark, 14px, $b-line);
    text-decoration: underline !important;
}

.table-hover > tbody > tr:hover,
.table > tbody > tr.standard-row:hover {
    background-color: $color-primary-10;
}

.#{$prefix}summary-table {
    padding: 0;

    .table > tbody > tr > td {
        padding: 20px 8px !important;
    }
}

.#{$prefix}summary-table,
.details-sidebar {
    
    .rs-page__field-label {
        display: unset;
    }
}

/* Table RS classes overwrite */

.#{$prefix}table table thead,
table thead {
    border-bottom: none;
}

.#{$prefix}table table tr,
table tr {
    border-bottom: none;
}

.#{$prefix}table table th,
table th {
    font-weight: 600 !important;
    letter-spacing: 0.2px;
}

table th .fa.fa-sort-alpha-asc,
table th .fa.fa-sort-alpha-desc {
    margin-left: 7px;
    color: $color-primary-100;
}

.#{$prefix}table table td, 
table td,
.#{$prefix}table table th, 
table th {
    padding: 12px 8px !important;
}

.table {
    margin-bottom: 0px !important;
}

.#{$prefix}table .table > tbody + tbody,
.table > tbody + tbody {
    border-top: none;
}

.#{$prefix}table .table > tbody > tr > td.footer-container,
.table > tbody > tr > td.footer-container {
    border-bottom: none !important;
    padding: 20px 0px !important;
}

table .pagination, 
.griddle-footer .pagination {
    margin: 0px;
    display: flex;
    justify-content: flex-end;

    & > li > a,
    & > li > span {
        @include font-common($sourceSans, $color-dark, 12px, $b-line);

        font-style: italic;
        border: none;
        padding: 3px 8px;
    }

    & > li > a:hover,
    & > li > a:focus,
    & > li > span:hover,
    & > li > span:focus {
        color: $color-dark;
    }

    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus,
    & > .active > span,
    & > .active > span:hover,
    & > .active > span:focus {
        background-color: $color-dark;
        color: $color-white;
    }

    li.disabled {
        opacity: 0.3;
    }
}

.#{$prefix}table .pagination {
    margin: 0px;
    display: flex;
    justify-content: flex-end;

    & > li > a,
    & > li > span {
        @include font-common($sourceSans, $color-dark, 12px, $b-line);

        font-style: italic;
        border: none;
        padding: 3px 8px;
    }

    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus,
    & > .active > span,
    & > .active > span:hover,
    & > .active > span:focus {
        background-color: $color-dark;
        color: $color-white;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive {
        border: none;
    }
}

/* Table Results filter input/form-control */
.#{$prefix}table .griddle .top-section  {
    position: absolute;
    top: -24px;
    right: 0;
}

.#{$prefix}table .griddle-filter .filter-container {
    width: 220px;
}

// Field Based Visualisation table (raw-data)
.rs-page__field ol {
    margin-bottom: 0px;
}

.rs-page__field-label-holder {

    width: auto;
}