/*  Generic template Page */
.page {
  padding-top: 34px;
}

.page__body {
  padding: 30px 15px;
  font-size: 15px;
}

.page-editor .page__body {
  margin-top: 20px;
}

.#{$prefix}page-header {
  background-color: none;
}

.page_header--col {
  padding-top: 2.8%;
  padding-bottom: 1.3%;
}

.page__header {
  background-color: transparent;
  padding: 0px;
  border-bottom: none;
}

.page__header-thumbnail {
  width: auto;
  margin-right: 15px;

  & .fa-lg,
  & .rs-icon {
    font-size: 2.3em;
  }
}

.page__header-body {
  width: 100%;

  & h2 {
    font-size: 23px;
    border-bottom: 1px solid $color-dark;
    padding-bottom: 2px;
    padding-left: 8px;
  }
}

.#{$prefix}header-line {
 
  width: 40px;
  display: inline-block;
  margin: 0;
  border-top: 1.5px solid $color-dark;
}

.#{$prefix}page-section {
  padding-top: 32px;
}

.#{$prefix}page-section-bottom {
  padding-bottom: 32px;
}

.#{$prefix}section-header {
  margin-left: 17px;
}

.#{$prefix}section-cards {
  padding: 24px 44px;
}

.#{$prefix}section-showall {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-section {
  margin-bottom: 54px;
}

.rs-assertion-row {
  display: flex;
  flex-direction: column;
}

.rs-assertion-col,
.rs-argument-col {
  width: 100%;
}

.rs-argument-col {
  margin-top: 20px;
}

.cards-latest-section {
  width: 100%;
}

.advanced-search--img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

@media (min-width: 1300px) {
  .#{$prefix}section-cards {
    padding-right: 100px;
    padding-left: 100px;
  }

  .rs-assertion-row {
    flex-direction: row;
  }

  .rs-assertion-col,
  .rs-argument-col {
    width: 50%;
  }

  .rs-argument-col {
    margin-top: 0px;
  }
}

@media (min-width: 1700px) {
  .#{$prefix}section-cards {
    padding-right: 110px;
    padding-left: 110px;
  }
}

@media (min-width: 2000px) {
  .#{$prefix}section-cards {
    padding-right: 120px;
    padding-left: 120px;
  }

  .page__header-thumbnail .fa-lg,
  .page__header-thumbnail .rs-icon {
    font-size: 2.8em;
  }
}

@media (min-width: 2300px) {
  .#{$prefix}section-cards {
    padding-right: 140px;
    padding-left: 140px;
  }
}

.ReorderableList--component:not(.ReorderableList--dragging) .ReorderableList--item:hover {
  background: transparent;
}

.InlineValuesEditor--remove-item-button.btn.btn-default,
.InlineValuesEditor--remove-item-button.btn.btn-default:hover,
.InlineValuesEditor--remove-item-button.btn.btn-default:focus {
  color: $color-dark !important;
  background: transparent !important;
  border-color: $color-primary-50 !important;
}

.ReorderableList--item-handle {
  left: 7px;
  background: url(/assets/images/icons/points.svg);
  background-repeat: repeat-y;
}


.CodeMirror-code {
  pre {
    padding: 0;
    font-family: inherit;
  }
}

//Page grid container 
.page-grid-container {

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: minmax(4em, 0.15fr) minmax(200px, auto) minmax(4em, 0.15fr);
  grid-template-rows: 3em auto 3em;

  grid-template-areas: '. . .'
                        '. content .'
                        '. . .';

  .page-content-container {

    grid-area: content;
  }
}

.frame-grid-container {

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: minmax(10px, 0.15fr) auto minmax(10px, 0.15fr);
  grid-template-rows: 100%;

  grid-template-areas: '. content .';

  .frame-content-container {

    grid-area: content;
  }
}

.page-whiteSection-container {

  background-color: $color-white;
  border-radius: 2px;
  border: 1px solid #80808036;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);

  margin-top: 10px;
  padding: 25px 30px;
}

.rs-title-row {

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2em;

  .fa,
  .iconmoon,
  .rs-icon {

    font-size: 1.9em;
    color: $color-dark;
    cursor: pointer;

    &:hover,
    &:focus {

        color: $color-popover-bg;
    }
  }

}

.back-container {

    z-index: 0;
    position: absolute;
    width: 0;
    height: 0;
    top: 1.5px;
    left: 1.5px;
    border-top: 115px solid $pageSection-backArea-bg;
    border-right: 62px solid transparent;
 
    -o-transition: color .3s ease-out, border-top .3s ease-in;
    -ms-transition: color .3s ease-out, border-top .3s ease-in;
    -moz-transition: color .3s ease-out, border-top .3s ease-in;
    -webkit-transition: color .3s ease-out, border-top .3s ease-in;
    transition: color .3s ease-out, border-top .3s ease-in;

    i {
      position: absolute;
      margin-top: -103px;
      margin-left: 10px;
      color: $color-grey-dark;
      font-size: 14px;
      padding: 4px;
      border: 1px solid $color-grey-dark;
      border-radius: 50%;
      -o-transition: color .3s ease-out, transform .3s ease-in;
      -ms-transition: color .3s ease-out, transform .3s ease-in;
      -moz-transition: color .3s ease-out, transform .3s ease-in;
      -webkit-transition: color .3s ease-out, transform .3s ease-in;
      transition: color .3s ease-out, transform .3s ease-in;

      &:hover {
        -ms-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
      }
    }

    &:hover {

      cursor: pointer;
  }
}