/*  Generic template Page */
.page {
  padding-top: 34px;
}

.page__body {
  padding: 30px 15px;
  font-size: 15px;
}

.page-editor .page__body {
  margin-top: 20px;
}

.#{$prefix}page-header {
  background-color: none;
}

.page_header--col {
  padding-top: 2.8%;
  padding-bottom: 1.3%;
}

.page__header {
  background-color: transparent;
  padding: 0px;
  border-bottom: none;
}

.page__header-thumbnail {
  width: auto;
  margin-right: 15px;

  & .fa-lg,
  & .rs-icon {
    font-size: 2.3em;
  }
}

.page__header-body {
  width: 100%;

  & h2 {
    font-size: 23px;
    border-bottom: 1px solid $color-dark;
    padding-bottom: 2px;
    padding-left: 8px;
  }
}

.#{$prefix}header-line {
 
  width: 40px;
  display: inline-block;
  margin: 0;
  border-top: 1.5px solid $color-dark;
}

.#{$prefix}page-section {
  padding-top: 32px;
}

.#{$prefix}page-section-bottom {
  padding-bottom: 32px;
}

.#{$prefix}section-header {
  margin-left: 17px;
}

.#{$prefix}section-cards {
  padding: 24px 44px;
}

.#{$prefix}section-showall {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-section {
  margin-bottom: 54px;
}

.rs-assertion-row {
  display: flex;
  flex-direction: column;
}

.rs-assertion-col,
.rs-argument-col {
  width: 100%;
}

.rs-argument-col {
  margin-top: 20px;
}

.cards-latest-section {
  width: 100%;
}

.advanced-search--img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

@media (min-width: 1300px) {
  .#{$prefix}section-cards {
    padding-right: 100px;
    padding-left: 100px;
  }

  .rs-assertion-row {
    flex-direction: row;
  }

  .rs-assertion-col,
  .rs-argument-col {
    width: 50%;
  }

  .rs-argument-col {
    margin-top: 0px;
  }
}

@media (min-width: 1700px) {
  .#{$prefix}section-cards {
    padding-right: 110px;
    padding-left: 110px;
  }
}

@media (min-width: 2000px) {
  .#{$prefix}section-cards {
    padding-right: 120px;
    padding-left: 120px;
  }

  .page__header-thumbnail .fa-lg,
  .page__header-thumbnail .rs-icon {
    font-size: 2.8em;
  }
}

@media (min-width: 2300px) {
  .#{$prefix}section-cards {
    padding-right: 140px;
    padding-left: 140px;
  }
}

.ReorderableList--component:not(.ReorderableList--dragging) .ReorderableList--item:hover {
  background: transparent;
}

.InlineValuesEditor--remove-item-button.btn.btn-default,
.InlineValuesEditor--remove-item-button.btn.btn-default:hover,
.InlineValuesEditor--remove-item-button.btn.btn-default:focus {
  color: $color-dark !important;
  background: transparent !important;
  border-color: $color-primary-50 !important;
}

.ReorderableList--item-handle {
  left: 7px;
  background: url(/assets/images/icons/points.svg);
  background-repeat: repeat-y;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.CodeMirror-code {
  pre {
    padding: 0;
    font-family: inherit;
  }
}

//Page grid container 
.page-grid-container {

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: minmax(4em, 0.15fr) minmax(200px, auto) minmax(4em, 0.15fr);
  grid-template-rows: 3em auto 3em;

  grid-template-areas: '. . .'
                        '. content .'
                        '. . .';

  .page-content-container {

    grid-area: content;
  }
}
