//Mixin
@mixin font-common($color, $size, $line) {
    font-family: "Source Sans Pro", sans-serif;
    color: $color;
    font-size: $size;
    line-height: $line;
}

@mixin uppercase {
    text-transform: uppercase;
}

@mixin underline {
    text-decoration: underline;
}

@mixin character($char) {
    letter-spacing: $char;
}

//$merriweather: "Merriweather Sans", sans-serif;
$sourceSans: "Source Sans Pro", sans-serif;
$nunito: "Nunito", sans-serif;
