// Colors
$color-dark: var(--color-dark, #1d0a6e);
$color-dark--op75: var(--color-dark--op75, rgba(29, 10, 112, 0.75));
$color-dark--op50: var(--color-dark--op50, rgba(29, 10, 112, 0.5));
$color-dark--op30: var(--color-dark--op30, rgba(29, 10, 112, 0.3));
$color-form-placeholder: var(--color-form-placeholder, rgba(29, 10, 112, 0.5));
$color-form-border: var(--color-form-border, rgba(29, 10, 112, 0.15));

$color-header-bg: var(--color-header-bg, #1d0a6e);
$color-footer-bg: var(--color-footer-bg, #1d0a6e);
$color-km-handle: var(--color-km-handle, #8a7fb7);
$color-checkbox-select: var(--color-checkbox-select, #b07bed);
$color-exclamation: var(--color-exclamation, #cb03ed);
$color-popover-bg: var(--color-popover-bg, #4d3e8d);
$color-card-border: var(--color-card-border, #d7d3e8);
$color-card-icon-hover: var(--color-card-icon-hover, #d4d0e2);

$color-icon-dark: var(--color-icon-dark, #1d0a6e);
$color-icon-warning: var(--color-icon-warning, #FE4A60);
$color-icon-primary: var(--color-icon-primary, #473c74); //check in apps for color-icon-adminPanel
$color-icon-grey: var(--color-icon-grey, #5F5F5F);

$color-dashboard-km: var(--color-dashboard-km, #4f39a294); 
$color-dashboard-narrative: var(--color-dashboard-narrative, #6780add9); 
$color-dashboard-image: var(--color-dashboard-image, #729892); 

$color-white: var(--color-white, #ffffff);
$color-off-white: var(--color-off-white, #f6f6f6);

$color-grey: var(--color-grey, #e9ecef);
$color-grey-20: var(--color-grey-20, rgba(233, 236, 239, 0.2));
$color-light-grey: var(--color-light-grey, #f2f3f6);
$color-light-grey2: var(--color-light-grey2, #bcbcbc);
$color-grey-dark: var(--color-grey-dark, #3a3838);

$color-btn-grey: var(--color-btn-grey, #545151);
$color-btn-bg-grey: var(--color-btn-bg-grey, #e9eaee);
$color-btnHover-bg-grey: var(--color-btnHover-bg-grey, #d1d2d4e0);

$color-btn-green: var(--color-btn-green,#029c02);

$color-btn-selected: var(--color-btn-selected, #1d0a6e);

$color-primary-100: var(--color-primary-100, #9289b7);
$color-primary-100-op70: var(--color-primary-100-op70, rgba(147, 138, 183, 0.678));
$color-primary-80: var(--color-primary-80, #d0cddf);
$color-primary-75: var(--color-primary-75, #ccc5e9);
$color-primary-50: var(--color-primary-50, #e0dee9);
$color-primary-50--op50: var(--color-primary-50--op50, rgba(224, 222, 233, 0.5)); //check color-primary-50--op35
$color-primary-50--op35: var(--color-primary-50--op35, rgba(224, 222, 233, 0.35));
$color-primary-10: var(--color-primary-10, #f2f3f6);

$color-secondaryA-100: var(--color-secondaryA-100, #c5bcab);
$color-secondaryA-50: var(--color-secondaryA-50, #e3e0d7);
$color-secondaryA-50--op35: var(--color-secondaryA-50--op35, rgba(227, 224, 215, 0.35));
$color-secondaryA-10: var(--color-secondaryA-10, #f7f5f3);

$color-secondaryB-100: var(--color-secondaryB-100, #728f9d);
$color-secondaryB-50: var(--color-secondaryB-50, #d0d9dd);
$color-secondaryB-50--op35: var(--color-secondaryB-50--op35, rgba(208, 217, 221, 0.35));
$color-secondaryB-10: var(--color-secondaryB-10, #f1f4f5);

$color-success: var(--color-success, #23ba98);
$color-warning: var(--color-warning, #f5c923);
$color-danger: var(--color-danger, #f4364e);

$color-info: var(--color-info, #3793ff);
$color-info--op30: var(--color-info--op30, rgba(56, 149, 255, 0.3));

$color-alert-message-bg: var(--color-alert-message-bg, #d93348);

$mirador-main-color: var(--mirador-main-color, #60626d);

$color-entity-bg-thing: var(--color-entity-bg-thing, #e0dee9);
$color-entity-bg-actor: var(--color-entity-bg-actor, #d0d9dd);
$color-entity-bg-type: var(--color-entity-bg-type, #e3e0d7);
$color-entity-bg-resource: var(--color-entity-bg-resource, #e5e9f0);

$color-entity-icon-thing: var(--color-entity-icon-thing, #9289b7);
$color-entity-icon-actor: var(--color-entity-icon-actor, #45626F);
$color-entity-icon-type: var(--color-entity-icon-type, #857C70);
$color-entity-icon-resource: var(--color-entity-icon-resource, #506B9B);


//Strings
//custom css elements prefix
$prefix: 'rs-';