.rs-vocabulary-scheme-content {

    .rs-vocabulary-title-row {

        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 2.6em;
        padding-right: 8px;

        .rs-vocabulary-title {

            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }

        .fa {

            font-size: 1.9em;
            color: $color-dark;

            &:hover,
            &:focus {

                color: $color-popover-bg;
            }
        }

        .fa-plus-circle {

            padding-right: 15px;
        }
    }

    .rs-vocabulary-scheme-row {

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 8px;
        margin-bottom: 10px;

        .form-group {

            margin-bottom: 0;
        }

        .form-control {

            min-width: 275px;
            height: auto;
            padding: 10px 10px 10px 38px;
            border: 1px solid transparent;
            border-radius: 3px;
            background-image: url(/assets/images/icons/search_grey.svg);
            background-repeat: no-repeat;
            background-size: 16px 16px;
            background-position: left 10px center;

            color: $color-btn-grey;
            font-size: 14.5px;

            &::placeholder {
                color: $color-btn-grey;
                opacity: .8;
            }

            &:focus,
            &:focus-within {
                background-color: $color-off-white;
            }
        }
    }

    .rs-vocabulary-scheme-title {

        padding-left: 2px;
        margin: 0;
    }

    .scheme-table-row {

        display: flex;
        align-items: center;
        justify-content: space-between;

        button:not(:last-child) {

            margin-right: .8em;
        }

        .btn-table-container {

            padding-left: 20px;
            display: flex;
        }

        .schema-label {

            text-transform: capitalize;
            font-size: 14.5px;
            font-weight: 600;
        }
    }

    .btn-table {

        color: $color-btn-grey;
        background-color: $color-btn-bg-grey;

        font-size: 14.5px;
        letter-spacing: .1px;

        padding: 4px 10px;
        border: none;
        border-radius: 2px;

        &:hover,
        &:focus,
        &:focus-within {

            outline: none;
            background-color: $color-btnHover-bg-grey;
        }

        &.btn-table-delete {

            &:hover,
            &:focus,
            &:focus-within {

                background-color: $color-danger;
                color: $color-white;
            }
        }

        .mp-rdf-graph-action {

            color: inherit;
        }
    }

    .table > tbody > tr > td {

        border-bottom: 0.5px solid $color-grey;
    }

    .table-hover > tbody > tr:hover, 
    .table > tbody > tr.standard-row:hover {

        background-color: transparent;
    }

    table a:not(.btn) {

        text-decoration: none;
    }

    .warning-area {

        background-color: $color-off-white;
        padding: 30px;
        margin-bottom: 20px;

        .warning-message {

            background-color: $color-off-white;
            color: $color-danger;
            font-size: 1.1em;
            font-weight: bold;
            line-height: 1.5;
            margin-bottom: 15px;
        }

        ul {
            margin-bottom: 0;
            line-height: 1.45;
        }
    }
}


.rs-vocabulary-terms-container {

    width: 100%;
    height: calc(100vh - 58px - 34.6px);
    overflow: hidden;

    display: grid;
    grid-template-columns: minmax(20px, 0.15fr) 1.2fr minmax(20px, 0.15fr) minmax(20px, 0.25fr) 2fr minmax(20px, 0.25fr);
    grid-template-rows: 3em auto 3em;
    grid-template-areas: '. . . . . .'
                         '. terms . . editArea .'
                         '. . . . . .';

    .schema-area-bg {

        background-color: $color-off-white;
        box-shadow: inset -3px 0px 7px 0px #ddd9d9;
        grid-row: 1 / -1;
        grid-column: 1 / 4;
    }

    .rs-vocabulary-terms {

        grid-area: terms;
    }

    .rs-vocabulary-terms-title {

        font-size: 24px;
    }

    .rs-vocabulary-terms-area {

        padding-top: 1em;
        height: 100%;

        .SemanticTreeInput--inputAndButtons {

            background-color: $color-white;
            border-radius: 2px;
            border: 1px solid #80808036;
            box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);

        }

        .clearable-input {

            border-radius: 0;
            background-color: transparent;
            padding: 8px;

            .RemovableBadge,
            .RemovableBadge:hover, 
            .RemovableBadge:focus {

                background-color: $color-btn-green;
            }
        }

        .SemanticTreeInput--browseButton.btn.btn-default {

            background-color: transparent;
            border: none;
            height: 38px;
        }

        .LazyTree--alignmentTreeContainer {

            max-height: 55vh;
            margin-top: 30px;
            background-color: $color-white;
            border-radius: 2px;
            border: 1px solid #80808036;
            box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px 15px;

            .LazyTreeSelector--virtualizedList {

                margin-top: 0;
            }

            .LazyTree--decoratedNodeBody {

                font-size: 14.5px;

                width: calc(100% - 80px);
                max-width: calc(100% - 80px);

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                span {

                    width: 100%;
                }
            }

            .LazyTreeSelector--item {

                display: flex;
                height: 100%;

                align-items: center;
                margin-right: 15px;
                border-radius: 2px;

                &:hover {

                    background-color: #e9eaeec9;
                }
            }

            .LazyTreeSelector--itemContent {
                width: 100%;
            }

            .LazyTree--alignmentNodeRow {

                display: flex;
                align-items: center;
                justify-content: space-between;

                .tree-item-action {

                    color: $color-grey-dark;
                    border: 1px solid $color-light-grey2;
                    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .17);
                    background-color: $color-btn-bg-grey;
                    border-radius: 3px;
                    padding: 5px 7px 3px 7px;

                    &:hover,
                    &:focus {

                        border-radius: 3px;
                        border: 1px solid $color-dark;
                        background-color: $color-dark;

                        .fa {

                            color: $color-white;
                        }
                    }

                    .fa {
                        color: inherit;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .rs-vocabulary-terms-edit-area {

        grid-area: editArea;
        display: flex;
        flex-direction: column;
    }

    .btn-newTerm {
       
        padding: 0 15px;
        height: 40px;
        width: fit-content;
        font-size: 15px;
        border-radius: 8px;
        letter-spacing: 0.2px;
        font-weight: bold;

        box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);
        transition: all .2s ease;

        display: flex;
        align-items: center;
        justify-content: center;

        align-self: flex-end;

        .fa {

            padding-right: 8px;
        }

        &:hover,
        &:focus,
        &:focus-within {

            transform: scale(1.05);
            box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.3);
        }

    }

    .rs-vocabulary-terms-form-area {

        margin-top: 14px;

        .semantic-form-input-decorator__label {

            font-size: 13px;
        }

        .semantic-form {

            .form-scroll-area {

                overflow-y: auto;
                overflow-x: hidden;
                height: 100%;
                max-height: 65vh;
                padding-right: 20px;

                @media only screen and (max-width: 768px) {
                    max-height: 45vh;
                }
    
                @media (min-width: 768px) and (max-width: 1200px) {
                    max-height: 50vh;
                }
    
                @media (min-width: 1200px) and (max-width: 1500px) {
                    max-height: 55vh;
                }
            }

            .form-control {

                padding: 0 16px;
            }

            .Select-placeholder, 
            .Select--single > .Select-control .Select-value,
            .Select-input {

                padding-left: 16px;
            }

            .form-control,
            .cardinality-support__remove-value,
            .Select-control,
            .plain-text-field textarea.plain-text-field__text  {

                border: none;
                border-bottom: 1px solid $color-form-border;

                color: $color-dark;
                height: 38px;
                
                font-size: 16.5px;
                letter-spacing: .25px;
                font-weight: 700;

                .fa {

                    color: $color-dark--op75;

                    &:hover {

                        color: $color-dark;
                    }
                }
            }

            .Select-arrow {
                border-color: $color-dark--op75 transparent transparent;

                &:hover,
                &:focus {

                    border-color: $color-dark transparent transparent;
                }
            }

            .is-open .Select-arrow,
            .Select-arrow-zone:hover > .Select-arrow {
                border-top-color: $color-dark--op75;
            }

            .is-open > .Select-control {
              
                & .Select-arrow {
                  border-color: transparent transparent $color-dark--op75;
                }
            }

            .cardinality-support__add-value.cardinality-support__add-value--another {

                color: $color-dark--op75;

                &:hover,
                &:focus {

                    color: $color-dark;
                }
            }

            .form-control::placeholder,
            .plain-text-field textarea.plain-text-field__text::placeholder,
            .Select-placeholder {

                font-size: 14.5px;
                
            }

            .cardinality-support__remove-value  {

                margin-left: 0;

                &:hover,
                &:focus {

                    box-shadow: none;
                }
            }
        } 

        .btn-group {

            margin-top: 25px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn {

                height: 38px;
                padding: 0px 18px;
                border-radius: 3px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-weight: 600;

                &:hover,
                &:focus,
                &:focus-within {

                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29), 0 1px 5px 0 rgba(0, 0, 0, 0.38);
                }

            }

            button[name='delete'] {

                margin: 0 4px;
            }
        }
    }
}