@import 'mixin';
@import 'variables';
@import 'font';
@import 'typography';
@import 'rs-icons';
@import 'iconmoon-icons';

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; 
}

body {
  font-family: $sourceSans;
  font-size: 14px;
  line-height: 1.2;
  color: $color-dark;
  background-color: $color-white;
}

//Popover
@import 'popover';

//Modal
[role='dialog'] {
  @import 'buttons';
  @import 'tabs';
}

@import 'modal';

@import 'login';

//// SASS INDEX /////////////////
.rs-application {
  @import 'utilities';
  @import 'icons';
  @import 'animations';
  @import 'breadcrumb';
  @import 'buttons';
  @import 'input';
  @import 'dropdown';
  @import 'card';
  @import 'carousel';
  @import 'table';
  @import 'tabs';
  @import 'form';

  @import 'clipboard';
  @import 'rightSidebar';

  @import 'header';
  @import 'footer';

  @import 'mirador';

  @import 'sparql';
  @import 'templatePage';
  @import 'resourceHeader';
  @import 'resourceTemplate';
  @import 'adminPages';
  @import 'userPage';

  @import 'dashboard';
  @import 'search';

  @import 'frameSystem';
  @import 'narratives';
  @import 'vocabulary_manager';
  @import 'imageAnnotationWorkspace';
}
