/* Fix global style overrides from Bootstrap */
select:global(.reactodia-group-paginator__page-size) {
  appearance: listbox;
  padding: unset;
  max-width: unset;
  height: unset;
  border: var(--reactodia-border-width-base) solid var(--reactodia-border-color-base);
  background: unset;
  border-radius: var(--reactodia-border-radius-base);
}
